$usitrip-bright: #4c8ecb;
$usitrip-pure: #104a8f;
$usitrip-normal: #ea8523;
$usitrip-hover-tag: #e4393c;
$usitrip-white: #ffffff;
$usitrip-pc-bg: #eeeeee;
$usitrip-mobile-bg: #dfe9f3;
$usitrip-hover-list: #d7d7d7;
$usitrip-grey: #a7a9ab;
$usitrip-brownish-grey: #636363;
$usitrip-fade: #636363;
$usitrip-dark: #484848;
$usitrip-black: #000000;

$usitour-blue: #2681ff;