/* COLORS */
.text-navy {
    color: #f1791e;
}
.text-primary {
    color: inherit;
}
.text-success {
    color: #0065b8;
}
.text-info {
    color: #23c6c8;
}
.text-warning {
    color: #f8ac59;
}
.text-star {
    color: #e4393c;
    font-size: 16px;
}
.text-danger {
    color: #ed5565;
}
.text-muted {
    color: #888;
}
.text-white {
    color: #fff;
}
.text-grey {
    color: #484848;
    font-size: 18px;
}
.text-lightgrey {
    color: #767676;
}
.text-norate {
    color: #fff !important;
    font-size: 16px;
}
.text-transparent {
    color: transparent;
}
.simple_tag {
    background-color: #f3f3f4;
    border: 1px solid #e7eaec;
    border-radius: 2px;
    color: inherit;
    font-size: 10px;
    margin-right: 5px;
    margin-top: 5px;
    padding: 5px 12px;
    display: inline-block;
}
.img-shadow {
    -webkit-box-shadow: 0 0 3px 0 #919191;
    -moz-box-shadow: 0 0 3px 0 #919191;
    box-shadow: 0 0 3px 0 #919191;
}