/*start dropdown cities*/
.dest_wrapper {
    left: 67px;
    top: 34px;
    width: 635px;
    color: rgb(0, 0, 0);
    font-size: 12px;
    position: absolute;
    z-index: 12;
    -ms-overflow-x: hidden;
    box-shadow: 1px 1px 8px #888;
    background-color: rgb(255, 255, 255);
}
.dest_wrapper > div {
    display: none;
}
.h-list-seek .dest_wrapper { /*列表页处理*/
    left: 0;
    top: 64px;
}
.h-list-seek .check_err { /*list*/
    left: 90px;
    top: 60px;
}
.h-filt-bd-list .check_err { /*index*/
    left: 300px;
}
.dft_dest {
    padding: 0px 10px 10px;
    overflow: hidden;
}
.dft_title {
    height: 30px;
    color: rgb(51, 51, 51);
    line-height: 30px;
    font-size: 14px;
    border-bottom: 1px solid rgb(217, 217, 217);
}
.dft_title li {
    width: 50px;
    height: 30px;
    text-align: center;
    color: rgb(51, 51, 51);
    line-height: 30px;
    font-size: 14px;
    margin-right: 10px;
    float: left;
}
.dft_title .on {
    color: #fe8902;
    border-bottom: 1px solid #fe8902;
    cursor: pointer;
}
.dft_title li:hover {
    color: #fe8902;
    border-bottom: 1px solid #fe8902;
    cursor: pointer;
}
.dft_list {
    overflow: hidden;
    margin-top: 10px;
}
.dft_list a {
    color: rgb(132, 132, 132);
}
.dft_list li {
    font-size: 14px;
    float: left;
}
.dft_list li a {
    width: 100px;
    height: 32px;
    line-height: 32px;
    display: block;
    font-size: 12px;
}
.dft_list li a:hover {
    color: #fe8902;
    text-decoration: none;
}
.dest_tip {
    text-align: right;
    color: rgb(174, 174, 174);
    padding-top: 14px;
    font-size: 14px;
    margin-right: 20px;
    display: block;
}
.dest_result {
    width: 100%;
    clear: both;
    float: left;
    display: none;
}
.dest_list_ul {
    width: 100%;
    height: auto;
    min-height: 30px;
}
.dest_list_ul li {
    width: 100%;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    clear: both;
    float: left;
    display: block;
    cursor: default;
}
.dest_list_ul .on {
    color: rgb(10, 170, 150);
    background-color: rgb(240, 240, 240);
}
.dest_list_ul li:hover {
    color: rgb(10, 170, 150);
    background-color: rgb(240, 240, 240);
}
.dest_list_ul .en_name {
    width: 290px;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-left: 10px;
    float: left;
    display: block;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
}
.dest_list_ul .cn_name {
    width: 240px;
    text-align: right;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-right: 10px;
    float: right;
    display: block;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
}
.dest_msg {
    width: 100%;
    height: 35px;
    text-align: center;
    color: rgb(240, 131, 0);
    line-height: 35px;
    padding-left: 10px;
    display: none;
}
/*end dropdown cities*/