/* b端插件样式表及个别后台样式 */
/*reset.css*/
html,
body {
    height: 100%;
}
body {
    font-family: Roboto, Arial, "Lucida Grande", "Microsoft Yahei", "Hiragino Sans GB", "Hiragino Sans GB W3", SimSun, STHeiti;
    background-color: #fff;
    font-size: 13px;
    color: #484848;
    overflow-x: hidden;
}
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, p, form, fieldset, legend, input, button, textarea, pre, thead, tbody, th, td {
    margin: 0;
    padding: 0;
}
body, button, input, select, textarea {
    font: 12px/1.5 Roboto, Arial, "Lucida Grande", "Microsoft Yahei", "Hiragino Sans GB", "Hiragino Sans GB W3", SimSun, STHeiti;
    color: #4d4d4d;
}
button[disabled] {
    background-color: #ccc;
    border-color: #ccc;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}
address, cite, dfn, em, i {
    font-style: normal;
}
small {
    font-size: 12px;
}
ul, ol {
    list-style: none;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
sup {
    vertical-align: text-top;
}
sub {
    vertical-align: text-bottom;
}
legend {
    color: #000;
}
fieldset, img {
    border: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
dd, dt {
    line-height: inherit;
}
input, button, select, textarea, a {
    outline: none;
}
/* DATATABLES */
table.dataTable thead .sorting,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_desc,
table.dataTable thead .sorting_asc_disabled,
table.dataTable thead .sorting_desc_disabled {
    background: transparent;
}
.dataTables_wrapper {
    padding-bottom: 30px;
}
.dataTables_length {
    float: left;
}
.dataTables_filter label {
    margin-right: 5px;
}
.html5buttons {
    float: right;
}
.html5buttons a {
    border: 1px solid #e7eaec;
    background: #fff;
    color: #484848;
    box-shadow: none;
    padding: 6px 8px;
    font-size: 12px;
}
.html5buttons a:hover,
.html5buttons a:focus:active {
    background-color: #eee;
    color: inherit;
    border-color: #d2d2d2;
}
div.dt-button-info {
    z-index: 100;
}
/* WIDGETS */
.widget {
    border-radius: 5px;
    padding: 15px 20px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.widget.style1 h2 {
    font-size: 30px;
}
.widget h2,
.widget h3 {
    margin-top: 5px;
    margin-bottom: 0;
}
.widget-text-box {
    padding: 20px;
    border: 1px solid #e7eaec;
    background: #fff;
}
.widget-head-color-box {
    border-radius: 5px 5px 0 0;
    margin-top: 10px;
}
.widget .flot-chart {
    height: 100px;
}
.vertical-align div {
    display: inline-block;
    vertical-align: middle;
}
.vertical-align h2,
.vertical-align h3 {
    margin: 0;
}
.todo-list {
    list-style: none outside none;
    margin: 0;
    padding: 0;
    font-size: 14px;
}
.todo-list.small-list {
    font-size: 12px;
}
.todo-list.small-list > li {
    background: #f3f3f4;
    border-left: none;
    border-right: none;
    border-radius: 4px;
    color: inherit;
    margin-bottom: 2px;
    padding: 6px 6px 6px 12px;
}
.todo-list.small-list .btn-xs,
.todo-list.small-list .btn-group-xs > .btn {
    border-radius: 5px;
    font-size: 10px;
    line-height: 1.5;
    padding: 1px 2px 1px 5px;
}
.todo-list > li {
    background: #f3f3f4;
    border-left: 6px solid #e7eaec;
    border-right: 6px solid #e7eaec;
    border-radius: 4px;
    color: inherit;
    margin-bottom: 2px;
    padding: 10px;
}
.todo-list .handle {
    cursor: move;
    display: inline-block;
    font-size: 16px;
    margin: 0 5px;
}
.todo-list > li .label {
    font-size: 9px;
    margin-left: 10px;
}
.check-link {
    font-size: 16px;
}
.todo-completed {
    text-decoration: line-through;
}
.geo-statistic h1 {
    font-size: 36px;
    margin-bottom: 0;
}
/* INPUTS */
.inline {
    display: inline-block !important;
}
.input-s-sm {
    width: 120px;
}
.input-s {
    width: 200px;
}
.input-s-lg {
    width: 250px;
}
.i-checks {
    padding-left: 0;
}
.form-control,
.single-line {
    background-color: #fff;
    background-image: none;
    border: 1px solid #e7eaec;
    border-radius: 0px;
    color: inherit;
    display: block;
    padding: 6px 12px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
    width: 100%;
    font-size: 14px;
}
.form-control:focus,
.single-line:focus {
    border-color: #f1791e !important;
}
.has-success .form-control {
    border-color: #f1791e;
}
.has-warning .form-control {
    border-color: #f8ac59;
}
.has-error .form-control {
    border-color: #ed5565;
}
.has-success .control-label {
    color: #f1791e;
}
.has-warning .control-label {
    color: #f8ac59;
}
.has-error .control-label {
    color: #ed5565;
}
.input-group-addon {
    background-color: #fff;
    border: 0px solid #e5e6e7;
    border-radius: 1px;
    color: inherit;
    font-size: 14px;
    font-weight: 300;
    line-height: 1;
    padding: 6px 12px;
    text-align: center;
}
.input-group-addon-js {
    background-color: #fff;
    border: 0px solid #e5e6e7;
    border-radius: 1px;
    color: inherit;
    font-size: 14px;
    font-weight: 300;
    line-height: 1;
    padding: 0px 5px;
    text-align: center;
    width: 5px;
}
.spinner-buttons.input-group-btn .btn-xs {
    line-height: 1.13;
}
.spinner-buttons.input-group-btn {
    width: 20%;
}
.noUi-connect {
    background: none repeat scroll 0 0 #f1791e;
    box-shadow: none;
}
.slider_red .noUi-connect {
    background: none repeat scroll 0 0 #ed5565;
    box-shadow: none;
}
/* UI Sortable */
.ui-sortable .ibox-title {
    cursor: move;
}
.ui-sortable-placeholder {
    border: 1px dashed #cecece !important;
    visibility: visible !important;
    background: #e7eaec;
}
.ibox.ui-sortable-placeholder {
    margin: 0 0 23px !important;
}
/* SWITCHES */
.onoffswitch {
    position: relative;
    width: 54px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #f1791e;
    border-radius: 3px;
}
.onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s;
    -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before,
.onoffswitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 16px;
    padding: 0;
    line-height: 16px;
    font-size: 10px;
    color: white;
    font-family: Roboto, Arial, "Lucida Grande", "Microsoft Yahei", "Hiragino Sans GB", "Hiragino Sans GB W3", SimSun, STHeiti;
    font-weight: bold;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "ON";
    padding-left: 7px;
    background-color: #f1791e;
    color: #fff;
}
.onoffswitch-inner:after {
    content: "OFF";
    padding-right: 7px;
    background-color: #fff;
    color: #919191;
    text-align: right;
}
.onoffswitch-switch {
    display: block;
    width: 18px;
    margin: 0;
    background: #fff;
    border: 2px solid #f1791e;
    border-radius: 3px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 36px;
    -moz-transition: all 0.3s ease-in 0s;
    -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0;
}
a {
    cursor: pointer;
}
a:hover,
a:focus {
    text-decoration: none;
}
.font-bold {
    font-weight: 600;
}
.hr-line-dashed {
    border-top: 1px dashed #e7eaec;
    color: #fff;
    background-color: #fff;
    height: 1px;
    margin: 20px 0;
}
/* WRAPPERS */
#wrapper {
    width: 100%;
    /*overflow-x: hidden;*/
}
.wrapper {
    padding: 0 20px;
}
.wrapper-content {
    padding: 20px 10px 40px;
}
.wrapper-contenthotel {
    padding: 0px 10px 0px;
}
#page-wrapper {
    padding: 0 15px;
    min-height: 568px;
    position: relative !important;
    background: #fff;
}
.title-action {
    text-align: right;
    padding-top: 30px;
}
.ibox-content h1,
.ibox-content h2,
.ibox-content h3,
.ibox-content h4,
.ibox-content h5,
.ibox-title h1,
.ibox-title h2,
.ibox-title h3,
.ibox-title h4,
.ibox-title h5 {
    margin-top: 5px;
}
ul.unstyled,
ol.unstyled {
    list-style: none outside none;
    margin-left: 0;
}
/* TABLES */
.table-bordered {
    border: 1px solid #ebebeb;
}
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
    background-color: #f5f5f6;
    border-bottom-width: 1px;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
    border: 1px solid #e7e7e7;
}
.table > thead > tr > th {
    border-bottom: 1px solid #ddd;
    vertical-align: bottom;
    background-color: #f5f5f5;
    border-radius: 4px;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
    border-top: 1px solid #e7eaec;
    line-height: 1.42857;
    padding: 15px 0px 8px 18px;
    vertical-align: top;
}
/* GLOBAL  */
.no-margins {
    margin: 0 !important;
}
.no-top-border {
    border-top: 0 !important;
}
.ibox-content.text-box {
    padding-bottom: 0;
    padding-top: 15px;
}
img.circle-border {
    border: 6px solid #fff;
    border-radius: 50%;
}
.icons-box h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}
.icons-box .infont a i {
    font-size: 25px;
    display: block;
    color: #484848;
}
.icons-box .infont a {
    color: #a6a8a9;
}
.icons-box .infont a {
    padding: 10px;
    margin: 1px;
    display: block;
}
.ui-draggable .ibox-title {
    cursor: move;
}
.breadcrumb {
    background-color: #fff;
    padding: 0;
    margin-bottom: 0;
}
.breadcrumb > li a {
    color: inherit;
}
.breadcrumb > .active {
    color: inherit;
}
code {
    background-color: #f9f2f4;
    border-radius: 4px;
    color: #ca4440;
    font-size: 90%;
    padding: 2px 4px;
    white-space: nowrap;
}
.ibox {
    clear: both;
    margin-bottom: 20px;
    margin-top: 0;
    padding: 0;
}
.ibox.collapsed .ibox-content {
    display: none;
}
.ibox.collapsed .fa.fa-chevron-up:before {
    content: "\f078";
}
.ibox.collapsed .fa.fa-chevron-down:before {
    content: "\f077";
}
.ibox:after,
.ibox:before {
    display: table;
}
.ibox-title {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #fff;
    border-color: #dce0e0;
    border-image: none;
    border-style: solid solid none;
    border-width: 3px 0 0;
    color: inherit;
    margin-bottom: 0;
    padding: 14px 15px 7px;
    min-height: 48px;
}
.ibox-content {
    background-color: #fff;
    color: inherit;
    padding: 15px 20px 20px 20px;
    border-color: #e7eaec;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0;
}
.ibox-overview {
    background-color: #fff;
    color: inherit;
    padding: 20px;
    border-color: #dce0e0 !important;
    border-image: none;
    border-top: solid;
    border-width: 1px 0;
}
.ibox-border {
    background-color: #fff;
    color: inherit;
    border-color: #dce0e0;
    border-style: solid;
    border-width: 1px;
}
.ibox-lightborder {
    background-color: #fff;
    color: inherit;
    border-color: #f2f2f2;
    border-style: solid;
    border-width: 1px;
}
.ibox-gallery {
    background-color: #fff;
    color: inherit;
    padding: 0px;
    border-color: #fff;
    border-image: none;
    border-style: solid solid none;
    border-width: 1px 0;
}
.ibox-footer {
    color: inherit;
    border-top: 1px solid #e7eaec;
    font-size: 90%;
    background: #fff;
    padding: 10px 15px;
}
table.table-mail tr td {
    padding: 12px;
}
.table-mail .check-mail {
    padding-left: 20px;
}
.table-mail .mail-date {
    padding-right: 20px;
}
.star-mail,
.check-mail {
    width: 40px;
}
.unread td a,
.unread td {
    font-weight: 600;
    color: inherit;
}
.read td a,
.read td {
    font-weight: normal;
    color: inherit;
}
.unread td {
    background-color: #f9f8f8;
}
.ibox-content {
    clear: both;
}
.ibox-heading {
    background-color: #f3f6fb;
    border-bottom: none;
}
.ibox-heading h3 {
    font-weight: 200;
    font-size: 24px;
}
.ibox-title h5 {
    display: inline-block;
    font-size: 14px;
    margin: 0 0 7px;
    padding: 0;
    text-overflow: ellipsis;
    float: left;
}
.ibox-title .label {
    float: left;
    margin-left: 4px;
}
.ibox-title span.label {
    float: none;
}
.ibox-tools {
    display: block;
    float: none;
    margin-top: 0;
    position: relative;
    padding: 0;
    text-align: right;
}
.ibox-tools a {
    cursor: pointer;
    margin-left: 5px;
    color: #c4c4c4;
}
.ibox-tools a.btn-primary {
    color: #fff;
}
.ibox-tools .dropdown-menu > li > a {
    padding: 4px 10px;
    font-size: 12px;
}
.ibox .ibox-tools.open > .dropdown-menu {
    left: auto;
    right: 0;
}
/* Intimeline */
.timeline-item .date i {
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    width: 30px;
    text-align: center;
    border-top: 1px solid #e7eaec;
    border-bottom: 1px solid #e7eaec;
    border-left: 1px solid #e7eaec;
    background: #f8f8f8;
}
.timeline-item .date {
    text-align: right;
    width: 110px;
    position: relative;
    padding-top: 30px;
}
.timeline-item .content {
    border-left: 1px solid #e7eaec;
    border-top: 1px solid #e7eaec;
    padding-top: 10px;
    min-height: 100px;
}
.timeline-item .content:hover {
    background: #f6f6f6;
}
/* MARGINS & PADDINGS */
.p-xxs {
    padding: 5px;
}
.p-xs {
    padding: 10px;
}
.p-sm {
    padding: 15px;
}
.p-m {
    padding: 20px;
}
.p-md {
    padding: 25px;
}
.p-lg {
    padding: 30px;
}
.p-xl {
    padding: 40px;
}
.p-w-xs {
    padding: 0 10px;
}
.p-w-sm {
    padding: 0 15px;
}
.p-w-m {
    padding: 0 20px;
}
.p-w-md {
    padding: 0 25px;
}
.p-w-lg {
    padding: 0 30px;
}
.p-w-xl {
    padding: 0 40px;
}
.m-xxs {
    margin: 2px 4px;
}
.m-xs {
    margin: 5px;
}
.m-sm {
    margin: 10px;
}
.m {
    margin: 15px;
}
.m-md {
    margin: 20px;
}
.m-lg {
    margin: 30px;
}
.m-xl {
    margin: 50px;
}
.m-n {
    margin: 0 !important;
}
.m-l-none {
    margin-left: 0;
}
.m-l-xs {
    margin-left: 5px;
}
.m-l-sm {
    margin-left: 10px;
}
.m-l {
    margin-left: 15px;
}
.m-l-md {
    margin-left: 20px;
}
.m-l-lg {
    margin-left: 30px;
}
.m-l-xl {
    margin-left: 40px;
}
.m-l-n-xxs {
    margin-left: -1px;
}
.m-l-n-xs {
    margin-left: -5px;
}
.m-l-n-sm {
    margin-left: -10px;
}
.m-l-n {
    margin-left: -15px;
}
.m-l-n-md {
    margin-left: -20px;
}
.m-l-n-lg {
    margin-left: -30px;
}
.m-l-n-xl {
    margin-left: -40px;
}
.m-t-none {
    margin-top: 0;
}
.m-t-xxs {
    margin-top: 1px;
}
.m-t-xs {
    margin-top: 5px;
}
.m-t-sm {
    margin-top: 10px;
}
.m-t {
    margin-top: 15px;
}
.m-t-md {
    margin-top: 20px;
}
.m-t-lg {
    margin-top: 30px;
}
.m-t-xl {
    margin-top: 40px;
}
.m-t-n-xxs {
    margin-top: -1px;
}
.m-t-n-xs {
    margin-top: -5px;
}
.m-t-n-sm {
    margin-top: -10px;
}
.m-t-n {
    margin-top: -15px;
}
.m-t-n-md {
    margin-top: -20px;
}
.m-t-n-lg {
    margin-top: -30px;
}
.m-t-n-xl {
    margin-top: -40px;
}
.m-r-none {
    margin-right: 0;
}
.m-r-xxs {
    margin-right: 1px;
}
.m-r-xs {
    margin-right: 5px;
}
.m-r-sm {
    margin-right: 10px;
}
.m-r {
    margin-right: 15px;
}
.m-r-md {
    margin-right: 20px;
}
.m-r-lg {
    margin-right: 30px;
}
.m-r-xl {
    margin-right: 40px;
}
.m-r-n-xxs {
    margin-right: -1px;
}
.m-r-n-xs {
    margin-right: -5px;
}
.m-r-n-sm {
    margin-right: -10px;
}
.m-r-n {
    margin-right: -15px;
}
.m-r-n-md {
    margin-right: -20px;
}
.m-r-n-lg {
    margin-right: -30px;
}
.m-r-n-xl {
    margin-right: -40px;
}
.m-b-none {
    margin-bottom: 0;
}
.m-b-xxs {
    margin-bottom: 1px;
}
.m-b-xs {
    margin-top: 18px;
    margin-bottom: 5px;
}
.m-b-sm {
    margin-bottom: 10px;
}
.m-b {
    margin-bottom: 15px;
}
.m-b-md {
    margin-bottom: 20px;
}
.m-b-lg {
    margin-bottom: 30px;
}
.m-b-xl {
    margin-bottom: 40px;
}
.m-b-n-xxs {
    margin-bottom: -1px;
}
.m-b-n-xs {
    margin-bottom: -5px;
}
.m-b-n-sm {
    margin-bottom: -10px;
}
.m-b-n {
    margin-bottom: -15px;
}
.m-b-n-md {
    margin-bottom: -20px;
}
.m-b-n-lg {
    margin-bottom: -30px;
}
.m-b-n-xl {
    margin-bottom: -40px;
}
.space-15 {
    margin: 15px 0;
}
.space-20 {
    margin: 20px 0;
}
.space-25 {
    margin: 25px 0;
}
.space-30 {
    margin: 30px 0;
}
.fullscreen-ibox-mode .animated {
    animation: none;
}
body.fullscreen-ibox-mode {
    overflow-y: hidden;
}
.ibox.fullscreen {
    z-index: 2030;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: auto;
    margin-bottom: 0;
}
.ibox.fullscreen .collapse-link {
    display: none;
}
.ibox.fullscreen .ibox-content {
    min-height: calc(100% - 48px);
}
body.modal-open {
    padding-right: inherit !important;
}
body.modal-open .animated {
    animation-fill-mode: initial;
    z-index: inherit;
}
/* ERROR & LOGIN & LOCKSCREEN*/
.middle-box {
    max-width: 400px;
    z-index: 100;
    margin: 0 auto;
    padding-top: 40px;
}
.loginscreen.middle-box {
    padding: 40px 20px 20px;
}
.passwordBox {
    max-width: 460px;
    margin: 0 auto;
    padding: 100px 20px 20px 20px;
}
.logo-name {
    color: #e6e6e6;
    font-size: 180px;
    font-weight: 800;
    letter-spacing: -10px;
    margin-bottom: 0;
}
.middle-box h1 {
    font-size: 170px;
}
.wrapper .middle-box {
    margin-top: 140px;
}
.lock-word {
    z-index: 10;
    position: absolute;
    top: 110px;
    left: 50%;
    margin-left: -470px;
}
.lock-word span {
    font-size: 100px;
    font-weight: 600;
    color: #e9e9e9;
    display: inline-block;
}
.lock-word .first-word {
    margin-right: 160px;
}
.has-error {
    margin-bottom: 0;
}
@media (min-width: 768px) {
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 214px;
        min-height: 2002px;
    }
}
@media (max-width: 768px) {
    .html5buttons {
        float: none;
        margin-top: 10px;
    }
    .dataTables_length {
        float: none;
    }
}