.smlpic{
    width:20px;
    height:20px;
}
.text-yellow{
    color:orange;
}
.extendmodalboday{
    height:300px;
}
.middleSpace{
    width:30px !important;
}
.configtable{
    line-height:55px;
}
.modal-content-fraud{
    height:360px;
}