.potential-title-box{
    margin-top:20px;
    margin-left:20px;
}
.tooltip-test{
    text-decoration:none;
    color:black;
}
.smlpic{
    width:20px;
    height:20px;
}
.potential-commend-area{
    border-style: none;
    border-color: Transparent;
    background-color:transparent;
    resize: none;
    box-shadow: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}
.potential-old-commend-box{
    line-height: 250%;
}
.potential-commend-input{
    margin-top:15px;
    margin-left:15px;
}
.close {
   color:#484848 !important;
}
.potential-device{
    font-size: 0.6em;
    color:blueviolet;
}
button.btn-danger.btn-new {
    border: 0;
    padding: 0 5px;
    border-radius: 50px 5px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
    display: none;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #32CD32;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
.btn-en{
    height:22px;
    width:50px;
    border-radius:8px;
    font-size: 5px;
}
.from-usitour-bg{
    background-color:lightcyan !important;
}