<template>
    <div class="container">
        <mu-row gutter class="hintLabel">
            <mu-col width="100" tablet="100" desktop="100" :class="{'usitour-text-blue' : isUsitour}">{{hinttext}}</mu-col>
        </mu-row>
        <mu-row id="destination-input-wrapper" gutter>
            <mu-col width="100" tablet="100" desktop="100">
                <div class="destination-input-wrapper" :class="textFieldClass">
                    <i :class="['mu-icon fa fa-map-marker-alt icon-left-des', isUsitour ? 'usitour-text-blue' : '']"></i>
                    <div class="mu-text-field-content">
                        <input type="text" name="destination" class="mu-text-field-input input-des-popup"
                                v-debounce="delay"
                                v-model.lazy="destination"
                                @focus="$event.target.select()">
                    </div>
                </div>
            </mu-col>
        </mu-row>
        <div class="icon-clear" @click="clearDestination" v-if="destination!== ''">
            <i class="fa fa-times-circle"></i>
        </div>
        <div id="desOptions"></div>
    </div>
</template>

<script>
    import debounce from '../../../plugins/debounce/debounce_directive';

    export default {
        props: [
            'title',
            'hinttext',
            'inputicon',
            'textFieldClass',
            'destinationName',
            'destinationId',
            'scenicName',
            'scenicId'
        ],
        data () {
            return {
                'destination': this.destinationName,
                'delay': 300, // define how long you want the input to be delayed
                'dxhr': null,
            }
        },
        watch: {
            destination (value) {
                if (this.dxhr && this.dxhr.readyState != 4) {
                    this.dxhr.abort();
                }
                if (value.length > 0) {
                    // lock search popup
                    $('.search-popup').addClass('lock');
                    this.updateAutocomplete(value);
                } else {
                    $('.search-popup').removeClass('lock');
                }
            }
        },
        mounted () {
            $('input[name="destination"]').focus(function () {
                // this scroll will cause weird view on usitour pages
                // document.getElementById('destination-input-wrapper').scrollIntoView();
            });
        },
        methods: {
            clearDestination () {
                this.destination = '';
                this.$emit('update-destination', {
                    name: '',
                    id: '',
                    scenicName: '',
                    scenicId: ''
                });
            },
            updateAutocomplete (value) {
                let self = this;
                this.dxhr = $.getJSON("/destination/suggestions?keyword=" + encodeURIComponent(value.trim()),
                    function (data) {
                        self.setupAutocomplete(data, self.langStr === 'cn');
                    });
            },
            setupAutocomplete (options, isCh) {
                let pairs = [];

                for (let i = 0; i < options.length; i++) {
                    let option = options[i];
                    let pair = {};

                    if (option.type === 'destination') {
                        pair.value = option.name;
                        if (isCh && option.name_zh) {
                            pair.value += ' (' + option.name_zh + ')';
                        }

                        pair.data = {
                            desId: "D" + option.id,
                            type: isCh ? '城市' : 'Cities',
                            id: ''
                        };

                        pairs.push(pair);
                    } else if (option.type === 'hotel') {
                        pair.value = option.name;
                        if (isCh && option.name_zh) {
                            pair.value += ' (' + option.name_zh + ')';
                        }
                        pair.value += option.city ? (', ' + option.city) : '';
                        pair.value += option.countryCode ? (', ' + option.countryCode) : '';

                        pair.data = {
                            desId: "H" + option.id,
                            type: isCh ? '酒店' : 'Hotels',
                            id: ''
                        };

                        pairs.push(pair);
                    } else if (option.type === 'airport') {
                        pair.value = isCh ? option.name_full : option.name;
                        pair.value += option.name_short ? (', ' + option.name_short) : '';
                        let des = option.destination_name;
                        if (isCh && option.destination_name_zh) {
                            des = option.destination_name_zh;
                        }
                        pair.value += des ? (', ' + des) : '';

                        pair.data = {
                            desId: "D" + option.destination_id,
                            type: isCh ? '机场/车站' : 'Airports/Stations',
                            id: option.id
                        };

                        pairs.push(pair);
                    } else if (option.type === 'scenic') {
                        pair.value = isCh ? option.name_full : option.name;
                        let des = option.destination_name;
                        if (isCh && option.destination_name_zh) {
                            des = option.destination_name_zh;
                        }
                        pair.value += des ? (', ' + des) : '';

                        pair.data = {
                            desId: "D" + option.destination_id,
                            type: isCh ? '景点' : 'Landmarks',
                            id: option.id
                        };

                        pairs.push(pair);
                    }
                }

                // select the first option if user focus out
                if (pairs.length > 0) {
                    const firstPair = pairs[0];
                    let newDestination = {};

                    if (firstPair.data.id) {
                        newDestination.scenicName = firstPair.value;
                        newDestination.scenicId = firstPair.data.id;
                    } else {
                        newDestination.scenicName = '';
                        newDestination.scenicId = '';
                    }

                    newDestination.name = firstPair.value;
                    newDestination.id = firstPair.data.desId;

                    this.$emit('update-destination', newDestination);
                }

                let self = this;
                const $destinationInput = $('input[name="destination"]');

                $destinationInput.autocomplete({
                    lookup: pairs,
                    groupBy: 'type',
                    appendTo: '#desOptions',
                    forceFixPosition: true,
                    onSelect: function (opt) {
                        $destinationInput.unbind("focus");
                        $destinationInput.bind('focus', function () {
                            const input = $(this);
                            setTimeout(function () {
                                input.select();
                            });
                        });

                        let newDestination = {};
                        if (opt.data.id) {
                            newDestination.scenicName = opt.value;
                            newDestination.scenicId = opt.data.id;
                        } else {
                            newDestination.scenicName = '';
                            newDestination.scenicId = '';
                        }

                        newDestination.name = opt.value;
                        newDestination.id = opt.data.desId;

                        self.$emit('update-destination', newDestination);
                        self.$emit('set-pop-close');

                        $(this).focusout();
                        window.scrollTo(0, 0);
                    }
                });
                $destinationInput.focus();
            }
        },
        directives: {debounce}
    }
</script>

<style lang="scss">
    .hintLabel {
        margin: 10px 0;
    }
    .destination-input-wrapper {
        line-height: 34px;
        height: 34px;
        border-radius: 3px;
        position: relative;
        .icon-left-des {
            position: absolute;
            color: #4c8ecb;
            top: 7px;
            left: 10px;
            font-size: 18px;
        }
        .mu-text-input {
            width: 98%;
        }
    }
    .input-des-popup {
        padding-left: 32px;
        width: 90%;
    }
    .icon-clear {
        position: absolute;
        right: 15px;
        top: 36px;
        color: #ddd;
    }
    .container {
        position: relative;
    }

</style>
