<!--注意：pc chrome 模拟器出不来，只能在手机端测试-->
<template>
    <mu-back-top :height="100" :bottom="bottom" :right="29" :duration="1000" style="z-index:101">
        <mu-float-button icon=":fa fa-chevron-up" :class="{'usitour-toTop-button':isUsitour}"></mu-float-button>
    </mu-back-top>
</template>

<script>
    export default {
        data() {
            return {
                bottom: isUsitour ? 165 : 200
            }
        }
    }
</script>
