<template>
    <mu-card class="lock-price">
        <div class="lock-price-border">
            <div class="lock-price-title">
                {{langLock.lock[langStr]}}
            </div>
            <div class="ock-price-content">
                <span class="lock-price-text">
                    <i class="fa fa-info-circle"></i>&nbsp;{{langLock.hurry[langStr]}}
                </span>
            </div>
        </div>
    </mu-card>
</template>

<script>
    import langLock from '../lang/book-lock-price'; // lang file
    export default {
        data () {
            return {
                langLock: langLock
            }
        }
    }
</script>

<style lang="scss">
    .lock-price {
        &-border {
            padding: 10px 15px;
        }
        &-title {
            align-items: center;
            font-size: 20px;
            font-weight: bold;
            text-align: center;
            color: RGB(16, 74, 143);
            margin-bottom: 6px;
        }
        &-content {
            color: RGB(76, 142, 203);
            padding: 5px 0 15px 0;
        }
        &-icon {
            font-size: 16px;
        }
        &-text {
            font-size: 12px;
            i {
                font-size: 18px;
                vertical-align: middle;
            }
        }
    }
</style>
