<template>
    <div :class="['date-picker-content', 'container', {'usitour-text-blue': isUsitour}]">
        <mu-row gutter>
            <mu-col width="50" tablet="50" desktop="50" :class="{'usitour-text-blue' : isUsitour}">{{textCheckIn[langStr]}}</mu-col>
            <mu-col width="50" tablet="50" desktop="50" :class="{'usitour-text-blue' : isUsitour}">{{textCheckOut[langStr]}}</mu-col>
        </mu-row>
        <mu-row gutter>
            <mu-col width="50" tablet="50" desktop="50">
                <mu-date-picker name="checkin" :class="[{'border-input': isUsitour}, 'datepicker']" icon=":fa fa-calendar-alt" :icon-class="{'usitour-text-blue' : isUsitour}"
                        :dateTimeFormat="enDateFormat" autoOk hintText="check-in date" v-model="checkInDate" format="YYYY-MM-DD" :minDate="minDateCheckIn"
                        :okLabel="textOk[langStr]" :cancelLabel="textCancel[langStr]" :firstDayOfWeek="firstDay" :underlineShow="false"></mu-date-picker>
            </mu-col>
            <mu-col width="50" tablet="50" desktop="50">
                <mu-date-picker name="checkout" :class="[{'border-input': isUsitour}, 'datepicker']" icon=":fa fa-calendar-alt" :icon-class="{'usitour-text-blue' : isUsitour}"
                        :dateTimeFormat="enDateFormat" autoOk hintText="check-out date" v-model="checkOutDate" format="YYYY-MM-DD" :minDate="minDateCheckOut"
                        :okLabel="textOk[langStr]" :cancelLabel="textCancel[langStr]" :firstDayOfWeek="firstDay" :underlineShow="false"></mu-date-picker>
            </mu-col>
        </mu-row>
    </div>
</template>

<script>
    const enDateFormat = {
        formatDisplay(date) {
            return `${window.dayNameList[date.getDay()]}, ${window.monthNameList[date.getMonth()]} ${date.getDate()}`
        },
        formatMonth(date) {
            return `${window.monthLongNameList[date.getMonth()]} ${date.getFullYear()}`
        },
        getWeekDayArray(firstDayOfWeek) {
            let beforeArray = [];
            let afterArray = [];
            for (let i = 0; i < window.dayAbbreviation.length; i++) {
                if (i < firstDayOfWeek) {
                    afterArray.push(window.dayAbbreviation[i])
                } else {
                    beforeArray.push(window.dayAbbreviation[i])
                }
            }

            return beforeArray.concat(afterArray)
        }
    };

    export default {
        props: [
            'checkin',
            'checkout',
        ],
        data() {
            return {
                textCheckIn: {'cn': '入住', 'tw': '入住', 'en': 'Check-In'},
                textCheckOut: {'cn': '退房', 'tw': '退房', 'en': 'Check-Out'},
                textCancel: {'cn': '取消', 'tw': '取消', 'en': 'Cancel'},
                textOk: {'cn': '确认', 'tw': '確認', 'en': 'OK'},
                checkInDate: '',
                checkOutDate: '',
                minDateCheckIn: window.addDays(window.today, 0),
                minDateCheckOut: window.addDays(window.today, 1),
                enDateFormat,
                firstDay: 0,
                updateTimes: 0,
            }
        },
        mounted() {
            this.checkInDate = this.checkin;
            this.minDateCheckOut = window.addDays(this.checkin, 1);
            this.checkOutDate = this.checkout;

            this.$emit('changedates', this.checkInDate, this.checkOutDate);
        },
        watch: {
            checkInDate() {
                // should only update checkout date depend on checkin if it's not mounting
                if (this.updateTimes > 0) {
                    this.checkOutDate = window.addDays(this.checkInDate, 1);
                }

                this.updateTimes++;
                this.minDateCheckOut = window.addDays(this.checkInDate, 1);
                this.$emit('changedates', this.checkInDate, this.checkOutDate)
            },
            checkOutDate() {
                this.$emit('changedates', this.checkInDate, this.checkOutDate)
            }
        },
    }
</script>

<style lang="scss">
    .date-picker-content {
        .mu-date-display {
            padding: 12px 20px 5px 20px;
        }
        .mu-date-display-monthday-title {
            font-size: 24px;
        }
        .mu-calendar-toolbar-title {
            font-size: 24px;
        }
        .mu-calendar-svg-icon {
            height: 30px;
            width: 30px;
        }
        .mu-calendar-toolbar {
            height: 58px;
        }
        .mu-text-field{
            height: 34px;
            line-height: 34px;
            border-radius: 3px;
            &.has-icon {
                padding-left: 35px;
            }
        }
        .mu-text-field-hint, .mu-date-picker, .mu-text-field {
            width: 100%;
        }
        .mu-date-picker {
            background: white;
            margin: 5px 0;
        }
        .border-input .mu-text-field {
            border: none;
        }
        .mu-date-picker > .has-icon > .fa-calendar-alt {
            font-size: 16px;
            color: #4c8ecb;
            top: 7px;
            left: 10px;
        }
    }
</style>