<template>
    <div class="aa-footer-nav" v-if="isAA">
        <div class="footer-item f11 m-t-1" >
            Copyright &copy; 1981-{{(new Date()).getFullYear()}} <span>supervacation.com</span> | All Rights Reserved
        </div>
    </div>
    <div class="footer-nav" v-else>
        <mu-flexbox v-if="!is117book">
            <mu-flexbox-item class="footer-item right-line">
                <a :href="tourDomain + 'about_us.html'" :class="{'usitour-text-blue': isUsitour}">{{langFooter.about[langStr]}}</a>
            </mu-flexbox-item>
            <mu-flexbox-item class="footer-item right-line">
                <a :href="tourDomain + 'contact_us.html'" :class="{'usitour-text-blue': isUsitour}">{{langFooter.contact[langStr]}}</a>
            </mu-flexbox-item>
            <mu-flexbox-item class="footer-item">
                <a :href="tourDomain + 'feedback.html'" :class="{'usitour-text-blue': isUsitour}">{{langFooter.suggest[langStr]}}</a>
            </mu-flexbox-item>
        </mu-flexbox>
        <div :class="['footer-item f11 m-t-10', isUsitour ? 'usitour-text-dark' : '']" >
            Copyright &copy; 2008-{{(new Date()).getFullYear()}} <span v-if="isUsitour">Usitour.com</span><span v-else-if="is117book">117book.com</span><span v-else>Usitrip.com</span> | All Rights Reserved
        </div>
    </div>

</template>

<script>

    import langFooter from '../lang/footer';// lang file
    export default {
        data() {
            return {
                langFooter: langFooter,
                tourDomain: '//m.usitrip.com/',
            }
        },
        mounted() {
            if (this.langStr === 'en') {
                this.tourDomain = '//m.usitour.com/'
            } else if (this.langStr === 'tw') {
                this.tourDomain = '//m.usitrip.com/tw/'
            }
        }
    }
</script>

<style lang="scss">
    .footer-nav{
        padding-top: 28px;
        padding-bottom: 28px;
        background-color: white;
        width: 100%;
        &.fixed {
            position: fixed;
            bottom: 0;
            left: 0;
        }
        .footer-item {
            height: 32px;
            text-align: center;
            line-height: 32px;
        }
    }
    .aa-footer-nav{
        padding: 10px 0;
        background-color: white;
        width: 100%;
        text-align: center;
        &.fixed {
            position: fixed;
            bottom: 0;
            left: 0;
        }
    }
    .right-line{
        border-right: #dfeaf4 1px solid;
    }
</style>
