<template>
    <div class="margin-top-min-10">
        <mu-row gutter id="dealBlock">
            <mu-col width="100" tablet="50" desktop="50" v-for="(img, index) in imgArr[langStr]" :key="index">
                <mu-card>
                    <mu-card-media title="" subTitle="">
                        <a :href="img.html"><img :src="img.src"/></a>
                    </mu-card-media>
                </mu-card>
            </mu-col>
        </mu-row>
    </div>
</template>
<script>
    let imgArrCn = [
        // {src: "/img/general/mobile/app_deal-01.png", id: "11536", name: 'Disneyland, Anaheim, CA 洛杉矶迪士尼乐园', html: "/scenic/11536.html"},
        {src: "/img/general/mobile/flash_m.png", id: "", name: '', html: "//m.usitrip.com/web_action/Hotel/m/"},
        {src: "/img/general/mobile/app_deal-02.png", id: "45828", name: 'Manhattan, New York, NY 纽约曼哈顿', html: "/scenic/33834.html"},
    ];
    let imgArrTw = [
        {src: "/img/general/mobile/app_deal-03.png", id: '11536', name: 'Disneyland, Anaheim, CA', html: "/scenic/11536.html"},
        {src: "/img/general/mobile/app_deal-04.png", id: '45828', name: 'Manhattan, New York, NY', html: "/scenic/33834.html"},

    ];
    let imgArrEn = [
        {src: "/img/general/mobile/app_deal-03.png", id: '11536', name: 'Disneyland, Anaheim, CA', html: "/scenic/11536.html"},
        {src: "/img/general/mobile/app_deal-04.png", id: '45828', name: 'Manhattan, New York, NY', html: "/scenic/33834.html"},

    ];
    let imgArr = {'cn': imgArrCn, 'tw': imgArrTw, 'en': imgArrEn}
    export default {
        data() {
            return {
                imgArr: imgArr,
            }
        },
        mounted() {
            $('#dealBlock').slick()
        },
        methods: {
        }
    }
</script>

<style lang="scss">
    .slick-slide {
        margin-right: 20px;
    }
    #dealBlock {
        .slick-current {
            @media (max-device-width: 320px) {
                width: 300px !important;
            }
        }
        img {
            height: 120px;
            @media (max-device-width: 320px) {
                width: 300px !important;
            }
        }
    }
    .slick-current ~ .slick-slide {
        margin-left: -10px;
    }
</style>


