<template>
    <div :class="['home-input-content', 'container', isUsitour ? 'usitour-text-blue' : '']">
        <mu-row gutter class="input-des-label">
            <mu-col width="100" tablet="100" desktop="100" class="m-b-5">{{title}}</mu-col>
        </mu-row>
        <mu-row gutter>
            <mu-col width="100" tablet="100" desktop="100" class="input-des">
                <mu-flat-button backgroundColor="white" :label="hinttext" :rippleOpacity="0" :class="[hinttext === defaultText[langStr] ? 'default-color' : '', isUsitour ? 'border-input' : '']"
                        :icon="inputicon" :icon-class="{'usitour-text-blue' : isUsitour}" @click="openPopup"></mu-flat-button>
            </mu-col>
        </mu-row>
    </div>
</template>

<script>
    export default {
        props: [
            'title',
            'hinttext',
            'inputicon',
        ],
        data() {
            return {
                destination: '',
                defaultText: {'cn': ' ', 'tw': ' ', 'en': 'Destination, hotel name, airport ...'},
            }
        },
        methods: {
            openPopup: function() {
                window.lockBody(true);
                this.$emit('openpopup', true);
            },
            closePopup: function() {
                window.lockBody(false);
                this.$emit('openpopup', false);
            }
        }
    }
</script>

<style lang="scss">
    .home-input-content {
        font-size: 14px;
        font-weight: 400;
        color: #4c8ecb;
        margin-bottom: 5px;
    }
    .input-des {
        color: #000;
        .default-color {
            color: #a7a9ab;
        }
        &-label {
            margin-bottom: 5px;
        }
        .mu-icon {
            color: #4c8ecb;
            font-size: 18px;
            &.usitour-text-blue {
                color: #2681ff;
            }
        }
        button {
            width: 100%;
            .mu-flat-button-wrapper {
                justify-content: left;
            }
            .mu-flat-button-label {
                white-space: nowrap;
            }
        }
    }
</style>