<template>
    <div :class="['select-content', 'container', isUsitour ? 'usitour-text-blue' : '']">
        <!--title-->
        <mu-row gutter class="home-selection-label">
            <mu-col width="33" tablet="33" desktop="33">
                {{langHomeSelection.room[langStr]}}
            </mu-col>
            <mu-col width="33" tablet="33" desktop="33">
                {{langHomeSelection.adult[langStr]}}<span class="text-small-12">(18+)</span>
            </mu-col>
            <mu-col width="33" tablet="33" desktop="33">
                {{langHomeSelection.child[langStr]}}<span class="text-small-12">(0-17)</span>
            </mu-col>
        </mu-row>
        <!--selections-->
        <mu-row gutter>
            <mu-col width="33" tablet="33" desktop="33">
                <mu-select-field name="roomCount" v-model="roomCount" :class="{'border-input': isUsitour}" :labelFocusClass="['label-foucs']" :underlineShow="false">
                    <mu-menu-item v-for="index in maxNum1" :key="index" :value="index" :title="index.toString()"/>
                </mu-select-field>
            </mu-col>
            <mu-col width="33" tablet="33" desktop="33">
                <mu-select-field name="adultCount1" v-model="adult" :class="{'border-input': isUsitour}" :labelFocusClass="['label-foucs']" :underlineShow="false">
                    <mu-menu-item v-for="index in maxNum2" :key="index" :value="index" :title="index.toString()"/>
                </mu-select-field>
            </mu-col>
            <mu-col width="33" tablet="33" desktop="33">
                <mu-select-field name="childCount1" v-model="child" :class="{'border-input': isUsitour}" :labelFocusClass="['label-foucs']" :underlineShow="false">
                    <mu-menu-item v-for="index in maxNum3" :key="index-1" :value="index-1" :title="(index-1).toString()"/>
                </mu-select-field>
            </mu-col>
        </mu-row>
        <!--child age-->
        <div class="child-age-wrapper" v-show="child > 0">
            <label class="child-age-label">{{langHomeSelection.childAge[langStr]}}</label>
            <div class="child-age-item" v-for="(age, index) in childAges" :key="'child-age-item'+index">
                <mu-select-field name="childAge[]" :value="parseInt(age)" @input="changeAge(age, index, $event)">
                    <mu-menu-item :value="0" :title="'<1' + langHomeSelection.yearsOld[langStr]"></mu-menu-item>
                    <mu-menu-item v-for="n in 17" :key="'child-age'+n" :value="n" :title="n + langHomeSelection.yearsOld[langStr]"></mu-menu-item>
                </mu-select-field>
            </div>
        </div>
    </div>
</template>

<script>
    import langHomeSelection from '../lang/home-selection'; // lang file
    export default {
        props: [
            'roomnum',
            'adultnum',
            'childnum',
            'childAges'
        ],
        data() {
            return {
                roomCount: this.roomnum,
                adult: this.adultnum,
                child: this.childnum,
                maxNum1: 8,
                maxNum2: 4,
                maxNum3: 5,
                langHomeSelection: langHomeSelection
            }
        },
        methods: {
            emitParent: function() {
                this.$emit('changeselections', this.roomCount, this.adult, this.child);
            },
            changeAge: function (val, index, $event) {
                this.childAges[index] = $event;
            }
        },
        mounted: function() {

        },
        watch: {
            roomCount: function() {
                this.emitParent();
            },
            adult: function() {
                this.emitParent();
            },
            child: function(val) {
                this.emitParent();
                let oldVal = this.childAges.length;
                if (val > oldVal) {
                    for (let i = oldVal; i < val; i++) {
                        this.childAges.push(12);
                    }
                } else {
                    this.childAges.splice(val, oldVal - val);
                }
            },
        }
    }
</script>

<style lang="scss">
    .select-content {
        .home-selection-label {
            margin-bottom: 5px;
        }
        .mu-text-field {
            background: #fff;
            height: 34px;
            line-height: 34px;
            width: 100%;
        }
        .border-input {
            .mu-dropDown-menu-icon {
                background: url('/img/general/icon/hotel_eng_img.png') no-repeat -158px -17px;
                background-size: 358px 151px;
                width: 20px;
                height: 20px;
                right: 12px;
            }
        }
        .mu-dropDown-menu-text-overflow {
            padding-left: 15px;
            font-size: 14px;
        }
    }
    .child-age {
        &-wrapper {
            margin-top: 5px;
        }
        &-label {
            display: block;
            margin-bottom: 5px;
        }
        &-item {
            width: 24%;
            display: inline-block;
            margin-right: 1.3%;
            &:last-of-type {
                margin-right: 0;
            }
        }
    }
</style>
