<template>
    <div class="margin-top-min-20">
        <div class="home-pic" v-for="img in imgArr[langStr]" :key="img.id">
            <a href="javascript:void(0)" @click="searchHotels(img)"><img :src="img.src"/></a>
        </div>
    </div>
</template>
<script>
    let imgArrCn = [
        {src: "/img/general/mobile/destination2_1.jpg", id: "46852", name: 'Los Angeles, CA, USA 洛杉矶'},
        {src: "/img/general/mobile/destination4_1.jpg", id: '60176', name: 'Cancun, Quintana Roo, Mexico 墨西哥坎昆'},
        {src: "/img/general/mobile/destination5_1.jpg", id: '46941', name: 'Oahu, Hawaii USA 夏威夷欧胡岛'},
        {src: "/img/general/mobile/destination3_1.jpg", id: '46851', name: 'Las Vegas, NV USA 拉斯维加斯'},
        {src: "/img/general/mobile/destination1_1.jpg", id: '46858', name: 'New York, NY, USA 纽约'},
        {src: "/img/general/mobile/destination6_1.jpg", id: '46867', name: 'San Francisco, CA USA 旧金山'},
        {src: "/img/general/mobile/destination8_1.jpg", id: '46859', name: 'Orlando, Florida, USA 奥兰多'},
        {src: "/img/general/mobile/destination7_1.jpg", id: '46838', name: 'Boston, Massachusetts, USA 波士顿'},
    ];
    let imgArrTw = [
        {src: "/img/general/mobile/destination2_2.jpg", id: '46852', name: 'Los Angeles, CA, USA'},
        {src: "/img/general/mobile/destination4_2.jpg", id: '60176', name: 'Cancun, Quintana Roo, Mexico'},
        {src: "/img/general/mobile/destination5_2.jpg", id: '46941', name: 'Oahu, Hawaii USA'},
        {src: "/img/general/mobile/destination3_2.jpg", id: '46851', name: 'Las Vegas, NV USA'},
        {src: "/img/general/mobile/destination1_2.jpg", id: '46858', name: 'New York, NY, USA'},
        {src: "/img/general/mobile/destination6_2.jpg", id: '46867', name: 'San Francisco, CA USA'},
        {src: "/img/general/mobile/destination8_2.jpg", id: '46859', name: 'Orlando, Florida, USA'},
        {src: "/img/general/mobile/destination7_2.jpg", id: '46838', name: 'Boston, Massachusetts, USA'},
    ];
    let imgArrEn = [
        {src: "/img/general/mobile/destination2_2.jpg", id: '46852', name: 'Los Angeles, CA, USA'},
        {src: "/img/general/mobile/destination4_2.jpg", id: '60176', name: 'Cancun, Quintana Roo, Mexico'},
        {src: "/img/general/mobile/destination5_2.jpg", id: '46941', name: 'Oahu, Hawaii USA'},
        {src: "/img/general/mobile/destination3_2.jpg", id: '46851', name: 'Las Vegas, NV USA'},
        {src: "/img/general/mobile/destination1_2.jpg", id: '46858', name: 'New York, NY, USA'},
        {src: "/img/general/mobile/destination6_2.jpg", id: '46867', name: 'San Francisco, CA USA'},
        {src: "/img/general/mobile/destination8_2.jpg", id: '46859', name: 'Orlando, Florida, USA'},
        {src: "/img/general/mobile/destination7_2.jpg", id: '46838', name: 'Boston, Massachusetts, USA'},
    ];
    let imgArr = {'cn': imgArrCn, 'tw': imgArrTw, 'en': imgArrEn};
    export default {
        data() {
            return {
                imgArr: imgArr,
            }
        },
        methods: {
            searchHotels(desObj) {
                desObj.id = 'D' + desObj.id;
                this.$emit('search-hotels', desObj);
            },
        }
    }
</script>

<style lang="scss">
    img {
        width: 100%;
        max-width: 100%;
        min-width: 100%;
        display: block;
        margin: 7.5px 0;
    }
</style>