<template>
    <mu-list class="hotel-info">
        <!--周围信息-->
        <mu-list-item :title="langHotelInfo.hotelAreaInfo[langStr]" toggleNested :open="false" class="hotel-info-area area-info" v-if="areaInfo">
            <mu-list-item slot="nested" class="nested-list-wrapper">
                <div class="area-info-block" v-for="(items, key) in areaInfo" :key="'area' + key">
                    <h5 class="hotel-info-title">{{items.sortName}}</h5>
                    <div class="area-info-list">
                        <p class="area-info-item" v-for="item in items.pois">
                            <span>{{item.name}}</span><span class="area-info-distance" v-if="item.distance">{{item.distance}}</span>
                        </p>
                    </div>
                </div>
            </mu-list-item>
        </mu-list-item>
        <!--酒店设施新-->
        <mu-list-item :title="langHotelInfo.hotelAmenities[langStr]" toggleNested :open="facilityOpen" class="hotel-info-facility-new" v-if="facilitiesNew" @click="toggleFacility">
            <mu-list-item slot="nested" class="nested-list-wrapper">
                <div class="facility-hot facility-small" v-if="facilitiesNew.popular && facilitiesNew.popular.length > 0">
                    <h5 class="hotel-info-title">{{langHotelInfo.hotelAmenitiesHot[langStr]}}</h5>
                    <div v-for="item in facilitiesNew.popular" :key="item.index" class="facility-hot-item facility-item">
                        <i :class="['facility-icon', 'facility-icon-'+item['facilityCode']]"></i>{{item['facilityName']}}
                    </div>
                </div>
                <div class="facility-all facility-small" v-if="facilitiesNew.all">
                    <div v-for="(items, key, index) in facilitiesNew.all" :id="'facility-all-group-' + index"
                            :class="['facility-all-group', {collapsed: items['facilities'].length >= 10}]" v-if="items['facilities'].length > 0">
                        <div class="facility-all-title facility-item">
                            <i :class="['facility-icon', 'facility-icon-' + key.replace(/_/g, '-').toLowerCase()]"></i>{{items['sortName']}}
                        </div>
                        <div v-for="(item, index) in items['facilities']" :key="'facility-all-item-' + index" :class="['facility-all-item', {hidden: index >= 9}]">
                            {{item}}
                        </div>
                        <button class="facility-all-more" @click="toggleMoreFacility(index)" v-if="items['facilities'].length >= 10">Show more</button>
                    </div>
                </div>
            </mu-list-item>
        </mu-list-item>
        <!--酒店设施-->
        <mu-list-item :title="langHotelInfo.hotelAmenities[langStr]" toggleNested :open="false" class="hotel-info-facility" v-else>
            <mu-list-item slot="nested" class="nested-list-wrapper">
                <div v-for="item in facilities" :key="item.index" class="hotel-info-facility-item">
                    <mu-content-block><i class="fa fa-check"></i> {{item.title}}</mu-content-block>
                </div>
                <p class="breakfast-note" v-if="showFacilities.free">{{langHotelInfo.perRoomDetail[langStr]}}</p>
            </mu-list-item>
        </mu-list-item>
        <!--评论-->
        <mu-list-item :title="langHotelInfo.hotelReview[langStr]" toggleNested :open="reviewOpen"  @click="toggleReview"
                      class="hotel-info-review" v-if="hotelReviews">
            <mu-list-item slot="nested" class="nested-list-wrapper">
                <div v-for="review in hotelReviews" class="hotel-review-item">
                    <div class="review-person">
                        <i class="review-person-avatar"></i>
                        <p>By {{review.name}}</p>
                        <p>{{review.review_date}}</p>
                    </div>
                    <div class="review-content">
                        <i :class="['review-content-rate', 'review-content-rate-' + review.rate]"></i>
                        <p class="review-content-text" v-html="parseHtmlEnteties(review.content)"></p>
                    </div>
                </div>
            </mu-list-item>
        </mu-list-item>
        <!--酒店政策-->
        <mu-list-item :title="langHotelInfo.hotelPolicy[langStr]" toggleNested :open="false" class="hotel-info-policy" v-if="policy">
            <mu-list-item slot="nested" class="nested-list-wrapper">
                <div class="hotel-info-policy-item" v-if="policy.checkin_time">
                    <span class="hotel-info-policy-title policy-title-icon policy-title-icon-time">CheckIn Time:</span>
                    <p class="hotel-detail-dynamic">{{policy.checkin_time}}</p>
                </div>
                <div v-else-if="policy.checkInStartTime" class="hotel-info-policy-item">
                    <span class="hotel-info-policy-title">CheckIn Start Time:</span>
                    <p class="hotel-detail-dynamic">{{policy.checkInStartTime}}</p>
                </div>
                <div class="hotel-info-policy-item" v-if="policy.checkout_time">
                    <span class="hotel-info-policy-title policy-title-icon policy-title-icon-time">CheckOut Time:</span>
                    <p class="hotel-detail-dynamic">{{policy.checkout_time}}</p>
                </div>
                <div v-else-if="policy.checkOutTime" class="hotel-info-policy-item">
                    <span class="hotel-info-policy-title">CheckOut Start Time:</span>
                    <p class="hotel-detail-dynamic">{{policy.checkOutTime}}</p>
                </div>
                <div class="hotel-info-policy-item" v-if="policy.child_policy">
                    <span class="hotel-info-policy-title policy-title-icon policy-title-icon-child">Children :</span>
                    <p class="hotel-detail-dynamic">{{policy.child_policy}}</p>
                </div>
                <div v-else-if="policy.childrenAndExtraBedsPolicies" class="hotel-info-policy-item">
                    <span class="hotel-info-policy-title">Children :</span>
                    <p class="hotel-detail-dynamic" v-for="item in policy.childrenAndExtraBedsPolicies" :key="item.index">
                        {{item}}
                    </p>
                </div>
                <div class="hotel-info-policy-item" v-if="policy.pet_policy">
                    <span class="hotel-info-policy-title policy-title-icon policy-title-icon-pet">Pet:</span>
                    <p class="hotel-detail-dynamic">{{policy.pet_policy}}</p>
                </div>
                <div v-else-if="policy.petPolicies" class="hotel-info-policy-item">
                    <span class="hotel-info-policy-title">Pet:</span>
                    <p class="hotel-detail-dynamic" v-for="item in policy.petPolicies" :key="item.index">{{item}}</p>
                </div>
                <strong>{{langHotelInfo.cancelPolicyHead[langStr]}}</strong>
                <p>{{langHotelInfo.cancelPolicy[langStr]}}</p>
                <strong>{{langHotelInfo.onlinePriceHead[langStr]}}</strong>
                <p>{{langHotelInfo.onlinePrice[langStr]}}</p>
                <strong>{{langHotelInfo.bedTypeHead[langStr]}}</strong>
                <p>{{langHotelInfo.bedType[langStr]}}</p>
                <strong>{{langHotelInfo.ccRefundTermHead[langStr]}}</strong>
                <p>{{langHotelInfo.ccRefundTerm[langStr]}}</p>
                <strong class="policy-title-icon policy-title-icon-cards" v-if="policy.cards_accepted">{{langHotelInfo.cardsAccepted[langStr]}}</strong>
                <div class="hotel-info-policy-item" v-if="policy.cards_accepted">
                    <p class="cards-type" v-if="policy.cards_accepted.cards">
                        <i v-for="card in policy.cards_accepted.cards" :class="['icon-card', 'icon-card-' + card]"></i>
                    </p>
                    <p class="cards-desc" v-if="policy.cards_accepted.description">
                        {{langStr === 'cn' && policy.cards_accepted.description_zh ? policy.cards_accepted.description_zh : policy.cards_accepted.description}}
                    </p>
                </div>
            </mu-list-item>
        </mu-list-item>
        <!--餐厅-->
        <mu-list-item :title="langHotelInfo.restaurants[langStr]" toggleNested :open="false" class="hotel-info-restaurant" v-if="hotelRestaurants">
            <mu-list-item slot="nested" class="nested-list-wrapper">
                <div v-for="restaurant in hotelRestaurants" class="restaurant-item" v-if="restaurant.name">
                    <p class="restaurant-name" v-html="parseHtmlEnteties(restaurant.name)"></p>
                    <p class="restaurant-food" v-if="restaurant.food">{{langHotelInfo.restaurantFood[langStr]}}: {{restaurant.food}}</p>
                    <p class="restarurant-menu" v-if="restaurant.menu">{{langHotelInfo.restaurantMenu[langStr]}}: {{restaurant.menu}}</p>
                </div>
            </mu-list-item>
        </mu-list-item>
        <!--酒店常用术语-->
        <mu-list-item v-if="langStr=='cn'" title="酒店常用术语翻译" toggleNested :open="false" class="hotel-info-trans">
            <mu-list-item slot="nested" class="nested-list-wrapper">
                <div v-for="item in hotelTrans" :key="item.index" class="hotel-info-facility-item">
                    <mu-content-block><i class="fa fa-chevron-right"></i> {{item}}</mu-content-block>
                </div>
            </mu-list-item>
        </mu-list-item>
    </mu-list>
</template>

<script>
    import langHotelInfo from '../lang/hotel-info'; // lang file
    export default {
        props: {
            facilities: Array|Object,
            policies: Object,
            areaInfo: {
                type: Array|Object,
                default: null
            },
            facilitiesNew: {
                type: Object,
                default: null
            },
            hotelReviews: {
                type: Array,
                default: null
            },
            hotelRestaurants: {
                type: Array,
                default: null
            },
            facilityOpen: Boolean,
            reviewOpen: Boolean,
        },
        data () {
            return {
                facilitiesAll: [],
                langHotelInfo: langHotelInfo,
                policy: {},
                showFacilities: {
                    free: false
                },
                hotelTrans: [
                    'Luxury/Deluxe 豪华',
                    'Double Room 双人间·大床房',
                    'Business 商务',
                    'Twin Room 双人间·双床房',
                    'King Bed/Size 特大号床(约1.8米宽)',
                    'Queen Bed/Size 大号床(约1.5米宽)',
                    'Executive 行政',
                    'Sing Bed 单人床(约1.2米宽)',
                    'Junior Suite 简套房',
                    'Run Of House 抢住房',
                    'Suite 套房',
                    'Studio 工作室'
                ]
            }
        },
        created () {
            let self = this;
            self.facilitiesAll = this.facilities;
            $.each(self.facilitiesAll, function (value, key) {
                if (key.title && key.title.toLowerCase().indexOf('free') > -1 && key.title.toLowerCase().indexOf('breakfast') > -1) {
                    self.showFacilities.free = true
                }
            })
        },
        methods: {
            toggleMoreFacility(index) {
                let $facilityGroup = $('#facility-all-group-' + index);
                let $toggleBtn = $facilityGroup.find('.facility-all-more');
                $facilityGroup.toggleClass('collapsed');
                if ($facilityGroup.hasClass('collapsed')) {
                    $facilityGroup.find('.facility-all-item:nth-child(n+' + 10 + ')').addClass('hidden');
                    $toggleBtn.text('Show more');
                } else {
                    $facilityGroup.find('.facility-all-item:nth-child(n+' + 10 + ')').removeClass('hidden');
                    $toggleBtn.text('Show less');
                }
            },
              parseHtmlEnteties(str) {
                return str.replace(/&#([0-9]{1,4});/gi, function(match, numStr) {
                  var num = parseInt(numStr, 10); // read num as normal number
                  return String.fromCharCode(num);
                })
              },
            toggleFacility() {
                this.$emit('toggle-facility');
            },
            toggleReview() {
                this.$emit('toggle-review');
            }
        },
        watch: {
            policies: function (val) {
                this.policy = val;
            }
        }
    }
</script>

<style lang="scss">
    @import "../../../sass/includes/colors";
    .hotel-info {
        strong {
            color: rgb(16, 74, 143);
            font-size: 14px;
            font-weight: bold;
        }
        &-title {
            color: $usitrip-bright;
            font-size: 14px;
            margin: 0 0 12px 0;
        }
        &-facility, &-policy, &-trans, &-area, &-facility-new, &-review, &-restaurant {
            background-color: white;
            & > .mu-item-wrapper {
                border-bottom: 1px solid #f0f0f0;
            }
        }
        .nested-list-wrapper > .mu-item-wrapper > div {
            margin: 0 !important;
        }
    }
    .hotel-detail-dynamic {
        font-size: 12px;
        color: rgb(76, 142, 203);
    }
    .hotel-info-facility {
        border-top: #f0f0f0 1px solid;
        border-bottom: #f0f0f0 1px solid;
        &-item {
            width: 50%;
            float: left;
            .mu-content-block {
                color: rgb(76, 142, 203);
                font-size: 12px;
                padding: 2px 5px;
                .fa {
                    font-size: 11px;
                    font-weight: bold;
                }
            }
        }
        .breakfast-note {
            color: #e4393c;
        }
    }
    .hotel-info-policy {
        .mu-list .mu-item-wrapper .mu-item .mu-item-content p {
            font-size: 12px;
            color: rgb(76, 142, 203);
        }
        &-item {
            margin-bottom: 12px;
        }
        &-title {
            color: rgb(16, 74, 143);
            font-size: 14px;
            font-weight: bold;
        }
        .policy-title-icon {
            position: relative;
            padding-left: 35px;
            &:before {
                content: '';
                display: block;
                position: absolute;
                left: 0;
                background: url('/img/spriteImgs/hotel-2-icons.png') no-repeat -366px -66px;
                width: 21px;
                height: 21px;
            }
            &-child:before {
                background-position: -364px -145px;
                width: 28px;
                height: 21px;
            }
            &-pet:before {
                background-position: -138px -67px;
                width: 20px;
                height: 20px;
            }
            &-cards:before {
                background-position: -366px -226px;
                width: 25px;
                height: 20px;
            }
        }
        .icon-card {
            margin-right: 6px;
            background-image: url('/img/spriteImgs/hotel-2-icons.png');
            background-repeat: no-repeat;
            width: 43px;
            height: 27px;
            &-visa {
                display: inline-block;
                background-position: -13px -305px;
            }
            &-mastercard {
                display: inline-block;
                background-position: -64px -305px;
            }
            &-americanexpress {
                display: inline-block;
                background-position: -116px -305px;
            }
            &-discover {
                display: inline-block;
                background-position: -170px -305px;
            }
            &-paypal {
                display: inline-block;
                background-position: -227px -309px;
                width: 80px;
                height: 20px;
            }
        }
    }
    /*hotel area info*/
    .area-info {
        &-title {
            font-weight: normal;
            margin: 0;
            color: $usitrip-bright;
            font-size: 14px;
            text-transform: capitalize;
        }
        &-item {
            border-bottom: 1px solid $usitrip-grey;
        }
        &-distance {
            float: right;
        }
    }
    /*hotel area info end*/

    /*hotel facilities*/
    .hotel-info-facility-new {
        .facility-hot {
            margin-bottom: 10px;
            &-item {
                display: inline-block;
                width: 50%;
                vertical-align: top;
                margin-bottom: 15px;
            }
        }
        .facility-all {
            &-group {
                display: inline-block;
                width: 50%;
                vertical-align: top;
                margin-top: 5px;
            }
            &-title {
                text-transform: capitalize;
                margin-bottom: 10px;
                margin-right: 10px;
                color: $usitrip-bright;
            }
            &-item {
                position: relative;
                padding-left: 35px;
                margin-bottom: 5px;
                margin-right: 10px;
                &.hidden {
                    display: none;
                }
                &:before {
                    content: '';
                    display: block;
                    position: absolute;
                    left: 10px;
                    top: 5px;
                    background: url('/img/spriteImgs/hotel-2-icons.png') no-repeat -19px -233px;
                    width: 11px;
                    height: 8px;
                }
            }
            &-more {
                width: 100%;
                text-align: left;
                border: none;
                outline: none;
                background: transparent;
                margin-bottom: 10px;
                color: $usitrip-bright;
            }
        }
    }
    /*hotel facilities end*/

    /*hotel review*/
    .hotel-info-review {
        p {
            color: $usitrip-dark;
            font-weight: normal;
            margin-top: 5px;
            margin-bottom: 0;
        }
        .hotel-review-item {
            margin-bottom: 20px;
        }
        .review-person {
            display: inline-block;
            width: 29%;
            padding-right: 30px;
            vertical-align: top;
            p {
                margin: 5px;
            }
            &-avatar {
                display: block;
                margin-bottom: 9px;
                background: url('/img/spriteImgs/hotel-2-icons.png') no-repeat -113px -342px;
                width: 68px;
                height: 68px;
            }
        }
        .review-content {
            display: inline-block;
            width: 70%;
            &-rate {
                display: block;
                background: url('/img/spriteImgs/hotel-2-icons.png') no-repeat -14px -342px;
                width: 91px;
                height: 16px;
                position: relative;
                &:before, &-0:before {
                    content: '';
                    display: block;
                    position: absolute;
                    background-image: url('/img/spriteImgs/hotel-2-icons.png');
                    background-repeat: no-repeat;
                    background-position: -13px -342px;
                    height: 16px;
                    width: 0;
                }
                &-1:before {
                    width: 17px;
                }
                &-2:before {
                    width: 36px;
                }
                &-3:before {
                    width: 54px;
                }
                &-4:before {
                    width: 73px;
                }
                &-5:before {
                    width: 91px;
                }
            }
        }
    }   
    /*hotel review end*/

    .hotel-info-restaurant {
        .restaurant-item {
            display: inline-block;
            width: 50%;
            vertical-align: top;
        }
        .restaurant-name {
            color: $usitrip-bright;
        }
    }
</style>