<template>
    <div>
        <mu-dialog :open="dialog" @close="close" :title="hotel.name" scrollable dialogClass="hotel-pics">
            <mu-row gutter>
                <mu-col width="100" tablet="50" desktop="30" v-for="img_url in images" :key="img_url.index" >
                    <div :style="{ 'background-image': 'url(' + img_url['url'] + ')' }" class="hotel-pics-img hotel-pics-img-new"></div>
                </mu-col>
            </mu-row>
            <mu-flat-button icon=":fa fa-times" primary :label="closeLabel[langStr]" @click="close" slot="actions"/>
        </mu-dialog>
    </div>
</template>

<script>
    export default {
        props:[
          'hotel',
          'images',
          'hidePics',
        ],
        data () {
            return {
                dialog: true,
                closeLabel:  {
                    'cn': "关闭",
                    'tw': "關閉",
                    'en': "Close"
                },
            }
        },
        methods: {
            open () {
                this.dialog = true
            },
            close (reason) {
                this.dialog = false
                this.$emit('closepics', true)
            },
        },
        watch: {
            hidePics: function(val){
                let self = this
                self.dialog = !val
            }
        },
        created(){
            window.lockBody(true);
        }
    }
</script>

<style>
    .hotel-pics-img{
        min-height: 120px;
        height: 180px;
        display: block;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-repeat:no-repeat;
        background-position: center center;
        margin: 10px 0;
    }
    .hotel-pics{
        height: 95vh !important;
        max-height: 95vh !important;
        width: 96vw !important;
        background-color: black;
        color: white;
    }
    .hotel-pics .mu-dialog-body{
        max-height: 75vh !important;
    }
    .hotel-pics .btn-close{
        position: absolute;
        right: 0px;
        top: 20px;
    }
    .hotel-pics .mu-dialog-title{
        color: white;
        font-size: 16px;
        font-weight: bold;
        line-height: 18px;
        padding: 2vh;
    }

    .hotel-pics .mu-flat-button .mu-flat-button-wrapper i{
        color: white;
        font-size: 26px;
        font-weight: 800;
    }
    .hotel-pics .mu-flat-button .mu-flat-button-wrapper .mu-flat-button-label{
        color: white;
        font-size: 18px;
    }

</style>
