<template>
    <div class="header-toggler-wrapper">
        <a href="/" class="header-item-hotel header-item">
            Hotels
        </a>
        <a :href="langStr === 'en' ? '//m.usitour.com/group_buys/' : '//m.usitrip.com/tw/group_buys/'" class="header-item-deals header-item">
            Tour Deals
        </a>
        <a :href="langStr === 'en' ? '//m.usitour.com/' : '//m.usitrip.com/tw'" class="header-item-package header-item">
            Tour Packages
        </a>
    </div>
</template>

<script>
    export default {

    }
</script>

<style lang="scss">
    @import "../../../sass/includes/colors";

    .header-toggler-wrapper {
        @media ( max-device-width: 320px) {
            padding: .2rem;
        }
        @media (min-device-width: 320px) {
            padding: .16rem  .2rem .16rem .5rem;
        }
    }

    .header-item {
        position: relative;
        display: block;
        text-align: center;
        padding-top: .5rem;
        color: #000;
        &:before {
            position: absolute;
            content: "";
            background-image: url('/img/general/icon/hotel_eng_img.png');
            background-repeat: no-repeat;
            background-size: 7.5rem;
            background-position-y: -.94rem;
            height: .48rem;
            width: .46rem;
            top: 0;
            right: 0;
            bottom: .24rem;
        }
        &-hotel {
            float: left;
            color: $usitour-blue;
            &:before {
                background-position-x: -1.50rem;
                left: .1rem;
            }
        }
        &-package {
            margin: 0 auto;
            width: 2rem;
            &:before {
                background-position-x: -3.36rem;
                left: .7rem;
            }
        }
        &-deals {
            float: right;
            &:before {
                background-position-x: -.9rem;
                left: .4rem;
            }
        }
    }

</style>