<template>
    <a :href="hotelLink" class="hotel" @click="jumpHotel">
        <mu-card>
            <mu-row>
                <mu-col width="40" tablet="40" desktop="40">
                    <img :id="'infowindowImg' + hotel.hotelId" :src="hotel.thumbnail" alt="hotel image" @error="imgLoadError" class="hotel-img">
                    <div class="hotel-discount" v-if="hotel.discount > 0">
                        <i><span class="f_22 f_w_800">{{Number.parseInt(hotel.discount * 100)}}% </span><span class="f11">off<span></span></span></i>
                    </div>
                </mu-col>
                <mu-col width="60" tablet="60" desktop="60" class="hotel-content">
                    <a class="hotel-name f_w_800 text-small-12-normal"> {{hotel.name}}
                        <span v-if="langStr==='cn' && hotel.name_zh"> ({{hotel.name_zh}})</span>
                    </a>
                    <div class="hotel-rating-map" v-show="hotel.rating"></div>
                    <div class="hotel-detail-review" v-show="hotel.guestRating">
                        <span class="text-small-12-normal">
                            <!--Expedia {{langHotel.guestRating[langStr]}} -->  {{hotel.guestRating}}/5 <span v-if="hotel.guestReviewCount"> ({{hotel.guestReviewCount}} {{langHotel.review[langStr]}})</span>
                        </span>
                    </div>
                    <div class="hotel-detail-distance" v-if="distance && location">
                        <span class="text-small-12-normal">
                            <i class="fa fa-location-arrow"></i>{{distance}} {{distanceUnit}} From {{location}}
                        </span>
                    </div>
                    <div class="line-content"></div>
                    <mu-row gutter class="hotel-policy">
                        <mu-col width="56" tablet="56" desktop="56" class="hotel-property text-small-12-normal">
                            <div v-if="hotel.freeCancel === 1"><i class="fa fa-check"></i>
                                {{langHotel.freeCancel[langStr]}}
                            </div>
                        </mu-col>
                        <!--for tmp hotels, no need to show this-->
                        <mu-col width="46" tablet="46" desktop="46" class="hotel-price">
                            <div v-if="hotel.minPrice > 0">
                                <del class="original-price">
                                    <span v-if="hotel.currency==='USD'">$</span><span v-if="hotel.currency!=='USD'">{{hotel.currency}}</span>{{hotel.originalPrice}}
                                </del>
                                <span class="min-price text-small-12-normal"><span v-if="hotel.currency==='USD'">$</span><span v-if="hotel.currency!=='USD'">{{hotel.currency}}</span>{{hotel.minPrice}}</span>
                            </div>
                            <mu-raised-button :label="langHotel.soldOut[langStr]" disabled v-else/>
                        </mu-col>
                    </mu-row>
                </mu-col>
            </mu-row>
        </mu-card>
    </a>
</template>

<script>
    import langHotel from '../lang/hotel-item'; // lang file

    export default {
        props: {
            hotel: Object,
            sessionKey: String,
            destinationCity: {
                default: '',
                type: String
            },
            searchData: {
                default: {
                    checkin: window.today,
                    checkout: window.tomorrow,
                    roomCount: 1,
                    adultCount1: 2,
                    childCount1: 0
                }
            },
            scenic: {
                default: null
            },
        },
        data() {
            return {
                langHotel: langHotel,
                location: '',
                distance: null,
                distanceUnit: 'km',
            }
        },
        computed: {
            hotelLink() {
                var link = '/hotel/' + this.hotel.hotelId + '.html?s=' + this.sessionKey + '&' + $('#search-form').serialize();
                return link;
            },
            errorImg() {
                if (this.langId === 2) {
                    if (this.isAA) {
                        return '/img/error/aa_img_error.gif';
                    } else {
                        return '/img/error/tw_img_error.png';
                    }
                } else {
                    if (this.isUsitour) {
                        return '/img/error/usitour_img_error.png';
                    } else if (this.is117book) {
                        let number = Math.random(1, 10);
                        return '/img/error/DefaultImage_' + number + '.jpg';
                    } else {
                        return '/img/error/hotel_img_error.jpg';
                    }
                }
            }
        },
        mounted() {
            if (this.hotel.distance) {
                this.location = this.destinationCity;
                this.distance = this.hotel.distance.value;
                this.distanceUnit = this.hotel.distance.unit;
            }
            // get distance from hotel to scenic
            if (this.scenic && this.scenic.northeast_lat && this.scenic.northeast_lng && this.hotel.latitude && this.hotel.longitude) {
                this.location = (this.langStr === 'cn' && this.scenic.name_zh) ? this.scenic.name_zh : this.scenic.name;
                this.distance = this.getDistance(this.scenic.northeast_lat - 0.03, this.scenic.northeast_lng - 0.03, this.hotel.latitude, this.hotel.longitude);
            }
            //calc hotel rating
            if(this.hotel.rating){
                $('.hotel-rating-map').html(this.buildRating(this.hotel.rating));
            }
        },
        methods: {
            jumpHotel() {
                var anaImData = {
                    'id': this.hotel.hotelId,
                    'name': this.hotel.name,
                    'position': 0,
                    'list': 'Search Results'
                };
                // addImpression(anaImData);

                var anaData = {
                    'id': this.hotel.hotelId,
                    'name': this.hotel.name,
                    'position': 0,
                    'list': this.destinationCity,
                    'page': 'mobile list map'
                };
                onProductClick(anaData);
                // onProductView(anaData);
            },
            getDistance(lat1, lon1, lat2, lon2) {
                var earthRadiusKm = 6371;

                var dLat = this.degreesToRadians(lat2 - lat1);
                var dLon = this.degreesToRadians(lon2 - lon1);

                lat1 = this.degreesToRadians(lat1);
                lat2 = this.degreesToRadians(lat2);

                var a = Math.sin(dLat / 2) * Math.sin(dLat / 2) +
                    Math.sin(dLon / 2) * Math.sin(dLon / 2) * Math.cos(lat1) * Math.cos(lat2);
                var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));
                return (earthRadiusKm * c).toFixed(2);
            },
            degreesToRadians(degrees) {
                return degrees * Math.PI / 180;
            },
            imgLoadError() {
                $('#infowindowImg' + this.hotel.hotelId).attr('src', this.errorImg);
            },
            buildRating(rating) {
            var r = Number(rating);
            var h = '';
            if (r >= 5) {
              r = 5;
            }
            if (r !== 1 && r !== 2 && r !== 3 && r !== 4 && r !== 5 && r !== 6) {
              h = "<span class='hotel-star'>N/A</span>";
              return h;
            }
            for (var i = 0; i < r; i++) {
              h += '<span><i class="fa fa-star hotel-star"></i></span>';
            }
            return h;
          }
        }
    }
</script>

<style lang="scss">
    @import "../../../sass/includes/colors";

    .hotel {
        &:not(last-child) {
            margin-bottom: 13px;
            display: block;
        }
        &-detail {
            &-wrapper {
                padding: 5px 5px 0 0;
            }
            &-review {
                line-height: .9;
                font-weight: 400;
            }
            &-add, &-distance {
                line-height: 1;
            }
        }
        &-discount {
            i {
                display: block;
                position: absolute;
                top: 8px;
                left: -9px;
                width: 82px;
                height: 50px;
                background: url("/img/general/icon/bg_tag_discount_82x46.png") no-repeat;
                z-index: 2;
                font-size: 18px;
                color: #fff;
                line-height: 42px;
                text-align: center;
                span {
                    margin-left: -5px;
                }
            }
        }
    }

    .hotel-img {
        height: 110px;
        width: 100%;
        border-radius: 5px;
    }

    .hotel-name {
        display: inline-block;
        color: #484848;
        margin-bottom: 2px !important;
    }

    .hotel-stars {
        margin-left: 5px;
        min-height: 20px;
    }

    .hotel-star {
        margin-top: 3px;
        font-size: 14px;
        color: $usitrip-hover-tag;
        float: left;
    }

    .hotel-location, .hotel-detail-distance, .hotel-detail-review, hotel-rating-map {
        color: $usitrip-fade;
        line-height: 18px;
        font-size: 12px;
    }
    .hotel-detail-review{
        line-height:21px !important;
    }
    .hotel-location {
        float: left;
        position: relative;
        padding-left: 15px;
        margin-right: 5px;
        i {
            font-size: 16px;
            position: absolute;
            left: -5px;
        }

    }

    .line-content {
        width: 50vw !important;
        border-bottom: $usitrip-mobile-bg 1px solid;
    }

    .hotel-content {
        padding: 10px 10px 0 12px;
    }

    .hotel-property {
        line-height: 22px;
        color: $usitrip-fade;
        padding-left: 2vw;
        margin-top: 1vh;
        margin-bottom: 2vh;
        i {
            color: $usitrip-hover-tag;
        }
    }

    .hotel-price {
        text-align: right;
        margin-top: 1vh;
        margin-bottom: 2vh;
        margin-right: 2vw;
    }

    .original-price {
        color: $usitrip-hover-list;
    }

    .price-text {
        color: #484848;
        font-weight: bold;
    }

    .hotel-detail-add {
        min-height: 20px;
    }
</style>
