<template>
    <div>
        <mu-popup position="left" popupClass="filter-popup-left" :overlay="true" :open="isPopOpen" @hide="setPopupClose">
            <mu-row gutter class="filter-content">
                <!--nav-->
                <mu-col width="50" tablet="50" desktop="50" class="icon-left-filter">
                    <mu-flat-button :label="langFilterPopup.close[langStr]" labelPosition="after" icon=":fa fa-times" @click="setPopupClose"/>
                </mu-col>
                <mu-col width="50" tablet="50" desktop="50" class="icon-right">
                    <mu-flat-button :label="langFilterPopup.clear[langStr]" class="text-warning" @click="clearFilters"/>
                </mu-col>

                <div class="filters-block">
                    <mu-col width="100" tablet="100" desktop="100" class="filters-block-content">
                        <!--selected scenic-->
                        <mu-list v-if="scenicNamesArr.length > 0">
                            <mu-list-item :title="langFilterPopup.selectedFilter[langStr]" toggleNested>
                                <mu-list-item slot="nested" v-for="scenic in scenicNamesArr" :key="scenic" :title="scenic"></mu-list-item>
                            </mu-list-item>
                        </mu-list>

                        <div width="100" tablet="100" desktop="100" class="title-2 m-t-15 text-dark-grey">
                            {{langFilterPopup.filterTitle[langStr]}}
                        </div>

                        <!--hotel name or address filter-->
                        <!--title-->
                        <div width="100" tablet="100" desktop="100" class="title-3 m-t-10 text-primary">
                            {{langFilterPopup.searchTitle[langStr]}}
                        </div>
                        <!--/title-->

                        <mu-flexbox :gutter="0" nowrap>
                            <mu-flexbox-item grow="3">
                                <mu-text-field :hintText="langFilterPopup.hotelName[langStr]" class="search-input" v-model="desName"/>
                            </mu-flexbox-item>
                            <mu-flexbox-item>
                                <mu-raised-button :label="langFilterPopup.search[langStr]" class="btn-block btn-radius-r" @click="applyFilter" primary/>
                            </mu-flexbox-item>
                        </mu-flexbox>
                        <!--/hotel name or address filter-->

                        <!--other filters-->
                        <!--title-->
                        <div class="title-2 m-t-15 text-dark-grey col-100 tablet-100 desktop-100">
                            {{langFilterPopup.filterBy[langStr]}}
                        </div>
                        <!--/title-->

                        <!--1.rating-->
                        <div>
                            <mu-flexbox :gutter="0" nowrap>
                                <mu-flexbox-item grow="3">
                                    <div class="text-primary title-3">{{langFilterPopup.class[langStr]}}</div>
                                </mu-flexbox-item>
                                <mu-flexbox-item class="text-right">
                                    <mu-raised-button :label="langFilterPopup.reset[langStr]" class="btn-reset" @click="filterData.rating = []" primary/>
                                </mu-flexbox-item>
                            </mu-flexbox>
                            <mu-flexbox class="m-b-20 " orient="vertical">
                                <mu-flexbox-item order="0" v-for="rating in ratingAll" :key="rating.id">
                                    <mu-checkbox :nativeValue="rating.id" class="filter-checkbox" v-model="filterData.rating" :label="rating.name[langStr]"/>
                                    &nbsp;
                                    <i v-for="n in rating.star" class="fa fa-star star-color" :key="n.id"></i>
                                </mu-flexbox-item>
                            </mu-flexbox>
                            <div class="line"></div>
                        </div>

                        <!--2.pricing-->
                        <div>
                            <mu-flexbox :gutter="0" nowrap>
                                <mu-flexbox-item grow="3">
                                    <div class="text-primary title-3">{{langFilterPopup.pricePerNight[langStr]}}</div>
                                </mu-flexbox-item>
                                <mu-flexbox-item class="text-right">
                                    <mu-raised-button :label="langFilterPopup.reset[langStr]" class="btn-reset" @click="filterData.price = []" primary/>
                                </mu-flexbox-item>
                            </mu-flexbox>
                            <mu-flexbox class=" m-b-20 m-t-10" orient="vertical">
                                <mu-flexbox-item order="0" v-for="price in priceAll" :key="price.id">
                                    <mu-checkbox :nativeValue="price.id" class="filter-checkbox" v-model="filterData.price" :label="price.name[langStr]"/>
                                </mu-flexbox-item>
                            </mu-flexbox>
                        </div>

                        <!--3.airports-->
                        <div class="m-b-20" v-if="airportsArr.length > 0">
                            <div class="line"></div>
                            <mu-flexbox :gutter="0" nowrap>
                                <mu-flexbox-item grow="3">
                                    <div class="text-primary title-3">{{langFilterPopup.airport[langStr]}}</div>
                                </mu-flexbox-item>
                                <mu-flexbox-item class="text-right">
                                    <mu-raised-button :label="langFilterPopup.reset[langStr]" class="btn-reset" @click="filterData.scenicIds = []" primary/>
                                </mu-flexbox-item>
                            </mu-flexbox>
                            <mu-flexbox orient="vertical">
                                <mu-flexbox-item order="0" v-for="area in airportsArr" :key="area.id">
                                    <mu-checkbox :nativeValue="area.id.toString()" class="filter-checkbox" v-model="filterData.scenicIds" :label="langStr === 'cn' && area.name_full ? area.name_full : area.name"/>
                                </mu-flexbox-item>
                            </mu-flexbox>
                        </div>

                        <!--4.districts-->
                        <div class="m-b-20" v-if="districtsArr.length > 0">
                            <div class="line"></div>
                            <mu-flexbox :gutter="0" nowrap>
                                <mu-flexbox-item grow="3">
                                    <div class="text-primary title-3">{{langFilterPopup.attractions[langStr]}}</div>
                                </mu-flexbox-item>
                                <mu-flexbox-item class="text-right">
                                    <mu-raised-button :label="langFilterPopup.reset[langStr]" class="btn-reset" @click="filterData.scenicIds = []" primary/>
                                </mu-flexbox-item>
                            </mu-flexbox>
                            <mu-flexbox orient="vertical">
                                <mu-flexbox-item order="0" v-for="area in showDistrictsArr" :key="area.id">
                                    <mu-checkbox :nativeValue="area.id.toString()" class="filter-checkbox" v-model="filterData.scenicIds" :label="langStr === 'cn' && area.name_full ? area.name_full : area.name"/>
                                </mu-flexbox-item>
                            </mu-flexbox>
                            <mu-flat-button :label="labelDis[langStr]" class="btn-more text-warning" labelPosition="before" :icon="iconMoreDis" @click="showMoreDis()"/>
                        </div>

                        <!--5.zones-->
                        <div class="m-b-20 content-zones" v-if="zonesArr.length > 0">
                            <div class="line"></div>
                            <mu-flexbox :gutter="0" nowrap>
                                <mu-flexbox-item grow="3">
                                    <div class="text-primary title-3">{{langFilterPopup.businessZone[langStr]}}</div>
                                </mu-flexbox-item>
                                <mu-flexbox-item class="text-right">
                                    <mu-raised-button :label="langFilterPopup.reset[langStr]" class="btn-reset" @click="filterData.scenicIds = []" primary/>
                                </mu-flexbox-item>
                            </mu-flexbox>
                            <mu-flexbox orient="vertical">
                                <mu-flexbox-item order="0" v-for="area in showZonesArr" :key="area.id">
                                    <mu-checkbox :nativeValue="area.id.toString()" class="filter-checkbox" v-model="filterData.scenicIds" :label="langStr === 'cn' && area.name_full ? area.name_full : area.name"/>
                                </mu-flexbox-item>
                            </mu-flexbox>
                            <mu-flat-button :label="labelZone[langStr]" class="btn-more text-warning" labelPosition="before" :icon="iconMoreZone" @click="showMoreZone()"/>
                        </div>

                        <!--6.locations-->
                        <div class="m-b-20" v-if="locationsArr.length > 0">
                            <div class="line"></div>
                            <mu-flexbox :gutter="0" nowrap>
                                <mu-flexbox-item grow="3">
                                    <div class="text-primary title-3">{{langFilterPopup.administrativeArea[langStr]}}
                                    </div>
                                </mu-flexbox-item>
                                <mu-flexbox-item class="text-right">
                                    <mu-raised-button :label="langFilterPopup.reset[langStr]" class="btn-reset" @click="filterData.scenicIds = []" primary/>
                                </mu-flexbox-item>
                            </mu-flexbox>
                            <mu-flexbox orient="vertical">
                                <mu-flexbox-item order="0" v-for="area in locationsArr" :key="area.id">
                                    <mu-checkbox :nativeValue="area.id.toString()" class="filter-checkbox" v-model="filterData.scenicIds" :label="langStr === 'cn' && area.name_full ? area.name_full : area.name"/>
                                </mu-flexbox-item>
                            </mu-flexbox>

                            <mu-flat-button :label="labelLoca[langStr]" class="btn-more text-warning" labelPosition="before" :icon="iconMoreLoca" @click="showMoreLoca()"/>
                        </div>

                        <!--7.universities-->
                        <div class="m-b-20" v-if="universitiesArr.length > 0">
                            <div class="line"></div>
                            <mu-flexbox :gutter="0" nowrap>
                                <mu-flexbox-item grow="3">
                                    <div class="text-primary title-3">{{langFilterPopup.universities[langStr]}}
                                    </div>
                                </mu-flexbox-item>
                                <mu-flexbox-item class="text-right">
                                    <mu-raised-button :label="langFilterPopup.reset[langStr]" class="btn-reset" @click="filterData.scenicIds = []" primary/>
                                </mu-flexbox-item>
                            </mu-flexbox>
                            <mu-flexbox orient="vertical">
                                <mu-flexbox-item order="0" v-for="area in universitiesArr" :key="area.id">
                                    <mu-checkbox :nativeValue="area.id.toString()" class="filter-checkbox" v-model="filterData.scenicIds" :label="langStr === 'cn' && area.name_full ? area.name_full : area.name"/>
                                </mu-flexbox-item>
                            </mu-flexbox>

                            <mu-flat-button :label="labelUni[langStr]" class="btn-more text-warning" labelPosition="before" :icon="iconMoreUni" @click="showMoreUni()"/>
                        </div>

                        <!--8.chain-->
                        <div class="m-b-20" v-if="hotelChains.length > 0">
                            <div class="line"></div>
                            <mu-flexbox :gutter="0" nowrap>
                                <mu-flexbox-item grow="3">
                                    <div class="text-primary title-3">{{langFilterPopup.chain[langStr]}}
                                    </div>
                                </mu-flexbox-item>
                                <mu-flexbox-item class="text-right">
                                    <mu-raised-button :label="langFilterPopup.reset[langStr]" class="btn-reset" @click="chainNamesArr = []" primary/>
                                </mu-flexbox-item>
                            </mu-flexbox>
                            <mu-flexbox orient="vertical">
                                <mu-flexbox-item order="0" v-for="(chain, index) in displayHotelChains" :key="index">
                                    <mu-checkbox :nativeValue="langStr === 'cn' && chain.name_zh ? chain.name_zh : chain.name" class="filter-checkbox" v-model="chainNamesArr" :label="(langStr === 'cn' && chain.name_zh ? chain.name_zh + ' (' + chain.name + ')' : chain.name) + ' (' + chain.count + ')'"/>
                                </mu-flexbox-item>
                            </mu-flexbox>

                            <mu-flat-button :label="labelChain[langStr]" class="btn-more text-warning" labelPosition="before" :icon="iconMoreChain" @click="showMoreChains()"/>
                        </div>

                        <!--/other filters-->
                    </mu-col>
                </div>
            </mu-row>
            <!--submit button-->
            <div class="float-button">
                <mu-raised-button :label="langFilterPopup.applyBtn[langStr]" class="btn-block" @click="applyFilter"/>
            </div>
        </mu-popup>
        <!--/end popup-->
    </div>
</template>

<script>
    import langFilterPopup from '../lang/list-filter-popup' // lang file
    window.labelMore = {
        'cn': '更多筛选',
        'tw': '更多篩選',
        'en': 'More Filter',
    };
    window.labelLess = {
          'cn': '收起筛选',
          'tw': '收起篩選',
          'en': 'Less Filter',
      };
    window.iconArrowDown = ':fa fa-chevron-down';
    window.iconArrowUp = ':fa fa-chevron-up';
    export default {
        props: [
            'isPopOpen',
            'rating',
            'price',
            'keyword',
            'scenicIds',
            'scenicNames',
            'airports',
            'districts',
            'zones',
            'locations',
            'universities',
            'hotelChains',
            'chainNames',
        ],
        data () {
            return {
                ratingAll: [
                    {id: '5', name: {'cn': '5星级', 'tw': '5星級', 'en': '5 Stars'}, star: 5},
                    {id: '4', name: {'cn': '4星级', 'tw': '4星級', 'en': '4 Stars'}, star: 4},
                    {id: '3', name: {'cn': '3星级', 'tw': '3星級', 'en': '3 Stars'}, star: 3},
                    {id: '2', name: {'cn': '2星级', 'tw': '2星級', 'en': '2 Stars'}, star: 2},
                    {id: '1', name: {'cn': '1星级', 'tw': '1星級', 'en': '1 Stars'}, star: 1},
                ],
                priceAll: [
                    {id: '5', name: {'cn': '300以上', 'tw': '300以上', 'en': '300 +'}, price: 5},
                    {id: '4', name: {'cn': '200-299', 'tw': '200-299', 'en': '‌200-299'}, price: 4},
                    {id: '3', name: {'cn': '‌125-199', 'tw': '‌125-199', 'en': '‌125-199'}, price: 3},
                    {id: '2', name: {'cn': '75-124', 'tw': '75-124', 'en': '75-124'}, price: 2},
                    {id: '1', name: {'cn': '75以下', 'tw': '75以下', 'en': '‌Less Than 75'}, price: 1},
                ],
                airportsArr: [],

                districtsArr: [],
                districtsLessArr: [],
                showDistrictsArr: [],

                zonesArr: [],
                zonesLessArr: [],
                showZonesArr: [],

                locationsArr: [],
                locationsLessArr: [],
                showLocationsArr: [],

                universitiesArr: [],
                universitiesLessArr: [],
                showUniversitiesArr: [],

                scenicNamesArr: [],

                desName: this.keyword,
                filterData: {
                    rating: this.rating.length === 6 ? [] : this.rating,
                    price: this.price,
                    scenicIds: this.scenicIds,
                },
                labelFilter: labelFilterText,
                langFilterPopup: langFilterPopup,

                labelMore: window.labelMore,
                labelLess: window.labelLess,
                labelDis: window.labelMore,
                labelLoca: window.labelMore,
                labelZone: window.labelMore,
                labelUni: window.labelMore,
                labelChain:window.labelMore,

                iconMoreDis: window.iconArrowDown,
                iconMoreZone: window.iconArrowDown,
                iconMoreLoca: window.iconArrowDown,
                iconMoreUni: window.iconArrowDown,
                iconMoreChain: window.iconArrowDown,

                chainNamesArr: this.chainNames,
                displayHotelChains: this.hotelChains.slice(0, 5),
            }
        },
        methods: {
            setPopupClose () {
                this.$emit('setfilterpopup', false)
            },
            clearFilters () {
                // init all data
                this.desName = ''
                this.filterData.rating = []
                this.filterData.price = []
                this.filterData.scenicIds = []
                this.scenicNamesArr = []
                this.chainNamesArr = []
            },
            formatFilters () {
                let price = this.filterData.price;
                price = price.sort(function (a, b) {
                    return a - b
                });

                price = price.map(Number);

                let min = price[0]
                let max = price[price.length - 1]
                for (let i = Number(min) + 1; i < max; i++) {
                    price.push(i)
                }

                this.filterData['price'] = price;

                this.filterData['rating'] = (typeof this.filterData.rating) === 'string' ? (this.filterData.rating.split(',')).map(Number) : this.filterData.rating.map(Number);

                this.filterData['scenicIds'] = (typeof this.filterData.scenicIds) === 'string' ? (this.filterData.scenicIds.split(',')).map(Number) : this.filterData.scenicIds.map(Number);

                this.filterData['keyword'] = this.desName;
                this.filterData['chainNames'] = this.chainNamesArr;
            },
            applyFilter: function () {
                this.formatFilters()

                this.$emit('apply-filters', this.filterData)
                this.setPopupClose()
            },
            showMoreDis: function () {
                if (this.showDistrictsArr === this.districtsArr) {
                    this.showDistrictsArr = this.districtsLessArr
                    this.labelDis = this.labelMore
                    this.iconMoreDis = window.iconArrowDown
                } else {
                    this.showDistrictsArr = this.districtsArr
                    this.labelDis = this.labelLess
                    this.iconMoreDis = window.iconArrowUp
                }
            },
            showMoreZone: function () {
                if (this.showZonesArr === this.zonesArr) {
                    this.showZonesArr = this.zonesLessArr
                    this.labelZone = this.labelMore
                    this.iconMoreZone = window.iconArrowDown
                } else {
                    this.showZonesArr = this.zonesArr
                    this.labelZone = this.labelLess
                    this.iconMoreZone = window.iconArrowUp
                }
            },
            showMoreLoca: function () {
                if (this.showLocationsArr === this.locationsArr) {
                    this.showLocationsArr = this.locationsLessArr
                    this.labelLoca = this.labelMore
                    this.iconMoreLoca = window.iconArrowDown
                } else {
                    this.showLocationsArr = this.locationsArr
                    this.labelLoca = this.labelLess
                    this.iconMoreLoca = window.iconArrowUp
                }
            },
            showMoreUni: function () {
                if (this.showUniversitiesArr === this.universitiesArr) {
                    this.showUniversitiesArr = this.universitiesLessArr
                    this.labelUni = this.labelMore
                    this.iconMoreUni = window.iconArrowDown
                } else {
                    this.showUniversitiesArr = this.universitiesArr
                    this.labelUni = this.labelLess
                    this.iconMoreUni = window.iconArrowUp
                }
            },
            showMoreChains () {
                if (this.displayHotelChains.length < this.hotelChains.length) {
                    this.displayHotelChains = this.hotelChains
                    this.labelChain = this.labelLess
                    this.iconMoreChain =  window.iconArrowUp
                } else {
                    this.displayHotelChains = this.hotelChains.slice(0, 5)
                    this.labelChain = this.labelMore;
                    this.iconMoreChain = window.iconArrowDown
                }
            },
        },
        watch: {
            airports (val) {
                this.airportsArr = val
            },
            districts (val) {
                this.districtsArr = val
                this.districtsLessArr = this.districtsArr.slice(0, 5)
                this.showDistrictsArr = this.districtsLessArr
            },
            zones (val) {
                this.zonesArr = val
                this.zonesLessArr = this.zonesArr.slice(0, 5)
                this.showZonesArr = this.zonesLessArr
            },
            locations (val) {
                this.locationsArr = val
                this.locationsLessArr = this.locationsArr.slice(0, 5)
                this.showLocationsArr = this.locationsLessArr
            },
            universities (val) {
                this.universitiesArr = val
                this.universitiesLessArr = this.universitiesArr.slice(0, 5)
                this.showUniversitiesArr = this.universitiesLessArr
            },
            scenicNames (val) {
                this.scenicNamesArr = val
            },
            hotelChains (val) {
                this.hotelChains = val;
                this.displayHotelChains = val.slice(0, 5);
            }
        },
    }
</script>

<style lang="scss">
    .filter-popup-left {
        display: flex;
        width: 96vw;
        height: 88vh;
        margin-left: 2vw;
        align-items: left;
        justify-content: left;
        -webkit-overflow-scrolling: touch;
    }

    .search-input .mu-text-field-content {
        background-color: rgb(223, 234, 244);
        .mu-text-field-input {
            padding-left: 10px;
            border-bottom-left-radius: 3px;
            border-top-left-radius: 3px;
        }
        .mu-text-field-hint {
            color: rgb(167, 169, 171);
            padding-left: 10px;
        }
    }

    .focus-state {
        .mu-text-field-content {
            background-color: white;
            .mu-text-field-input {
                color: #ea8523;
            }

        }
    }

    .float-button {
        button {
            background-color: rgb(234, 133, 35);
            color: white;
            height: 46px;
            font-size: 16px;
            z-index: 20141241;
            border-radius:25px;
        }
        position: fixed;
        bottom: 0;
        left: 8vw;
        border-radius: 3px;
        width: 80vw;
        height: 8vh;
    }

    .btn-reset {
        background-color: rgb(234, 133, 35);
        font-size: 12px !important;
        height: 25px;
    }

    .text-rating {
        position: relative;
        display: inline-block;
        height: 24px;
        line-height: 24px;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .filter-checkbox, .text-rating {
        float: left;
    }

    .star-color {
        color: #e4393c;
    }

    .filters-block {
        /* flex: 1 auto; */
        overflow-x: hidden;
        overflow-y: scroll;
        white-space: nowrap;
        height: 72vh;
        width: 100vw;
        margin-bottom: 100px;
    }

    .mu-flexbox {
        width: 90vw;
    }

    .line {
        border-bottom: rgba(0, 0, 0, 0.1) 1px solid;
        width: 88vw;
        margin-left: 3vw;
        height: 1px;
        margin-bottom: 2vh;
    }

    .icon-left-filter {
        padding: 6px 0 !important;
        border-bottom: #dfeaf4 1px solid;
    }

    .btn-more {
        margin-top: 9px;
        margin-bottom: -8px;
    }
    .mu-flat-button-label{
        padding-left:0!important;
        padding-right:0!important;
    }
    .filters-block-content{
        padding: 0 10px;
    }
</style>
