<template>
    <transition name="modal">
        <div class="modal-mask">
            <div class="modal-wrapper">
                <div class="modal-container">

                    <div class="modal-header">
                        <slot name="header">
                        </slot>
                    </div>

                    <div class="modal-body">
                        <slot name="body">
                        </slot>
                    </div>

                    <div class="modal-footer">
                        <slot name="footer">
                            <mu-raised-button class="modal-button-cancel" :label="cancelLabel" @click="$emit('cancel-action')" :disabled="disableCancelBtn">
                            </mu-raised-button>
                            <mu-raised-button class="modal-button-confirm" :label="confirmLabel" @click="$emit('confirm-action')" primary :disabled="disableConfirmBtn">
                            </mu-raised-button>
                        </slot>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</template>

<script>
    export default {
        props: {
            cancelLabel: String,
            confirmLabel: String,
            disableConfirmBtn: {
                default: false
            },
            disableCancelBtn: {
                default: false
            }
        }
    }
</script>

<style lang="scss">
    .modal-mask {
        position: fixed;
        z-index: 9998;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        display: table;
        transition: opacity .3s ease;
    }

    .modal-wrapper {
        display: table-cell;
        vertical-align: middle;
    }

    .modal-container {
        width: 300px;
        margin: 0px auto;
        padding: 20px 30px;
        background-color: #fff;
        border-radius: 2px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
        transition: all .3s ease;
    }

    .modal-header h3 {
        margin-top: 0;
        color: #42b983;
    }

    .modal-body {
        margin: 20px 0;
    }

    .modal-footer {
        text-align: center;
    }

    .modal-button-cancel {
        margin-right: 20px;
    }

</style>