<template>
    <div>
        <mu-popup position="top" popupClass="order-popup-top" :overlay="true" :open="isPopOpen" @close="setPopupClose">
            <mu-row gutter>
                <!--nav-->
                <mu-col width="100" tablet="100" desktop="100" class="icon-right">
                    <mu-flat-button :label="orderLabels.close" labelPosition="before" icon=":fa fa-times" @click="setPopupClose"/>
                </mu-col>

                <mu-col width="100" tablet="100" desktop="100">
                    <mu-list :value="currentOrder" @change="setOrder">
                        <mu-list-item :title="orderLabels.discount" :value="0"></mu-list-item>
                        <mu-divider/>
                        <mu-list-item :title="orderLabels.distance + orderLabels.near" :value="1"></mu-list-item>
                        <mu-divider/>
                        <mu-list-item :title="orderLabels.minPrice + orderLabels.low" :value="4"></mu-list-item>
                        <mu-divider/>
                        <mu-list-item :title="orderLabels.minPrice + orderLabels.high" :value="5"></mu-list-item>
                        <mu-divider/>
                        <mu-list-item :title="orderLabels.rating + orderLabels.low" :value="6"></mu-list-item>
                        <mu-divider/>
                        <mu-list-item :title="orderLabels.rating + orderLabels.high" :value="7"></mu-list-item>
                        <mu-divider/>
                        <mu-list-item :title="orderLabels.name + '(A to Z)'" :value="2"></mu-list-item>
                        <mu-divider/>
                        <mu-list-item :title="orderLabels.name + '(Z to A)'" :value="3"></mu-list-item>
                        <mu-divider/>
                    </mu-list>
                </mu-col>
            </mu-row>
        </mu-popup>
        <!--/end popup-->
    </div>
</template>

<script>
    export default {
        props: [
            'isPopOpen',
            'sort',
            'orderBy',
            'orderLabels'
        ],
        data () {
            return {
                currentOrder: 0,
                orderObjs: [
                    {orderBy: 'discount', sort: 'asc'},
                    {orderBy: 'distance', sort: 'asc'},
                    {orderBy: 'name', sort: 'asc'},
                    {orderBy: 'name', sort: 'desc'},
                    {orderBy: 'minPrice', sort: 'asc'},
                    {orderBy: 'minPrice', sort: 'desc'},
                    {orderBy: 'rating', sort: 'asc'},
                    {orderBy: 'rating', sort: 'desc'},
                ],
            }
        },
        mounted () {
            for (let i = 0; i < this.orderObjs.length; i++) {
                let orderObj = this.orderObjs[i]
                if (orderObj.sort === this.sort && orderObj.orderBy === this.orderBy) {
                    this.currentOrder = i
                }
            }
        },
        methods: {
            setPopupClose () {
                this.$emit('setpopup', false)
            },
            setOrder (val) {
                this.currentOrder = val
                let orderObj = this.orderObjs[val]
                this.$emit('set-order', {sort: orderObj.sort, orderBy: orderObj.orderBy})
                this.setPopupClose()
            },
        },
    }
</script>

<style lang="scss">
    .order-popup-top {
        display: flex;
        width: 100%;
        padding: 0;
        justify-content: left;
        .mu-list {
            padding: 0;
        }
    }
    .row {
        min-width: 100%;
    }
    .mu-item-title {
        text-align: left;
    }
    .list-item-active {
        background-color: rgb(76, 142, 203);
        .mu-item, .mu-icon {
            color: white;
        }
    }
</style>