<template>
    <transition name="processing">
            <div class="modal-mask"><img src="/img/general/loading-spinner.gif" class="icon"></div>
    </transition>
</template>

<script>
  export default {
    props: {

    }
  }
</script>

<style lang="scss">
    .modal-mask {
        position: fixed;
        z-index: 100 !important;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        display: table;
        transition: opacity .3s ease;
    }
    .icon{
        display:table;
        margin:auto;
        padding-top:25vh;
    }
</style>