<template>
    <mu-card class="roomItem m-b-20">
        <mu-row gutter>
            <!--room pic-->
            <mu-col width="100" tablet="50" desktop="50" class="room-img-wrapper">
                <div v-if="room.extraInfo && room.extraInfo.room_images && room.extraInfo.room_images.length > 0" :style="{ 'background-image': 'url(' + (imgPath + room.extraInfo.room_images[0]['url']) + ')' }" class="room-img" @click="showDialog"></div>
                <div v-else-if="room.roomImgs && room.roomImgs.length > 0" :style="{ 'background-image': 'url(' + (room.roomImgs[0]) + ')' }" class="room-img"></div>
                <div v-else :style="{ 'background-image': 'url(' + defaultPic + ')'}" class="room-img"></div>
                <div class="icon-more-pic" @click="showDialog" v-if="room.extraInfo && room.extraInfo.room_images && room.extraInfo.room_images.length > 1">
                    <i class="fa fa-image"></i> {{langRoomItem.imageMore[langStr]}}
                </div>
            </mu-col>

            <!--room name and more info-->
            <mu-col width="100" tablet="50" desktop="50" class="room-title-block">
                <mu-content-block>
                    <div :class="['room-name', {'bottom-line': hasDialog}]" @click="showDialog">
                        {{room.name}}<span v-if="room.name_zh && langStr ==='cn'"> {{room.name_zh}}</span>
                    </div>
                    <div class="room-bedType" v-if="room.bedType">
                        {{room.bedType}}
                    </div>
                    <button class="room-info-more" ref="button" v-show="room.extraInfo" @click="openMore = !openMore">
                        <i></i>{{ langRoomItem.viewMore[langStr] }}
                    </button>
                    <mu-popover :trigger="trigger" :open="openMore" popoverClass="room-info-popover" :auto-position="false" :anchor-origin="popoverAnchorOrigin" :target-origin="popoverTargetOrigin"
                            @close="openMore = false" @show="adjustPosition">
                        <div v-if="facilitiesNew" class="facility-small">
                            <span v-for="(value, key, index) in facilitiesNew" class="room-facility facility-item">
                                <i :class="['facility-icon', 'facility-icon-'+key]"></i>{{value}}
                            </span>
                        </div>
                        <div v-if="facilitiesMore">
                            <span v-for="(value, index) in facilitiesMore" class="room-facility-more">{{value}}</span>
                        </div>
                    </mu-popover>
                </mu-content-block>
            </mu-col>

            <!--room facilities and order btn -->
            <mu-col width="56" tablet="56" desktop="56">
                <mu-content-block>
                    <div class="show-icons" v-if="room.rateClass === '可取消' && room.cancellationPolicies[0].amount === 0">
                        <i class="fa fa-check"></i> {{langRoomItem.freeCan[langStr]}}
                    </div>
                    <div class="cancel-date" v-if="room.rateClass === '可取消'">
                        {{langRoomItem.until[langStr]}}: {{room.cancellationPolicies[0].end.substring(0, 10)}}
                    </div>
                    <div class="show-icons" v-else>
                        <i class="fa fa-check"></i> {{langRoomItem.perBook[langStr]}}
                    </div>
                    <div v-if="showFacilities.parking" class="show-icons"><i class="fa fa-parking"></i> {{langRoomItem.freeParking[langStr]}}</div>
                    <div v-if="showFacilities.wifi" class="show-icons"><i class="fa fa-wifi"></i> {{langRoomItem.freeWiFi[langStr]}}<br></div>
                    <div v-if="showFacilities.breakfast" class="show-icons"><i class="fa fa-coffee"></i> {{langRoomItem.freeBreakfast[langStr]}}<br></div>
                    <div v-if="showFacilities.otherbreakfast !== ''" class="show-icons"><i class="fa fa-coffee"></i>{{showFacilities.otherbreakfast}}<br></div>
                    <div v-if="showFacilities.allInclusive" class="show-icons"><i class="fa fa-check"></i> {{langRoomItem.allInclusive[langStr]}}<br></div>
                    <div class="show-icons"><i class="fa fa-check"></i> {{langRoomItem.noFees[langStr]}}</div>
                    <div class="show-icons"><i class="fa fa-check"></i> {{langRoomItem.confirmNow[langStr]}}</div>
                </mu-content-block>
            </mu-col>

            <mu-col width="40" tablet="40" desktop="40">
                <mu-content-block class="order-content">
                    <div v-if="room.beforeTax !== 0">
                        <span class="room-price">
                            <span v-if="room.currency === 'USD'">$</span>
                            <span v-else>{{room.currency}}</span>
                            {{room.beforeTax}}
                        </span> / {{langRoomItem.perPrice[langStr]}}
                    </div>
                    <div v-else>
                        <span class="room-price">N/A</span>
                    </div>
                    <div v-if="is117book" class="inTwoMins">({{langRoomItem.taxIncluded[langStr]}})</div>
                    <div v-if="room.mandatoryFees && room.mandatoryFees !== 0" class="label-resort-fee">
                        <span v-html="langRoomItem.excludeResortFee[langStr]"></span><br> {{room.currency}} {{(room.mandatoryFees/dayCount/roomNum).toFixed(2)}}
                    </div>
                    <div class="inTwoMins">{{langRoomItem.inTwoMins[langStr]}}</div>
                    <mu-raised-button v-if="room.status && room.status.toLowerCase() === 'oos'" class="sold-out-btn">{{langRoomItem.soldOut[langStr]}}</mu-raised-button>
                    <mu-raised-button v-else-if="isAd" targer="_black"  href="/logoutToRegister">register</mu-raised-button>
                    <mu-raised-button v-else :label="bookLabel" class="btn-submit" primary @click.prevent="addRoomToCart" :disabled="disableBtn"/>
                </mu-content-block>
            </mu-col>
        </mu-row>
    </mu-card>
</template>

<script>
    import langRoomItem from '../lang/room-item'; // lang file
    export default {
        props: [
            'room', 'facilities',
            'hotelId', 'hotelName', 'roomNum', 'seeProvider', 'sessionKey',
            'reorderid', 'isApi', 'isAd','params', 'dayCount', 'imgPath',
        ],
        data () {
            return {
                langRoomItem: langRoomItem,
                facilitiesAll: [],
                reserve: {'cn': '预订', 'tw': '預訂', 'en': 'Reserve'},
                defaultPic: '/img/room-images/default_room_image_' + Math.floor(Math.random() * 45) + '.jpg',
                showFacilities: {
                    parking: false,
                    wifi: false,
                    breakfast: false,
                    otherbreakfast: '',
                    allInclusive: false
                },
                disableBtn: false,
                trigger: null,
                openMore: false,
                popoverAnchorOrigin: {"vertical":"bottom","horizontal":"right"},
                popoverTargetOrigin: {"vertical":"top","horizontal":"right"},
                hasDialog: this.room.extraInfo && this.room.extraInfo.room_images && this.room.extraInfo.room_images.length > 1,
                facilitiesNew: [],
                facilitiesMore: []
            }
        },
        mounted () {
            let self = this;
            self.facilitiesAll = this.facilities;
            if (self.facilitiesAll.length > 0) {
                $.each(self.facilitiesAll, function (value, key) {
                    if (key.title && key.title.toLowerCase().indexOf('free') > -1 && key.title.toLowerCase().indexOf('parking') > -1) {
                        self.showFacilities.parking = true
                    }
                    if (key.title && key.title.toLowerCase().indexOf('free') > -1 && key.title.toLowerCase().indexOf('wifi') > -1) {
                        self.showFacilities.wifi = true
                    }
                });
            }
            // breakfast
            if ((self.room.boardName && self.room.boardName.toLowerCase().indexOf('free') > -1 &&
                self.room.boardName.toLowerCase().indexOf('breakfast') > -1) || (self.hotelName.toLowerCase().indexOf('all') > -1 && self.hotelName.toLowerCase().indexOf('inclusive') > -1) || (self.room.boardName.indexOf('含早') > -1 && self.room.boardName.indexOf('不含早') <= -1)) {
                self.showFacilities.breakfast = true
            }else if(self.room.boardName.toLowerCase().indexOf('breakfast') > -1 || self.hotelName.toLowerCase().indexOf('inclusion') > -1 ){
                self.showFacilities.otherbreakfast = (self.room.boardName.charAt(0).toUpperCase() +
                    self.room.boardName.toLowerCase().slice(1)).replace('breakfast','Breakfast');
            }
            // all inclusive
            if (self.hotelName.toLowerCase().indexOf('all') > -1 && self.hotelName.toLowerCase().indexOf('inclusive') > -1) {
                self.showFacilities.allInclusive = true
            }
            if (this.room.beforeTax === 0) {
                this.disableBtn = true;
            }

            this.trigger = this.$refs.button;

            if (this.room.extraInfo && this.room.extraInfo.facilities) {
                this.facilitiesNew = $.parseJSON(this.langStr === 'cn' && this.room.extraInfo.facilities_zh ? this.room.extraInfo.facilities_zh : this.room.extraInfo.facilities);
            }
            if (this.room.extraInfo && this.room.extraInfo.more) {
                this.facilitiesMore = this.langStr === 'cn' && this.room.extraInfo.more_zh ? this.room.extraInfo.more_zh : this.room.extraInfo.more;
            }
        },
        computed: {
            bookLabel () {
                // if it's can see provider, show provider
                if (this.seeProvider) {
                    return this.reserve[this.langStr] + ' (' + this.room.roomReference.substr(0, 2).replace(':', '') + ')';
                } else {
                    return this.reserve[this.langStr];
                }
            },
            bookLink () {
                var bookLink = '/book/' + this.hotelId + '/' + encodeURIComponent(this.room.roomReference) + '?s=' + this.sessionKey + '&' + this.params;

                if (this.reorderid) {
                    bookLink += '&Reorderid=' + this.reorderid;
                }
                if (window.location.href.indexOf("hotel/missed/reorder") > -1) {
                    bookLink += '&type=missedOrder';
                }

                return bookLink;
            }
        },
        methods: {
            addRoomToCart () {
                // report book conversion
                if (shouldTrack) {
                    gtag_report_conversion_book();
                }

                let self = this;
                self.disableBtn = true;
                self.reserve = {'cn': '预订中...', 'tw': '預訂中...', 'en': 'Booking...'};
                var anaData = {
                    'id': this.hotelId,
                    'name': this.hotelName,
                    'variant': this.room.name,
                    'brand': this.room.roomReference.substr(0, 1),
                    'price': this.room.netPrice,
                    'qty': this.roomNum
                };

                addProductToCart(anaData);
                // onCheckoutBegin(anaData);

                window.location.href = this.bookLink
            },
            adjustPosition() {
                //adjust room info popover to fit the position
                let offset = $('.room-info-popover').offset();
                $('.room-info-popover').offset({top: offset.top + 10, right: 10});
            },
            showDialog() {
                this.$emit('show-dialog', true, this.room);
            }
        }
    }
</script>

<style lang="scss">
    @import "../../../sass/includes/colors";
    .roomItem {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }
    .room-title-block {
        border-bottom: 1px solid #dee2e6;
        padding-bottom: 15px;
    }
    .room-name {
        color: #484848;
        &.bottom-line {
            text-decoration: underline;
            color: $usitrip-bright;
        }
    }
    .sold-out-btn {
        background-color: #848484;
        color: #fff;
    }
    .room-img {
        display: block;
        height: 110px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        &-wrapper {
            position: relative;
        }
    }
    .show-icons {
        color: #636464;
        font-weight: normal;
    }
    .show-icons .fa {
        font-size: 12px;
        vertical-align: text-bottom;
        margin-right: 6px;
        color: #e4393c;
    }
    .show-icons, .cancel-date {
        font-size: 12px;
    }
    .cancel-date {
        color: #aaa;
        margin-left: 24px;
    }
    .label-resort-fee {
        color: #aaa;
        font-size: 12px;
    }
    .inTwoMins {
        color: #636363;
        font-size: 12px !important;
    }
    .order-content {
        text-align: right;
        color: #333;
    }
    .btn-submit {
        margin-top: 8px;
        margin-bottom: 8px;
        padding: 10px;
        background-color: rgb(234, 133, 35);
        color: white;
        font-size: 18px;
        white-space: nowrap;
        max-width: 100%;
    }
    .room-bedType {
        display: inline-block;
    }
    .room-info-more {
        float: right;
        border: none;
        outline: none;
        background: transparent;
        i {
            display: inline-block;
            vertical-align: middle;
            margin-right: 5px;
            background: url('/img/spriteImgs/hotel-2-icons.png') no-repeat -366px -107px;
            width: 22px;
            height: 22px;
        }
    }
    .room-info-popover {
        width: 90%;
        right: 10px !important;
        padding: 20px;
        border: 1px solid $usitrip-grey;
        &:before {
            content: '';
            width: 25px;
            height: 25px;
            background: #fff;
            border-top: 1px solid $usitrip-grey;
            border-left: 1px solid $usitrip-grey;
            transform: rotate(45deg);
            position: absolute;
            top: -13px;
            right: 20px;
        }
        .room-facility {
            display: inline-block;
            width: 50%;
            margin-bottom: 15px;
            vertical-align: top;
            .facility-icon {
                width: 40px;
            }
            &-more {
                display: inline-block;
                margin-right: 10px;
                position: relative;
                padding-left: 15px;
                &:before {
                    content: '.';
                    display: block;
                    position: absolute;
                    left: 0;
                    color: $usitrip-bright;
                }
            }
        }
    }
</style>
