<template>
    <mu-dialog :open="dialogOpen" :scrollable="true" dialog-class="room-dialog" body-class="room-dialog-body" @close="hideDialog">
        <div v-if="room && room.extraInfo">
            <div class="room-dialog-close" @click="hideDialog">
                <i class="fa fa-times-circle"></i>
            </div>
            <!--name and main facility-->
            <div class="room-dialog-content">
                <h5 class="room-name">{{room.name}}</h5>
                <div v-if="facilities" class="facility-small">
                    <span v-for="(value, key, index) in facilities" class="room-facility facility-item">
                        <i :class="['facility-icon', 'facility-icon-' + key]"></i>{{value}}
                    </span>
                </div>
            </div>
            <!--images-->
            <div class="room-dialog-images" v-if="room.extraInfo.room_images">
                <div v-for="(url, index) in room.extraInfo.room_images" class="room-dialog-image">
                    <img :src="imgPath + url['url']" :alt="room.name">
                    <span class="room-dialog-image-index">{{ index+1 }}/{{ room.extraInfo.room_images.length }}</span>
                </div>
            </div>
            <!--room description-->
            <div class="room-dialog-content">
                <div class="room-dialog-desc" v-if="description">{{ description }}</div>
                <button class="room-dialog-desc-more toggler hidden" @click="toggleMoreDesc">Show more description...</button>
            </div>
            <!--room details-->
            <div class="room-dialog-content">
                <div class="room-bedType" v-if="room.bedType">{{room.bedType}}</div>
                <div class="room-size" v-if="room.extraInfo && room.extraInfo.size">Room size: {{room.extraInfo.size}}</div>
            </div>
            <!--searched params-->
            <div class="room-dialog-content">
                <div class="search-params search-params-1">
                    <p class="search-params-paxes">You searched: {{searchData.adultCount1}} adults, {{searchData.childCount1}} {{searchData.childCount1 > 1 ? 'children' : 'child'}}, {{searchData.dayCount}} nights</p>
                    <button class="search-params-editor" @click="openSearch">Edit</button>
                </div>
                <div class="search-params search-params-2">
                    <mu-row>
                        <mu-col width="50" tablet="50" desktop="50" class="search-params-date">
                            <p class="date-label">Check-in</p>
                            <p class="date-value">{{searchData.checkin}}</p>
                        </mu-col>
                        <mu-col width="50" tablet="50" desktop="50" class="search-params-date">
                            <p class="date-label">Check-out</p>
                            <p class="date-value">{{searchData.checkout}}</p>
                        </mu-col>
                    </mu-row>
                </div>
            </div>
            <!--room facilities-->
            <div class="room-dialog-content room-dialog-facilities">
                <h5 class="room-facilities-title">Details & Facilities</h5>
                <p v-if="room.extraInfo && room.extraInfo.size">Room size: {{room.extraInfo.size}}</p>
                <p v-if="room.bedType">Bed: {{room.bedType}}</p>
                <div class="room-facilities-list">
                    <div v-if="facilitiesMore">
                        <span v-for="(value, index) in facilitiesMore" class="room-facilities-item">{{value}}</span>
                    </div>
                </div>
                <button class="room-facilities-more toggler hidden" @click="toggleMoreFacility">Show more</button>
            </div>
        </div>
    </mu-dialog>
</template>

<script>
    export default {
        props: ['room', 'dialogOpen', 'searchData', 'imgPath'],
        data() {
            return {
                description: '',
                facilities: [],
                facilitiesMore: []
            }
        },
        mounted() {
        },
        methods: {
            hideDialog() {
                this.$emit('toggle-dialog', false);
            },
            toggleMoreDesc() {
                let $roomDesc = $('.room-dialog-desc');
                $roomDesc.toggleClass('collapsed');
                if ($roomDesc.hasClass('collapsed')) {
                    $('.room-dialog-desc-more').text('Show more desciption...');
                } else {
                    $('.room-dialog-desc-more').text('Show less');
                }
            },
            toggleMoreFacility() {
                let $roomFacility = $('.room-facilities-list');
                $roomFacility.toggleClass('collapsed');
                if ($roomFacility.hasClass('collapsed')) {
                    $('.room-facilities-more').text('Show more');
                } else {
                    $('.room-facilities-more').text('Show less');
                }
            },
            openSearch() {
                this.$emit('toggle-dialog', false);
                this.$emit('open-search', true);
            }
        },
        watch: {
            room(val) {
                if (val && val.extraInfo) {
                    if (val.extraInfo.description) {
                        this.description = this.langStr === 'cn' && val.extraInfo.description_zh ? val.extraInfo.description_zh : val.extraInfo.description;
                    }
                    if (val.extraInfo.facilities) {
                        this.facilities = $.parseJSON(this.langStr === 'cn' && val.extraInfo.facilities_zh ? val.extraInfo.facilities_zh : val.extraInfo.facilities);
                    }
                    if (val.extraInfo.more) {
                        this.facilitiesMore = this.langStr === 'cn' && val.extraInfo.more_zh ? val.extraInfo.more_zh : val.extraInfo.more;
                    }
                }
            },
            dialogOpen(val) {
                if (val) {
                    setTimeout(function () {
                        $('.room-dialog-images').slick({
                            autoPlay: true
                        });

                        let $roomDesc = $('.room-dialog-desc');
                        if ($roomDesc.height() > 65) {
                            $roomDesc.addClass('collapsed');
                            $('.room-dialog-desc-more').removeClass('hidden');
                        }

                        let $roomFacility = $('.room-facilities-list');
                        if ($roomFacility.height() > 85) {
                            $roomFacility.addClass('collapsed');
                            $('.room-facilities-more').removeClass('hidden');
                        }
                    }, 200)
                }
            }
        }
    }
</script>

<style lang="scss">
    @import "../../../sass/includes/colors";
    .room-dialog {
        max-height: 80vh;
        width: 90vw;
        .toggler {
            border: none;
            outline: none;
            background: none;
            color: $usitour-blue;
            padding: 0;
            &.hidden {
                display: none;
            }
        }
        &-body {
            padding: 0;
        }
        &-close {
            text-align: right;
            padding: 5px 10px 5px 0;
            i {
                font-size: 24px;
            }
        }
        &-content {
            padding: 20px 12px;
            border-top: 1px solid $usitrip-grey;
        }
        .room-name {
            margin: 0 0 12px 0;
            font-size: 18px;
        }
        .room-facility {
            width: 50%;
            display: inline-block;
            vertical-align: top;
            font-size: 14px;
            margin-bottom: 7px;
            .facility-icon {
                width: 40px;
            }
        }
        &-images {
            img {
                width: 100%;
                height: 4rem;
            }
        }
        &-image {
            position: relative;
            &-index {
                position: absolute;
                right: 10px;
                bottom: 10px;
                background: $usitrip-dark;
                color: #fff;
                padding: 4px;
            }
        }
        &-desc {
            font-size: 14px;
            &.collapsed {
                max-height: 65px;
                overflow: hidden;
            }
        }
        .search-params {
            font-size: 14px;
            p {
                margin: 0;
            }
            &-1 {
                margin-bottom: 20px;
            }
            &-paxes {
                display: inline-block;
            }
            &-editor {
                border: none;
                outline: none;
                background: transparent;
                color: $usitour-blue;
                display: inline-block;
                float: right;
            }
            &-date {
                text-align: center;
                .date-label {
                    font-size: 13px;
                }
                .date-value {
                    font-size: 16px;
                }
            }
        }
        &-facilities {
            font-size: 14px;
            p {
                margin: 10px 0;
            }
            .room-facilities {
                &-title {
                    font-size: 18px;
                    margin: 0;
                }
                &-list {
                    &.collapsed {
                        max-height: 85px;
                        overflow: hidden;
                    }
                }
                &-item {
                    display: inline-block;
                    position: relative;
                    padding-left: 20px;
                    width: 50%;
                    vertical-align: top;
                    &:before {
                        content: '';
                        display: block;
                        position: absolute;
                        left: 0;
                        top: 7px;
                        background: url('/img/spriteImgs/hotel-2-icons.png') no-repeat -19px -233px;
                        width: 11px;
                        height: 8px;
                    }
                }
            }
        }
    }
</style>