<template>
    <div>
        <mu-popup position="left" popupClass="search-popup" :overlay="true" :open="leftPopup" @hide="setPopupClose">
            <mu-row gutter class="tab-list">
                <!--nav-->
                <mu-col width="100" tablet="100" desktop="100" class="icon-right">
                    <mu-flat-button :label="langPopup.close[langStr]" labelPosition="before" icon=":fa fa-times" @click="close('left')"/>
                </mu-col>
                <!--search input-->
                <mu-col width="100" tablet="100" desktop="100" class="m-l-15 m-r-15 m-t-10 m-b-10 popupInput">
                    <!--auto complete destination-->
                    <auto-complete :hinttext="langPopup.destination[langStr]" :destination-name="destination.name"
                            :destination-id="destination.id" :scenic-name="destination.scenicName" :scenic-id="destination.scenicId"
                            @update-destination="updateDestination" v-on:set-pop-close="setPopupClose">
                    </auto-complete>
                </mu-col>

                <!--tags city-->
                <div class="flex-item">
                    <mu-col width="100" tablet="100" desktop="100" class="tab-wapper m-t-10 text-warning">
                        {{langPopup.hotDestinations[langStr]}}
                    </mu-col>
                    <mu-col width="100" tablet="100" desktop="100" class="tab-wapper m-t-10 m-b-10">
                        <div v-for="item in hotCities" class="btn-city" v-bind:key="item.index">
                            <mu-raised-button :label="item.name[langStr]" class="text-warning" @click="clickCity(item)"/>
                        </div>
                    </mu-col>
                    <mu-col width="100" tablet="100" desktop="100" class="tab-wapper m-t-10">
                        {{langPopup.america[langStr]}}
                    </mu-col>
                    <mu-col width="100" tablet="100" desktop="100" class="tab-wapper m-t-10 m-b-10">
                        <div v-for="item in usCities" class="btn-city" v-bind:key="item.index">
                            <mu-raised-button :label="item.name[langStr]" class="text-primary" @click="clickCity(item)"/>
                        </div>
                    </mu-col>
                    <mu-col width="100" tablet="100" desktop="100" class="tab-wapper m-t-10">
                        {{langPopup.europe[langStr]}}
                    </mu-col>
                    <mu-col width="100" tablet="100" desktop="100" class="tab-wapper m-t-10 m-b-10">
                        <div v-for="item in eurCities" class="btn-city" v-bind:key="item.index">
                            <mu-raised-button :label="item.name[langStr]" class="text-primary" @click="clickCity(item)"/>
                        </div>
                    </mu-col>
                    <mu-col width="100" tablet="100" desktop="100" class="tab-wapper m-t-10">
                        {{langPopup.oceania[langStr]}}
                    </mu-col>
                    <mu-col width="100" tablet="100" desktop="100" class="tab-wapper m-t-10 m-b-10">
                        <div v-for="item in oceCities" class="btn-city" v-bind:key="item.index">
                            <mu-raised-button :label="item.name[langStr]" class="text-primary" @click="clickCity(item)"/>
                        </div>
                    </mu-col>
                    <mu-col width="100" tablet="100" desktop="100" class="tab-wapper m-t-10">
                        {{langPopup.asia[langStr]}}
                    </mu-col>
                    <mu-col width="100" tablet="100" desktop="100" class="tab-wapper m-t-10 m-b-10">
                        <div v-for="item in asiCities" class="btn-city" v-bind:key="item.index">
                            <mu-raised-button :label="item.name[langStr]" class="text-primary" @click="clickCity(item)"/>
                        </div>
                    </mu-col>
                </div>
            </mu-row>
        </mu-popup>
        <!--/end popup-->
    </div>
</template>
<script>
    import AutoComplete from './auto-complete';
    // 语言翻译
    import langPopup from '../lang/search-popup';

    const ids = window.cityIds;
    export default {
        components: {AutoComplete},
        props: [
            'isPopOpen',
            'destinationName', 'destinationId',
            'scenicName', 'scenicId',
        ],
        data() {
            return {
                destination: {
                    name: this.destinationName,
                    id: this.destinationId,
                    scenicName: this.scenicName,
                    scenicId: this.scenicId
                },
                leftPopup: this.isPopOpen,
                langPopup: langPopup,

                // edit in : global vars
                hotCities: window.hotCities,
                usCities: window.usCities,
                eurCities: window.eurCities,
                oceCities: window.oceCities,
                asiCities: window.asiCities,
                afcCities: window.afcCities,

            }
        },
        methods: {
            open(position) {
                this[position + 'Popup'] = true
            },
            close(position) {
                this[position + 'Popup'] = false
            },
            setPopupClose() {
                if (this.destination.id) {
                    this.$emit('set-des', this.destination);
                }
                this.$emit('set-close', false);
            },
            clickCity(cityObj) {
                this.destination = {
                    id: 'D' + cityObj.id,
                    name: cityObj.name == 'string' ? cityObj.name : cityObj.name[this.langStr],
                    scenicName: '',
                    scenicId: ''
                };
                this.setPopupClose();
            },
            updateDestination(newDestination) {
                this.destination.name = newDestination.name;
                this.destination.id = newDestination.id;
                this.destination.scenicName = newDestination.scenicName;
                this.destination.scenicId = newDestination.scenicId;
            }
        },
        watch: {
            isPopOpen(val) {
                this.leftPopup = val;

                if (val) {
                    // lock background
                    $('body').addClass('lock');
                } else {
                    $('body').removeClass('lock');
                }
            },
            topPopup(val) {
                if (val) {
                    setTimeout(() => {
                        this.topPopup = false
                    }, 2000)
                }
            }
        }
    }
</script>

<style lang="scss">
    .search-popup {
        display: flex;
        width: 100vw;
        height: 88vh;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        padding: 0;
        position: fixed;
        justify-content: left;
        top: 52.2%;
        &.lock {
             overflow-y: hidden;
        }
        .tab-list .flex-item {
            height: 66vh;
        }
    }
    .icon-right {
        text-align: right;
        padding: 6px 0 !important;
        border-bottom: rgb(223, 234, 244) 1px solid;
    }
    .row {
        min-width: 100%;
    }
    .icon-right .mu-icon {
        font-size: 20px;
        color: rgb(74, 74, 74);
    }
    .icon-right .mu-icon-button {
        padding: 0;
        height: auto;
    }
    .popupInput {
        padding: 0 10px;
    }
    .popupInput .mu-text-field-content {
        width: 98%;
        background-color: rgb(223, 234, 244);
        color: rgb(76, 142, 203) !important;
    }
    .focus-state .mu-text-field-icon,
    .focus-state .mu-text-field-content .mu-text-field-input,
    .focus-state {
        background-color: rgb(255, 255, 255);
        color: #ea8523 !important; /*orange*/
    }
    .popupInput .mu-text-field-hint {
        color: rgb(76, 142, 203) !important; /*primary*/
    }
    .popupInput .mu-text-field-icon {
        color: rgb(76, 142, 203) !important; /*primary*/
        left: 8px;
    }
    .focus-state .mu-text-field-icon {
        color: #ea8523 !important; /*orange*/
    }
    .btn-city {
        float: left;
        margin: 3px 5px;
    }
    .btn-city .mu-raised-button {
        min-width: auto !important;
        height: 28px;
    }
    .btn-city .mu-raised-button-label {
        font-size: 13px;
        line-height: 18px;
    }
    .flex-item {
        white-space: nowrap;
        width: 100%;
        padding-left: 10px;
        padding-bottom: 20px;
    }
    .tab-wapper {
        float: left;
        margin: 10px 0;
    }
</style>
