<template>
    <mu-dialog :open="editorOpen" :scrollable="true" dialog-class="search-editor" body-class="search-editor-body" @close="hideDialog()">
        <date-picker v-on:changedates="changeDate" :checkin="checkin" :checkout="checkout"></date-picker>
        <mu-row gutter class="selection-label-wrapper">
            <mu-col width="33" tablet="33" desktop="33" class="selection-label">
                {{langRoom[langStr]}}
            </mu-col>
            <mu-col width="33" tablet="33" desktop="33" class="selection-label">
                {{langAdult[langStr]}}<span class="text-small-12">(18+)</span>
            </mu-col>
            <mu-col width="33" tablet="33" desktop="33" class="selection-label">
                {{langChild[langStr]}}<span class="text-small-12">(0-17)</span>
            </mu-col>
        </mu-row>
        <!--selections-->
        <mu-row gutter>
            <mu-col width="33" tablet="33" desktop="33">
                <mu-select-field v-model="roomCount" :class="['dropdown-input', {'border-input': isUsitour}]" :labelFocusClass="['label-foucs']" :underlineShow="false">
                    <mu-menu-item v-for="index in maxNum1" :key="index" :value="index" :title="index.toString()"/>
                </mu-select-field>
            </mu-col>
            <mu-col width="33" tablet="33" desktop="33">
                <mu-select-field v-model="adult" :class="['dropdown-input', {'border-input': isUsitour}]" :labelFocusClass="['label-foucs']" :underlineShow="false">
                    <mu-menu-item v-for="index in maxNum2" :key="index" :value="index" :title="index.toString()"/>
                </mu-select-field>
            </mu-col>
            <mu-col width="33" tablet="33" desktop="33">
                <mu-select-field v-model="child" :class="['dropdown-input', {'border-input': isUsitour}]" :labelFocusClass="['label-foucs']" :underlineShow="false">
                    <mu-menu-item v-for="index in maxNum3" :key="index-1" :value="index-1" :title="(index-1).toString()"/>
                </mu-select-field>
            </mu-col>
        </mu-row>
        <mu-raised-button :label="langUpdate[langStr]" class="submit-btn" primary @click="submitSearch" :disabled="disableBtn"></mu-raised-button>
    </mu-dialog>
</template>

<script>
    import DatePicker from './date-picker';
    export default {
        props: ['searchData', 'editorOpen'],
        data() {
            return {
                langAdult: {'cn': '成人', 'tw': '成人', 'en': "Adults"},
                langChild: {'cn': '儿童', 'tw': '兒童', 'en': "Children"},
                langRoom: {'cn': '客房', 'tw': '客房', 'en': "Rooms"},
                langEach: {'cn': '间', 'tw': '間', 'en': "R"},
                langUpdate: {'cn': '更新搜索', 'tw': '更新搜索', 'en': 'Update'},
                checkin: this.searchData ? this.searchData.checkin : '',
                checkout: this.searchData ? this.searchData.checkout : '',
                roomCount: this.searchData ? this.searchData.roomCount : 1,
                adult: this.searchData ? this.searchData.adultCount1 : 2,
                child: this.searchData ? this.searchData.childCount1 : 0,
                maxNum1: 8,
                maxNum2: 4,
                maxNum3: 5,
                disableBtn: false
            }
        },
        components: { DatePicker },
        methods: {
            hideDialog() {
                this.$emit('toggle-dialog', false);
            },
            changeDate(checkin, checkout) {
                this.$emit('change-date', checkin, checkout);
            },
            submitSearch() {
                this.disableBtn = true;
                this.$emit('change-selections', this.roomCount, this.adult, this.child);
                this.$emit('submit-search');
            }
        }
    }
</script>

<style lang="scss">
    .search-editor {
        width: 90%;
        &-body {
            padding: 20px 12px;
        }
        .selection-label {
            color: #2681ff;
            &-wrapper {
                margin-bottom: 5px;
            }
        }
        .datepicker {
            border: 1px solid #a7a9ab;
            border-radius: 5px;
            .mu-text-field {
                padding-left: 15px;
                &-icon {
                    display: none;
                }
            }
        }
        .dropdown-input {
            border: 1px solid #a7a9ab;
            border-radius: 5px;
        }
        .submit-btn {
            background-color: #2681ff;
        }
    }
</style>