<template>
        <mu-dialog :open="dialog" @close="close"  scrollable dialogClass="link-dialogs">
            <a class="close-icon" @click="close"></a>
              <div class="share-content">
                  <h1 class="share-text">Enjoy it? Please spread the world!</h1>
                  <ul class="share-link-ul">
                      <li><a target="_blank" :href="fb"><i class="social_icon social_icon_facebook"></i></a></li>
                      <!--<li><a target="_blank" :href="gg"><i class="social_icon social_icon_google"></i></a></li>-->
                      <li><a target="_blank" :href="tw"><i class="social_icon social_icon_twitter"></i></a></li>
                      <li><a target="_blank" :href="bl"><i class="social_icon social_icon_blogger"></i></a></li>
                      <li><a target="_blank" :href="pi"><i class="social_icon social_icon_pinterest"></i></a>
                      </li>
                  </ul>
              </div>
        </mu-dialog>
</template>

<script>
    export default {
        data () {
            var currentUrl = window.location.href;
            return {
                dialog: true,
                fb: '//www.facebook.com/sharer.php?u='+ currentUrl,
                // gg: '//plus.google.com/share?url='+ currentUrl,
                tw: '//twitter.com/share?url='+ currentUrl,
                bl: '//www.blogger.com/blog_this.pyra?t&amp;u='+ currentUrl,
                pi: '//pinterest.com/pin/create/link/?url='+ currentUrl,
            }
        },
        methods: {
            open () {
                this.dialog = true
            },
            close () {
                this.dialog = false;
                this.$emit('closelinks', true)
            },
          openWindow(url){
            window.open(url,'mywin','left=20,top=20,width=500,height=500,toolbar=1,resizable=0');
            return false
          }
        },
        watch: {
            hideLinks: function(val){
                let self = this
                self.dialog = !val
            }
        },
        created(){
            window.lockBody(true);
        }
    }
</script>

<style>
    .share-content{

    }
    .close-icon{
        float: right;
        font-size: 14px;
        cursor: pointer;
        background: url(/img/spriteImgs/share_icon.png) no-repeat;
        height: 19px;
        width: 19px;
        display: block;
        background-size: 63px 273px;
        background-position: 0 -229px;
    }
    .share-text{
        font-family: Lato;
        font-size: .28rem;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        margin-bottom: .4rem;
    }
    ul.share-link-ul {
        display: flex;
        padding-left: 0 !important;
    }
    .share-link-ul li{
        list-style-type: none;
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
    .social_icon_facebook{
        background-position: 0 0 !important;
    }
    /*.social_icon_google{*/
        /*background-position:0 -38px !important;*/
    /*}*/
    .social_icon_twitter{
        background-position: 0 -75px !important;
    }
    .social_icon_blogger{
        background-position:0 -113px !important;
    }
    .social_icon_pinterest{
        background-position:0 -151px !important;
    }
    .social_icon {
        cursor: pointer;
        background: url(/img/spriteImgs/share_icon.png) no-repeat;
        height: 37px;
        width:37px;
        display: block;
        background-size: 63px 273px;
    }
</style>
