<template>
    <div>
        <input type="checkbox" name="specialrequest[]" :value="sp.value" tabindex="-1" v-for="sp in spArr"><span> @{{sp.name[langStr]}}</span><br/>
    </div>
</template>
<script>

    export default {
        data () {
            return {
                spArr:  [
                    {
                        value: 'I\'d like two bed',
                        name: {cn: '我想要双床', tw: '我想要雙床', en: 'I\'d like two bed'}
                    },
                    {
                        value: 'I\'d like one big bed',
                        name: {cn: '我想要大床', tw: '我想要大床', en: 'I\'d like one big bed'}
                    },
                ],
            }
        },
    }
</script>

