<template>
    <div>
        <!--header for usitour-->
        <div :class="['nav-wrapper', {'usitour': isUsitour}]" id="mobile-nav-title-en" v-if="isUsitour && langStr === 'en'">
            <div class="nav-menu nav-item">
                <button class="button-icon-menu button-icon" @click="toggleMenu"></button>
            </div>
            <div class="nav-right nav-item">
                <button type="button" @click="openBottomSheet">
                    <i class="button-icon-phone button-icon"></i>
                </button>
                <a href="https://m.usitour.com/index.php?mod=login&language_code=utf-8">
                    <i class="button-icon-user button-icon"></i>
                </a>
                <!--lang-->
                <mu-dropDown-menu class="nav-lang" label-class="nav-lang-label" icon-class="nav-lang-icon"
                        menu-list-class="nav-lang-list" :auto-width="true" :value="langId" @change="updateLanguage" v-if="!isAA">
                    <mu-menu-item :value="1" title="English" :class="{'hide': langId == 1}"></mu-menu-item>
                    <mu-menu-item :value="2" title="繁體" :class="{'hide': langId == 2}"></mu-menu-item>
                </mu-dropDown-menu>
            </div>
            <a class="nav-logo nav-item" :href="homeLink + '?language_code=' + tourLang">
                <span class="nav-logo-menu" v-if="showMenu">Menu</span>
                <span class="nav-logo-usitour" v-else></span>
            </a>
        </div>

        <!--header for others-->
        <mu-appbar :title="langTopNav.hotel[langStr]" :title-class="['appbar-title', {'usitour': isUsitour}]" :zDepth="0" id="mobile-nav-title" v-else>
            <!--logo-->
            <a href="/search" slot="left" v-if="is117book">
                <img src="/img/business/nav-logo-sm.png" class="logo logo-usitour"/>
            </a>
            <a href="/search" slot="left" v-else-if="isAA">
                <img src="/img/general/logo/supervacation.png" class="logo logo-distributor"/>
            </a>
            <a :href="homeLink" slot="left" v-else-if="isUsitour">
                <i class="nav-logo-tw"></i>
            </a>
            <a :href="homeLink" slot="left" v-else>
                <img src="/img/general/logo/logo-usitrip-text.png" class="logo logo-usitrip"/>
            </a>

            <!--phone-->
            <div class="mu-icon-menu" slot="right" @click="openBottomSheet" v-if="!is117book">
                <button class="mu-icon-button" type="button" tabindex="0" style="user-select: none; outline: none; cursor: pointer; -webkit-appearance: none;">
                    <i :class="['fa fa-phone', {'usitour': isUsitour}]"></i>
                </button>
            </div>

            <!--account-->
            <div class="mu-icon-menu" slot="right" id="user-center" >
                <button class="mu-icon-button" type="button" tabindex="0" style="user-select: none; outline: none; cursor: pointer; -webkit-appearance: none;">
                    <a href="/profile" v-if="is117book">
                        <i class="fa fa-user"></i>
                    </a>
                    <a href="http://www.supervacation.net/index.php?mod=login&language_code=big5" v-else-if="isAA">
                        <i class="fa fa-user"></i>
                    </a>
                    <a :href="tourDomain + '/index.php?mod=login&language_code=' + tourLang" v-else>
                        <i :class="['fa fa-user', {'usitour': isUsitour}]"></i>
                    </a>
                </button>
            </div>

            <!--lang-->
            <mu-dropDown-menu slot="right" class="nav-lang" label-class="nav-lang-label" icon-class="nav-lang-icon"
                    menu-list-class="nav-lang-list" :auto-width="true" :value="langId" @change="updateLanguage" v-if="!isAA && showLang">
                <mu-menu-item :value="0" title="中文" :class="{'hide': langId == 0}" v-if="!isUsitour"></mu-menu-item>
                <mu-menu-item :value="1" title="English" :class="{'hide': langId == 1}"></mu-menu-item>
                <mu-menu-item :value="2" title="繁體" :class="{'hide': langId == 2}"></mu-menu-item>
            </mu-dropDown-menu>

        </mu-appbar>

        <div class="button-icon-close button-icon" @click="toggleMenu" v-if="showMenu"></div>

        <mu-drawer :open="showMenu" :docked="false" @close="toggleMenu">
            <mu-list @itemClick="toggleMenu">
                <mu-list-item title="Hotels" titleClass="listTag-hotel listTag" href="/"></mu-list-item>
                <mu-list-item title="Tour Package" titleClass="listTag-packages listTag" :href="homeLink"></mu-list-item>
                <mu-list-item title="Tour Deals" titleClass="listTag-deals listTag" :href="homeLink + 'group_buys/'"></mu-list-item>
                <mu-list-item title="Travel Blog" href="https://blog.usitour.com"></mu-list-item>
                <mu-list-item title="About Us" :href="homeLink + 'about_us.html'"></mu-list-item>
                <mu-list-item title="Privacy Policy" :href="homeLink + 'privacy_policy.html'"></mu-list-item>
                <mu-list-item title="Help/FAQ" :href="homeLink + 'faq_question.html'"></mu-list-item>
                <mu-list-item title="Order Agreement" :href="homeLink + 'order_agreement.html'"></mu-list-item>
                <mu-list-item title="Contact Us" :href="homeLink + 'contact_us.html'"></mu-list-item>
                <mu-list-item title="Feedback" :href="homeLink + 'feedback.html'"></mu-list-item>
                <mu-list-item title="Affiliate Login" href="/affiliate/login"></mu-list-item>
            </mu-list>
        </mu-drawer>

        <!--bottom sheet-->
        <mu-bottom-sheet :open="bottomSheet" @close="closeBottomSheet" :sheet-class="'nav-bottom-sheet'">
            <mu-list @itemClick="closeBottomSheet">
                <mu-sub-header>
                    {{langTopNav.hotline[langStr]}}
                </mu-sub-header>
                <mu-divider></mu-divider>
                <div v-if="isAA">
                    <div class="mu-item">
                        <div class="mu-item-content">
                            <div class="mu-item-title-row">
                                <div class="mu-item-title pop-contact">
                                    <a href="tel:+16265712988">總公司電話 626-571-2988</a>
                                </div>
                                <div class="mu-item-after"></div>
                            </div>
                        </div>
                    </div>
                    <div class="mu-item">
                        <div class="mu-item-content">
                            <div class="mu-item-title-row">
                                <div class="mu-item-title pop-contact">
                                    <a href="tel:+18886282871">免費電話 1-888-628-2871</a>
                                </div>
                                <div class="mu-item-after"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div v-else>
                    <!--usa tel-->
                    <div class="mu-item" v-if="langStr === 'tw'">
                        <div class="mu-item-content">
                            <div class="mu-item-title-row">
                                <div class="mu-item-title pop-contact">
                                    <a href="tel:+18888872816">({{langTopNav.us[langStr]}}) 888-887-2816</a>
                                </div>
                                <div class="mu-item-after"></div>
                            </div>
                        </div>
                    </div>
                    <div class="mu-item" v-if="isUsitour && (langStr === 'en')">
                        <div class="mu-item-content">
                            <div class="mu-item-title-row">
                                <div class="mu-item-title pop-contact">
                                    <a href="tel:+16268987658">({{langTopNav.us[langStr]}}) 626-898-7658</a>
                                </div>
                                <div class="mu-item-after"></div>
                            </div>
                        </div>
                    </div>
                    <mu-divider></mu-divider>
                    <!--china tel-->
                    <div class="mu-item" v-if="langStr == 'cn'">
                        <div class="mu-item-content">
                            <div class="mu-item-title-row">
                                <div class="mu-item-title pop-contact">
                                    <a href="tel:+8602566680241">({{langTopNav.cn[langStr]}}) 025-6668-0241</a>
                                </div>
                                <div class="mu-item-after"></div>
                            </div>
                        </div>
                    </div>
                    <div class="mu-item" v-if="langStr == 'tw'">
                        <div class="mu-item-content">
                            <div class="mu-item-title-row">
                                <div class="mu-item-title pop-contact">
                                    <a href="tel:+886266026800">({{langTopNav.cn[langStr]}}) 886-2-5594-1486</a>
                                </div>
                                <div class="mu-item-after"></div>
                            </div>
                        </div>
                    </div>
                </div>

                <mu-divider></mu-divider>
                <mu-list-item :title="langTopNav.cancel[langStr]" class="pop-contact"></mu-list-item>
            </mu-list>
        </mu-bottom-sheet>
    </div>
</template>

<script>
    import langTopNav from '../lang/top-nav';// lang file
    export default {
        props: {
            showLang: {
                type: Boolean,
                default: true
            }
        },
        data() {
            return {
                homeLink: '/',
                bottomSheet: false,
                langTopNav: langTopNav,
                showMenu: false,
                tourDomain: '//m.usitrip.com/',
                tourLang: 'gb2312'
            }
        },
        mounted() {
            if (this.langStr === 'en') {
                this.tourLang = 'utf-8';
                this.tourDomain = '//m.usitour.com/';
            } else if (this.langStr === 'tw') {
                this.tourLang = 'big5';
                this.tourDomain = '//m.usitrip.com/'
            }
            if (window.location.pathname === '/') {
                this.homeLink = this.tourDomain;
                if (this.langStr === 'tw') {
                    this.homeLink += 'tw/'
                }
            }
        },
        methods: {
            closeBottomSheet() {
                this.bottomSheet = false
            },
            openBottomSheet() {
                this.bottomSheet = true;
            },
            updateLanguage(val) {
                if (typeof (Storage) !== 'undefined')
                    localStorage.setItem('lang', val);

                $.post('/lang/update', {
                    '_token': usitrip.csrfToken,
                    'lang': val,
                    'href': window.location.href
                }, function (data) {
                    if (data.success) {
                        location.replace(data.url);
                    }
                });
            },
            toggleMenu() {
                this.showMenu = !this.showMenu;
            }
        }
    }
</script>

<style lang="scss">
    .button-icon {
        display: inline-block;
        border: none;
        background-color: transparent;
        background-image: url('/img/general/icon/hotel_eng_img.png');
        background-repeat: no-repeat;
        outline: none;
        background-size: 7.16rem 3.02rem;
        width: .36rem;
        height: .36rem;
        background-position-y: 36.742%;
        &-menu {
            background-position-x: 75%;
        }
        &-phone {
            background-position-x: 59.265%;
        }
        &-user {
            background-position-x: 67.059%;
        }
        &-close {
            z-index: 101;
            position: absolute;
            top: 1.32rem;
            right: 8.5%;
            background-position: 39.086% 61.597%;
        }
    }
    .logo-usitrip {
        width: 55px;
        height: 30px;
    }
    .logo-distributor {
        height: .5rem;
        width: 2rem;
    }
    .nav {
        &-wrapper {
            padding: .16rem 0 5px 10px;
            background-color: #fff;
            border-bottom: 1px solid #d6d7d8;
            max-height: 1rem;
        }
        &-item {
            display: block;
        }
        /* we are using padding here instead of flexbox align-items: center as it's not supported on ios 8.1 safari*/
        &-menu {
            float: left;
            height: .9rem;
            line-height: .9rem;
        }
        &-logo {
            height: .9rem;
            line-height: .9rem;
            padding-top: 3px;
            &-menu {
                color: #2681ff;
                font-size: .36rem;
                display: block;
                text-align: center;
            }
            &-usitour {
                display: block;
                margin: 0 auto;
                height: .6rem;
                width: 2rem;
                background-image: url('/img/general/icon/hotel_eng_img.png');
                background-repeat: no-repeat;
                background-position: 4.651% 8.299%;
                background-size: 7.16rem 3.02rem;
            }
            &-tw {
                display: block;
                margin: 0 auto;
                height: .69rem;
                width: 1.76rem;
                background-image: url('/img/general/icon/hotel_eng_img.png');
                background-repeat: no-repeat;
                background-position: 60% 66.379%;
                background-size: 7.16rem 3.02rem;
            }
        }
        &-right {
            float: right;
            height: .9rem;
            line-height: .9rem;
            button, a {
                display: inline-block;
                border: none;
                padding: 0;
                background-color: transparent;
                vertical-align: top;
                margin-right: .1rem;
            }
        }
    }
    .nav-lang {
        font-size: .2rem;
        height: 1rem;
        line-height: 1rem;
        &-label {
            padding-right: 28px;
            padding-left: 0;
        }
        &-icon {
            right: 0;
        }
        &-list .mu-menu-item {
            padding: 0 16px;
        }
        .mu-dropDown-menu-text {
            line-height: inherit;
        }
        .mu-dropDown-menu-icon {
            top: .25rem;
        }
        @media all and (min-width:768px) {
            .mu-dropDown-menu-icon {
                top: .4rem;
            }
        }
    }
    .mu-icon-button {
        width: auto;
        padding: 12px 8px 12px 0;
    }
    .mu-appbar {
        background-color: white;
        border-bottom: 1px solid #e9e9e9;
    }
    .mu-appbar, a, .lang {
        color: #0a6aa1;
    }
    .usitour {
        .mu-appbar, a, .lang {
            color: #2681ff;
        }
        .nav-lang {
            height: .7rem;
            line-height: .7rem;
            .nav-lang-label {
                padding-right: 18px;
            }
            .mu-dropDown-menu-icon {
                top: .1rem;
            }
            @media all and (min-width:768px) {
                height: .6rem;
                line-height: .6rem;
                .mu-dropDown-menu-icon {
                    top: .2rem;
                }
            }
        }
    }
    .mu-appbar-title {
        text-align: center;
        font-size: 18px;
    }
    .mu-menu-item-left-icon, .mu-menu-item-title {
        color: #104A8F;
    }
    .mu-menu-item.have-left-icon {
        padding-left: 56px;
    }
    .text-tel {
        text-align: center;
        color: #104a8f;
        margin-bottom: 5px;
    }
    .nav-bottom-sheet {
        text-align: center;
        .mu-item {
            border-bottom: 1px solid #d6d7d8;
        }
    }
    .pop-contact, .pop-contact .mu-item-wrapper .mu-item .mu-item-content .mu-item-title-row .mu-item-title {
        text-align: center !important;
    }
    .fa {
        font-size: 18px;
    }
    .appbar-title {
        line-height: 49px;
        &.usitour {
            color: #2681ff;
        }
    }
    .listTag {
        padding-left: 8px;
        &:before {
            content: "";
            display: inline-block;
            position: relative;
            top: 5px;
            right: 8px;
            background-image: url('/img/general/icon/hotel_eng_img.png');
            background-repeat: no-repeat;
        }
        &-hotel:before {
            content: "";
            display: inline-block;
            background-position: -72px -48px;
            background-size: 358px 151px;
            width: 23px;
            height: 21px;
        }
        &-packages:before {
            background-position: -165px -46px;
            background-size: 358px 151px;
            width: 18px;
            height: 23px;
        }
        &-deals:before {
            background-position: -42px -46px;
            background-size: 358px 151px;
            width: 23px;
            height: 23px;
        }
    }
    .mu-drawer {
        box-shadow: none;
        z-index: 101 !important;
        .mu-list {
            padding: 0;
        }
    }
    .mu-overlay {
        opacity: .8;
        z-index: 100 !important;
    }
</style>
