body {
  color: #767676;
}

.modal-body .form-horizontal {
  .col-sm-2, .col-sm-10 {
    width: 100%;
  }
  .control-label {
    text-align: left;
  }
  .col-sm-offset-2 {
    margin-left: 15px;
  }
}

#changetxt {
  &:hover {
    color: #f1791e;
  }
  color: #767676;
}

.anotherdestination {
  height: auto;
  overflow: hidden;
  transition: opacity 0.5s linear, max-height 0.5s linear;
  opacity: 0;
  max-height: 0;
}

#hidemorerequest[type=checkbox]:checked + .anotherdestination {
  opacity: 1;
  max-height: 99em;
  border: none;
}

.selectpicker {
  background: url("//www.connectedtoindia.com/assets/images/dropdown-arrow1.png") no-repeat scroll right center transparent;
  font-size: 14px;
  font-weight: 400;
  padding-left: 6px;
  -webkit-border-radius: 4px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select:invalid {
  color: darkgrey;
}

#myCarousel {
  margin-top: 75px;
}

.landing-page {
  .btn-primary {
    margin-top: 20px;
    letter-spacing: 0;
    border-radius: 0;
    font-size: 16px;
    font-weight: 300;
    border-color: #f1791e;
    transition: all .5s;
    pointer-events: all;
    &.btn-outline {
      border-color: white;
      font-weight: 300;
      &:hover {
        border-color: #f1791e;
      }
    }
    &.btn-v {
      margin-top: 15px;
      pointer-events: all;
    }
  }
  .carousel-caption h1 {
    font-size: 38px;
    line-height: 50px;
    color: #ffffff;
    letter-spacing: 3px;
  }
}

.en-page .carousel-caption h1 {
  font-size: 30px;
  line-height: 42px;
  letter-spacing: 1px;
}

.landing-page {
  h2, .features h2 {
    font-size: 30px;
    line-height: 50px;
    color: #484848;
  }
  .sub-title {
    font-size: 22px;
    letter-spacing: 2px;
    font-weight: 400;
    padding-right: 20px;
    line-height: 32px;
  }
  .carousel-login .box .form-group label {}
}

.forget {
  font-size: 13px;
  margin-right: 20px;
}

.icheckbox_square-green {
  margin-right: 5px;
}

.orange-line-bold {
  margin-top: 46px;
}

.landing-page .services {
  padding-top: 10px;
}

#strengths .row {
  margin-top: 20px;
  margin-bottom: 20px;
}

#footprint {
  .row {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .navy {
    display: block;
    margin: 10px 0 20px 0;
    color: #f1791e;
    letter-spacing: 2px;
    font-size: 26px;
    font-weight: 400;
  }
}

@media screen and (min-width: 961px) {
  #loginsmall {
    display: none;
  }
  .hideatsmall {}
  .grouprequestcn {
    width: 30%;
  }
  .submitgrouprequest {
    width: 510px;
  }
  .nav > li {
    margin-right: 12px;
  }
}

@media screen and (max-width: 961px) {
  #loginsmall {
    margin-right: 10px;
  }
  .hideatsmall {
    display: none;
  }
  .grouprequestcn, .submitgrouprequest {}
  #buttonsmall {
    margin-top: 30px;
    font-size: 15px;
    font-weight: 500;
  }
  .nav > li {
    margin-right: 2px;
  }
}

/*timeline*/

/* New Timeline style */

.vertical-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 90%;
  max-width: 1170px;
  margin: 0 auto;
  &::after {
    /* clearfix */
    content: '';
    display: table;
    clear: both;
  }
}

#vertical-timeline {
  position: relative;
  padding: 0;
  margin-top: 2em;
  margin-bottom: 2em;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 18px;
    height: 100%;
    width: 4px;
    background: #f1f1f1;
  }
}

.vertical-timeline-content .btn {
  float: right;
}

#vertical-timeline.light-timeline:before {
  background: #e7eaec;
}

.dark-timeline {
  .vertical-timeline-content:before {
    border-color: transparent #f5f5f5 transparent transparent;
  }
  &.center-orientation .vertical-timeline-content:before {
    border-color: transparent transparent transparent #f5f5f5;
  }
  .vertical-timeline-block:nth-child(2n) .vertical-timeline-content:before, &.center-orientation .vertical-timeline-block:nth-child(2n) .vertical-timeline-content:before {
    border-color: transparent #f5f5f5 transparent transparent;
  }
  .vertical-timeline-content, &.center-orientation .vertical-timeline-content {
    background: #f5f5f5;
  }
}

@media only screen and (min-width: 1170px) {
  #vertical-timeline.center-orientation {
    margin-top: 3em;
    margin-bottom: 3em;
    &:before {
      left: 50%;
      margin-left: -2px;
    }
  }
}

@media only screen and (max-width: 1170px) {
  .center-orientation.dark-timeline .vertical-timeline-content:before {
    border-color: transparent #f5f5f5 transparent transparent;
  }
}

.vertical-timeline-block {
  position: relative;
  margin: 2em 0;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 1170px) {
  .center-orientation .vertical-timeline-block {
    margin: 4em 0;
    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.vertical-timeline-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 16px;
  border: 3px solid #f1f1f1;
  text-align: center;
  i {
    display: block;
    width: 24px;
    height: 24px;
    position: relative;
    left: 50%;
    top: 50%;
    margin-left: -12px;
    margin-top: -9px;
  }
}

@media only screen and (min-width: 1170px) {
  .center-orientation {
    .vertical-timeline-icon {
      width: 50px;
      height: 50px;
      left: 50%;
      margin-left: -25px;
      -webkit-transform: translateZ(0);
      -webkit-backface-visibility: hidden;
      font-size: 19px;
      i {
        margin-left: -12px;
        margin-top: -10px;
      }
    }
    .cssanimations .vertical-timeline-icon.is-hidden {
      visibility: hidden;
    }
  }
}

.vertical-timeline-content {
  position: relative;
  margin-left: 60px;
  background: white;
  border-radius: 0.25em;
  padding: 1em;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  h2 {
    font-weight: 400;
    margin-top: 4px;
  }
  p {
    margin: 1em 0;
    line-height: 1.6;
  }
  .vertical-date {
    float: left;
    font-weight: 500;
  }
}

.vertical-date small {
  color: #1ab394;
  font-weight: 400;
}

.vertical-timeline-content::before {
  content: '';
  position: absolute;
  top: 16px;
  right: 100%;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-right: 7px solid white;
}

@media only screen and (min-width: 768px) {
  .vertical-timeline-content {
    h2 {
      font-size: 18px;
    }
    p {
      font-size: 13px;
    }
  }
  .img-wechat {
    margin-top: -36px !important;
  }
}

@media only screen and (min-width: 1170px) {
  .center-orientation {
    .vertical-timeline-content {
      margin-left: 0;
      padding: 1.6em;
      width: 45%;
      &::before {
        top: 24px;
        left: 100%;
        border-color: transparent;
        border-left-color: white;
      }
      .btn {
        float: left;
      }
      .vertical-date {
        position: absolute;
        width: 100%;
        left: 122%;
        top: 2px;
        font-size: 14px;
      }
    }
    .vertical-timeline-block:nth-child(even) .vertical-timeline-content {
      float: right;
      &::before {
        top: 24px;
        left: auto;
        right: 100%;
        border-color: transparent;
        border-right-color: white;
      }
      .btn {
        float: right;
      }
      .vertical-date {
        left: auto;
        right: 122%;
        text-align: right;
      }
    }
    .cssanimations .vertical-timeline-content.is-hidden {
      visibility: hidden;
    }
  }
}

.vertical-timeline-icon.navy-bg {
  background-color: #f1791e;
  color: white;
}

#navbar .nav .page-scroll {
  outline: none;
  color: #484848;
  font-size: 16px;
  font-weight: 500;
}

#strengths .orange-line-bold {
  margin-top: 10px;
}

.carousel-inner {
  .item {
    background-color: #cccccc;
    /* Used if the image is unavailable */
    height: 470px;
    /* You must set a specified height */
    background-position: center;
    /* Center the image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    background-size: cover;
    /* Resize the background image to cover the entire container */
  }
  .item1 {
    background-image: url("/img/landing/adBanners/ad1.jpg") !important;
  }
  .item2 {
    background-image: url("/img/landing/adBanners/ad2.jpg") !important;
  }
  .item3 {
    background-image: url("/img/landing/adBanners/ad3.jpg") !important;
  }
  .item4 {
    background-image: url("/img/landing/adBanners/ad4.jpg") !important;
  }
  .item5 {
    background-image: url("/img/landing/adBanners/ad5.jpg") !important;
  }
  .item6 {
    background-image: url("/img/landing/adBanners/ad6.jpg") !important;
  }
  .item7 {
    background-image: url("/img/landing/adBanners/ad7.jpg") !important;
  }
}

.i-checks label {
  font-size: 13px !important;
}

.commens-name {
  letter-spacing: 2px;
  color: #484848;
}

.text-hello {
  text-shadow: 1px 1px grey;
  font-weight: 400;
  font-size: 22px;
}

.landing-page .carousel-caption p {
  margin-bottom: 10px;
}

.reviews-subtitle {
  color: #f1791e;
  margin-top: 20px;
  letter-spacing: 2px;
  font-size: 22px;
  font-weight: 400;
}

.landing-page {
  .bubble {
    height: auto;
  }
  section p.strengths-content {
    font-size: 16px;
    font-weight: 300;
  }
}

.book_subtitle {
  color: #f1791e;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 2px;
}

.book_step_title {
  color: #f1791e;
  letter-spacing: 2px;
  font-size: 18px;
}

.landing-page h2.ad_banner_title {
  color: white;
  font-size: 30px;
  text-shadow: 2px 2px grey;
  letter-spacing: 4px;
  font-weight: 400;
  margin-bottom: 15px;
}

.ad_banner_subtitle {
  font-size: 20px;
  margin-top: 10px;
  text-shadow: 2px 2px grey;
  letter-spacing: 3px;
  font-weight: 300;
}

.landing-page section p {
  &.about-content {
    font-size: 1.4em;
    line-height: 2.2em;
    font-weight: 300;
    letter-spacing: 1px;
  }
  font-size: 14px;
  margin-bottom: 0px;
  color: #767676;
  letter-spacing: 1px;
}

.contact-column {
  p {
    font-size: 14px;
    margin-bottom: 0px;
    color: #767676;
    letter-spacing: 1px;
  }
  h3 {
    letter-spacing: 1px;
    font-size: 20px;
    font-weight: 600;
    color: #484848;
    margin-bottom: 6px;
  }
}

.navy {
  color: #f1791e;
  margin-top: 20px;
  letter-spacing: 2px;
  font-size: 22px;
  font-weight: 400;
}

@media only screen and (max-width: 767px) {
  .img-wechat {
    margin-top: 20px !important;
  }
  .landing-page {
    .carousel-caption {
      width: 90%;
      top: 50px;
    }
    .features-text {
      margin-top: 10px;
    }
    .navbar-nav > li > a {
      padding: 10px !important;
    }
    h2, .features h2 {
      font-size: 26px;
    }
  }
  #footprint .navy, .navy {
    font-size: 18px;
    line-height: 22px;
  }
}