@import '../includes/colors';

.controller-wrapper {
    margin-bottom: 20px;
}
th, td {
    text-align: center;
    padding: 8px;
}
input.error {
    //border: 1px solid $usitrip-hover-tag;
}
.row {
    margin-bottom: 10px;
}
input:not([type=file]) {
    padding: 10px;
    height: 28px;
    &.datepicker {
        border-radius: 0;
    }
}