a.link {
    color: red;
    text-decoration: underline;
    word-break: break-all;
}
@media(max-width:1200px ){
    body{
        display: inline-table;
    }
}
@media (min-width:425px ) {
    .all-wrapper {
        margin: 0 auto;
        min-width: 1200px;
        max-width: 1800px;
        overflow-x: auto;
    }

    .content-box {
        margin: 0 auto;
        width: 1200px;
    }

    .content-box p {
        float: left;
        width: 568px;
        height: 165px;
        font-size: 18px;
        display: inline-block;
    }

    img.img-responsive.login-intro-img {
        width: 100%;
    }

    .login-intro-img {
        background: url(/img/general/affiliate/pc_welcome_banner.png) 0 0 no-repeat;
        height: 402px;
        background-size: 100% 100%;
    }

    h2 {
        font-size: 28px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #484848;
        padding: 2vw 0;
    }

    .link {
        font-size: 28px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #f68e39;
    }

    h1 {
        margin: 2vw 0;
        font-size: 36px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #f68e39;
    }

    h4 {
        font-size: 24px;
        text-align: left;
        color: #f68e39;
        padding: 4vw 0 2vw 0;
        width: 600px;
    }

    .money {
        background: url(/img/general/affiliate/welcome_icon.png) -33px -763px no-repeat;
        padding-right: 59px;
        padding-top: 12px;
        padding-bottom: 12px;
    }

    .percentage {
        background: url(/img/general/affiliate/welcome_icon.png) -33px -763px no-repeat;
        padding-right: 59px;
        padding-top: 12px;
        padding-bottom: 12px;
    }

    .cash {
        background: url(/img/general/affiliate/welcome_icon.png) -33px -763px no-repeat;
        padding-right: 59px;
        padding-top: 12px;
        padding-bottom: 12px;
    }

    .card {
        background: url(/img/general/affiliate/welcome_icon.png) -33px -763px no-repeat;
        padding-right: 59px;
        padding-top: 12px;
        padding-bottom: 12px;
    }

    .flow-one {
        background: url(/img/general/affiliate/welcome_icon.png) -834px -418px no-repeat;
        width: 526px;
        padding-top: 12px;
        height: 141px;
        float: right;
        padding-bottom: 12px;
        margin-top: -34px;
    }

    .flow-two {
        background: url(/img/general/affiliate/welcome_icon2.png) -755px -567px no-repeat;
        width: 365px;
        padding-top: 12px;
        height: 141px;
        float: right;
        padding-bottom: 12px;
        margin-top: -34px;
    }

    .flow-three {
        background: url(/img/general/affiliate/welcome_icon.png) -1380px -418px no-repeat;
        width: 459px;
        padding-top: 12px;
        height: 141px;
        float: right;
        padding-bottom: 12px;
        margin-top: -34px;
    }

    .flow-four {
        background: url(/img/general/affiliate/welcome_icon.png) -1407px -557px no-repeat;
        width: 459px;
        padding-top: 12px;
        height: 141px;
        float: right;
        padding-bottom: 12px;
        margin-top: -34px;
    }
}
@media (max-width:425px){
    h1 {
        font-family: Roboto;
        margin: 20px 0;
        font-size: 18px;
        text-align: left;
        color: #f68e39;
    }
    .link{
        font-family: Roboto;
        font-size: 14px;
        text-align: left;
        color:#f68e39;
        display: inline-block;
        padding: 2vw 0;
    }
    h2{
        font-family: Roboto;
        font-size:14px;
        text-align: left;
        color:#484848;
        padding: 2vw 0;
    }
    .all-wrapper {
        margin: 0 auto;
        font-size: 14px;
    }
    .content-box{
        width: 86vw;
    }
    img.img-responsive.login-intro-img {
        margin: 0 auto;
        width: 800px;
    }
    .login-intro-img{
        background: url(/img/general/affiliate/welcome_icon.png) 0 -57vw no-repeat;
        height: 38vw;
        background-size: 226vw 112vw;
    }
    h4{
        width: 86vw;
        font-size: 14px;
        text-align: center;
        color: #f68e39;
        padding-top: 17vw;
    }
    .money {
        background: url(/img/general/affiliate/welcome_icon.png) -3vw -99.5vw no-repeat;
        background-size: 226vw 110vw;
        padding-right: 8vw;
        padding-top: 1vw;
    }
    .percentage{
        background: url(/img/general/affiliate/welcome_icon.png) -10vw -99.5vw no-repeat;
        background-size: 226vw 110vw;
        padding-right: 8vw;
        padding-top: 1vw;
    }
    .cash{
        background: url(/img/general/affiliate/welcome_icon.png) -17vw -99.5vw no-repeat;
        background-size: 226vw 110vw;
        padding-right: 8vw;
        padding-top: 1vw;
    }
    .card {
        background: url(/img/general/affiliate/welcome_icon.png) -24vw -99.5vw no-repeat;
        background-size: 226vw 110vw;
        padding-right: 8vw;
        padding-top: 1vw;
    }
    .flow-one {
        background: url(/img/general/affiliate/welcome_icon.png) -96vw -57vw no-repeat;
        height: 18vw;
        background-size: 226vw 112vw;
        width: 71vw;
        margin: 7vw auto;
    }
    .flow-two {
        background: url(/img/general/affiliate/welcome_icon2.png) -96vw -79vw no-repeat;
        background-size: 241vw 112vw;
        height: 18vw;
        width: 55vw;
        margin: 7vw auto;
    }
    .flow-three {
        background: url(/img/general/affiliate/welcome_icon.png) -172vw -55vw no-repeat;
        height: 18vw;
        background-size: 226vw 112vw;
        width: 55vw;
        margin: 7vw auto;
    }
    .flow-four {
        background: url(/img/general/affiliate/welcome_icon.png) -172vw -75vw no-repeat;
        height: 18vw;
        background-size: 226vw 112vw;
        width: 55vw;
        margin: 7vw auto;
    }
}
