.validPic {
    width: 15px;
    height: 15px;
}
.error {
    color: #e4393c;
}
/* entypo */
[class*="entypo-"]:before {
    font-family: 'entypo', sans-serif;
}
.border-box {
    border: 1px solid rgba(99, 99, 99, 0.3);
}
.close {
    color: #000 !important;
    font-size: 32px;
    font-weight: 400;
}
.entypo-star {
    color: #ffc101;
}
.no-border {
    border: 0 !important;
}
.compare {
    color: #ffc101;
    font-size: 25px;
    margin-left: 15px;
    font-weight: 500;
}
.font-normal {
    font-weight: normal !important;
}
@media (min-width: 1400px) {
    .all-wrapper {
        margin: auto;
        max-width: 1240px;
    }
}
@media (max-width: 1400px) {
    .all-wrapper {
        margin: auto;
        max-width: 980px !important;
    }
}
@media (max-width: 768px) {
    [class*="col-"] {
        margin-bottom: 10px;
    }
}
.specialrequest {
    display: block;
    overflow: hidden;
    padding-bottom: 10px;
    font-size: 1em;
    font-family: 'Roboto', 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
.paymentLabel {
    cursor: pointer;
    margin-right: 12px;
    font-size: 14px;
}
.paymentLabel:last-of-type {
    margin-right: 0;
}
.ccPaymentLabel {
    pointer-events: none;
    opacity: 0.7;
}
#placing_order {
    padding-top: 20vh;
}
#placing_order-buttons {
    padding: 20px 0 20px;
}
/*citcon qr modal*/
.modal-content-citcon {
    background-color: #fff;
    margin-top: 200px;
    text-align: center;
}
/*new pc*/
.img-responsive-display {
    width: 100%;
    max-height: 300px;
}
#master-main {
    background-color: #eee;;
}
.book-box {
    width: 1200px;
    margin: 20px auto;
}
.book-info-box {
    margin-right: 20px;
    width: 830px;
    display: inline-block;
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    vertical-align: top;
}
main {
    display: flex;
    flex-direction: column;
    min-height: 10vh;
    min-width: 100vw;
}
.book-head-marketing {
    height: 60px;
    width: 1200px;
    margin: 0 auto;
}
.fa-exclamation-circle {
    font-size: 24px;
    color: #4c8ecb;
    padding-right: 6px;
}
.hurry {
    font-size: 18px;
    color: #4c8ecb;
    margin-bottom: 13px;
}
.two-mins {
    font-size: 24px;
    color: #4c8ecb;
    margin: 13px 0 10px 0;
}
.question {
    color: #636363;
    line-height: 3;
    letter-spacing: normal;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
}
.book-detail-title {
    font-size: 24px;
    color: #636363;
}
.book-step-one {
    height: 45px;
    width: 650px;
    margin: 0 auto;
}
.red-line {
    width: 250px;
    height: 4px;
    margin-top: 23px;
    background-color: #e4393c;
}
.grey-line {
    width: 250px;
    height: 4px;
    background-color: #a7a9ab;
    margin-top: 23px;
}
.book-explain-step {
    padding: 8px 0 12px;
    font-size: 18px;
    display: flex;
    width: 680px;
    margin: 0 auto;
}
.book-explain-step > span {
    width: 33.33%;
    /*text-align:center;*/
}
.step-now {
    color: #e4393c;
    text-align: left;
}
.step-next {
    color: #636363;
    text-align: center;
}
.step-final {
    color: #636363;
    text-align: right;
}
.good-choice {
    font-size: 18px;
    font-weight: normal;
    color: #4c8ecb;
}
.book-room-detail {
    font-size: 18px;
    margin-top: 30px;
    color: #636363;
}
.main-guest-title {
    font-size: 18px;
    color: #636363;
    margin: 2px 0 7px;
}
.book-info-label {
    font-size: 14px;
    padding-top: 9px;
    color: #636363;
}
.line-divider {
    width: 798px;
    height: 1px;
    margin-bottom: 36px;
    background-color: #636363;
}
.must-fill {
    color: #e4393c;
    padding-left: 9px;
}
.guest-info-tip {
    color: #e4393c;
    margin: 10px 0;
    font-size: 14px;
}
.contact-title {
    font-size: 18px;
    color: #636363;
    padding-bottom: 7px;
}
.form-control, .single-line {
    font-size: 18px;
}
.form-control {
    padding: 3px 12px;
}
.pmy-type-icon {
    height: 30px;
    margin: 0 12px 5px 8px;
}
.pmt-title {
    margin-top: 30px;
    font-size: 18px;
    margin-bottom: 7px;
    color: #636363;
}
.pmt-confirm-check {
    margin-top: 20px;
    text-align: justify;
    -moz-text-align-last: left;
    width: 800px;
    /* Code for Firefox */
    text-align-last: left;
}
.pmt-confirm-text {
    color: #636363;
    font-size: 14px;
    margin-left: 20px;
    /*float:left;*/
}
#paymentAuth {
    float: left;
}
.hotel-detail-box {
    width: 346px;
    display: inline-block;
    vertical-align: top;
}
.hotel-detail-top {
    padding: 20px 20px 24px 20px;
    background-color: #fff;
}
.hotel-detail-bottom {
    background-color: #fff;
    margin: 20px 0;
    padding: 20px;
}
#hotel-name {
    font-size: 18px;
    font-weight: normal;
    color: #636363;
}
#hotel-rating {
    font-size: 24px;
    margin-top: -5px;
    color: #e4393c;
}
.fa-map-marker {
    width: 14px;
    font-size: 18px;
    color: #636363;
}
#hotel-address {
    font-size: 14px;
    color: #636363;
}
.date-box {
    width: 306px;
    height: 88px;
    border-radius: 5px;
    border: solid 1px rgba(168, 170, 172, 0.5);
    margin-top: 20px;
    padding: 20px;
    font-size: 14px;
    color: #636363;
}
.book-cancel-policy {
    padding: 20px 0;
    font-size: 14px;
    border-bottom: 1px solid #a7a9ab;
}
#hotel-cancel {
    color: #e4393c;
}
.hotel-rate-title {
    font-size: 18px;
    margin-top: 20px;
    color: #636363;
    padding-bottom: 8px;
}
.hotel-total-price {
    font-size: 30px;
    color: #e4393c;
    padding: 4px 0 10px;
}
.bottom-line-divider {
    padding: 9px 0;
    line-height: 14px;
    border-top: 1px solid rgba(167, 169, 171, 0.3);
}
.price-break-down-box {
    padding-bottom: 20px;
}
#HotelDue {
    margin-top: 10px;
    color: #636363;
    font-size: 14px;
    padding-bottom: 20px;
}
.pay-today {
    padding-top: 5px;
}
.note-and-why-us-box {
    padding-right: 0;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #fff;
    width: 347px;
}
.ladda-button-book {
    background-color: #ffc439;
    width: 250px;
    height: 35px;
    font-size: 20px;
    color: #000;
    padding-top: 3px;
    border: none;
}
.ladda-button-book:hover {
    background-color: #e4393c;
    border: none;
}
.note-title {
    font-size: 18px;
    color: #636363;
}
#hotel-comment {
    padding-top: 10px;
    font-size: 14px;
    text-align: justify;
    -moz-text-align-last: left; /* Code for Firefox */
    text-align-last: left;
    padding-right: 20px;
}
.why-us-block {
    margin-top: 20px;
    padding-right: 20px;
}
.coupon-block {
    background: #fff;
    margin-top: 20px;
    padding: 24px 20px;
    h1 {
        font-size: 18px;
        margin-bottom: 12px;
    }
    .code-input, .code-apply {
        border: 1px solid #a7a9ab;
        border-radius: 3px;
        height: 36px;
        line-height: 36px;
        font-size: 14px;
    }
    .code-input {
        margin-right: 9px;
        width: 214px;
        padding-left: 13px;
        color: #636363;
        &-wrapper {
            display: inline-block;
        }
        &.error {
            background: #fed6d6;
        }
    }
    .code-apply {
        width: 77px;
        background-color: #2681ff;
        border-color: #2681ff;
        color: #fff;
    }
    .error-message {
        display: none;
        color: #e4393c;
        font-size: 15px;
        margin-top: 8px;
    }
}
.applied-coupon-block {
    .color-green {
        color: #52a318;
    }
    .coupon-amount {
        margin: 9px 0;
    }
    .remove-btn-wrapper {
        text-align: right;
    }
    .remove-btn {
        border: none;
        background: transparent;
        color: #2681ff;
    }
}
//processing modal
.modal-static {
    position: fixed;
    top: 50% !important;
    left: 50% !important;
    margin-top: -100px;
    margin-left: -100px;
    overflow: visible !important;
}
.modal-static,
.modal-static .modal-dialog,
.modal-static .modal-content {
    width: 200px;
    height: 200px;
}
.modal-static .modal-dialog,
.modal-static .modal-content {
    padding: 0 !important;
    margin: 0 !important;
}
.icon {
    margin-left: -65px;
}
//use term
.modal-content-userTerm {
    background-color: #fff;
    margin-top: 9px;
}
//phone component
.area-box {
    cursor: pointer;
}
.area-box .fa-angle-down {
    padding-left: 123px;
    margin-top: -2px;
}
i.fa.fa-question-circle {
    background: none !important;
    margin-bottom: 5px;
}
i.fa-angle-down {
    background: none !important;
}
span.country-with-flag {
    left: 26px;
    position: absolute;
    top: 7px;
}
input#phone_country, input#countryCodePhone {
    text-indent: 25px;
    cursor: pointer;
}
.area-wrap {
    display: none;
    width: 322px;
    position: absolute;
    z-index: 4;
    background: #fff;
    border: 1px solid #ccc;
    padding: 0;
}
.area-box i, .area-con-dl dd i {
    width: 24px;
    height: 11px;
    background: url(/img/country/area.png) no-repeat;
    display: inline-block;
    vertical-align: middle;
}
.flag {
    width: 20px;
    height: 11px;
    vertical-align: middle;
    background: url(/img/country/area.png) no-repeat;
    display: inline-block;
    _overflow: hidden;
}
.area-con-dl dd.spl {
    background: #cbcbcb;
    height: 1px;
    padding: 0;
    margin: 17px 0;
}
.area-wrap-two dl.area-con-dl dd {
    height: 26px;
    line-height: 26px;
    padding: 5px 0 5px 8px;
}
.m-log .area-wrap .area-box .areas {
    border: none !important;
    background: #f9fbfd;
    height: 42px;
    border-right: 1px solid #b5d8f6 !important;
    float: left;
    width: 78px;
}
.m-log .muser-box input.phone {
    padding: 8px 0;
    margin: 0;
    background: 0 0;
}
.m-log .muser-box input.areaname, .m-log .muser-box input.phone {
    outline: 0;
    line-height: 26px;
    height: 26px !important;
    border: none !important;
}
.m-log .area-wrap .area-box {
    height: 34px;
    position: relative;
}
.area-wrap .area-box {
    height: 30px;
    line-height: 30px;
}
.m-log .area-wrap .area-box .tips {
    display: block;
    position: absolute;
    top: 45px;
    left: 118px;
    color: #666;
    height: 12px;
    line-height: 12px;
    font-family: Tahoma;
}
.area-wrap .area-box .tips {
    padding-left: 5px;
}
.area-wrap .area-box .areas {
    padding-left: 8px;
    height: 28px;
    line-height: 28px;
    vertical-align: top;
    border: 1px solid #bbb;
    display: inline-block;
    border-radius: 3px;
}
.area-wrap .area-box .areas, .area-wrap .area-box input.phone {
    border-radius: 0 !important;
}
.areas, .phone {
    float: left;
}
.area-wrap dl.area-con-dl {
    min-height: 100px;
    max-height: 260px;
    _height: 208px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0;
    margin: 0
}
.area-wrap dl.area-con-dl dd {
    cursor: pointer;
}
.area-wrap dl.area-con-dl dd {
    height: 35px;
    line-height: 35px;
    padding: 5px 0 5px 8px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.area-wrap dl.area-con-dl dd.highlight, .area-wrap dl.area-con-dl dd:hover {
    background: #eee;
}
.area-wrap dl.area-con-dl dd {
    cursor: pointer;
}
.m-log .muser-box input.areaname, .m-log .muser-box input.phone {
    outline: 0;
    line-height: 26px;
    height: 26px !important;
    border: none !important;
}
.area-wrap .area-box .areas, .area-wrap .area-box input.phone {
    border-radius: 0 !important;
}
.areas, .phone {
    float: left;
}
.area-wrap dl.area-con-dl dd.spl {
    background: #cbcbcb;
    height: 1px;
    padding: 0;
    margin: 17px 0;
}
.form-control[readonly] {
    background-color: #fff;
}
/*why us section*/
.why-us {
    overflow-y: auto;
    padding-left: 15px;
}
.why-us-text-long {
    line-height: 17px;
    padding-bottom: 25px;
}
.why-us-text-long-icon {
    margin-top: 10px;
}
.why-us-right {
    margin-top: 6px;
    line-height: 15px;
}
.why-us-title {
    height: 25px;
    font-size: 24px;
    text-align: left;
    color: #636363;
    padding-bottom: 60px;
    line-height: 30px;
}
.why-us-subtitle {
    height: 22px;
    font-size: 18px;
    text-align: left;
    color: #636363;
}
.why-us-text {
    height: 15px;
    font-size: 14px;
    text-align: left;
    color: #636363;
}
.exchange-rate-warning {
    color: red;
    margin-top: 20px;
    margin-bottom: 10px;
    display: inline-block;
}
/*end of why us section*/