/*b and c site shared style*/
/* 清除浮动*/
.clear {
    display: block;
    zoom: 1;
    overflow: hidden;
    &:after {
        clear: both;
        content: '';
        display: block;
    }
}
.m-nav {
    height: 40px;
    line-height: 40px;
    margin: 0;
    li {
        float: left;
        position: relative;
        & > a i {
            border-width: 4px;
            border-style: solid;
            border-color: #fff transparent transparent transparent;
            display: block;
            height: 0;
            margin-top: -1px;
            overflow: hidden;
            position: absolute;
            right: 11px;
            top: 50%;
            -webkit-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
            width: 0;
        }
        & > a em {
            border-width: 5px;
            border-style: solid;
            border-color: transparent transparent #fff transparent;
            bottom: 0;
            filter: alpha(opacity=0);
            height: 0;
            left: 50%;
            margin-left: -2px;
            opacity: 0;
            overflow: hidden;
            position: absolute;
            -webkit-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
            width: 0;
        }
        .m-nav-down {
            background: #fff;
            box-shadow: 0 5px 6px rgba(0, 0, 0, 0.2);
            left: 0;
            position: absolute;
            top: 40px;
            visibility: hidden;
            z-index: 99;
            &-cn {
                height: 35px;
                line-height: 35px;
                position: absolute;
                dd {
                    float: left;
                    a {
                        color: #666;
                        margin: 0 10px;
                        &:hover {
                            color: #2696fc;
                        }
                    }
                }
            }
        }
        .nav-down-box {
            background-color: #fff;
            border: 1px solid #e3e3e3;
            border-top: none;
            display: none;
            font-size: 14px;
            left: 0;
            padding: 10px 0 10px 28px;
            position: absolute;
            top: 40px;
            width: 720px;
            box-sizing: content-box;
            a {
                color: #303030;
                &:hover {
                    color: #1581ea;
                }
            }
            dl {
                line-height: 28px;
                margin-bottom: 15px;
                overflow: hidden;
                padding-left: 100px;
            }
            dt {
                float: left;
                font-weight: bold;
                margin-left: -100px;
                width: 100px;
                a {
                    color: #505050;
                }
            }
            dd {
                float: left;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                width: 120px;
            }
            &.more {
                padding-left: 0;
                dl {
                    margin-bottom: 0;
                    padding-left: 0;
                }
                dt {
                    float: left;
                    font-weight: normal;
                    margin-left: 0;
                    text-align: center;
                    width: 100%;
                }
            }
        }
        &:hover .nav-down-box {
            display: block;
            z-index: 999;
        }
        &:hover {
            & > a {
                background-color: #1f469e;
                color: #fff;
            }
            & > a em {
                filter: alpha(opacity=100);
                opacity: 1;
            }
            & > a i {
                border-width: 4px;
                border-style: solid;
                border-color: #fff transparent transparent transparent;
                height: 0;
                margin-top: -4px;
                overflow: hidden;
                -ms-transform: rotate(-180deg);
                -webkit-transform: rotate(-180deg);
                transform: rotate(-180deg);
                width: 0;
            }
            .m-nav-down {
                visibility: visible;
            }
        }
        &.active > a {
            background-color: #1f469e;
        }
    }
    .active {
        background: #1f469e;
    }
    &-two {
        height: 40px;
        line-height: 40px;
        li {
            float: left;
            a {
                color: #fff;
                display: block;
                font-size: 14px;
                padding: 0 7px;
                -webkit-transition: 0.3s;
                transition: 0.3s;
            }
        }
    }
    &-down {
        background: #fff;
        box-shadow: 0 5px 6px rgba(0, 0, 0, 0.2);
        height: 35px;
        line-height: 35px;
        position: relative;
        width: 100%;
    }
    &-wrap {
        background: #1581ea;
        font: 12px/12px "Microsoft Yahei", Arial, Helvetica, sans-serif;
        height: 40px;
        line-height: 1;
        min-width: 1200px;
        position: relative;
        /*margin-bottom: 10px;*/
        width: 100%;
        z-index: 9;
    }
    &-sort {
        position: relative;
        width: 270px;
        &-tit {
            background: #2696fc;
            color: #fff;
            display: block;
            font-size: 16px;
            height: 40px;
            line-height: 40px;
            position: relative;
            text-align: center;
            width: 270px;
            i {
                border-color: #fff transparent transparent transparent;
                border-style: solid;
                border-width: 6px;
                position: absolute;
                right: 56px;
                top: 16px;
            }
        }
        &:hover .m-sort-box {
            display: block;
        }
    }
}
.usitrip {
    &-pc-bg {
        background-color: #eee;
        padding-bottom: 20px;
    }
    &-hover-tag {
        color: #e4393c !important;
    }
    &-bright {
        color: #4c8ecb;
    }
    &-normal {
        color: #ea8523;
    }
    &-pure {
        color: #104a8f;
    }
    &-hover-list {
        color: #d7d7d7;
    }
    &-fade {
        color: #636363;
    }
    &_pc_all_img {
        background: url(/img/spriteImgs/usitrip_pc_all_img.png) no-repeat;
        display: block;
        i {
            display: block;
            float: left;
            height: 606px;
            margin-right: 12px;
            width: 606px;
        }
    }
}
/*新版pc样式表*/
.check-icon-red {
    background-position: -139px -402px;
    float: left;
    height: 44px;
    margin: 1px 15px 0 0;
    width: 44px;
}
.red-circle-icon {
    background-position: -294px -90px;
    height: 50px;
    width: 50px;
}
.grey-circle-icon {
    background-position: -367px -90px;
    height: 50px;
    width: 50px;
}
.grey-check-icon {
    background-position: -441px -90px;
    height: 50px;
    width: 50px;
}
/*end of 新版pc样式表*/
.fa-star {
    padding-right: 2px;
}
.modal-term-body {
    padding: 15px;
}
.border {
    &-bottom {
        border-bottom: 1px solid #dce0e0 !important;
    }
    &-topbottom {
        border-bottom: 2px solid #e7eaec !important;
        border-top: 2px solid #e7eaec !important;
        padding-top: 25px;
    }
    &-topbottomnopadding {
        border-bottom: 1px solid #e7eaec !important;
        border-top: 1px solid #e7eaec !important;
    }
    &-nopadding1 {
        border: 1px solid #dce0e0 !important;
        height: 202px;
    }
    &-nopadding {
        border: 1px solid #dce0e0 !important;
        border-radius: 4px;
    }
    &-product {
        border: 1px solid #dce0e0 !important;
        border-radius: 4px;
        min-height: 202px;
    }
    &-topfocus {
        border-top: 5px solid #ff9c00 !important;
        font-size: 14px;
        /*box-shadow: 0 2px 1px 0 #e7eaec, 0 2px 1px 0 #e7eaec;*/
    }
    &-bottomfocus {
        border-bottom: 1px solid #e7eaec !important;
        padding-bottom: 1px;
    }
}
