@import "../includes/colors";
@import "../../custom/autocomplete/autocomplete.css";

//overwrite master style
main {
    min-width: auto;
    min-height: 70vh;
}
body {
    overflow-x: hidden;
}
[v-cloak] {
    display: none;
}
.text-danger {
    color: $usitrip-hover-tag;
}
.autocomplete-suggestions {
    width: 500px;
}
.top-search-bar {
    border-bottom: 1px solid #a7a9ab;
    box-shadow: 0px 3px 7px 0 rgba(0, 0, 0, 0.07);
    .container {
        position: relative;
    }
    .display-block {
        padding: 10px 0;
        label {
            font-weight: normal;
        }
        .destination-name, .dates, .rooms {
            display: inline-block;
            vertical-align: middle;
        }
        .destination-name {
            max-width: 170px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            margin-right: 20px;
            padding-left: 35px;
            position: relative;
            &:before {
                content: '';
                display: inline-block;
                position: absolute;
                background: url('/img/spriteImgs/coupon_icons.png') no-repeat -523px -37px;
                width: 26px;
                height: 26px;
                left: 0;
                top: 22px;
            }
        }
        .param-data {
            height: 26px;
            line-height: 26px;
            color: #4c8ecb;
            font-size: 18.5px;
        }
        .dates {
            width: 230px;
            margin-right: 20px;
        }
    }
    .search-block {
        padding: 20px 0 80px;
        display: flex;
        justify-content: space-between;
        label {
            display: block;
            font-size: 14px;
            font-weight: normal;
        }
        .param-data, .rooms-display {
            border: 1px solid #636363;
            height: 40px;
            line-height: 40px;
            padding-left: 20px;
            font-size: 18px;
            border-radius: 5px;
            &:focus {
                border: 1px solid $usitrip-bright;
            }
            &.error {
                border-color: $usitrip-hover-tag;
            }
        }
        .destination-name, .checkin-date, .checkout-date, .rooms-wrapper {
            display: inline-block;
            vertical-align: middle;
            position: relative;
            &:not(.rooms-wrapper):before {
                font-family: 'Font Awesome 5 Free';
                font-size: 20px;
                position: absolute;
                left: 12px;
                top: 30px;
                color: #a7a9ab;
                z-index: 5;
                font-weight: 900;
            }
        }
        .destination-name {
            input {
                width: 300px;
                padding-left: 33px;
            }
        }
        .checkin-date, .checkout-date {
            input {
                padding-left: 40px;
            }
            &:before {
                content: "\F073";
            }
        }
        .rooms-display {
            width: 271px;
            position: relative;
        }
        .rooms-dropdown {
            width: 271px;
            position: absolute;
            background: #fff;
            z-index: 2;
            left: 0;
            border: 1px solid #4c8ecb;
            border-top: none;
            border-radius: 5px;
            padding: 15px;
            font-size: 18px;
            label {
                width: 105px;
                display: inline-block;
            }
            input {
                width: 30px;
                margin: 0 10px;
                border: none;
                text-align: center;
            }
            .control-minus, .control-plus {
                display: inline-block;
                width: 28px;
                height: 28px;
                line-height: 28px;
                text-align: center;
                border: 1px solid #636363;
                border-radius: 50%;
                cursor: pointer;
                font-size: 24px;
                background: #fff;
                &:disabled {
                    background: rgba(167, 169, 171, 0.65);
                    color: #fff;
                }
            }
        }
    }
    .search-btn {
        position: absolute;
        top: 105px;
        width: 271px;
        height: 40px;
        border-radius: 5px;
        border: none;
        background: $usitrip-normal;
        font-size: 24px;
        color: #fff;
    }
    .change-btn {
        position: absolute;
        right: 20px;
        top: 34px;
        border: none;
        font-size: 18px;
        color: $usitrip-bright;
        background: #fff;
        &.editing {
            top: 112px;
            color: $usitrip-dark;
            &:hover {
                color: $usitrip-hover-tag;
            }
        }
    }
}
.coupon {
    &-banner {
        height: 500px;
        position: relative;
        h1:empty, p:empty {
            display: none;
        }
        &-bg {
            width: 100%;
            height: 100%;
            background-repeat: no-repeat;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
        }
        &-text {
            position: relative;
            height: 500px;
            text-align: center;
            color: #fff;
            padding: 100px 60px 80px;
        }
    }
    &-title {
        font-size: 36px;
        font-weight: normal;
        line-height: 36px;
        margin-bottom: 48px;
    }
    &-name {
        font-size: 75px;
        line-height: 93px;
        margin-bottom: 44px;
    }
    &-code {
        font-size: 36px;
        line-height: 50px;
        margin-bottom: 28px;
        span {
            background: #fff;
            border-radius: 25px;
            padding: 0 15px;
            &:not([class]), &[class=""] {
                color: $usitrip-fade;
            }
        }
    }
    &-details {
        font-size: 24px;
        a {
            border-bottom: 1px solid #fff;
            color: #fff;
        }
    }
}
.coupon-flow {
    padding: 20px 0 40px;
    border: 1px solid #a7a9ab;
    margin-bottom: 50px;
    &-title {
        font-size: 24px;
        text-align: center;
        margin-bottom: 30px;
    }
    .icon-arrow {
        background: url('/img/spriteImgs/coupon_icons.png') no-repeat -384px -38px;
        width: 46px;
        height: 26px;
        display: inline-block;
        vertical-align: bottom;
        padding-bottom: 50px;
        &-wrapper {
            display: inline;
        }
    }
    .coupon-step {
        display: inline-block;
        text-align: center;
        vertical-align: top;
        width: 30%;
        &-wrapper {
            text-align: center;
        }
        &-1{
            &:after {
                right: 10px;
            }
        }
        &-2{
            &:after {
                right: -25px;
            }
        }
        .icon-wrapper {
            text-align: center;
            height: 59px;
            margin-bottom: 8px;
            .icon {
                background-image: url('/img/spriteImgs/coupon_icons.png');
                background-repeat: no-repeat;
                display: inline-block;
                &-list {
                    background-position: -21px -26px;
                    width: 48px;
                    height: 59px;
                }
                &-coupon {
                    background-position: -188px -29px;
                    width: 170px;
                    height: 57px;
                }
                &-bed {
                    background-position: -96px -35px;
                    width: 66px;
                    height: 44px;
                }
            }
        }
        &-desc {
            font-size: 24px;
            line-height: 26px;
        }
    }
}
.hotels-wrapper {
    border: 1px solid #a7a9ab;
    padding: 40px 23px 0;
    margin-bottom: 60px;
    .destination-block {
        padding-bottom: 40px;
        margin-bottom: 35px;
        border-bottom: 1px solid #a7a9ab;
        h2 {
            font-size: 36px;
            line-height: 34px;
            margin-bottom: 32px;
        }
        .destination-wrapper {
            margin: 0;
            li {
                display: inline-block;
                &:not(:last-child) {
                    margin-right: 20px;
                }
            }
            a {
                display: inline-block;
                color: #ffffff;
                background: #a7a9ab;
                border-radius: 5px;
                font-size: 24px;
                height: 39px;
                line-height: 39px;
                padding: 0 16px;
                margin-bottom: 5px;
                &:hover, &.active {
                    background: #2681ff;
                }
                &:not(:last-child) {
                    margin-right: 20px;
                }
            }
        }
    }
    .hotel-group {
        padding-bottom: 40px;
        &-header {
            margin-bottom: 33px;
            h2 {
                font-size: 36px;
                color: #1f1f1f;
                display: inline-block;
            }
            a {
                background: #2681ff;
                font-size: 24px;
                color: #ffffff;
                height: 39px;
                line-height: 39px;
                width: 209px;
                border-radius: 5px;
                text-align: center;
            }
        }
        .hotel-item {
            display: inline-block;
            margin-bottom: 20px;
            position: relative;
            .discount-label {
                display: none;
                background: url('/img/spriteImgs/coupon_icons.png') no-repeat 0 -180px;
                width: 82px;
                height: 46px;
                position: absolute;
                top: 10px;
                left: 5px;
                color: #fff;
                padding-left: 1.2rem;
                font-size: 14px;
                padding-top: 5px;
                span {
                    font-size: 20px;
                }
            }
            &-details {
                border: 1px solid #a7a9ab;
                padding: 12px 17px 30px;
                height: 181px;
                overflow: hidden;
                .hotel-name {
                    font-size: 24px;
                    line-height: 26px;
                    margin: 0 0 6px;
                    font-weight: normal;
                    max-height: 52px;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                }
                .hotel-rating-wrapper {
                    background: url('/img/spriteImgs/coupon_icons.png') no-repeat -363px -125px;
                    width: 103px;
                    height: 19px;
                    .hotel-rating {
                        display: inline-block;
                        background: url('/img/spriteImgs/coupon_icons.png') no-repeat -363px -99px;
                        height: 19px;
                        &-1 {
                            width: 20px;
                        }
                        &-2 {
                            width: 40px;
                        }
                        &-3 {
                            width: 61px;
                        }
                        &-4 {
                            width: 82px;
                        }
                        &-5 {
                            width: 103px;
                        }
                    }
                }
                .hotel-price {
                    height: 29px;
                    line-height: 29px;
                    font-size: 30px;
                    font-weight: normal;
                    position: absolute;
                    bottom: 80px;
                    right: 25px;
                    color: $usitrip-hover-tag;
                }
                .book-btn {
                    height: 40px;
                    line-height: 40px;
                    position: absolute;
                    bottom: 30px;
                    right: 25px;
                    border-radius: 5px;
                    background: #e4393c;
                    font-size: 24px;
                    color: #fff;
                    padding: 0 15px;
                }
            }
        }
    }
}
.policy-modal {
    .modal-dialog {
        margin-top: 10vh;
        @media (min-width: 768px) {
            width: 500px;
        }
    }
    .modal-header {
        font-size: 30px;
        border-color: $usitrip-dark;
        padding: 40px 0 25px;
        .modal-close {
            position: absolute;
            top: 35px;
            right: 20px;
            border: none;
            background-image: url(/img/spriteImgs/coupon_icons.png);
            background-repeat: no-repeat;
            background-position: -573px -32px;
            width: 40px;
            height: 40px;
            cursor: pointer;
            &:hover {
                background-position: -623px -32px;
            }
        }
    }
    .modal-body {
        font-size: 24px;
    }
}
.child-age {
    &-label {
        margin-bottom: 0;
    }
    &-select {
        margin-right: 3px;
    }
}