@import "../includes/colors";

.feedback {
    margin: 100px 0 80px;
    border: 2px solid $usitour-blue;
    border-radius: 20px;
    overflow: hidden;
    &-title {
        height: 155px;
        line-height: 155px;
        text-align: center;
        background: $usitour-blue;
        color: #fff;
        font-size: 48px;
        border-bottom-style: dashed;
    }
    &-message {
        line-height: 80px;
        text-align: center;
        color: $usitour-blue;
        font-size: 48px;
        margin: 80px 0;
    }
    &-details {
        padding: 80px 50px;
        font-size: 30px;
        &-desc {
            color: $usitour-blue;
            margin-bottom: 99px;
        }
        .questions-list {
            h2 {
                margin-bottom: 36px;
            }
            .question {
                &-1 {
                    .selection {
                        &-wrapper {
                            padding-left: 50px;
                        }
                        &-checkbox {
                            opacity: 0;
                            position: absolute;
                            &:checked + label, &:hover + label {
                                box-shadow: 5px 5px;
                            }
                        }
                        label {
                            cursor: pointer;
                            width: 197px;
                            height: 190px;
                            border-radius: 20px;
                            border: 4px solid #db343c;
                            color: #db343c;
                            display: block;
                            padding: 7px;
                            text-align: center;
                        }
                        &-chinese label {
                            width: 180px;
                            height: 233px;
                        }
                        &-1 label {
                            border-color: #eb8923;
                            color: #eb8923;
                        }
                        &-2 label {
                            border-color: #d9e356;
                            color: #d9e356;
                        }
                        &-3 label {
                            border-color: #d9e356;
                            color: #d9e356;
                        }
                        .icon {
                            display: inline-block;
                            background-image: url('/img/spriteImgs/feedback_img.png');
                            background-repeat: no-repeat;
                            width: 119px;
                            height: 119px;
                            &-0 {
                                background-position: 0 0;
                            }
                            &-1 {
                                background-position: -139px -1px;
                            }
                            &-2 {
                                background-position: -277px 0;
                            }
                            &-3 {
                                background-position: -417px 0;
                            }
                        }
                    }
                }
                &-2 {
                    margin-top: 79px;
                    .suggestion {
                        line-height: 40px;
                        margin-bottom: 20px;
                        cursor: pointer;
                        &-checkbox {
                            border: 2px solid $usitour-blue;
                            opacity: 0;
                            position: absolute;
                            cursor: pointer;
                            &:checked {
                                & + .suggestion-label {
                                    color: $usitour-blue;
                                    &:before {
                                        content: '\2714';
                                        color: #fff;
                                        background: $usitour-blue;
                                    }
                                }
                            }
                        }
                        &-label {
                            margin: 0;
                            cursor: pointer;
                            &:before {
                                content: '';
                                border: 2px solid $usitour-blue;
                                border-radius: 5px;
                                display: inline-block;
                                vertical-align: middle;
                                width: 40px;
                                height: 40px;
                                margin-right: 10px;
                                text-align: center;
                            }
                        }
                    }
                }
                &-3 {
                    margin-top: 80px;
                    .notes-area {
                        width: 100%;
                        border: 4px solid $usitour-blue;
                        font-size: 20px;
                        padding: 20px;
                    }
                }
            }
        }
        .submit-wrapper {
            text-align: center;
            margin-top: 40px;
            .btn-submit {
                width: 400px;
                height: 70px;
                line-height: 70px;
                background: $usitour-blue;
                border: none;
                color: #fff;
                font-size: 36px;
                padding: 0;
            }
        }
    }
}