.m-spec-box {
    margin: 0;
}
.btn-upload {
    width: 160px;
    height: 50px;
    background-color: #2681ff;
    border: none;
    color: #fff;
    font-size: 24px;
    border-radius: 0;
}
.btn-upload:hover {
    background-color: #003e82;
    color: #fff;
}
.modal-demo {
    margin-top: 200px;
}
.modal-description {
    padding: 10px 30px 0px 15px;
}
.modal-img {
    padding: 8px;
}
input#photo {
    font-size: 24px;
    padding-bottom: 30px;
}
#photo, .demo{
    cursor: pointer;
}
.demo:hover {
    color: #003e82;
}
.smallPic {
    height: 500px;
}
.upload-wrapper {
    padding-top: 72px;
}
.file-upload-explain {
    padding-bottom: 98px;
}
.upload_file_tutorial {
    padding-bottom: 35px;
}
#imageForm p {
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #484848;
}
.ssl {
    height: 61px;
    padding-top: 64px;
    padding-bottom: 60px;
}
.ssl-logo {
    display: inline-block;
    position: absolute;
    background-image: url(/img/spriteImgs/fraud_img.png);
    background-repeat: no-repeat;
    background-position: -377px -160px;
    width: 51px;
    height: 61px;
}
.ssl-text {
    height: 61px;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #2681ff;
    padding-left: 67px;
}
.upload_file_title {font-size: 36px; color: #484848;padding-bottom: 50px;}
.demo {
    padding: 21px;
    text-decoration: underline;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #2681ff;
}
#MEIQIA-BTN-HOLDER {
    background-color: #007aff !important;
    background-size: 0 !important;
    background-position: -52px 0 !important;
    background-img: none;
}
#MEIQIA-BTN #MEIQIA-BTN-ICON {
    display: block !important;
}