#foot a.highlight,
#foot a:hover,
#topbar {
    line-height: 38px;
    background: #f5f5f5;
    height: 38px;
    overflow: visible;
    min-width: 1200px;
    position: relative;
    z-index: 999
}
/* 英文头部 */
#en_topbar {
    background-color: #fff;
    height: 80px;
    min-width: 1200px;
    a {
        color: #333;
        font-size: 18px;
        font-weight: 400;
        padding-left: 8px;
    }
    .en_menu-list {
        float: right;
        margin: 0;
        .en_language dd.pngFix:hover {
            background-color: #2581fe !important;
        }
        li {
            white-space: nowrap;
            padding-top: 21px;
            float: left;
            line-height: 30px;
            font-size: 18px;
            color: #333;
            margin-left: 28px;
            position: relative;
            dl {
                position: absolute;
                left: 0;
                padding: 0;
                z-index: 200;
                display: none;
                background-color: #003e82;
                border-top: 1px solid #fff;
                margin: 0;
            }
            dl dd {
                padding: 2px 11px 2px 0;
                a {
                    color: #fff !important;
                }
                &:hover {
                    background-color: #2581fe;
                    .color_fe8426 {
                        background-color: #2581fe;
                    }
                }
            }
            img {
                padding-right: 7px;
                position: relative;
                top: 3px;
                display: inline-block;
            }
            .myusi-list {
                width: 167px !important;
                text-align: left;
                a {
                    color: #fff !important;
                    &:hover {
                        color: #fe8426;
                    }
                }
                dd:hover {
                    background-color: #2581fe;
                }
                dd:first-child a {
                    width: 100%;
                    height: 30px;
                    display: inline-block;
                }
                dd:first-child a:hover {
                    color: #000;
                }
                i {
                    text-decoration: underline;
                    padding-left: 4px;
                }
            }
            .color_fe8426 {
                color: #fff;
                background-color: #003e82;
            }
            .color_fff {
                color: #333 !important;
                background-color: #fff !important;
            }
            .title {
                display: inline-block;
                width: 100%;
                height: 30px;
                line-height: 30px;
            }
        }
        a .color_fe8426 a {
            background-color: #2581fe;
        }
        .en_language {
            .pngFix {
                padding-left: 10px;
                height: 30px;
                line-height: 30px;
                /*background: url("//www.usitrip.com/tpl/en.usitrip.com/image/contry-flag.png") no-repeat;*/
                clear: both;
            }
            .zh {
                background-position: 7px -40px;
            }
            .tw {
                background-position: 7px -80px;
            }
            .en {
                background-position: 7px -4px;
            }
        }
        .title {
            padding-right: 4px;
        }
    }
    .alignLeft {
        text-align: left;
    }
    .usitour-logo-new {
        height: 61px;
        width: 209px;
        margin-top: 8px;
        background-image: url("/img/spriteImgs/home_img_icon.png");
        background-repeat: no-repeat;
        background-position: -665px -64px;
        &-cn {
            background-image: url("/img/spriteImgs/home_img_icon.png");
            background-position: -787px -118px;
            background-repeat: no-repeat;
            height: 72px;
            margin-top: 8px;
            width: 387px;
        }
    }
    .usitrip-logo-new {
        display: block;
        width: 387px;
        height: 78px;
        margin-top: 2px;
        background: url("/img/general/logo/logo-usitrip.png") no-repeat;
    }
}
.rotate180_box:hover .rotate180 {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}
/* end 英文头部 */
/* start of 中文头部 */
.login-wrap {
    position: relative;
    height: 38px;
    padding: 0 15px 0 5px;
    float: left;
    min-width: 100px;
    line-height: 38px;
    display: block;
    white-space: nowrap;
    font-size: 12px;
    & > span {
        float: left
    }
    .bar-welcome {
        padding-right: 16px;
        color: #666;
        float: left;
        *background-position: 130px -2px;
        display: inline-block
    }
    .logout-status {
        float: left;
        padding: 8px 0 0;
        a {
            color: #666;
            font-size: 12px;
            background: #ffda78;
            border-radius: 3px;
            float: left;
            width: 67px;
            height: 23px;
            line-height: 23px;
            text-align: center;
            margin: 0 2px;
            display: inline;
            &:hover {
                box-shadow: 0 0 2px #ccc;
                text-decoration: none
            }
        }
    }
    .login-status {
        .login-name {
            position: relative;
            cursor: pointer;
            color: #666;
            float: left;
            &:hover {
                color: #fe8902;
                text-decoration: none;
                .full-name {
                    display: inline-block;
                    _dispaly: inline;
                    _zoom: 1
                }
            }
            .simple-name {
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                display: block;
                max-width: 100px
            }
            .full-name {
                display: none;
                position: absolute;
                top: 30px;
                left: 0;
                padding: 0 10px;
                height: 20px;
                line-height: 20px;
                font-size: 12px;
                color: #000;
                white-space: nowrap;
                background: #ffffe1;
                border: 1px solid #000
            }
        }
        .login-hello {
            float: left
        }
        .go-out {
            color: #666;
            font-size: 12px;
            float: left;
            margin-left: 5px;
            _display: inline;
            &:hover {
                color: #fe8902;
                text-decoration: none
            }
        }
    }
    .register-succ-tooltip {
        display: none;
        position: absolute;
        left: 200px;
        _top: 38px;
        width: 309px;
        height: 60px;
        background: url("https://www.usitrip.com/tpl/www/image/register-succ.png") no-repeat;
        z-index: 20;
        p {
            height: 18px;
            line-height: 18px;
            font-size: 12px;
            padding: 15px 12px 15px 8px
        }
    }
}
.g-wrap .notice {
    display: block;
    background: url("https://www.usitrip.com/tpl/www/image/new-topbar-ico.png") -38px 12px no-repeat;
    padding-left: 38px;
    float: left;
    width: 240px;
    overflow: hidden;
    height: 38px;
    margin-left: 60px;
    #notice_0 {
        width: 240px;
        overflow: hidden;
        white-space: nowrap
    }
    a {
        color: #666;
        margin-right: 48px;
        width: auto;
        &:hover {
            text-decoration: underline
        }
    }
}
.down-arrow {
    width: 0;
    height: 0;
    display: inline-block;
    _display: inline;
    _zoom: 1;
    border-top: 5px solid #bcbcbc;
    border-left: 5px solid #f5f5f5;
    border-right: 5px solid #f5f5f5
}
.toolbar {
    height: 38px
}
.bar-menu {
    float: right;
    font-size: 12px;
    font-family: '\5B8B\4F53';
    color: #666;
    .menu-list {
        margin: 0;
        li{
            height: 38px;
        }
    }
    .callOld {
        color: #fe8902;
        float: left;
        margin-right: 34px
    }
    a {
        color: #666;
        &:hover {
            color: #fe8902;
            text-decoration: none
        }
    }
    .menu-list li {
        float: left;
        line-height: 38px;
        padding: 0 5px;
        li {
            a.title {
                vertical-align: top;
                _vertical-align: middle;
                _display: inline;
                _zoom: 1;
                _padding-right: 5px
            }
            .split {
                color: #c7cdd0
            }
        }
    }
}
.menu-list li {
    &.cart:hover .split, &.myusi:hover .split {
        color: #fff
    }
    &.myusi {
        padding: 0;
        margin-right: 10px;
        .myusi-text {
            padding-left: 8px;
            border-left: 1px solid #f5f5f5;
            border-right: 1px solid #f5f5f5;
            border-radius: 3px 3px 0 0
        }
        .myusi-list, &.myusi:hover .myusi-text {
            background: #fff;
            border-left: 1px solid #c7cdd0;
            border-right: 1px solid #c7cdd0
        }
        .myusi-list {
            display: none;
            width: 106px;
            position: absolute;
            _width: 77px;
            padding: 0 10px 6px;
            border-bottom: 1px solid #c7cdd0;
            border-radius: 0 0 3px 3px;
            z-index: 100;
            dd {
                height: 28px;
                line-height: 28px
            }
        }
        &:hover .myusi-list {
            display: block;
            position: absolute
        }
    }
    &.cart {
        padding: 0 5px 0 0;
        position: relative;
        .cart-text {
            padding-left: 30px;
            border-left: 1px solid #f5f5f5;
            border-right: 1px solid #f5f5f5;
            border-radius: 3px 3px 0 0;
            background: url("https://www.usitrip.com/tpl/www/image/new-topbar-ico.png") 5px -34px no-repeat;
            _width: 76px;
            .title strong {
                padding-left: 3px;
                color: #f60
            }
        }
        .expand-shoppingcart {
            display: none;
            width: 260px;
            border-left: 1px solid #c7cdd0;
            border-right: 1px solid #c7cdd0;
            border-bottom: 1px solid #c7cdd0;
            background: #fff;
            z-index: 100;
            border-radius: 0 0 3px 3px;
            padding: 0 10px;
            position: absolute
        }
        .cart-list dd {
            padding-top: 10px;
            .pro-detail {
                position: relative;
                display: block;
                padding-left: 60px;
                line-height: 14px;
                img {
                    position: absolute;
                    top: 0;
                    left: 0;
                    _left: -60px;
                    width: 53px;
                    height: 40px
                }
                span {
                    line-height: 14px
                }
            }
            .pro-action {
                padding: 5px 0;
                background: url("https://www.usitrip.com/tpl/www/image/product-split.png") left bottom repeat-x;
                _zoom: 1;
                .price {
                    color: #f60;
                    padding-left: 70px;
                    _float: left;
                    position: relative;
                    box-shadow: none
                }
                .del {
                    float: right;
                    padding-right: 3px;
                    text-decoration: underline
                }
            }
        }
        .product-total {
            padding: 10px;
            text-align: right;
            span {
                text-align: right
            }
            em {
                font-weight: 700
            }
            .total {
                color: #f60;
                padding-left: 10px
            }
        }
        .goshoppingcart {
            text-align: right;
            padding: 0 10px;
            a {
                display: inline-block;
                line-height: 38px;
                height: 38px;
                color: #666;
                font-size: 12px;
                font-family: '\5B8B\4F53'
            }
            span {
                display: inline-block;
                _dispaly: inline;
                _zoom: 1;
                width: 100px;
                text-align: center;
                color: #fff;
                font-weight: 700;
                background: #fe8902;
                border-radius: 3px;
                line-height: 24px
            }
        }
        &.hover {
            .cart-bd {
                background: #fff
            }
            .cart-text {
                background-color: #fff;
                border-left: 1px solid #c7cdd0;
                border-right: 1px solid #c7cdd0
            }
            .expand-shoppingcart {
                display: block;
                position: absolute
            }
        }
    }
    &.weixin {
        position: relative;
        padding-left: 20px;
        background: url("https://www.usitrip.com/tpl/www/image/new-topbar-ico.png") 3px -130px no-repeat;
        z-index: 100;
        &:hover {
            position: relative;
            background-position: -45px -130px;
            .weixin-bg-wrap {
                display: block
            }
        }
        .weixin-bg-wrap {
            display: none;
            position: absolute;
            top: 28px;
            left: -52px;
            .arrow {
                position: relative;
                top: 1px;
                _top: 0;
                width: 126px;
                height: 7px;
                background: url("https://www.usitrip.com/tpl/www/image/weixin-arrow.png") center center no-repeat
            }
            .bg {
                border: 1px solid #c7cdd0;
                border-top: 1px solid #0064c4;
                background: url("https://www.usitrip.com/tpl/www/image/weixin-bg.png") 5px 5px no-repeat #fff;
                width: 124px;
                text-align: center;
                border-radius: 0 0 3px 3px
            }
            .shoujibg {
                background: url("https://www.usitrip.com/tpl/www/image/shouji-bg.png") 5px 5px no-repeat #fff
            }
            .desc {
                font-size: 12px;
                color: #666;
                padding-top: 120px;
                height: 24px;
                line-height: 24px
            }
        }
    }
    &.phone-site {
        padding-left: 20px;
        background: url("https://www.usitrip.com/tpl/www/image/new-topbar-ico.png") 6px -101px no-repeat;
        &:hover {
        background-position: -42px -101px
    }
    }
    &.help a {
        display: block;
        background: url("https://www.usitrip.com/tpl/www/image/new-topbar-ico.png") 0 -71px no-repeat;
        width: 13px;
        height: 100%;
        &:hover {
        background-position: -48px -71px
    }
    }
}
.bar-language {
    font-size: 12px;
    font-family: '\5B8B\4F53';
    padding-left: 0;
    height: 38px;
    a {
        color: #666;
        &:hover {
            color: #f60;
            text-decoration: none
        }
    }
    .selected-language {
        height: 38px;
        line-height: 38px;
        /*background: url("//www.usitrip.com/tpl/www/image/contry-flag.png") 8px -37px no-repeat;*/
        padding: 0 10px 0 10px;
        border-left: 1px solid #f5f5f5;
        border-right: 1px solid #f5f5f5;
        border-radius: 3px 3px 0 0;
        a.title {
            vertical-align: top;
            _vertical-align: middle;
            _display: inline;
            _zoom: 1;
            _padding-right: 5px
        }
    }
    .site-language, .bar-language:hover .selected-language, .bar-language:hover .site-language {
        border-left: 1px solid #c7cdd0;
        border-right: 1px solid #c7cdd0
    }
    div.zh {
        background-position: 8px -37px
    }
    div.tw {
        background-position: 8px -75px
    }
    div.en {
        background-position: 8px 1px
    }
    .site-language {
        display: none;
        background: #fff;
        position: absolute;
        padding: 0 6px 0 8px;
        border-bottom: 1px solid #c7cdd0;
        border-radius: 0 0 3px 3px;
        width: 86px;
        margin: 0;
        li {
            height: 30px;
            line-height: 30px;
            /*background: url("//www.usitrip.com/tpl/www/image/contry-flag.png") no-repeat;*/
            clear: both;
            width: 100%;
            a {
                padding-left: 2px
            }
            &.zh {
                background-position: left -43px
            }
            &.tw {
                background-position: left -80px
            }
            &.en {
                background-position: left -4px
            }
        }
    }
    &:hover {
        .selected-language, .bar-language-bd {
            background-color: #fff
        }
        .site-language {
            display: block;
            position: absolute
        }
    }
    &.bar-money {
        font-size: 12px;
        font-family: '\5B8B\4F53';
        padding-left: 0;
        height: 38px;
        _width: 65px;
        a {
            color: #666;
            &:hover {
                color: #f60;
                text-decoration: none
            }
        }
        .selected-language {
            height: 38px;
            padding: 0 10px;
            background: 0 0;
            border-left: 1px solid #f5f5f5;
            border-right: 1px solid #f5f5f5;
            border-radius: 3px 3px 0 0;
            a.title {
                vertical-align: top;
                _vertical-align: middle;
                _display: inline;
                _zoom: 1;
                _padding-right: 5px
            }
        }
        .site-language {
            display: none;
            background: #fff;
            width: 80px;
            padding: 0 6px 10px 8px;
            border-left: 1px solid #c7cdd0;
            border-right: 1px solid #c7cdd0;
            border-bottom: 1px solid #c7cdd0;
            border-radius: 0 0 3px 3px;
            z-index: 999;
            position: absolute;
            li {
                padding-left: 5px;
                height: 24px;
                line-height: 24px;
                background: 0 0;
                float: none;
                a {
                    padding-left: 2px
                }
            }
        }
        &:hover {
            .selected-language {
                border-left: 1px solid #c7cdd0;
                border-right: 1px solid #c7cdd0;
                background-color: #fff
            }
            .site-language {
                display: block;
                position: absolute;
                border-left: 1px solid #c7cdd0;
                border-right: 1px solid #c7cdd0
            }
            .bar-language-bd {
                background-color: #fff
            }
        }
    }
}
.bar-language:hover .down-arrow, .menu-list li:hover .down-arrow {
    -webkit-transition: .5s;
    transition: .5s;
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);
    border-left: 5px solid #fff;
    border-right: 5px solid #fff;
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2)
}
/* end of 中文头部 */
