/*todo: compile is too slow, do cleanup*/
@import "../includes/colors";
/*overwrite top nav bar style*/
#en_nav .Cons ul {
    margin: 0 -15px;
}
/*recommend ad ad1 今日特惠*/
.ad-slider {
    width: 1200px;
    margin: 0 auto;
    min-height: 280px;
    &-item {
        width: 392px;
        height: 280px;
        margin: 0 6px;
        text-align: center;
        border: solid 0.5px #a8aaac;
        border-radius: 3px;
        background-color: #fff;
        &:hover {
            box-shadow: 0 4px 4.9px 2.1px rgba(35, 31, 32, 0.5);
            -webkit-transition: -webkit-box-shadow 0.1s ease-in-out;
            transition: -webkit-box-shadow 0.1s ease-in-out;
            -o-transition: box-shadow 0.1s ease-in-out;
            transition: box-shadow 0.1s ease-in-out;
        }
        &-pic1, &-pic2, &-pic3, &-pic4, &-pic1-en, &-pic2-en, &-pic3-en, &-pic4-en {
            width: 100%;
            height: 200px;
            background-image: url('/img/home/sprites/deal.jpg');
            background-repeat: no-repeat;
        }
        &-pic1 {
            background-position: -1px 0;
        }
        &-pic2 {
            background-position: -1px -1206px;
        }
        &-pic3 {
            background-position: -1px -402px;
        }
        &-pic4 {
            background-position: -1px -804px;
        }
        &-pic1-en, &-pic2-en {
            background-position: -1px -1407px;
        }
        &-pic3-en {
            background-position: -1px -603px;
        }
        &-pic4-en {
            background-position: -1px -1005px;
        }
        &-content {
            text-align: left;
            margin-left: 20px;
            margin-top: 8px;
            a {
                font-size: 14px;
            }
        }
        &-title {
            font-size: 18px;
        }
        &-info {
            font-size: 14px;
        }
    }
}
.search-box-fix-width {
    width: 382px;
}
/* start helper */
.relative {
    position: relative;
}
.absolute-center {
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #a7a9ab;
}
:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #a7a9ab;
}
::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #a7a9ab;
}
:-ms-input-placeholder {
    /* Internet Explorer 10+ */
    color: #a7a9ab;
}
/* HiDPI support */
@media (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
    .icheckbox_square-green, .iradio_square-green {
        background-image: url(/img/plugins/green@2x.png);
        -webkit-background-size: 240px 24px;
        background-size: 240px 24px;
    }
}
.fullscreen-spinner {
    background-color: black;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10000;
    padding-top: 100px;
}
/*autocomplete样式*/
.autocomplete-suggestions {
    border: 1px solid #999;
    line-height: 1.6;
    padding-left: 5px;
    background: #fff;
    cursor: default;
    overflow: auto;
    -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
    -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
    box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
    max-height: none !important;
}
.autocomplete-suggestion {
    padding: 2px 5px;
    white-space: nowrap;
    overflow: hidden;
}
.autocomplete-no-suggestion {
    padding: 2px 5px;
}
.autocomplete-selected {
    background: #f0f0f0;
}
.autocomplete-suggestions strong {
    font-weight: bold;
    color: #000;
}
.autocomplete-group {
    padding: 2px 5px;
    strong {
        font-weight: 500 !important;
        font-size: 15px !important;
        color: orange !important;
        display: block !important;
        border-bottom: 1px solid #ddd !important;
    }
}
/*only home page use below usitrip logo*/
.m-t-40 {
    margin-top: 40px;
}
.m-t-60 {
    margin-top: 60px !important;
}
.m-t-100 {
    margin-top: 100px !important;
}
.logo a {
    display: block;
    width: 387px;
    height: 78px;
    margin: 17px 0 0 14px;
    background: url("/img/general/logo/logo-usitrip.png") no-repeat;
    text-align: center;
    color: transparent;
    text-indent: -9999px;
}
/*slider begin*/
.grid {
    max-width: 1903px;
    margin: auto;
    text-align: center;
}
.slider-box, .slider__item {
    position: relative;
    text-align: center;
}
.slider {
    overflow: hidden;
}
.slider__canvas {
    transition: transform 0.8s;
}
.slider__item {
    float: left;
    max-width: 100%;
    text-align: center;
}
.banner_cancun {
    background: url(/img/general/banners/cancun_banner.jpg) center center no-repeat;
    height: 400px;
    overflow: hidden;
}
.banner_new_banner {
    background: url(/img/general/banners/banner2.jpg) center center no-repeat;
    height: 400px;
    overflow: hidden;
}
.banner_old_banner {
    background: url(/img/general/banners/banner.jpg) center center no-repeat;
    height: 400px;
    overflow: hidden;
}
.secondSlider {
    display: none;
}
.slider-nav {
    color: #fff;
    font-size: 1rem;
    text-align: center;
}
.slider-nav__dots {
    position: absolute;
    bottom: 20px;
    left: auto;
    right: 200px;
}
.slider__dot {
    border-radius: 50%;
    box-shadow: inset 0 0 0 2px;
    cursor: pointer;
    backface-visibility: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin: 0 1rem;
    &.active, &:hover {
        transform: scale3d(1.5, 1.5, 1);
    }
}
.rightModal {
    margin-top: -135px !important;
}
.redText {
    color: #d0021b;
}
.borderText {
    font-weight: 600;
}
.body {
    background-color: #f8f8f8;
}
.btn-ok {
    display: -moz-inline-stack;
    display: inline-block;
    background: transparent;
    text-align: center;
    color: #337ab7;
    padding: 1px 30px;
    border-color: #337ab7;
    font-size: 12px;
    font-style: normal;
    &:hover {
        display: -moz-inline-stack;
        display: inline-block;
        text-align: center;
        color: #fff !important;
        padding: 1px 30px;
        background-color: #337ab7;
        border-color: #fff !important;
        font-size: 12px;
        font-style: normal;
    }
}
/* entypo */
[class*="entypo-"]:before {
    font-family: 'entypo', sans-serif;
}
.alert-info {
    color: #0065b8 !important;
}
.rounded {
    color: #484848;
}
.selectpicker {
    background: url("//www.connectedtoindia.com/assets/images/dropdown-arrow1.png") no-repeat scroll right center transparent;
    font-size: 16px;
    font-weight: 400;
    padding-left: 6px;
    -webkit-border-radius: 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: #484848;
}
.textUnderline:hover {
    text-decoration: underline;
}
@-webkit-keyframes autofill {
    to {
        color: #484848;
        background: #fff;
    }
}
input:-webkit-autofill {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
    &:hover, &:focus, &:active {
        transition: background-color 5000s ease-in-out 0s;
        -webkit-animation-name: autofill;
        -webkit-animation-fill-mode: both;
    }
}
select::-ms-expand {
    /* for IE 11 */
    display: none;
}
.searchbtn {
    margin-top: 10px;
    width: 100% !important;
    font-size: 16px;
}
.date {
    -webkit-border-radius: 4px;
}
.input {
    -webkit-border-radius: 4px;
    &[type=text] {
        height: 17px;
        border: 0;
        width: calc(100% - 2px);
        margin-left: 1px;
        box-shadow: 0 1px 0 0 #ebebeb, 0 2px 0 0 #ebebeb;
        -webkit-transition: box-shadow 0.3s;
        transition: box-shadow 0.3s;
        &:focus {
            outline: none;
            box-shadow: 0 1px 0 0 #4ea6ea, 0 12px 0 0 #4ea6ea;
        }
    }
}
.input-group-addon:last-child {
    border: 0;
}
.focusUnderline {
    position: absolute !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    height: 2px !important;
    background: #00a699 !important;
    -webkit-transition: opacity 0.3s !important;
    -moz-transition: opacity 0.3s !important;
    transition: opacity 0.3s !important;
    opacity: 0 !important;
    z-index: 1 !important;
}
.top-search-form {
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 3px 0 #dce0e0;
    -moz-box-shadow: 0 1px 3px 0 #dce0e0;
    box-shadow: 0 1px 3px 0 #dce0e0;
    height: 70px;
}
.slogan {
    margin-right: -20px;
    margin-left: 0;
}
.leftrightboder {
    -moz-box-shadow: 0 1px 0 0 #dce0e0;
    border-left: 1px solid #dce0e0;
}
ul, li, a {
    padding: 0;
    margin: 0;
    border: 0;
    list-style: none;
    text-decoration: none;
}
.search ul {
    background-color: #fff;
    position: absolute;
    left: 15px;
    top: 35px;
    border: #eee 0 solid;
    min-width: calc(100% - 80px);
    text-align: left;
    z-index: 99999;
}
.close-icon:after {
    content: "clear";
    display: block;
    width: 15px;
    height: 15px;
    position: absolute;
    background-color: #fff;
    z-index: 1;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 2px;
    text-align: center;
    color: #337ab7;
    font-weight: normal;
    font-size: 12px;
    box-shadow: 0 0 2px 2px #fff;
    cursor: pointer;
}
.search ul {
    visibility: hidden;
    a {
        display: block;
        padding: 5px;
        z-index: 999999;
    }
}
button {
    &#button-name:active, &#button-minPrice:active, &#button-rating:active {
        background: transparent !important;
        box-shadow: none;
        border: none;
    }
}
.fixed {
    right: 0;
    top: 850px;
    position: fixed;
    z-index: 999999;
}
.line {
    z-index: 99999;
    padding-top: 15px;
    padding-left: 20px;
    border: 2px solid #d5d5d5;
}
.category {
    margin-right: 15px;
}
.unbtn {
    &:hover, &:active {
        background-color: #f1791e !important;
    }
}
.hidden {
    display: none;
}
.hover-disappear:hover {
    color: transparent;
}
.all-wrapper {
    margin: auto;
    max-width: 1200px;
}
.smallest, .smalltag1 {
    display: none;
}
.datesmaller {
    color: #484848;
    padding: 0 !important;
}
.roomsmaller {
    font-size: 16px;
    margin-left: -12px;
}
.img-files {
    height: 230px;
    width: 324px;
    -webkit-box-shadow: 0 1px 3px 0 #dce0e0;
    box-shadow: 0 1px 3px 0 #dce0e0;
    -moz-box-shadow: 0 1px 3px 0 #dce0e0;
    border: 1px solid #ddd;
    -webkit-transition: -webkit-transform 0.4s ease;
    -moz-transition: -moz-transform 0.4s ease;
    -o-transition: -o-transform 0.4s ease;
    transition: transform 0.4s ease;
    opacity: 1;
    &:hover {
        -webkit-transform: scale(1.01);
        -moz-transform: scale(1.01);
        -ms-transform: scale(1.01);
        -o-transform: scale(1.01);
        transform: scale(1.01);
        opacity: 0.7;
    }
}
.underlined {
    text-decoration: underline;
    -webkit-text-decoration-color: #f1791e;
    text-decoration-color: #e18728;
}
div.show-cities {
    &:hover input {
        display: block;
        border: 0;
        background-color: transparent;
    }
    input {
        position: absolute;
        display: none;
    }
}
a.darken {
    display: inline-block;
    background: black;
    padding: 0;
    img {
        display: block;
        -webkit-transition: all 0.5s linear;
        -moz-transition: all 0.5s linear;
        -ms-transition: all 0.5s linear;
        -o-transition: all 0.5s linear;
        transition: all 0.5s linear;
    }
    &:hover img {
        opacity: 0.5;
    }
}
.img-details {
    z-index: 100;
    position: absolute;
    color: white;
    font-size: 24px;
    font-weight: bold;
}
.modal-body .form-horizontal {
    .col-sm-2, .col-sm-10 {
        width: 100%;
        padding: 0;
    }
}
select:invalid {
    color: darkgrey;
}
#changetxt {
    &:hover {
        color: #f1791e;
    }
    color: #767676;
}
.modal-body .form-horizontal {
    .control-label {
        text-align: left;
    }
    .col-sm-offset-2 {
        margin-left: 15px;
    }
}
.anotherdestination {
    height: auto;
    overflow: hidden;
    transition: opacity 0.5s linear, max-height 0.5s linear;
    opacity: 0;
    max-height: 0;
}
#hidemorerequest[type=checkbox]:checked + .anotherdestination {
    opacity: 1;
    max-height: 99em;
    border: none;
}
.selectpickers {
    background: url("//www.connectedtoindia.com/assets/images/dropdown-arrow1.png") no-repeat scroll right center transparent;
    font-size: 14px;
    font-weight: 400;
    padding-left: 6px;
    -webkit-border-radius: 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.top_search {
    border-bottom: 2px solid #dbdbdb;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    margin-top: -4px;
}
.top-search-wrapper {
    display: none;
    width: 100%;
    top: 0;
    z-index: 999;
    position: fixed;
    background-color: white;
}
#posterGrid {
    margin: 40px auto 0 auto;
}
/*start of home banner*/
.h-banner {
    background: url(/img/general/banners/banner_bg.jpg) top center no-repeat;
    width: 100%;
    min-width: 1200px;
    position: relative;
    &-content {
        position: relative;
        width: 1200px;
        margin: 0 auto;
        padding: 23px 0;
        .h-search-title {
            width: 100%;
            color: #fff;
            font-size: 24px;
            font-weight: normal;
            line-height: 26px;
            margin-bottom: 10px;
        }
        .h-search-title-icon {
            margin-left: 30px;
        }
        .h-search-title-text {
            margin-left: 8px;
        }
        .h-search-form {
            width: 804px;
            /*height: 294px;*/
            border-radius: 5px;
            padding: 10px;
            z-index: 3;
            background: $usitrip-pure;
            display: inline-block;
        }
    }
    &-partner {
        display: inline-block;
        width: 346px;
        border-radius: 5px;
        float: right;
        background: rgba(255, 255, 255, 0.3);
        padding: 40px 0 45px;
        &-cover {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
        }
        &-title {
            font-size: 24px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            letter-spacing: normal;
            text-align: center;
            color: #fcfdff;
            text-shadow: 0 0 3.7px rgba(35, 31, 32, 0.3);
            padding: 0;
        }
        &-item1, &-item2, &-item3, &-item4 {
            width: 143px;
            height: 60px;
            padding: 0;
            margin: 10px;
            cursor: default;
            background-image: url('/img/spriteImgs/usitrip_pc_all_img.png');
            background-repeat: no-repeat;
        }
        &-item1, &-item3 {
            margin-left: 20px;
        }
        &-item1 {
            background-position: -30px -160px;
        }
        &-item2 {
            background-position: -190px -160px;
        }
        &-item3 {
            background-position: -30px -260px;
        }
        &-item4 {
            background-position: -190px -260px;
        }
    }
    &-search-bg {
        width: 804px;
        height: 294px;
        border-radius: 5px;
        background-color: #104a8f;
        position: absolute;
        left: 50%;
        top: 18px;
        margin-left: -600px;
    }
}
.label-checkin::after, .label-checkout::after {
    font-family: 'Font Awesome 5 Free';
    font-size: 20px;
    position: absolute;
    left: 5.8em;
    color: #a7a9ab;
    content: "\f073";
}
.label-des::after {
    font-family: 'Font Awesome 5 Free';
    font-size: 20px;
    position: absolute;
    left: 6em;
    color: #a7a9ab;
    content: "\f3c5";
    font-weight: 900;
}
.dest_wrapper {
    left: 120px;
    top: 42px;
}
.destinationName {
    width: 635px !important;
    padding-left: 40px !important;
    color: #636363 !important;
    &:focus {
        border: #4c8ecb 2px solid !important;
    }
}
.checkin:focus, .checkout:focus {
    border: #4c8ecb 2px solid !important;
}
.destinationName, .checkin, .checkout, .person_desc {
    height: 40px !important;
    line-height: 40px !important;
    border-radius: 5px !important;
    background-color: #fff !important;
    border: solid 1px #636363 !important;
    margin-bottom: 8px;
    font-size: 17px !important;
    color: #636363;
}
.checkin, .checkout, .person_desc, .h-filt-bd-button {
    width: 253px !important;
}
.checkin, .checkout {
    padding-left: 40px !important;
}
.checkin:focus {
    margin-bottom: 0;
}
.search-dialog-div, span#tRoom {
    padding-left: 15px;
}
.h-filt-bd-list > li .h-filt-bd-button {
    margin-right: 10px;
    height: 40px;
    border-radius: 5px;
    background-color: #ea8523;
    margin-left: 0 !important;
    margin-top: 0 !important;
    font-size: 22px;
    color: white;
    border: none;
    &:hover {
        background-color: #e4393c;
    }
}
.search-t-ad {
    font-size: 18px;
    text-align: left;
    color: #4c8ecb;
    margin-top: 16px !important;
    margin-bottom: 12px !important;
    font-weight: 200;
}
.search-t-ad-pad {
    padding-left: 20px;
    font-size: 18px;
}
.btn-add, .btn-subtract {
    width: 24px !important;
    height: 24px !important;
    padding: 0 !important;
    margin: 0 !important;
    border-radius: 50% !important;
    background-color: white;
    border: #636363 1px solid;
    color: #636363;
    font-size: 28px;
    line-height: 20px;
    font-weight: 100;
}
.btn-add:hover, .btn-subtract:hover {
    background-color: #4c8ecb;
    color: #fff;
    border: #4c8ecb 1px solid;
}
.disabled-btn {
    background-color: #a7a9ab;
    border-color: #a7a9ab;
    color: #fff;
    &:hover {
        background-color: #a7a9ab;
        border-color: #a7a9ab;
        color: #fff;
    }
}
.cursor-partner {
    cursor: pointer;
}
.number-label {
    width: 136px !important;
    padding: 0 !important;
    margin: 0 !important;
    font-weight: 300 !important;
}
.input-number {
    padding: 0 !important;
    width: 30px !important;
    font-size: 18px !important;
    background-color: white !important;
}
/*advantages.blade.php ad1 icons*/
.hotel-icon {
    background-image: url('/img/spriteImgs/usitrip_pc_all_img.png');
    background-repeat: no-repeat;
    display: block;
    width: 50px;
    height: 54px;
    float: left;
    margin-right: 12px;
}
.h-super {
    &-icon1 {
        background-position: -15px -10px;
    }
    &-icon2 {
        background-position: -80px -10px;
    }
    &-icon3 {
        background-position: -150px -10px;
    }
    &-icon4 {
        background-position: -220px -10px;
    }
    &-icon5 {
        background-position: -290px -10px;
    }
    &-icon6 {
        background-position: -360px -10px;
    }
    &-wrap {
        width: 100%;
        background: #fff;
        height: 93px;
        &-cover {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
        }
    }
    &-box {
        width: 1200px;
        margin: 0 auto;
        height: 70px;
        padding-top: 23px;
        display: flex;
        justify-content: space-between;
        i {
            display: block;
            width: 48px;
            height: 48px;
            float: left;
            margin-right: 12px;
            &.h-super-ico1 {
                background-position: -55px -1px;
            }
            &.h-super-ico2 {
                background-position: -104px -1px;
            }
            &.h-super-ico2-1 {
                background-position: -343px -5px;
            }
            &.h-super-ico3 {
                background-position: -153px -1px;
            }
            &.h-super-ico4 {
                background-position: -202px -1px;
            }
            &.h-super-ico5 {
                background-position: -251px -1px;
            }
            &.h-super-ico5-1 {
                background-position: -397px -5px;
            }
            &.h-super-ico6 {
                background-position: -301px -1px;
            }
        }
        .super-txt {
            float: left;
            p {
                font-size: 18px;
                color: #636363;
                line-height: 29px;
            }
            em {
                display: block;
                font-size: 14px;
                color: #636363;
            }
        }
    }
}
.slick-prev, .slick-next {
    top: 320px;
    width: 40px;
    height: 40px;
    border: #4c8ecb 1px solid;
    border-radius: 50%;
}
.slick-prev:hover, .slick-next:hover {
    background-color: #4c8ecb;
}
.slick-prev:active, .slick-next:active {
    opacity: .5;
}
.slick-prev:hover::before {
    color: white !important;
}
.slick-next {
    &:hover::before {
        color: white !important;
    }
    right: 450px;
}
.slick-prev {
    left: 450px;
}
.slick-prev:before, .slick-next:before {
    font-family: 'Font Awesome 5 Free';
    color: #4c8ecb !important;
    font-size: 32px;
    font-weight: 900;
}
.slick-prev:before {
    content: "\f104";
    /* angle-left */
    padding-right: 3px;
}
.slick-next:before {
    content: "\f105";
    /* angle-right */
    padding-left: 3px;
}
.slick-dots {
    bottom: -40px;
    width: 200px;
    margin-left: 500px;
    li {
        button:before {
            font-size: 10px;
        }
        &.slick-active button:before {
            color: #4c8ecb !important;
            opacity: 1;
        }
    }
}
.ad_title {
    width: 1200px;
    margin: 10px auto 20px auto;
    font-size: 32px;
    /*font-family: Lato;*/
    text-align: center;
}
/*热门城市及酒店*/
.h-recom {
    &-nav {
        height: 63px;
        margin-bottom: 10px;
        .h-recom-hot {
            height: 20px;
            width: 54px;
            background-position: 0 -37px;
            float: left;
            margin: 29px 15px 0 0;
        }
        h4 span {
            font-size: 22px;
            color: #000;
            line-height: 75px;
        }
    }
    &-tab {
        height: 63px;
        width: 460px;
        margin-left: 420px;
        li {
            float: left;
            color: #636363;
            font-size: 18px;
            height: 34px;
            border-radius: 5px;
            text-align: center;
            padding: 0 10px;
            a {
                display: block;
                color: #333;
                height: 60px;
                text-decoration: none;
                margin: 0;
                line-height: 36px;
                padding: 0 15px;
                &:hover {
                    color: #4c8ecb;
                    border: none;
                }
            }
            .active {
                font-size: 18px;
                height: 34px;
                background-color: #4c8ecb;
                color: white;
                border-radius: 5px;
                &:hover {
                    color: #fff;
                }
            }
        }
    }
    &-nav .h-recom-more {
        display: block;
        width: 54px;
        height: 24px;
        color: #999;
        background: #ebebeb;
        text-align: center;
        line-height: 24px;
        border-radius: 10px;
        margin-top: 28px;
        -webkit-transition-duration: .3s;
        -webkit-transition-duration: .3s;
        transition-duration: .3s;
        &:hover {
            background: #f2930e;
            color: #fff;
        }
    }
    &-cont-box {
        &.w378 {
            width: 378px;
        }
        &.w375 {
            width: 375px;
        }
        &.w765 {
            width: 765px;
        }
        &.h261 {
            height: 261px;
        }
        &.h317 {
            height: 317px;
        }
        &.mb18 {
            margin-bottom: 18px;
        }
        &.mt120 .h-recom-cont-box-tit {
            margin-top: 120px;
        }
        &.mt100 .h-recom-cont-box-tit {
            margin-top: 100px;
        }
        position: relative;
        overflow: hidden;
        img {
            position: absolute;
            left: 0;
            top: 0;
            z-index: 1;
        }
        &:hover {
            .h-recom-cont-box-shade, .h-go-look {
                display: block;
            }
        }
    }
    &-cont-box-shade {
        width: 100%;
        height: 100%;
        background: #000;
        opacity: 0.6;
        filter: alpha(opacity=50);
        position: absolute;
        left: 0;
        top: 0;
        z-index: 2;
        display: none;
    }
    &-cont-box-tit {
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 3;
        p {
            font-weight: bold;
            color: #fff;
            font-size: 35px;
            text-align: center;
        }
        span {
            color: #fff;
            text-align: center;
            display: block;
            margin-bottom: 17px;
            em {
                margin: 0 3px;
            }
        }
        & > div {
            width: 108px;
            height: 40px;
            border: 1px solid #fff;
            color: #fff;
            line-height: 40px;
            text-align: center;
            border-radius: 6px;
            margin: 0 auto;
            display: none;
            &:hover {
                color: #f2930e;
                border: 1px solid #f2930e;
            }
        }
    }
    &-tab-en {
        width: 460px;
        margin-left: 380px;
    }
    &-nav-hotel {
        width: 650px;
        margin-left: 275px;
    }
    &-nav-hotel-en {
        width: 800px;
        margin-left: 200px;
    }
    &-more {
        position: absolute;
        right: 160px;
        top: -66px;
        margin-bottom: 60px;
        color: #636363;
        background: white !important;
        font-size: 18px;
    }
    &-more:hover {
        color: #4c8ecb;
    }
    &-more-en {
        width: 80px !important;
        right: 100px;
    }
    &-cont-box-tit {
        p, span {
            font-weight: normal;
            text-shadow: 0 2px 4.7px rgba(35, 31, 32, 0.5);
        }
    }
    &-cont-box-tit {
        span {
            margin-bottom: 5px;
            em {
                font-size: 18px;
            }
        }
        & > div {
            width: 80px;
            height: 32px;
            border: solid 1px #fff;
            font-size: 14px;
            line-height: 32px;
            border-radius: 0;
        }
    }
    &-wrap {
        background: #fff;
        margin: 0 auto 38px auto;
        width: 1200px;
        padding: 0 0 30px 0;
        .h-recom-tab {
            a {
                width: auto;
            }
        }
        .h-recom-cont-box {
            a {
                display: inline-block;
                width: 392px;
                height: 220px;
                background-repeat: no-repeat;
                &.lg {
                    width: 796px;
                    height: 452px;
                }
                /*sprite image background*/
                &.america {
                    background-image: url('/img/home/sprites/america.jpg');
                    &.america-newyork {
                        background-position: 0 -914px;
                        &.en {
                            background-position: 0 -1371px;
                        }
                    }
                    &.america-la {
                        background-position: 0 -2278px;
                        &.en {
                            background-position: -397px -2278px;
                        }
                    }
                    &.america-sf {
                        background-position: 0 -2503px;
                        &.en {
                            background-position: -397px -2503px;
                        }
                    }
                    &.america-cancun {
                        background-position: 0 -1828px;
                        &.en {
                            background-position: -397px -1828px;
                        }
                    }
                    &.america-chicago {
                        background-position: 0 -2053px;
                        &.en {
                            background-position: -397px -2053px;
                        }
                    }
                    &.america-las {
                        background-position: 0 0;
                        &.en {
                            background-position: 0 -457px;
                        }
                    }
                }
                &.europe {
                    background-image: url('/img/home/sprites/europe.jpg');
                    &.europe-london {
                        background-position: 0 0;
                        &.en {
                            background-position: 0 -457px;
                        }
                    }
                    &.europe-athen {
                        background-position: 0 -1828px;
                        &.en {
                            background-position: -397px -1828px;
                        }
                    }
                    &.europe-rome {
                        background-position: 0 -2503px;
                        &.en {
                            background-position: -397px -2503px;
                        }
                    }
                    &.europe-milan {
                        background-position: 0 -2278px;
                        &.en {
                            background-position: -397px -2278px;
                        }
                    }
                    &.europe-frankurt {
                        background-position: 0 -2053px;
                        &.en {
                            background-position: -397px -2053px;
                        }
                    }
                    &.europe-paris {
                        background-position: 0 -914px;
                        &.en {
                            background-position: 0 -1371px;
                        }
                    }
                }
                &.oceania {
                    background-image: url('/img/home/sprites/oceania.jpg');
                    &.oceania-sydney {
                        background-position: 0 -914px;
                        &.en {
                            background-position: 0 -1371px;
                        }
                    }
                    &.oceania-auckland {
                        background-position: 0 -1828px;
                        &.en {
                            background-position: -397px -1828px;
                        }
                    }
                    &.oceania-goldcoast {
                        background-position: 0 -2503px;
                        &.en {
                            background-position: -397px -2503px;
                        }
                    }
                    &.oceania-brisbane {
                        background-position: 0 -2053px;
                        &.en {
                            background-position: -397px -2053px;
                        }
                    }
                    &.oceania-cairns {
                        background-position: 0 -2278px;
                        &.en {
                            background-position: -397px -2278px;
                        }
                    }
                    &.oceania-melbourne {
                        background-position: 0 0;
                        &.en {
                            background-position: 0 -457px;
                        }
                    }
                }
                &.asia {
                    background-image: url('/img/home/sprites/asia.jpg');
                    &.asia-singapore {
                        background-position: 0 -914px;
                        &.en {
                            background-position: 0 -1371px;
                        }
                    }
                    &.asia-bangkok {
                        background-position: 0 -1828px;
                        &.en {
                            background-position: -397px -1828px;
                        }
                    }
                    &.asia-phuket {
                        background-position: 0 -2278px;
                        &.en {
                            background-position: -397px -2278px;
                        }
                    }
                    &.asia-hongkong {
                        background-position: 0 -2053px;
                        &.en {
                            background-position: -397px -2053px;
                        }
                    }
                    &.asia-tokyo {
                        background-position: 0 -2503px;
                        &.en {
                            background-position: -397px -2503px;
                        }
                    }
                    &.asia-seoul {
                        background-position: 0 0;
                        &.en {
                            background-position: 0 -457px;
                        }
                    }
                }
            }
        }
    }
}
.city-recom-left {
    width: 378px;
}
.city-recom-right {
    width: 765px;
}
.hotel-ico {
    display: block;
    background: url(/img/general/hotel-ico.png) no-repeat;
}
.city-recom-left {
    width: 392px;
}
.div-city-small {
    width: 392px;
    height: 220px;
    border-radius: 6px;
    a .h-recom-cont-box-tit {
        margin-top: 68px !important;
    }
}
.div-city-lg {
    border-radius: 6px;
    width: 796px;
    height: 452px;
}
.city-recom-right {
    width: 796px;
    height: 452px;
}
.div-city-lg a .h-recom-cont-box-tit {
    margin-top: 188px !important;
}
.m-b-12 {
    margin-bottom: 12px;
}
.div-city-lg a .h-recom-cont-box-tit p {
    font-size: 48px;
}
.div-city-small a .h-recom-cont-box-tit p {
    font-size: 23px;
}
/*去看看button*/
/*精品酒店推荐*/
.hotel-recom {
    &-wrap {
        height: 477px;
    }
    &-left, &-right {
        a {
            display: inline-block;
            width: 392px;
            height: 220px;
            background-repeat: no-repeat;
            &.lg {
                width: 392px;
                height: 452px;
            }
            /* sprites background*/
            &.lasvegas {
                background-image: url('/img/home/sprites/las-vegas.jpg');
                &-1 {
                    background-position: -394px -221px;
                }
                &-2 {
                    background-position: 0 -442px;
                }
                &-3 {
                    background-position: -394px 0;
                }
                &-4 {
                    background-position: 0 -221px;
                }
                &-5 {
                    background-position: 0 0;
                }
            }
            &.losangeles {
                background-image: url('/img/home/sprites/los-angeles.jpg');
                &-1 {
                    background-position: 0 0;
                }
                &-2 {
                    background-position: -394px -221px;
                }
                &-3 {
                    background-position: -394px 0;
                }
                &-4 {
                    background-position: -394px -442px;
                }
                &-5 {
                    background-position: 0 -453px;
                }
            }
            &.sanf {
                background-image: url('/img/home/sprites/san-francisco.jpg');
                &-1 {
                    background-position: 0 -442px;
                }
                &-2 {
                    background-position: -394px 0;
                }
                &-3 {
                    background-position: 0 0;
                }
                &-4 {
                    background-position: -394px -221px;
                }
                &-5 {
                    background-position: 0 -221px;
                }
            }
            &.newyork {
                background-image: url('/img/home/sprites/new-york.jpg');
                &-1 {
                    background-position: -394px -221px;
                }
                &-2 {
                    background-position: 0 -221px;
                }
                &-3 {
                    background-position: 0 0;
                }
                &-4 {
                    background-position: 0 -442px;
                }
                &-5 {
                    background-position: -394px 0;
                }
            }
            &.honolulu {
                background-image: url('/img/home/sprites/honolulu.jpg');
                &-1 {
                    background-position: -394px 0;
                }
                &-2 {
                    background-position: 0 -221px;
                }
                &-3 {
                    background-position: 0 -442px;
                }
                &-4 {
                    background-position: 0 0;
                }
                &-5 {
                    background-position: -394px -453px;
                }
            }
            &.miami {
                background-image: url('/img/home/sprites/miami.jpg');
                &-1 {
                    background-position: -394px -221px;
                }
                &-2 {
                    background-position: -394px 0;
                }
                &-3 {
                    background-position: 0 -442px;
                }
                &-4 {
                    background-position: 0 0;
                }
                &-5 {
                    background-position: 0 -221px;
                }
            }
        }
    }
    &-left {
        display: block;
        height: 452px;
        width: 378px;
        position: relative;
        overflow: hidden;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        a {
            color: #000;
        }
        img {
            position: absolute;
            left: 0;
            top: 0;
            z-index: 1;
        }
    }
    &-left-shade {
        position: absolute;
        z-index: 2;
        background: #fff;
        opacity: 0.8;
        filter: alpha(opacity=50);
        width: 261px;
        height: 131px;
        left: 58px;
        top: 278px;
    }
    &-left-cont {
        position: absolute;
        z-index: 3;
        width: 261px;
        height: 131px;
        left: 58px;
        top: 160px;
        p, span {
            color: white;
            text-shadow: 0 2px 4px rgba(35, 31, 32, 0.5) !important;
            font-size: 24px;
            font-weight: normal;
            border: none;
            text-align: center;
        }
        p {
            width: 250px;
            margin: 31px auto 10px auto;
        }
        span {
            display: block;
            strong {
                font-weight: bold;
                color: #000;
                font-size: 16px;
                margin-left: 5px;
            }
        }
    }
    &-right {
        width: 820px;
        margin: 0 !important;
        a {
            color: #f2930e;
        }
        li {
            width: 392px;
            float: left;
            height: 220px;
            margin: 0 0 12px 12px !important;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            &.mrl15 {
                margin: 0 15px;
            }
            .hotel-recom-right-img {
                width: 246px;
                height: 168px;
                overflow: hidden;
                margin-bottom: 5px;
            }
            img:hover {
            }
            a:hover strong {
                color: #f2930e;
            }
            strong {
                font-size: 14px;
                color: #333;
                display: block;
                margin-bottom: 10px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            p {
                position: relative;
                height: 22px;
                left: 0;
                bottom: 5px;
                & > i {
                    position: absolute;
                    left: 0;
                    bottom: 5px;
                }
                span {
                    color: #999;
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    & > em {
                        font-size: 16px;
                        font-weight: bold;
                        color: #f2930e;
                        margin-right: 5px;
                    }
                }
                .hotel-recom-ico0 {
                    width: 0;
                    height: 13px;
                    background-position: 0 -61px;
                }
                .hotel-recom-ico1 {
                    width: 15px;
                    height: 13px;
                    background-position: 0 -75px;
                }
                .hotel-recom-ico2 {
                    width: 30px;
                    height: 13px;
                    background-position: 0 -89px;
                }
                .hotel-recom-ico3 {
                    width: 45px;
                    height: 13px;
                    background-position: 0 -103px;
                }
                .hotel-recom-ico4 {
                    width: 60px;
                    height: 13px;
                    background-position: 0 -117px;
                }
                .hotel-recom-ico5 {
                    width: 76px;
                    height: 13px;
                    background-position: 0 -131px;
                }
            }
        }
    }
    &-item:hover, &-left:hover {
        box-shadow: 0 4px 4.9px 2.1px rgba(35, 31, 32, 0.5);
    }
    &-item {
        display: block;
        /*        border-top-left-radius: 8px !important;
                border-top-right-radius: 8px !important;*/
        -webkit-background-size: cover !important;
        -moz-background-size: cover !important;
        -o-background-size: cover !important;
        background-size: cover !important;
        background-repeat: no-repeat !important;
        background-position: center center !important;
    }
    &-item-content {
        height: 48px;
        border-radius: 6px;
        padding-top: 12px;
        position: relative;
    }
    &-item-content-bg {
        width: 392px;
        height: 60px;
        position: absolute;
        background-color: black;
        opacity: 0.7;
    }
    &-right li {
        .hotel-recom-right-img {
            height: 156px;
        }
        .item-name {
            color: white;
            margin-left: 10px;
            margin-bottom: 6px;
            font-size: 14px;
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        p {
            margin-left: 10px;
        }
        span {
            position: absolute;
            top: 25px;
            right: 10px;
            em {
                font-size: 24px;
                color: #ffc03a;
            }
            i {
                font-size: 14px;
                color: white;
            }
        }
    }
}
.slick-list {
    padding-bottom: 10px;
}
.ad-bg {
    width: 100%;
    height: 340px;
    display: block;
    position: absolute;
}
/* this is for a link */
#searchDesc {
    position: absolute;
    span {
        pointer-events: none;
        z-index: -1;
    }
}
/*fix span inside clickable div not working*/
.phone-detail {
    min-height: 45px !important;
}
.partners_icons {
    float: left;
    margin-bottom: 30px;
    margin-right: 26px;
    margin-left: 0;
    position: relative;
    background-image: url(/img/spriteImgs/home_img_icon.png);
}
/*start of subscribe box*/
.subscribe {
    &-wrapper {
        margin: 50px 0;
    }
    &-box {
        width: 1200px;
        padding: 10px 212px 20px 205px;
        height: 120px;
        margin: 0 auto;
        border: 1px solid #a7a9ab;
        position: relative;
        &:before, &:after {
            content: '';
            display: block;
            position: absolute;
            top: 8px;
            background-image: url('/img/spriteImgs/subscribe_bg.png');
            background-repeat: no-repeat;
            height: 98px;
        }
        &:before {
            background-position: -10px -22px;
            width: 174px;
            left: 12px;
        }
        &:after {
            background-position: -538px -24px;
            width: 649px;
            right: 11px;
        }
    }
    &-title {
        margin-bottom: 5px;
        font-size: 24px;
        .color-red {
            color: $usitrip-hover-tag;
        }
    }
    &-top-bg {
        display: inline-block;
        background: url('/img/spriteImgs/subscribe_bg.png') no-repeat -538px -24px;
        width: 400px;
        height: 25px;
    }
    &-input-wrapper {
        display: flex;
    }
    &-input, &-btn {
        height: 50px;
        line-height: 50px;
        font-size: 24px;
    }
    &-input {
        width: 600px;
        border: 1px solid #a7a9ab;
        border-right: none;
        padding-left: 30px;
    }
    &-btn {
        border: 1px solid $usitrip-hover-tag;
        background: $usitrip-hover-tag;
        color: #fff;
        width: 180px;
        text-align: center;
        z-index: 1;
    }
    &-messages {
        font-size: 16px;
        margin-top: 5px;
        .message {
            display: none;
        }
    }
}
/*end of subscribe box*/
/*从旧的style.css移过来的乱七八糟的东西*/
.check_err {
    border: #efd57c solid 1px;
    background: #fffbdb;
    white-space: nowrap;
    padding: 8px 10px;
    z-index: 99;
    color: #333;
    position: absolute;
    line-height: 16px;
}
input.err {
    border: 1px solid red !important;
}
.person_desc {
    cursor: pointer;
    background: #fff;
    position: relative;
    width: 255px;
    &:after {
        content: "\f107";
        /* angle-down */
        font-family: 'Font Awesome 5 Free';
        position: absolute;
        right: 15px;
        top: 2px;
        font-weight: 900;
    }
}
.person_desc_active {
    border: solid 2px #4c8ecb !important;
}
.person_desc_en {
    font-size: 18px !important;
}
.person_desc_active:after {
    content: "\f106";
    /* angle-up */
    font-family: 'Font Awesome 5 Free';
    position: absolute;
    right: 17px;
    top: 0;
    font-weight: 900;
}
.search-dialog-div .form-group {
    margin: 10px 0;
}
.select_table td {
    padding-top: 5px;
    font-size: 12px;
}
.select_ele {
    border: 1px solid rgb(183, 197, 197);
    padding: 4px 4px 4px 0;
}
.num_select {
    width: 50px;
}
.person_select {
    float: left;
    margin-right: 6px;
    dt {
        padding: 10px 0;
    }
}
.filter_divide {
    border-bottom: 1px dotted rgb(217, 217, 217);
    padding-top: 15px;
}
input.search_main_key {
    background-image: none;
}
.date_picker_wrapper {
    border-top: 1px solid rgb(255, 255, 255);
    margin-bottom: 8px;
    padding: 5px 10px 10px;
}
.check_in_date {
    background-position: 115px -25px;
}
.check_out_date {
    background-position: 115px -61px;
}
.search_desc {
    color: rgb(51, 51, 51);
    float: left;
}
.search_dialog {
    float: left;
    position: relative;
    .dialog {
        padding: 15px;
        border: 1px solid rgb(207, 223, 223);
        -webkit-border-image: none;
        -o-border-image: none;
        border-image: none;
        left: 50%;
        top: 20px;
        width: 490px;
        margin-left: -235px;
        display: none;
        position: absolute;
        z-index: 100;
        background-color: rgb(255, 255, 255);
        table {
            padding-bottom: 10px;
        }
    }
    .dialog_btn {
        overflow: hidden;
        padding-top: 15px;
    }
}
.dialog_btn {
    a {
        float: left;
    }
    .confirm {
        margin-left: 56px;
    }
    .cancel {
        margin-left: 30px;
        background: #ccc;
    }
}
#searchDialogBtn {
    color: rgb(240, 131, 0);
    font-size: 14px;
    text-decoration: underline;
    margin-left: 5px;
}
.btn_w60 {
    width: 60px;
}
.btn_h30 {
    font-size: 16px;
    height: 30px;
    line-height: 30px;
}
.h_btn {
    background: center center repeat-x;
    border-radius: 2px;
    cursor: pointer;
    text-align: center;
}
.btn_confirm {
    background-color: #f98b04;
    color: rgb(255, 255, 255);
    &:hover {
        background-color: #f79722;
    }
}
.btn_cancel {
    color: rgb(255, 255, 255);
}
.hotel_room_policy {
    border: 1px solid rgb(53, 185, 185);
    -webkit-border-image: none;
    -o-border-image: none;
    border-image: none;
    left: -30px;
    top: 31px;
    width: 382px;
    display: none;
    position: absolute;
    z-index: 200;
    background-color: rgb(255, 255, 255);
    .icon-po-arr {
        left: 80px;
        top: -13px;
        width: 0;
        height: 0;
        border-left: 12px solid transparent;
        border-right: 11px solid transparent;
        border-bottom: 12px solid rgb(53, 185, 185);
        display: inline-block;
        position: absolute;
        .icon-po-arr-bg {
            width: 0;
            height: 0;
            border-left: 12px solid transparent;
            border-right: 11px solid transparent;
            border-bottom: 12px solid rgb(53, 185, 185);
            display: inline-block;
            position: absolute;
            left: -12px;
            top: 2px;
            border-bottom-color: rgb(212, 245, 245);
        }
    }
    .title {
        background: rgb(212, 245, 245);
        padding: 10px 25px;
        color: rgb(6, 166, 166);
        font-size: 18px;
        font-weight: bold;
    }
    .content {
        background: rgb(255, 255, 255);
        padding: 16px 25px;
        color: rgb(51, 51, 51);
        font-size: 13px;
    }
    .tip-kindly {
        margin-top: 0;
    }
}
#searchDialog td {
    min-width: 60px;
}
/*酒店搜索部分*/
.h-filt-bd-tit {
    margin-bottom: 25px;
    em {
        display: block;
        border: 3px solid #f68800;
        color: #f68800;
        width: 50px;
        height: 20px;
        text-align: center;
        line-height: 20px;
        float: left;
        letter-spacing: 1px;
        font-size: 12px;
        margin-right: 5px;
    }
    p {
        float: left;
        color: #f68800;
        font-size: 24px;
        font-weight: 600;
        line-height: 26px;
    }
}
.h-filt-bd-list {
    width: 784px;
    height: 239px;
    border-radius: 5px;
    background-color: #fff;
    margin: 0;
    & > li {
        padding: 0;
        height: auto !important;
        float: left;
        margin-top: 8px;
        label {
            color: #636363;
            font-size: 18px;
            margin-right: 10px;
            text-align: left;
            width: 90px;
            margin-left: 20px;
            margin-top: 5px;
            float: left;
            position: relative;
        }
        input {
            float: left;
            line-height: 40px;
            background: #fff;
            width: 183px;
            padding: 0 25px 0 10px;
            font-size: 14px;
            border: 1px solid #fff;
        }
        .h-filt-bd-btn {
            height: 35px;
            color: #fff;
            line-height: 35px;
            background: #fe8902;
            font-size: 16px;
            letter-spacing: 10px;
            font-weight: 500;
            border: none;
            width: 281px;
            text-align: center;
            cursor: pointer;
            margin-top: 5px;
            margin-left: -61px;
            border-radius: 0;
        }
        .h-filt-a {
            width: 9px;
            height: 12px;
            background-position: -17px 0;
            position: absolute;
            top: 11px;
            right: 15px;
            &.active {
                background-position: -17px -17px;
            }
        }
        .h-filt-b {
            width: 11px;
            height: 11px;
            background-position: -33px 0;
            position: absolute;
            top: 11px;
            right: 15px;
        }
    }
    .h-filt-bd-seek-box {
        position: relative;
        z-index: 5;
        .hotel-seek-box {
            min-width: 228px;
            width: 400px;
            background: #fff;
            position: absolute;
            top: 40px;
            left: 67px;
            z-index: 6;
            padding: 10px;
        }
        .hotel-seek-box-tit {
            font-size: 12px;
            line-height: 12px;
            color: #999;
            margin-bottom: 14px;
            width: 100%;
            span {
                float: left;
            }
        }
    }
    .person_select_wrapper {
        font-size: 1.3em;
        height: 40px;
        line-height: 40px;
        position: relative;
        background: #fff none repeat scroll 0 0;
        float: left;
        width: 257px;
        .dialog {
            border-right: solid 2px #4c8ecb;
            border-bottom: solid 2px #4c8ecb;
            border-left: solid 2px #4c8ecb;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            background-color: rgb(255, 255, 255);
            display: none;
            left: 0;
            position: absolute;
            top: 39px;
            width: 253px;
            z-index: 100;
            box-shadow: 0 0 3px 0 #ccc;
            td {
                font-size: 12px;
                line-height: 30px;
            }
            table {
                padding-bottom: 10px;
            }
        }
        .dialog_btn {
            overflow: hidden;
            padding-top: 20px;
        }
    }
}
input#keywordSearch {
    &::-webkit-input-placeholder {
        /* WebKit browsers */
        color: #c0c0c0;
    }
    &:-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        color: #c0c0c0;
    }
    &::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        color: #c0c0c0;
    }
    &:-ms-input-placeholder {
        /* Internet Explorer 10+ */
        color: #c0c0c0;
    }
}
.child-age {
    &-label {
        width: 100% !important;
    }
    &-select {
        margin-right: 3px;
        font-size: 12px;
    }
}