@import "../includes/colors";

/*overwrite plugins*/
.sa-button-container .cancel {
    background-color: #5bc0de !important;
}
/*page global style*/
* {
    font-family: 'Roboto';
}
body {
    padding-top: 40px;
    transition: padding-top .5s ease;
    @media (max-width: 640px) {
        padding-top: 80px;
    }
    &.sticky-header {
        padding-top: 0;
    }
}
.header {
    width: 100%;
    height: 40px;
    line-height: 40px;
    background: #fff;
    border-bottom: 1px dashed #bbbbbb;
    padding: 0 20px;
    position: fixed;
    top: 0;
    transition: all .5s ease;
    z-index: 999;
}
.card {
    border: 1px solid #bbbbbb;
    border-radius: 5px;
    padding: 5px;
}
.text-input {
    border: none;
    border-bottom: 1px dotted #b6b6d6;
    outline: none;
    &:focus {
        border-bottom-color: $usitrip-hover-tag;
    }
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.add-new {
    position: absolute;
    top: 0;
    right: 0;
}
.btn-remove-sm {
    height: 18px;
    line-height: 18px;
    font-size: 12px;
    padding: 0 4px;
}
.group-actions {
    text-align: right;
    margin-bottom: 5px;
}
.error {
    color: $usitrip-hover-tag;
}
.scroll-top {
    position: fixed;
    right: 15px;
    top: 40%;
    display: none;
    z-index: 999;
    i {
        display: block;
        line-height: 10px;
        &:before {
            display: inline-block;
            content: '';
            width: 5px;
            height: 5px;
            border-top: 2px solid #fff;
            border-left: 2px solid #fff;
            color: #fff;
            transform: rotate(45deg);
        }
    }
}
.hotel {
    &-image {
        margin-bottom: 5px;
        width: auto;
        max-width: 100%;
        height: 180px;
    }
    &-info-toggler {
        margin-bottom: 20px;
    }
    &-block-title {
        color: $usitrip-bright;
    }
    &-info {
        form{
            display: none;
            &.active{
                display: block;
            }
        }
        &-detail {
            input:not([type='radio']) {
                width: 100%;
            }
            .hotel-desc {
                max-width: 100%;
            }
        }
        .row {
            position: relative;;
        }
        &-area {
            .add-new {
                top: 20px;
                right: 15px;
            }
            .area-group {
                margin-bottom: 25px;
                &.collapsed {
                    max-height: 200px;
                    overflow: hidden;
                    &:after {
                        content: '...';
                        display: block;
                        height: 20px;
                        width: 100%;
                        z-index: 999;
                        position: absolute;
                    }
                }
                &-title {
                    margin-bottom: 10px;
                    font-weight: bold;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    width: 100%;
                }
            }
            .area-item {
                line-height: 25px;
                margin-bottom: 8px;
                &-name {
                    width: 100%;
                }
                &-distance {
                    width: 100%;
                    text-align: right;
                    padding-right: 40px;
                }
                .btn-remove-sm {
                    position: absolute;
                    right: 15px;
                    top: 4px;
                }
            }
        }
        &-facility {
            .hotel-facility {
                &-block {
                    position: relative;
                }
                &-item input {
                    line-height: 20px;
                    max-width: 300px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
                &-popular {
                    .hotel-facility-item {
                        margin-bottom: 7px;
                    }
                }
                &-group {
                    margin-bottom: 20px;
                    position: relative;
                    &.collapsed {
                        max-height: 186px;
                        overflow: hidden;
                    }
                    &-title {
                        font-weight: bold;
                        margin-bottom: 8px;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    .hotel-facility-item {
                        input {
                            width: 70%;
                        }
                    }
                }
            }
        }
        &-review {
            .hotel-review {
                &, &-zh {
                    position: relative;
                }
            }
            .hotel-review-item {
                margin-bottom: 10px;
            }
            .review-content {
                width: 82%;
                display: inline-block;
                &-label {
                    vertical-align: top;
                }
            }
        }
        &-restaurant {
            .hotel-restaurant {
                &, &-zh {
                    position: relative;
                }
            }
            .hotel-restaurant-item {
                margin-bottom: 10px;
            }
        }
        &-thumbnail {
            .hotel-image-anchor {
                display: inline-block;
                margin-bottom: 5px;
                &:focus {
                    outline: 4px solid #00abf0;
                }
            }
        }
        &-image {
            &-title {
                margin-bottom: 15px;
            }
            &-action {
                margin-bottom: 20px;
                .action-wrapper {
                    text-align: right;
                }
            }
            .button-wrapper {
                position: absolute;
                width: 100%;
                button {
                    opacity: .8;
                    &:hover {
                        opacity: 1;
                    }
                }
                .hotel-image-checkbox {
                    height: 25px;
                    width: 25px;
                    position: absolute;
                    right: 30px;
                }
            }
        }
        &-card {
            .hotel-card {
                position: relative;
                &-type {
                    input {
                        text-align: center;
                    }
                }
            }
        }
    }
}