@import "../includes/colors";
.relative{
  position: relative;
}
[v-cloak] {
  display: none !important;
}
@media (max-width: 1199px) {
  html, body{
    min-width:1200px;
    margin:0 auto;
  }
  .facility-group-wrapper .col-sm-4{
    width:382px;
  }
  #hotelsBlock .col-sm-3 {
    width: 307px;
  }
  .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    float: left;
  }
}
.sessionAlert{
  font-size: 24px;
  text-align: center;
  font-weight: 500;
}
.whattheyoffers li {
  width: 25%;
  padding: 1% 2%;
  float: left;
  list-style-type: none;
}
.arrow-back-to-top {
    height: 15px;
    width: 15px;
    background-position: -114px -461px;
    float: right;
    margin: 6px 10px;
}
.small-hotel-icon {
    height: 15px;
    width: 20px;
    background-position: -53px -461px;
    float: left;
    margin: 6px 5px;
}
.view-photo-gallery {
    height: 16px;
    width: 16px;
    background-position: -28px -534px;
    float: left;
    margin-top: 4px;
    margin-right: 7px;
}
.usitrip-mobile-bg {
    background-color: #dfe9f3 !important;
}
#en_nav .Cons ul {
    margin: 0 -15px;
}
.selectedOne {
    color: red;
    background-color: yellow;
    font-size: 14px;
}
.hotel-top-title-id {
    bottom: -80px;
    margin-right: -15px;
    font-size: 14px;
}
.hotel-description-box {
    padding-right: 0%;
}
.hotel-description-info {
    padding-top: 40px;
    font-family: Roboto, Arial, Microsoft Yahei, Hiragino Sans GB, Hiragino Sans GB W3, SimSun, STHeiti;
}
.hotel-larger-photo-gallery {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 30px;
    margin-bottom: -45px;
}
.hotel-show-gallery {
    display: block !important;
}
.hotel-show-gallery-text {
    color: white;
}
.hotel-service-special-with-fee {
    color: #e4393c;
}
.hotel-see-cancel-on-booking {
    font-size: 13px;
}
.hotel-location-box {
    padding-left: 25px;
    padding-right: 25px;
}
.map-input {
    color: #d0021b
}
.hotel-view-more {
    outline: none;
    padding-top: 20px;
}
.hotel-see-photo-more {
    padding-top: 10px;
    outline: none;
}
.hotel-table {
    margin-bottom: 0px !important;
}
/*CSS MOVED HERE BEGIN*/
.h-info-commonTermTrans {
    height: 229px;
    padding: 20px 20px;
    border: 1px solid #ccc;
    margin: 25px 0;
}
.fancybox {
    display: block !important;
}
.h-info-img-txt {
    display: block;
    color: #fff;
    width: 170px;
    height: 37px;
    text-align: center;
    line-height: 37px;
    position: absolute;
    left: 0;
    bottom: 18px;
    font-size: 14px;
    cursor: pointer;
    background: #2664b3;
    opacity: 0.8;
    filter: alpha(opacity=50);
    z-index: 1;
}
/*image carousel*/
.hotel-pic-left {
    max-width: 832px;
    height: 494px;
    position: relative;
}
.image-view-all {
    border-radius: 5px;
    border: none;
    background-color: #4c8ecb;
    padding: 8px;
    color: #fff;
    font-size: 14px;
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 1;
}
.image-carousel {
    width: 832px;
    height: 494px !important;
    position: relative;
    border: 1px solid $usitrip-grey;
    .carousel {
        &-indicators {
            width: 832px;
            left: 0;
            margin-left: 0;
            &.carousel-image-wrapper {
                bottom: 4px;
            }
            li {
                text-indent: 0;
                &.carousel-image {
                    height: 30px;
                    width: 33px;
                    border: 2px solid transparent;
                    border-radius: 0;
                }
                &.active.carousel-image {
                    height: 30px;
                    width: 33px;
                    border: 2px solid #ea8523;
                }
            }
        }
        &-control {
            opacity: .2;
        }
        &-inner {
            width: 100%;
            height: 100%;
            img {
                width: 600px;
                height: 409px;
                margin: 8px auto 0;
            }
        }
    }
}
.hotel-gallery {
    height: 494px !important;
    position: relative;
}
.hotel-gallery-player {
    position: relative;
    text-align: center;
    background-color: white;
    margin-bottom: 5px;
    width: 832px;
    height: 409px !important;
    border: 1px solid $usitrip-grey;
}
.hotel-gallery-player a.control-prev, .hotel-gallery-player a.control-next {
    position: absolute;
    width: 40px;
    height: 40px;
    display: block;
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
}
.hotel-gallery-player a.control-prev {
    background-color: #fff;
    height: 40px;
    width: 40px;
    top: 183px !important;
    border-radius: 5px;
    color: #4c8ecb;
    left: 0px;
    border: 1px solid #4c8ecb;
}
.hotel-gallery-player a.control-next {
    background-color: #fff;
    height: 40px;
    width: 40px;
    top: 183px !important;
    border-radius: 5px;
    color: #4c8ecb;
    right: 0px;
    border: 1px solid #4c8ecb;
}
.hotel-gallery-player a:hover.control-prev, .hotel-gallery-player a:hover.control-next {
    background-color: #4c8ecb;
    color: #fff;
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    opacity: 1;
}
.hotel-gallery-player > img {
    width: 600px;
    height: 409px;
}
.hotel-gallery-options > a {
    width: 80px;
    height: 80px;
    float: left;
    display: block;
    margin-left: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.hotel-gallery-options > a:first-child {
    margin-left: 0;
}
.hotel-gallery-options > a:hover {
    border: 2px solid #f1791e;
}
.hotel-gallery-options .active {
    border: 2px solid #f1791e;
}
.entypo-star {
    color: #ffc101;
}
.info-head-left h1 {
    font-size: 18px;
    font-weight: normal;
    color: #333;
    line-height: 30px;
    margin-bottom: 5px;
}
.mcontrols {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
#origin-input, #destination-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 12px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 200px;
}
#origin-input:focus, #destination-input:focus {
    border-color: #4d90fe;
}
#mode-selector {
    color: #fff;
    background-color: #4d90fe;
    margin-left: 12px;
    padding: 5px 11px 0px 11px;
}
#mode-selector label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}
@media (min-width: 1400px) {
    #hidePhotos {
        display: none;
    }
}
.h-info-img img:first-child {
    /*height: 330px;*/
    height: 494px;
    width: 492px;
    margin-left: 0;
}
@media (max-width: 1400px) {
    #photoShow {
        display: none;
    }

}
.all-wrapper {
    margin: auto;
    display: block;
    width: 1200px !important;
}
.h-info-img-wrap {
    position: relative;
    margin-bottom: 15px;
}
.h-info-img img {
    /*height: 163px;*/
    height: 245px;
    width: 235px;
    float: left;
    margin: 0 0 4px 4px;
}
.item {
    display: block;
    overflow: hidden;
    padding-bottom: 10px;
    font-size: 14px;
    line-height: 22px;
    font-family: 'Roboto', 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
.photoslider {
    display: block;
    overflow: hidden;
    padding-bottom: 10px;
    font-size: 1em;
    width: 680px;
    /*default 80px not view more toggle*/
    height: 80px;
    font-family: 'Roboto', 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
#do-query-btn {
    display: block;
    height: 30px;
    width: 130px;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    border: none;
    background: #3a8dec;
    border-radius: 6px;
    cursor: pointer;
    text-align: center;
}
.hotel-info-nearby h4 {
    border-top: 2px solid #3a8dec;
    margin-bottom: 16px;
}
.hotel-info-nearby h4 span {
    display: block;
    height: 38px;
    color: #fff;
    background: #3a8dec;
    width: 120px;
    line-height: 38px;
    text-align: center;
}
.pic-pet {
    position: absolute;
    top: -56px;
    right: 126px;
    display: none;
    cursor: pointer;
}
.pet-f-content {
    width: 360px;
    height: auto;
    position: absolute;
    background: white;
    border: #333 2px solid;
    right: 250px;
    z-index: 99;
    border-radius: 12px;
    display: none;
    text-align: left;
    padding: 8px;
}
/*CSS MOVED HERE END*/
/*new pc style*/
.hotel-table-title {
    height: 17px;
    font-size: 18px;
    text-align: left;
    font-weight: normal;
    color: #636363;
    border: solid 1px rgba(99, 99, 99, 0.2);
}
.hotel-trans {
    height: 229px;
    padding: 20px;
    margin-top: -25px;
    margin-bottom: 20px;
    font-size: 14px !important;
}
.hotel-trans-border-top {
    border-top: 1px solid #636363;
    padding-top: 20px;
}
tr:last-child, tr:first-child, thead > tr {
    -webkit-border-vertical-spacing: 0 !important;
    border-collapse: collapse;
}
.bg-white {
    background-color: #fff;
}
/*new pc style end*/
/*default thead有radius，在这里void*/
.padding-right-5 {
    padding-right: 5px;
}
.padding-right-6 {
    padding-right: 6px;
}
.padding-right-7-left-2 {
    padding-right: 7px;
    padding-left: 2px;
}
.padding-left-19 {
    padding-left: 19px;
}
i.fa.fa-map-marker {
    padding-right: 4px;
}
.hotel-search-top {
    background-color: #fff;
    padding: 13px;
    height: 50px;
    font-size: 17px;
    /*color: #4c8ecb;*/
}
.navbar-nav > li {
    float: left;
}
div#go-to-section {
    margin-bottom: 20px;
    margin-top: 32px;
}
.page-scroll {
    font-weight: normal;
    font-size: 18px;
    outline: none;
}
.break-line {
    height: 20px;
    width: 1px;
    background-color: #fff;
    margin: 10px 0;
    cursor: none;
}
.fa-angle-left {
    font-weight: bolder;
    font-size: 24px;
    margin-top: -2px;
}
.fa-building-o {
    margin-right: 10px;
}
.break-top-line {
    width: 1px;
    height: 30px;
    border-radius: 0;
    background: #4c8ecb;
    margin: 0 10px;
}
.break-top-dot {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #4c8ecb;
    margin: 12px 10px;
}
#float-top {
    position: fixed;
    top: 0px;
    left: 0;
    z-index: 999;
    width: 100%;
}
#go-to-section-slide {
    height: 40px;
    background-color: #104a8f;
    width: 100%;
}
.go-to-nav-top > li {
    position: relative;
    display: block;
}
.go-to-nav-top .top-hover:hover, .top-hover:active {
    background: #4c8ecb;
}
.go-top:hover {
    background-color: #104a8f !important;
}
.go-to-nav-top {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    width: 1200px;
    padding: 0 5px;
    margin: 0 auto;
    float: none;
}
.go-to-nav-top > li > a {
    color: #fff !important;
    position: relative;
    display: block;
    padding: 10px 15px;
    text-align: center;
}
.slide-bottom-part {
    width: 100%;
    height: 40px;
    background-color: #dfeaf4;
    color: #636363;
    font-size: 24px;
    box-shadow: 0px 1px 10px 1px rgba(35, 31, 32, 0.57);
}
.searched-info-float {
    font-size: 14px;
    padding: 13px 0;
}
.go-top {
    color: #fff;
    height: 40px;
    font-size: 18px;
    cursor: pointer;
    padding: 5px 0 5px 80px;
}
.float-hotel-name {
    padding: 8px 0;
    max-width: 760px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 18px;
    vertical-align: bottom;
    display: inline-block;
}
.padding-left-none {
    padding-left: 0 !important;
}
.back-see-all-hotels:hover {
    text-decoration: underline;
    color: #104a8f;
}
.margin-top-photo {
    margin-top: 160px;
}
.photo-btn-prev, .photo-btn-next {
    font-size: 54px !important;
    margin-top: -14px;
}
.photo-btn-prev {
    margin-left: -5px !important;
}
.photo-btn-next {
    margin-left: -8px;
}
.hotel-thumbnail-imgs {
    background-size: 80px 80px !important;
}
.view-all-img-btn {
    border-radius: 5px;
    border: none;
    background-color: #4c8ecb;
    color: #fff;
    font-size: 18px;
    width: 152px;
    height: 80px;
}
.view-all-img-btn:hover {
    background-color: #104a8f;
}
/*top gallery and description*/
.hotel-smaller-photo-gallery {
    display: inline-block;
    width: 70%;
    vertical-align: top;
}
.hotel-smaller-photo-gallery-frame {
    width: 90%;
    margin-left: 1%;
}
.hotel-smaller-photo-gallery-slider {
    margin-bottom: 0px !important;
    margin-top: -15px;
    padding-left: 2px;
}
.hotel-smaller-photo-gallery-player {
    width: 90%;
    margin-left: 1%;
}
/*top gallery and description end*/
/*hotelAllImageModal css begin*/
.modal-all-img {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    width: 100%;
    height: 100%;
    overflow: auto;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.9);
}
.modal-dialog-all-img {
    width: 1137px;
    margin: 0 auto;
}
.hotel-img-title {
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    color: #fff;
}
.img-star-white {
    color: #fff !important;
}
.modal-body-all-img {
    height: 640px;
    margin-top: 40px;
    /*overflow-y: scroll;*/
    overflow-x: hidden;
}
.hotel-view-all-imgs {
    background-size: 150px 150px !important;
    width: 150px;
    height: 130px;
    display: inline-block;
}
.modal-body-all-img > a {
    width: 150px;
    height: 150px;
    float: left;
    display: block;
    margin-bottom: 10px;
    margin-right: 10px;
    border: 1px solid #fff;
    border-color: #f5f5f5;
}
.modal-img-close {
    float: right;
    font-size: 45px;
    font-weight: 300;
    margin-top: -24px;
    color: white;
    opacity: 1;
    padding-right: 0px !important;
}
/*hotelAllImageModal css end*/
/*hotelSearchForm begin*/
.update-hotel-search-btn {
    width: 76px;
    height: 40px;
    border-radius: 5px;
    background-color: #ea8523;
    color: #fff;
    font-size: 18px;
    border: none;
    cursor: pointer;
    margin-top: 26px;
}
.update-hotel-search-btn:hover {
    color: #fff;
    background-color: #e4393c;
}
/* dialog room adult child*/
#searchDialog {
    width: 275px;
    border-top: solid 1px #4c8ecb;
    border-top: solid 1px #4c8ecb;
    border-right: solid 2px #4c8ecb;
    border-bottom: solid 2px #4c8ecb;
    border-left: solid 2px #4c8ecb;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: none !important;
    position: absolute;
    top: 65px;
    padding: 10px;
    background-color: white;
    z-index: 99;
}
.btn-add, .btn-subtract {
    width: 28px !important;
    height: 28px !important;
    padding: 4px 3px 3px 4px !important;
    margin: 0 !important;
    border-radius: 50% !important;
    background-color: white;
    border: #636363 1px solid;
    color: #636363;
    font-size: 28px;
    line-height: 18px;
    font-weight: 100;
}
.btn-add:hover, .btn-subtract:hover {
    background-color: #4c8ecb;
    color: #fff;
    border: #4c8ecb 1px solid;
}
.disabled-btn, .disabled-btn:hover {
    background-color: #a7a9ab;
    border-color: #a7a9ab;
    color: #fff
}
.btn-subtract {
    font-size: 44px;
}
.btn-add {
    font-size: 30px;
}
.number-spinner input {
    background-color: white !important;
    width: 30px;
    padding: 0;
    margin: 0;
    font-size: 18px;
    border: none;
    height: 28px;
}
.number-label {
    width: 136px !important;
    padding: 0 !important;
    margin: 0 !important;
    font-weight: 300 !important;
    font-size: 18px;
    text-align: left !important;
}
/*end dialog*/
/*hotelSearchForm end*/
.extra-description-padding {
    padding-left: 13px;
}
.table > tbody > tr > td {
    border: 1px solid rgba(99, 99, 99, 0.2);
}
/*modal view single picture start*/
.hotel-modal-gallery-player {
    position: relative;
    text-align: center;
    background-color: white;
    margin-bottom: 5px;
    width: 1140px;
    height: 629px !important;
}
.hotel-modal-gallery-player a.control-prev, .hotel-modal-gallery-player a.control-next {
    position: absolute;
    width: 40px;
    height: 40px;
    display: block;
    filter: alpha(opacity=50);
    -moz-opacity: 0.5;
    opacity: 0.5;
}
.hotel-modal-gallery-player a.control-prev {
    background-color: #fff;
    height: 40px;
    width: 40px;
    top: 280px !important;
    border-radius: 5px;
    color: #4c8ecb;
    left: 0px;
    border: 1px solid #4c8ecb;
}
.hotel-modal-gallery-player a.control-next {
    background-color: #fff;
    height: 40px;
    width: 40px;
    top: 280px !important;
    border-radius: 5px;
    color: #4c8ecb;
    right: 0px;
    border: 1px solid #4c8ecb;
}
.hotel-modal-gallery-player a:hover.control-prev, .hotel-modal-gallery-player a:hover.control-next {
    background-color: #4c8ecb;
    color: #fff;
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    opacity: 1;
}
.hotel-modal-gallery-player > img {
    width: 600px;
    height: 430px;
    margin-top: 111px;
}
#view-all-img-icon {
    height: 19px;
    font-size: 18px;
    color: #fff;
    padding-top: 14px;
}
#indexUrl {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    color: #636363;
}
#view-all-img-text:hover {
    text-decoration: underline;
    cursor: pointer;
}
/*modal view single picture end*/
a.hotel-view-all-imgs:hover {
    border: 1px solid #ea8523;
}
.modal-img-close:hover {
    color: #fff !important;
    opacity: 1;
}
.hotel-city {
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;
}
.float-top-hotel-info {
    width: 1200px;
    margin: 0 auto;
    padding: 0 5px;
}
div#hotelAllPicturesModal {
    overflow-x: scroll;
    z-index: 2050 !important;
}
.cursor-pointer {
    cursor: pointer;
}
.count-down-btn {
    background-color: #2f4f4f;
    color: #fff;
    font-size: 25px;
    position: relative;
    top: -394px;
    left: 549px;
    border: none;
    padding: 3px 26px;
}
#countdown {
    padding-left: 5px;
}

/*hotel description right*/
.hotel-description-right {
    display: inline-block;
    height: 494px;
    background-color: #fff;
    width: 29%;
    border: 1px solid $usitrip-grey;
    .hotel-description {
        padding: 23px 25px;
        height: 64%;
        overflow: auto;
        &-title {
            font-size: 18px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            letter-spacing: normal;
            text-align: left;
            color: $usitrip-dark;
        }
        &-detail {
            margin-top: 5px;
            text-align: justify;
            -moz-text-align-last: left; /* Code for Firefox */
            text-align-last: left;
            letter-spacing: -1px;
        }
        &-more {
            outline: none;
            padding-top: 10px;
            padding-left: 12px;
        }
    }
    /*facility icons*/
    .facilities-banner {
        display: none;
        height: auto;
        padding: 10px 20px 0;
        .icon-wrapper {
            display: inline-block;
            width: 32%;
            text-align: center;
            margin-bottom: 15px;
            p {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            i {
                display: block;
                text-align: center;
                &:before {
                    content: '';
                    display: inline-block;
                    background-image: url('/img/spriteImgs/hotel-pc-icons.png');
                    background-repeat: no-repeat;
                    background-position: -1360px -40px;
                    width: 40px;
                    height: 40px;
                }
            }
            [class*="view"]:before {
        background-position: -640px -40px;
            }
            [class*="pool"]:before {
                background-position: 0 0;
            }
            [class*="outdoor-pool"]:before {
              background-position: -40px 0;
            }
            [class*="activities"]:before {
                background-position: -760px 0;
            }
            [class*="accessibility"]:before, [class*="disabled"]:before {
                background-position: -360px 0;
            }
            [class*="air-condition"]:before {
                background-position: -800px 0;
            }
            [class*="balcony"]:before {
                background-position: -840px 0;
            }
            [class*="business"]:before {
                background-position: -880px 0;
            }
            [class*="bar"]:before {
                background-position: -240px 0;
            }
            [class*="breakfast"]:before, [class*="coffee"]:before, [class*="tea"]:before {
                background-position: -280px 0;
            }
            [class*="beach"]:before {
                background-position: -320px 0;
            }
            [class*="bedroom"]:before {
                background-position: -920px 0;
            }
            [class*="bathroom"]:before {
                background-position: -480px 0;
            }
            [class*="cleaning"]:before {
                background-position: -960px 0;
            }
            [class*="fitness"]:before {
                background-position: -160px 0;
            }
            [class*="family"]:before {
                background-position: -1000px 0;
            }
            [class*="food"]:before {
                background-position: -720px 0;
            }
            [class*="front-desk"]:before {
                background-position: -1040px 0;
            }
            [class*="wifi"]:before, [class*="internet"]:before {
                background-position: -440px 0;
            }
            [class*="kitchen"]:before {
                background-position: -1320px 0;
            }
            [class*="language"]:before {
                background-position: -1080px 0;
            }
            [class*="media"]:before, [class*="technology"]:before {
                background-position: -1120px 0;
            }
            [class*="outdoors"]:before {
                background-position: -520px 0;
            }
            [class*="pet"]:before {
                background-position: -1160px 0;
            }
            [class*="parking"]:before {
                background-position: -1200px 0;
            }
            [class*="private"]:before {
                background-position: -1240px 0;
            }
            [class*="restaurant"]:before {
                background-position: -720px 0;
            }
            [class*="shuttle"]:before, [class*="transportation"]:before {
                background-position: -200px 0;
            }
            [class*="spa"]:before {
                background-position: -80px 0;
            }
            [class*="smoking"]:before {
                background-position: -120px 0;
            }
            [class*="all-inclusive"]:before {
                background-position: -1280px 0;
            }
            [class*="facility-more"]:before {
                background-position: -600px 0;
            }
        }
        .icon-facility-more-wrapper {
            cursor: pointer;
        }
    }
    /*facility icons end*/
}
/*hotel description right end*/

/*hotel search*/
.hotel-search {
    &-form {
        margin-left: 0px;
        border-radius: 5px 5px 0 0;
        padding-bottom: 20px;
        background: #104a8f;
    }
    &-title {
        font-size: 24px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        padding: 20px;
        letter-spacing: normal;
        text-align: left;
        color: #fff;
    }
    &-wrapper {
        background-color: #fff !important;
        margin: auto 5px;
        padding: 20px 5px;
    }
    .label-datepicker {
        font-size: 14px;
        color: #636363;
        &:after {
            font-family: 'Font Awesome 5 Free';
            font-size: 20px;
            position: absolute;
            left: 25px;
            top: 31px;
            color: #a7a9ab;
            z-index: 5;
            content: "\f073";
        }
    }
    .label-rooms {
        font-size: 14px;
        color: #636363;
    }
    &-date-input {
        width: 180px;
        height: 40px;
        border-radius: 5px;
        background-color: #fff;
        font-size: 18px;
        border: solid 1px rgba(99, 99, 99, 0.5);
        padding-left: 36px;
        &:focus {
            border: solid 2px #4c8ecb !important;
        }
    }
    &-checkout, &-rooms {
        margin-left: 20px;
    }
    &-guest-box {
        width: 275px;
        height: 40px;
        border-radius: 5px;
        background-color: #fff;
        font-size: 18px;
        padding: 7px 6px;
        border: solid 1px rgba(99, 99, 99, 0.5);
        span {
            pointer-events: none;
        }
        &:after {
            content: "\f107"; /* angle-down */
            font-family: 'Font Awesome 5 Free';
            position: absolute;
            right: 20px;
            top: 34px;
            font-weight: 900;
        }
        &.person_desc_active:after {
            content: "\f106";
        }
    }
    &-guest-wrapper {
        margin-left: 10px !important;
    }
    &-submit-wrapper {
        float: left;
        margin-left: 30px;
    }
}
/*hotel search end*/

/*top hotel info*/
.hotel-top-info {
    margin-bottom: 40px;
    margin-top: 40px;
    position: relative;
    .hotel-top-title-name {
        max-width: 586px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        display: inline-block;
        font-weight: normal;
    }
    .label-top-property {
        background: #686868;
        width: 100px;
        height: 22px;
        line-height: 22px;
        text-align: center;
        color: #fff;
        display: inline-block;
        font-size: 12px;
        vertical-align: middle;
        margin-left: 8px;
    }
    .hotel-top-title-section {
        line-height: 30px;
        display: inline-block;
        width: 69%;
        position: relative;
    }
    .hotel-passed-price-section {
        display: inline-block;
        width: 29%;
        vertical-align: bottom;
        text-align: right;
    }
    .hotel-top-title-all {
        font-size: 24px;
        height: 30px;
    }
    .hotel-top-title-address {
        font-size: 18px;
        max-width: 900px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .expedia-rate {
        font-size: 18px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        text-align: left;
        margin-top: 10px;
    }
    .label-price-gurantee {
        font-size: 14px;
        padding-right: 110px;
        color: $usitrip-brownish-grey;
        font-weight: bold;
        margin-top: 10px;
    }
    .hotel-passed-price {
        display: inline-block;
        width: 68%;
    }
    .price-per-night-top {
        font-size: 18px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        color: #636363;
    }
    .price-block {
        text-align: right;
    }
    .original-price-line-through {
        font-size: 18px;
        text-decoration: line-through;
    }
    .hotel-min-price {
        font-sizE: 24px;
    }
    .auto-select-book-btn {
        padding: 8px 2px;
        height: 50px;
        border-radius: 5px;
        background-color: #ea8523;
        font-size: 24px;
        color: #fff;
        border: 0;
        margin-left: 5px;
        display: inline-block;
        width: 29%;
        vertical-align: top;
    }
    .auto-select-book-btn:hover {
        background-color: #e4393c;
        color: #fff;
    }
    .guest-review-anchor {
        color: $usitrip-bright;
    }
}
/*top hotel info end*/

/*hotel detail anchors banner*/
.go-to-nav {
    background-color: #4c8ecb;
    padding-right: 26px;
    padding-left: 28px;
    margin: 0;
    list-style: none;
    &-item {
        position: relative;
        display: inline-block;
        &:hover {
            background: #104a8f;
        }
        & > a {
            color: #fff;
            position: relative;
            display: block;
            text-align: center;
            margin: 10px 0;
            border-right: 1px solid #fff;
            padding-right:24px;
            padding-left: 22px;
        }
        &:last-child a {
            border: none;
        }
    }
}
/*hotel detail anchors banner end*/

/*hotel sections*/
.hotel-section-title {
    margin-bottom: 0;
    span {
        display: block;
        color: #fff;
        width: 200px;
        height: 40px;
        background-color: #4c8ecb;
        text-align: center;
        padding: 11px 0;
        font-size: 18px;
        font-weight: normal;
    }
}
.hotel-section-wrapper {
    margin-bottom: 25px;
}
/*hotel sections end*/

/*room item*/
.hotel-room-box {
    border: solid #104a8f;
    border-width: 5px 5px 20px 5px;
    border-radius: 0 0 5px 5px;
    //border-collapse: separate;
    //-webkit-border-vertical-spacing: 9px;
    background-color: #fff;
    margin-bottom: 15px;
    & > thead > tr > th {
        border-radius: 0;
    }
}
.table-align-right {
    text-align: right !important;
    padding-right: 20px !important;
    button{
        font-size:18px;
    }
}
.hotel-room {
    &-list {
        max-width: 200px;
        margin: 10px 0;
        &-cancel {
            margin-right: 10px;
            display: none;
        }
    }
    .hotel-service-special-li {
        font-size: 14px;
        .facility-all-inclusive:not(:empty) {
            position: relative;
            padding-left: 20px;
            &:before {
                content: '';
                display: block;
                position: absolute;
                left: 0;
                top: 5px;
                background: url('/img/spriteImgs/hotel-2-icons.png') no-repeat -55px -231px;
                width: 14px;
                height: 11px;
            }
            span:first-child {
                position: relative;
            }
        }
        .facility-all-inclusive-info {
            position: relative;
            .icon-info-all-inclusive {
                display: inline-block;
                background: url('/img/spriteImgs/hotel-pc-icons.png') no-repeat -1440px -40px;
                width: 25px;
                height: 25px;
                vertical-align: middle;
                margin-left: 5px;
                margin-top: -3px;
            }
            .icon-info-all-inclusive:hover ~ .inclusive-tooltips {
                display: block;
            }
            .inclusive-tooltips {
                position: absolute;
                top: 0;
                left: 40px;
                width: 276px;
                background: #fff;
                padding: 15px 12px;
                border: #4c8ecb 3px solid;
                color: #4c8ecb;
                border-radius: 5px;
                display: none;
                font-weight: 200 !important;
            }
        }
        .room-facility-wrapper {
            margin-top: 8px;
        }
        .room-facility-item {
            display: inline-block;
            width: 50%;
            margin-bottom: 8px;
            vertical-align: top;
        }
        .room-facility-more {
            &-item {
                display: inline-block;
                position: relative;
                margin-bottom: 8px;
                padding-left: 20px;
                &:before {
                    content: '';
                    display: block;
                    position: absolute;
                    left: 5px;
                    top: 5px;
                    background: url('/img/spriteImgs/hotel-2-icons.png') no-repeat -19px -233px;
                    width: 11px;
                    height: 8px;
                }
            }
            &-btn {
                background: #fff;
                display: block;
                width: 100%;
                text-decoration: underline;
                color: $usitrip-bright;
                &:hover {
                    color: $usitrip-normal;
                }
            }
        }
    }
    &-img {
        width: 200px;
        height: 100px;
        margin-bottom: 8px;
        &-wrapper {
            position: relative;
            color: #fff;
        }
        &-more {
            cursor: pointer;
            position: absolute;
            bottom: 20px;
            left: 127px;
            line-height: 27px;
            padding: 0 5px;
            background: #333;
            i {
                float: left;
            }
        }
    }
    &-name {
        font-size: 14px;
        text-align: left;
        color: $usitrip-bright;
        width: 200px;
        &.underlined {
            text-decoration: underline;
            cursor: pointer;
        }
    }
    &-rate {
        padding-top: -7px;
        font-weight: 500;
        font-size: 12px;
        line-height: 18px;
    }
    &-price {
        font-weight: normal;
        font-size: 24px;
        color: #e4393c;
    }
    .mandatory-fee {
        font-size: 14px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: right;
        color: #636363;
    }
    .bookButton {
        text-decoration: none;
        display: inline-block;
        width: 76px;
        height: 35px;
        border-radius: 5px;
        background-color: #ea8523;
        font-size: 18px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #fff;
        padding: 4px;
        margin-top: 6px;
    }
    .bookButton:hover {
        color: #fff;
        background-color: #e4393c;
    }
    &-book-notes {
        margin-top: 14px;
    }
}
/*room item style end*/

/*hotel area info*/
.hotel-area {
    background: #fff;
    padding: 25px 0 5px 20px;
    overflow: hidden;
    margin: 0;
    height: auto;
    visibility: hidden;
    &.collapsed {
        height: 350px;
        & ~ .area-toggler-wrapper .area-toggler {
            border-top: 1px dotted $usitrip-bright;
        }
    }
    &-title {
        font-size: 18px;
        color: $usitrip-bright;
        margin-bottom: 10px;
        &:not(:first-child) {
            margin-top: 15px;
        }
    }
    &-item {
        font-size: 14px;
        border-bottom: 1px solid $usitrip-bright;
        line-height: 25px;
    }
    &-list {
        margin-right: 20px;
    }
    &-toggler {
        display: block;
        color: $usitrip-bright;
        line-height: 20px;
        font-size: 16px;
        padding: 10px 0;
        margin: 10px 20px 0 20px;
        &:hover {
            color: $usitrip-normal;
        }
        &-wrapper {
            background: #fff;
            margin: 0;
        }
    }
}
/*hotel area info end*/

/*hotel facility*/
.hotel-facilities {
    background: #fff;
    padding: 23px 27px 20px 24px;
    &-title {
        color: $usitrip-bright;
        font-size: 18px;
    }
    &-popular {
        margin-bottom: 20px;
    }
    &-all {
        margin: 0;
        [class*="col-"] {
            padding: 0
        }
    }
    .facility {
        &-popular-title {
            margin-bottom: 15px;
            font-size: 18px;
            color: $usitrip-bright;
        }
        &-popular-item {
            display: inline-block;
            //line-height: 30px;
            &:not(:last-child) {
                margin-right: 40px;
            }
        }
        &-group-title {
            font-size: 18px;
            font-weight: normal;
            color: $usitrip-bright;
            margin-bottom: 10px;
            margin-top: 20px;
            height: 30px;
        }
        &-group-wrapper.collapsed {
            .facility-group-item:nth-child(n+11) {
                display: none;
            }
        }
        &-group-item {
            padding-left: 35px;
            margin-bottom: 10px;
            position: relative;
            &:before {
                content: '';
                display: block;
                background: url('/img/spriteImgs/hotel-2-icons.png') no-repeat -19px -233px;
                width: 11px;
                height: 8px;
                position: absolute;
                left: 8px;
                top: 5px;
            }
        }
        &-group-more {
            display: block;
            padding-left: 8px;
            line-height: 26px;
            &:hover {
                color: $usitrip-normal;
            }
        }
    }
}
/*hotel facility end*/

/*room info modal*/
.room-modal {
    .modal-body {
        padding: 25px;
    }
    &-title {
        font-size: 18px;
        font-weight: normal;
        margin-bottom: 9px;
    }
    &-images {
        width: 62%;
        display: inline-block;
        .room-gallery {
            &-player {
                position: relative;
                margin-bottom: 5px;
            }
            &-control {
                position: absolute;
                width: 40px;
                height: 40px;
                border-radius: 5px;
                border: 2px solid $usitrip-bright;
                background: #fff;
                top: 45%;
                i {
                    font-size: 44px;
                    margin-top: -9px;
                    margin-left: -4px;
                }
                &:hover {
                    background: $usitrip-bright;
                    color: #fff;
                }
            }
            &-prev {
                left: 0;
            }
            &-next {
                right: 0;
            }
            &-image {
                width: 100%;
                height: 370px;
            }
            &-options {
                width: 100%;
                a {
                    width: 60px;
                    height: 60px;
                    display: inline-block;
                    margin-right: 5px;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    &:hover {
                        border: 2px solid #f1791e;
                    }
                    &.active {
                        border: 2px solid #f1791e;
                    }
                }
            }
        }
    }
    &-details {
        width: 37%;
        display: inline-block;
        padding: 0 22px;
        vertical-align: top;
    }
    .room-description {
        margin-top: 22px;
    }
    .room-facility {
        display: inline-block;
        position: relative;
        padding-left: 10px;
        width: 50%;
        &:before {
            content: '';
            display: block;
            height: 4px;
            width: 4px;
            background: $usitrip-bright;
            border-radius: 50%;
            position: absolute;
            left: 0;
            top: 7px;
        }
        &-title {
            margin-bottom: 12px;
            margin-top: 22px;
            font-weight: normal;
        }
    }
    &-close {
        width: 24px;
        height: 24px;
        background: $usitrip-grey;
        border-radius: 50%;
        border: none;
        position: absolute;
        right: 20px;
        i {
            color: #fff;
        }
    }
}
/*room info modal end*/

/*hotel review*/
.hotel-review {
    background: #fff;
    padding: 40px 65px 65px 80px;
    .review {
        &-avatar {
            margin-bottom: 9px;
            i {
                display: inline-block;
                background: url('/img/spriteImgs/hotel-2-icons.png') no-repeat -113px -342px;
                width: 68px;
                height: 68px;
            }
        }
        &-rate {
            display: block;
            background: url('/img/spriteImgs/hotel-2-icons.png') no-repeat -13px -342px;
            height: 16px;
            &-1 {
                width: 17px;
            }
            &-2 {
                width: 36px;
            }
            &-3 {
                width: 54px;
            }
            &-4 {
                width: 73px;
            }
            &-5 {
                width: 91px;
            }
            &-wrapper {
                background: url('/img/spriteImgs/hotel-2-icons.png') no-repeat -13px -363px;
                width: 91px;
                height: 16px;
                margin-bottom: 20px;
            }
        }
    }
    .carousel-indicators {
        bottom: 10px;
        li {
            background: #fff;
            color: $usitrip-bright;
            text-indent: 0;
            width: 30px;
            height: 30px;
            line-height: 30px;
            &.active {
                background: $usitrip-bright;
                color: #fff;
            }
        }
    }
    .carousel-control {
        background: transparent;
        &:hover {
            background: transparent;
        }
        i {
            color: $usitrip-black;
            font-size: 58px;
            margin-top: 54%;
            position: absolute;
        }
        &.left i {
            left: 0;
        }
        &.right i {
            right: 0;
        }
    }
}
/*hotel review end*/

/*hotel policy*/
.hotel-dynamic-policy-box {
    background-color: #fff;
    padding: 20px;
    .icon-card {
        margin-right: 10px;
        background-image: url('/img/spriteImgs/hotel-2-icons.png');
        background-repeat: no-repeat;
        width: 53px;
        height: 33px;
        &-visa {
            display: inline-block;
            background-position: -13px -259px;
        }
        &-mastercard {
            display: inline-block;
            background-position: -76px -259px;
        }
        &-americanexpress {
            display: inline-block;
            background-position: -140px -259px;
        }
        &-discover {
            display: inline-block;
            background-position: -205px -259px;
        }
        &-paypal {
            display: inline-block;
            background-position: -275px -264px;
            width: 98px;
            height: 25px;
        }
    }
}
.hotel-policy {
    &-box {
        line-height: 22px;
    }
    &-item {
        margin-bottom: 20px;
        padding-left: 40px;
        position: relative;
        &:before {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            background-image: url('/img/spriteImgs/hotel-2-icons.png');
            background-repeat: no-repeat;
            /*default icon*/
            background-position: -366px -107px;
            width: 22px;
            height: 22px;
        }
    }
    &-time:before {
        background-position: -366px -66px;
        width: 21px;
        height: 21px;
    }
    &-cancellation:before {
        background-position: -366px -107px;
        width: 22px;
        height: 22px;
    }
    &-price:before {
        background-position: -181px -104px;
        width: 25px;
        height: 25px;
    }
    &-child:before, &-bed:before {
        background-position: -364px -145px;
        width: 28px;
        height: 21px;
    }
    &-pet:before {
        background-position: -138px -67px;
        width: 20px;
        height: 20px;
    }
    &-others:before {
        background-position: -366px -226px;
        width: 25px;
        height: 20px;
    }
    &-head {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 9px;
        color: $usitrip-bright;
    }
    &-text {
        font-size: 18px;
        text-align: justify;
        -moz-text-align-last: left; /* Code for Firefox */
        text-align-last: left;
        color: #636363;
    }
    &-cards {
        &-desc {
            margin-top: 10px;
        }
    }
}
/*hotel policy end*/

/*hotel restaurants*/
.hotel-restaurants {
    background: #fff;
    margin: 0;
    padding: 24px 22px 13px 22px;
    &-item {
        font-size: 18px;
        margin-bottom: 22px;
    }
    .restaurant {
        &-name {
            font-weight: normal;
            color: $usitrip-bright;
        }
    }
}
/*hotel restaurants end*/

/*hotel map*/
.hotel-map-box {
    padding: 0 15px;
    .infowindow {
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: white;
        box-shadow: 0px 4px 4.2px 0.9px rgba(35, 31, 32, 0.2);
        border-radius: 3px;
        visibility: hidden;
        width: 200px;
        overflow: hidden;
        z-index: 21;
        .hotel {
            &-info-wrapper {
                padding: 10px 10px 0px;
                border-bottom: 1px solid lightgrey;
            }
            &-name {
                display: block;
                font-size: 14px;
                color: #4c8ecb;
                line-height: 17px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            &-rating {
                display: block;
                margin: 5px 0;
                background: url('/img/spriteImgs/coupon_icons.png') no-repeat -363px -99px;
                width: 0;
                height: 19px;
                &-1 {
                    width: 20px;
                }
                &-2 {
                    width: 40px;
                }
                &-3 {
                    width: 61px;
                }
                &-4 {
                    width: 82px;
                }
                &-5 {
                    width: 103px;
                }
            }
            &-guestrating {
                color: #636363;
                padding-bottom: 8px;
            }
            &-feature {
                border-top: 1px solid #a8aaac;
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                color: #e4393c;
                padding: 8px 0;
            }
        }
        .map-hotel-price {
            text-align: right;
            margin-bottom: -5px;
        }
        .beforeTax {
            font-size: 14px;
            color: #636363;
            text-decoration: line-through;
            margin-right: 4px;
        }
        .afterTax {
            font-size: 24px;
            color: $usitrip-hover-tag;
        }
    }
    .hotel-map {
        height: 350px;
    }
}
/*hotel map end*/

/*nearby hotel*/
.nearby-hotels {
    padding-top: 15px;
    padding-bottom: 60px;
    .hotel-info-nearby-box-img {
        width: 100%;
        height: 147px;
        i {
            display: block;
            position: absolute;
            top: 8px;
            left: 5px;
            width: 82px;
            height: 50px;
            background: url("/img/general/icon/bg_tag_discount_82x46.png") no-repeat;
            z-index: 2;
            font-size: 18px;
            color: #fff;
            line-height: 42px;
            text-align: center;
        }
    }
    .hotel-info-nearby-box-btm {
        border: 1px solid #f0f0f0;
        border-top: none;
        height: 57px;
        padding: 10px;
    }
    .rec-hotel-box {
        border: 1px solid rgba(99, 99, 99, 0.5);
        background:#fff;
    }
    .rec-hotel-block-name {
        font-size: 14px;
        color: #636363;
        line-height: 16px;
    }
    .hotel-block-name {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .rec-hotel-block-price {
        float: right;
        font-size: 16px;
        font-weight: normal;
        color: #e4393c;
    }
}
/*nearby hotel end*/

/*facility icons **must wrap the icons with facility-small class*/
.facility-small {
    .facility-icon {
        display: inline-block;
        vertical-align: middle;
        width: 35px;
        text-align: center;
        &:before {
            content: '';
            display: inline-block;
            background-image: url('/img/spriteImgs/hotel-pc-icons.png');
            background-repeat: no-repeat;
            /*default icon*/
            background-position: -1360px -40px;
            width: 25px;
            height: 25px;
        }
    }
    [class*="view"]:before {
        background-position: -640px -40px;
    }
    [class*="pool"]:before {
        background-position: 0 -40px;
    }
    [class*="outdoorpool"]:before {
        background-position: -40px -40px;
    }
    [class*="air-condition"]:before, [class*="aircondition"]:before {
        background-position: -800px -40px;
    }
    [class*="activities"]:before {
        background-position: -760px -40px;
    }
    [class*="accessibility"]:before, [class*="disabled"]:before {
        background-position: -360px -40px;
    }
    [class*="balcony"]:before, [class*="resort"]:before, [class*="balcony-pool"]:before, [class*="balconypool"]:before {
        background-position: -840px -40px;
    }
    [class*="bathtub"]:before {
        background-position: -1480px -40px;
    }
    [class*="bathroom"]:before {
        background-position: -480px -40px;
    }
    [class*="bedroom"]:before {
        background-position: -920px -40px;
    }
    [class*="beach"]:before {
        background-position: -320px -40px;
    }
    [class*="business"]:before {
        background-position: -880px -40px;
    }
    [class*="bar"]:before {
        background-position: -240px -40px;
    }
    [class*="breakfast"]:before, [class*="coffee"]:before, [class*="tea"]:before {
        background-position: -280px -40px;
    }
    [class*="cleaning"]:before {
        background-position: -960px -40px;
    }
    [class*="entertainment"]:before, [class*="family"]:before {
        background-position: -1120px -40px;
    }
    [class*="food"]:before {
        background-position: -720px -40px;
    }
    [class*="fitness"]:before {
        background-position: -160px -40px;
    }
    [class*="front-desk"]:before, [class*="frontdesk"]:before {
        background-position: -1040px -40px;
    }
    [class*="kitchen"]:before {
        background-position: -1320px -40px;
    }
    [class*="living-area"]:before, [class*="livingarea"]:before {
        background-position: -1440px -40px;
    }
    [class*="language"]:before {
        background-position: -1080px -40px;
    }
    [class*="media"]:before, [class*="technology"]:before {
        background-position: -1120px -40px;
    }
    [class*="outdoors"]:before {
        background-position: -520px -40px;
    }
    [class*="pets"]:before {
        background-position: -1160px -40px;
    }
    [class*="parking"]:before {
        background-position: -1200px -40px;
    }
    [class*="private"]:before {
        background-position: -1240px -40px;
    }
    [class*="smoking"]:before {
        background-position: -120px -40px;
    }
    [class*="spa"]:before {
        background-position: -80px -40px;
    }
    [class*="shuttle"]:before, [class*="transportation"]:before {
        background-position: -200px -40px;
    }
    [class*="tv"]:before {
        background-position: -400px -40px;
    }
    [class*="wifi"]:before, [class*="internet"]:before {
        background-position: -440px -40px;
    }
}
/*facility icons end*/

/*old hotel facility*/
.hotel-facility-wrapper {
    .hotel-services-box {
        padding: 0px;
        margin-left: 0px;
    }
    .hotel-section-title h4 {
        /*border-top: 1px solid #4c8ecb;*/
        margin-bottom: 0;
    }
    .hotel-section-title h4 span {
        display: block;
        color: #fff;
        width: 200px;
        height: 40px;
        background-color: #4c8ecb;
        text-align: center;
        padding: 11px 0;
        font-size: 18px;
        font-weight: normal;
    }
    .hotel-dynamic-policy-box {
        background-color: #fff;
        padding: 20px;
        margin-bottom: 20px;
    }
    .facility-item {
        display: block;
        overflow: hidden;
        padding-bottom: 0px;
        font-size: 14px;
    }
    .hotel-services-detail {
        text-align: justify;
        -moz-text-align-last: left; /* Code for Firefox */
        text-align-last: left;
        padding-top: 0px;
        padding-bottom: 30px;
    }
    .hotel-facility-more {
        padding-top: 18px;
        padding-left: 3px;
    }
    .hotel-facility-note {
        font-size: 16px;
        color: #e4393c;
        margin-left: 3px;
        margin-top: 15px;
    }
}

.hotel-trans {
    height: 229px;
    padding: 20px;
    margin-top: -25px;
    margin-bottom: 20px;
    font-size: 14px !important;
    &-border-top {
        border-top: 1px solid #636363;
        padding-top: 20px;
    }
    .hotel-room-translate {
        height: 35px;
        width: 100%;
        background-position: -28px -488px;
        float: left;
        padding: 10px 50px;
        margin: 6px 5px;
    }
    .whattheyoffers {
        width: 100%;
        ul {
            width: 100%;
            text-indent: -20px;
        }
        li {
            width: 25%;
            padding: 1% 2%;
            float: left;
            list-style-type: none;
        }
    }
}
/*old hotel facility end*/

//register btn style for 2b ad user
.registerButton {
  width: auto !important;
}
.font36{
  font-size:36px;
}
.loadingIcon{
  width: 100%;
  padding: 20% 30%;
}
.subText{
  font-size: 13px;
  color:#484848;
  font-weight: normal;
}

.btn-wiki-add{
  margin: 5px;
}
/*wiki  end*/
.child-age {
    &-label {
        width: 100% !important;
        margin-bottom: 10px;
    }
    &-select {
        margin-right: 3px;
        font-size: 12px;
    }
}

.hotel {
    &-update-button {
        position: fixed;
        left: 0;
        top: 200px;
        writing-mode: vertical-lr;
        text-orientation: mixed;
        z-index: 10;
        &.margin-left {
            left: 210px;
        }
    }
}