@import "../includes/colors";
/*global*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.row {
    margin: 0;
}
/*global end*/
.search-box {
    border-radius: 0;
    background-color: #fff;
    border: .5px solid #636363;
    font-size: 18px;
    height: 40px;
    padding: 8px 10px 8px 35px;
}
.star-icon-red {
    height: 14px;
    width: 15px;
    background-position: -27px -462px;
    float: left;
    margin: 3px 0;
}
.relative {
    position: relative;
}
.fa-angle-up, .fa-angle-down {
    font-size: 18px;
    font-weight: 900;
    color: #636363;
}
#en_topbar li:hover .fa-angle-down {
    color: #fff;
}
div#affiliateBox {
    display: none;
    padding-bottom: 20px;
}
/* if arrow up needs hover and rotate*/
.fa-angle-up:hover {
    /*-webkit-transition: .5s;*/
    /*transition: .5s;*/
    /*-webkit-transform: rotate(-180deg);*/
    /*-ms-transform: rotate(-180deg);*/
    /*transform: rotate(-180deg);*/
}
#filterCollapsedOrNotTextrate, #filterCollapsedOrNotTextkeyword {
    padding-bottom: 20px;
    margin-top: -10px;
}
/*hover btn show div begin*/
.btn-wider {
    width: 100px;
    margin-top: 5px;
}
/*hover btn show div end*/
div#passedScenicName {
    padding-bottom: 20px;
}
.searchedSmallLocation {
    height: 17px;
    font-size: 14px;
    text-align: left;
    color: #4c8ecb;
    text-decoration: underline;
}
.hotels-pager {
    margin-bottom: 60px;
}
#searchPage {
    padding-top: 6px;
    vertical-align: bottom;
    .page-name-if-long {
        max-width: 107px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        vertical-align: middle;
        display: inline-block;
    }
}
.selectedFilters {
    color: #e4393c;
    font-size: 14px;
    line-height: 22px;
}
#ifAnyFilterSelected {
    font-size: 18px;
    text-align: left;
    color: #4c8ecb;
    padding-left: 15px;
}
/*why us block*/
.why-us-title {
    font-size: 24px;
    text-align: left;
    color: #636363;
    padding-bottom: 40px;
    line-height: 30px;
}
.why-us-subtitle {
    line-height: 22px;
    font-size: 18px;
    text-align: left;
    color: #636363;
}
.why-us-text {
    line-height: 15px;
    font-size: 14px;
    text-align: left;
    color: #636363;
}
.why-us-block {
    margin-top: 57px;
    width: 300px;
}
/*why us block end*/
.stick {
    position: fixed;
    top: 0;
}
input[type="checkbox"] {
    &:checked + label {
        color: #4c8ecb;
        &::after {
            font-family: "Font Awesome 5 Free" !important;
            font-weight: 900;
        }
    }
    + label:hover {
        background-color: #d7d7d7;
        color: #4c8ecb;
        width: 100%;
        padding-top: 2px;
    }
}
.selectedFilters input[type="checkbox"] + label {
    color: #e4393c;
}
.list-long-text {
    max-width: 450px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
    line-height: 26px;
    vertical-align: text-bottom;
}
.border-top {
    padding-top: 20px;
    border-top: 1px solid rgba(91, 92, 93, 0.3) !important;
}
.list-sort-bar {
    display: none;
}
.question {
    font-size: 18px;
    color: #636363;
    padding-right: 5px;
}
.left-top-search-result {
    font-size: 24px;
    text-align: left;
    color: #636363;
}
.m-nav li .nav-down-box {
    top: 37px;
    left: -2px;
    text-align: center;
    padding: 0;
    p {
        padding: 0;
    }
}
#open-sort-price {
    width: 189px;
    background-color: #fff;
    border-bottom: solid 1px rgba(91, 92, 93, 0.3);
    border-right: solid 1px rgba(91, 92, 93, 0.3);
    border-left: solid 1px rgba(91, 92, 93, 0.3);
}
#open-sort-rate {
    width: 186px;
    background-color: #fff;
    border-bottom: solid 1px rgba(91, 92, 93, 0.3);
    border-right: solid 1px rgba(91, 92, 93, 0.3);
    border-left: solid 1px rgba(91, 92, 93, 0.3);
}
#open-sort-name {
    width: 179px;
    background-color: #fff;
    border-bottom: solid 1px rgba(91, 92, 93, 0.3);
    border-right: solid 1px rgba(91, 92, 93, 0.3);
    border-left: solid 1px rgba(91, 92, 93, 0.3);
}
.open-sort-name-text, .open-sort-rate-text, .open-sort-price-text {
    height: 28px;
    line-height: 29px;
    font-size: 14px;
    color: #636363;
    padding-left: 28px;
}
.open-sort-name-text:hover, .open-sort-rate-text:hover, .open-sort-price-text:hover {
    background-color: #d7d7d7;
    color: #4c8ecb;
}
.list-btn-focus {
    border-top: 5px solid #104a8f;
    margin-top: -5px;
    padding: 8px 25px 9px 25px;
    min-width: 136px;
    background-color: #4c8ecb;
    color: #fff;
    font-size: 14px;
    border-radius: 0;
    margin-left: -5px;
    &:hover, &:focus, &:active {
        border-top: 5px solid #104a8f;
        margin-top: -5px;
        padding: 8px 25px 9px 25px;
        min-width: 136px;
        background-color: #4c8ecb;
        color: #fff;
        font-size: 14px;
        border-radius: 0;
        margin-left: -5px;
    }
}
.list-btn-clear {
    padding: 8px 25px;
    width: 122px;
    background-color: #fff;
    color: #636363;
    font-size: 14px;
    border-radius: 0;
    border-right: 1px solid rgba(91, 92, 93, 0.3);
}
.sold-out-text {
    margin-top: 25px;
    float: right;
    margin-right: 10px;
    font-size: 38px;
}
.alert-dismissible-tag {
    font-size: 14px;
    height: 40px;
    color: #fff !important;
    padding: 9px 20px;
    border-radius: 5px;
    background-color: #4c8ecb;
}
.list-hotel-search-go {
    float:right;
    width:40px;
    color: #fff;
    background-color: #4c8ecb !important;
    border: 0;
    border-radius: 0 5px 5px 0;
    height: 40px;
    padding: 7px;
    font-size: 18px;
    cursor: pointer;
    &:hover {
        background-color: #104a8f;
    }
}
.arrow-down i {
    border-style: solid;
    border-width: 5px;
    border-color: #636363 transparent transparent transparent;
    position: absolute;
    right: auto;
    left: 82px;
    margin-top: 4px;
}
.btn:hover .arrow-down i {
    border-color: transparent transparent #636363 transparent;
    margin-top: -2px;
    left: 82px;
}
.list-btn-focus .arrow-down i {
    display: none;
}
.sort-title {
    border-right: solid 0.5px #a7a9ab;
    font-size: 14px;
    padding: 0 24px;
}
.ad-question-call {
    line-height: 26px;
    padding: 30px 0;
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-content: center;
}
.white-filter {
    height: 44px;
    background-color: #fff;
    padding-bottom: 0;
    padding-top: 0;
    border: solid 1px rgba(91, 92, 93, 0.3);
}
.fadeBorderLeft {
    color: #636363;
    border-left: solid 0.5px rgba(91, 92, 93, 0);
    cursor: no-drop;
    &:hover {
        color: #636363;
        border-left: solid 0.5px rgba(91, 92, 93, 0);
        cursor: no-drop;
    }
}
.list-page-btn-normal:hover, .list-page-btn-focus:hover {
    background-color: #4c8ecb;
    color: #fff;
}
.top-search-icon {
    font-size: 24px;
    padding: 10px 10px 10px 0;
}
.margin-left-30 {
    margin-left: 30px;
}
.top-search-text {
    font-size: 18px;
    padding-right: 5px;
}
.change-search {
    font-size: 18px;
    color: #4c8ecb;
    &:hover {
        text-decoration: underline;
        color: #104a8f;
        cursor: pointer;
    }
}
#room-guest-toggle {
    padding: 8px 15px !important;
    margin-top: 5px;
    cursor: pointer;
    width: 270px;
    &:after {
        content: "\f107";
        font-family: 'Font Awesome 5 Free';
        position: absolute;
        left: 255px;
        bottom: 6px;
        font-weight: 900;
    }
    span {
        pointer-events: none;
    }
}
.list-btn-top {
    display: -moz-inline-stack;
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    padding-bottom: 6px !important;
    color: #fff;
    background-color: #ea8523;
    font-size: 24px;
    width: 271px;
    height: 40px;
    border: 1px solid transparent;
    font-style: normal;
    &:hover {
        background: #e4393c;
        border-color: #e4393c;
        color: #fff ! important;
    }
}
.list-page-btn-focus {
    width: 27px;
    height: 32px;
    border-radius: 5px;
    background-color: #4c8ecb;
    padding: 5px 2px;
    color: #fff;
}
.list-page-btn-normal {
    width: 27px;
    height: 32px;
    border-radius: 5px;
    background-color: #a7a9ab;
    padding: 5px 2px;
    color: #fff;
}
.page-button {
    margin-right: 8px;
    border: none;
}
.page-text {
    height: 14px;
    font-size: 14px;
    color: #a7a9ab;
    pointer-events: none;
    cursor: default;
    border: none;
    background: transparent;
    &-focus {
        height: 14px;
        font-size: 14px;
        color: #4c8ecb;
        border: none;
        background: transparent;
    }
}
.font-18 {
    font-size: 18px;
}
.font-14 {
    font-size: 14px;
}
.change-search-subtitle {
    font-size: 14px;
    margin-left: 20px;
}
.photoslider {
    display: block;
    overflow: hidden;
    padding-bottom: 10px;
    font-size: 1em;
    font-family: 'Roboto', 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
.change-search-toggle {
    background-color: #fff;
    width: 100%;
    height: 60px;
    padding: 10px 0;
}
.change-search-toggled {
    background-color: #fff;
    border-top: 1px solid lightgrey;
    width: 100%;
    height: 162px;
    padding: 10px 0;
}
.btn-ok {
    display: inline-block;
    background: transparent;
    vertical-align: middle;
    text-align: center;
    color: #337ab7;
    padding: 1px 30px;
    border-color: #337ab7;
    font-size: 12px;
    font-style: normal;
    &:hover {
        display: -moz-inline-stack;
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        color: #fff !important;
        padding: 1px 30px;
        background-color: #337ab7;
        border-color: #fff !important;
        font-size: 12px;
        font-style: normal;
    }
}
/* entypo */
[class*="entypo-"]:before {
    font-family: 'entypo', sans-serif;
}
.alert-info {
    color: #0065b8 !important;
}
.rounded {
    color: #484848;
}
.selectpicker {
    background: url("http://www.connectedtoindia.com/assets/images/dropdown-arrow1.png") no-repeat scroll right center transparent;
    font-size: 16px;
    font-weight: 400;
    padding-left: 6px;
    -webkit-border-radius: 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: #484848;
}
.textUnderline:hover {
    text-decoration: underline;
}
@-webkit-keyframes autofill {
    to {
        color: #484848;
        background: #fff;
    }
}
input:-webkit-autofill {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
    &:hover, &:focus, &:active {
        transition: background-color 5000s ease-in-out 0s;
        -webkit-animation-name: autofill;
        -webkit-animation-fill-mode: both;
    }
}
select::-ms-expand {
    /* for IE 11 */
    display: none;
}
.searchbtn {
    margin-top: 10px;
    width: 100% !important;
    font-size: 16px;
}
.date {
    -webkit-border-radius: 4px;
}
.input {
    -webkit-border-radius: 4px;
    &[type=text] {
        height: 17px;
        border: 0;
        width: calc(100% - 2px);
        margin-left: 1px;
        box-shadow: 0 1px 0 0 #ebebeb, 0 2px 0 0 #ebebeb;
        -webkit-transition: box-shadow 0.3s;
        transition: box-shadow 0.3s;
        &:focus {
            outline: none;
            box-shadow: 0 1px 0 0 #4ea6ea, 0 12px 0 0 #4ea6ea;
        }
    }
}
.input-group-addon:last-child {
    border: 0;
}
.focusUnderline {
    position: absolute !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    height: 2px !important;
    background: #00a699 !important;
    -webkit-transition: opacity 0.3s !important;
    -moz-transition: opacity 0.3s !important;
    transition: opacity 0.3s !important;
    opacity: 0 !important;
    z-index: 1 !important;
}
.searchform {
    border: 1px solid #ddd;
    border-top: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 3px 0 #dce0e0;
    -moz-box-shadow: 0 1px 3px 0 #dce0e0;
    box-shadow: 0 1px 3px 0 #dce0e0;
    margin-left: 0;
    margin-right: 20px;
    height: 70px;
}
.leftrightboder {
    -moz-box-shadow: 0 1px 0 0 #dce0e0;
    border-left: 1px solid #dce0e0;
}
ul, li, a {
    padding: 0;
    margin: 0;
    border: 0;
    list-style: none;
    text-decoration: none;
}
.search ul {
    background-color: #fff;
    position: absolute;
    left: 15px;
    top: 35px;
    border: #eee 0 solid;
    min-width: calc(100% - 80px);
    text-align: left;
    z-index: 99999;
    visibility: hidden;
    a {
        display: block;
        padding: 5px;
        z-index: 999999;
    }
}
#button-name:active, #button-minPrice:active, #button-rating:active, #button-discount:active {
    background: transparent !important;
    box-shadow: none;
    border: none;
}
.star-text {
    height: 14px;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: normal;
    text-align: left;
    color: #636363;
    &:hover {
        color: #4c8ecb;
    }
}
.fixed {
    right: 0;
    top: 850px;
    position: fixed;
    z-index: 999999;
}
.line {
    z-index: 99999;
    padding-top: 15px;
    padding-left: 20px;
    border: 2px solid #d5d5d5;
}
.unbtn {
    &:hover, &:active {
        background-color: #f1791e !important;
    }
}
.hover-disappear:hover {
    color: transparent;
}
.top-center {
    margin: 0 auto;
    width: 1200px;
}
.smaller {
    display: none;
}
.roomsmaller {
    font-size: 15px !important;
    padding: 0 !important;
    margin: 2px 0;
}
.smallest {
    display: inline;
}
.smalltag {
    display: none;
}
.smalltag1 {
    display: inline;
}
div#counter {
    width: 305px;
    height: 40px;
    background-color: #4c8ecb;
    border-radius: 0 0 5px 5px;
    padding: 5px 20px;
    text-align: center;
    color: #fff;
    font-size: 18px;
}
.distance-if-long {
    font-weight: 500;
    max-width: 132px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 22px;
    vertical-align: bottom;
    display: inline-block;
}
@media (min-width: 1400px) {
    .all-wrapper {
        margin: 0 auto;
        width: 1200px;
    }
    .smallest {
        display: none;
    }
    .smalltag1 {
        display: none;
    }
    .roomsmaller {
        font-size: 16px;
        margin-left: -12px;
        margin-bottom: 4px;
    }
    div#counter {
        width: 300px;
        height: 40px;
        background-color: #4c8ecb;
        border-radius: 0 0 5px 5px;
        padding: 5px 20px;
        text-align: center;
        color: #fff;
        font-size: 18px;
        cursor: pointer;
    }
    .distance-if-long {
        font-weight: 500;
        max-width: 334px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        line-height: 22px;
        vertical-align: bottom;
        display: inline-block;
    }
    .page-name-if-long {
        max-width: 190px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        line-height: 18px;
        vertical-align: bottom;
        display: inline-block;
    }
}
#destinationNameWrapper {
    margin-left: 0;
}
.modal-body .form-horizontal {
    .col-sm-2, .col-sm-10 {
        width: 100%;
    }
}
select:invalid {
    color: darkgrey;
}
.modal-body .form-horizontal {
    .control-label {
        text-align: left;
    }
    .col-sm-offset-2 {
        margin-left: 15px;
    }
}
.discount-info {
    position: absolute;
    right: 15px;
    top: 0;
    width: 35px;
    height: 45px;
    text-align: center;
    padding: 5px;
    background-color: lightgreen;
}
.extraTopPadding {
    padding-top: 10px;
}
.hr-text {
    display: none;
    font-size: 1.5em;
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    color: black;
    text-align: center;
    height: 1.5em;
    opacity: .5;
    &:before {
        content: '';
        background: linear-gradient(to right, transparent, #818078, transparent);
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        height: 1px;
    }
    &:after {
        content: attr(data-content);
        position: relative;
        display: inline-block;
        padding: 0 .5em;
        line-height: 1.5em;
        color: #818078;
        background-color: #fcfcfa;
    }
}
.borderTextAfter {
    background-color: #ffda77;
    margin: 0 10px;
    font-size: 18px;
    padding: 7px 0 7px 15px;
    color: #d0021b;
}
.redTextlist {
    color: #d0021b;
    font-size: 20px;
}
.borderText {
    font-weight: 600;
}
.alert-dismissable .close, .alert-dismissible .close {
    top: -4px;
    right: -6px;
    font-weight: 300;
}
.f_11 {
    font-size: 11px;
}
.f_22 {
    font-size: 22px;
}
.f_w_800 {
    font-weight: 800;
}
.chainBlock, #scenicArea {
    font-size: 14px;
}
/* dialog room adult child*/
#searchDialog {
    width: 270px;
    border-top: solid 1px #4c8ecb;
    border-top: solid 1px #4c8ecb;
    border-right: solid 2px #4c8ecb;
    border-bottom: solid 2px #4c8ecb;
    border-left: solid 2px #4c8ecb;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-shadow: none !important;
    position: absolute;
    top: 72px;
    padding: 10px;
    background-color: white;
    z-index: 99;
}
.person_desc_active {
    border: solid 2px #4c8ecb !important;
    &:after {
        content: "\f106" !important;
        /* angle-up */
        font-family: 'Font Awesome 5 Free';
        position: absolute;
        right: 17px;
    }
}
.btn-add, .btn-subtract {
    width: 28px !important;
    height: 28px !important;
    padding: 4px 3px 3px 4px !important;
    margin: 0 !important;
    border-radius: 50% !important;
    background-color: white;
    border: #636363 1px solid;
    color: #636363;
    font-size: 28px;
    line-height: 18px;
    font-weight: 100;
}
.btn-add:hover, .btn-subtract:hover {
    background-color: #4c8ecb;
    color: #fff;
    border: #4c8ecb 1px solid;
}
.disabled-btn {
    background-color: #a7a9ab;
    border-color: #a7a9ab;
    color: #fff;
    &:hover {
        background-color: #a7a9ab;
        border-color: #a7a9ab;
        color: #fff;
    }
}
.btn-subtract {
    font-size: 44px;
}
.btn-add {
    font-size: 30px;
}
.number-spinner input {
    background-color: white !important;
    width: 30px;
    padding: 0;
    margin: 0;
    font-size: 18px;
    border: none;
    height: 28px;
}
.number-label {
    width: 136px !important;
    font-weight: 300;
    font-size: 18px;
    text-align: left;
}
.number-spinner-container {
    margin-left: 10px !important;
}
/*end dialog*/
.label-des::after, .label-checkin::after, .label-checkout::after, .label-hotel-name::after {
    font-family: 'Font Awesome 5 Free';
    font-size: 20px;
    position: absolute;
    left: 27px;
    top: 38px;
    color: #a7a9ab;
    z-index: 5;
}
.label-des::after {
    content: "\f3c5";
    font-weight: 900;
    /* angle-down */
}
.label-checkin::after, .label-checkout::after {
    content: "\f073";
    /* angle-down */
}
.label-hotel-name::after {
    content: "\f236";
    left: 10px;
    top: 123px;
}
[placeholder]:focus::-webkit-input-placeholder {
    color: transparent;
}
.form-all-list {
    width: 1200px;
    margin: 0 auto;
    .list-left-section {
        display: inline-block;
        width: 300px;
        vertical-align: top;
    }
    .list-right-section {
        display: inline-block;
        padding-left: 20px;
        width: 896px;
    }
}
/*maps*/
.map {
    &-anchor {
        border: solid 0.5px #a8aaac;
        box-shadow: 0 4px 4.2px 0.9px rgba(35, 31, 32, 0.2);
        margin-bottom: 40px;
        cursor: pointer;
        width: 100%;
    }
    &-wrapper {
        display: none;
        height: 100%;
        flex-direction: column;
    }
    &-banner {
        position: relative;
        box-sizing: border-box;
        height: 80px;
        background-color: #2681ff;
        font-size: 30px;
        color: #fff;
        display: flex;
        justify-content: space-between;
        align-content: center;
        padding: 20px 20px 20px 30px;
        i {
            font-size: 42px;
            cursor: pointer;
        }
        &-col1 {
            display: flex;
            cursor: pointer;
        }
        &-desName {
            margin: 0 16px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        button {
            border: none;
            border-radius: 5px;
            background-color: #fff;
            padding: 2px 20px;
            color: #2681ff;
            font-size: 24px;
            white-space: nowrap;
        }
    }
}
.hotels-map {
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 20;
}
/*info window*/
.infowindow {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: white;
    box-shadow: 0 4px 4.2px 0.9px rgba(35, 31, 32, 0.2);
    border-radius: 3px;
    left: 30px;
    top: 120px;
    visibility: hidden;
    height: 300px;
    width: 300px;
    overflow: hidden;
    z-index: 21;
    .hotel-info-wrapper {
        padding: 10px 10px 0;
        border-bottom: 1px solid lightgrey;
    }
    .hotel-name {
        display: block;
        font-size: 18px;
        color: #4c8ecb;
        line-height: 17px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .hotel-rating {
        border-bottom: solid 1px #a8aaac;
        padding: 10px 0;
    }
    .hotel-feature {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        color: #e4393c;
    }
    .beforeTax {
        font-size: 14px;
        color: #636363;
    }
    .afterTax {
        font-size: 24px;
    }
}
/*info window end*/
.map-hotel-price {
    bottom: 0;
    position: absolute;
    right: 5px;
}
.map-hotel-feature {
    bottom: 5px;
    position: absolute;
    left: 5px;
}
.guest-rating-blank-space {
    margin-bottom: 27px;
}
/*maps end*/
/*subscribe box*/
.subscribe {
    &-box {
        display: none;
        width: 880px;
        padding: 10px 150px 10px 134px;
        margin-bottom: 20px;
        border: 1px solid #a7a9ab;
        background: #fff;
        position: relative;
        &:before, &:after {
            content: '';
            display: block;
            position: absolute;
            top: 8px;
            background-image: url('/img/spriteImgs/subscribe_bg.png');
            background-repeat: no-repeat;
            height: 65px;
        }
        &:before {
            background-position: -21px -203px;
            width: 103px;
            left: 10px;
        }
        &:after {
            background-position: -458px -205px;
            width: 415px;
            right: 15px;
        }
    }
    &-title {
        margin-bottom: 5px;
        font-size: 18px;
        .color-red {
            color: $usitrip-hover-tag;
        }
    }
    &-top-bg {
        display: inline-block;
        background: url('/img/spriteImgs/subscribe_bg.png') no-repeat -458px -207px;
        width: 256px;
        height: 17px;
    }
    &-input-wrapper {
        display: flex;
    }
    &-input, &-btn {
        height: 36px;
        line-height: 36px;
        font-size: 18px;
    }
    &-input {
        width: 465px;
        border: 1px solid #a7a9ab;
        border-right: none;
        padding-left: 30px;
    }
    &-btn {
        border: 1px solid $usitrip-hover-tag;
        background: $usitrip-hover-tag;
        color: #fff;
        width: 130px;
        text-align: center;
        z-index: 1;
    }
    &-messages {
        font-size: 16px;
        margin-top: 5px;
        .message {
            display: none;
        }
    }
}
/*subscribe box end*/
/*left filters*/
.hotel-filters-wrapper {
    button {
        border: none;
        background: transparent;
    }
    .form-group {
        margin: 0;
    }
    .filter-title {
        font-size: 18px;
        color: #636363;
        margin-right: 15px;
    }
    .filter-list {
        margin-left: 10px;
    }
    .rate-price-wrapper {
        font-size: 14px;
        padding-bottom: 20px;
        .narrow-result {
            font-size: 20px;
            color: #636363;
            padding-bottom: 5px;
            border-bottom: 1px solid rgba(91, 92, 93, 0.3);
            margin-bottom: 20px;
        }
        .resetAllBtn {
            height: 40px;
            border-radius: 5px;
            background-color: #ea8523;
            margin-bottom: 20px;
            font-size: 19px;
            color: #fff;
            cursor: pointer;
            &:hover {
                background-color: #e4393c;
            }
        }
        .search-box {
            border-radius: 5px 0 0 5px;
            background-color: #fff;
            font-size: 18px;
            height: 40px;
            width: 260px;
            padding: 8px 10px 8px 12px;
            color: #484848;
            float: left;
            &::placeholder {
                font-family: 'Font Awesome 5 Free';
                font-weight: 900;
            }
            &:focus {
                outline: none;
                border: 2px solid #4c8ecb !important;
                font-size: 18px;
                color: #636363;
            }
            span {
                pointer-events: none;
            }
            &-wrapper {
                margin-top: 10px;
            }
        }
        .option-box {
            width: 100%;
            margin: 0 3% 1% 0;
        }
    }
    .scenic-list {
        max-height: 999em;
        border: none;
        &-wrapper {
            padding-bottom: 20px;
        }
    }
    .scenic-list-checkbox:checked + .scenic-list {
        max-height: 215px;
        height: auto;
        overflow: hidden;
        transition: max-height 1s;
    }
    .chain-label {
        margin: 0 3% 1% 0;
        width: 100%;
    }
    .filterLongToggle {
        font-size: 14px;
        text-align: left;
        color: #4c8ecb;
        cursor: pointer;
        margin-bottom: 0;
        margin-top: 10px;
    }
    .ifScenicFilterNotEmpty {
        padding: 10px 0;
    }
}
/*left filters end*/
/*hotel item*/
.hotel-items-wrapper {
    padding-bottom: 0;
    margin-top: 20px;
}
.hotel-item {
    width: 880px;
    .list-border-product {
        min-height: 220px;
        height: 220px;
        padding: 10px;
        border-radius: 5px;
        background-color: #fff;
        border: solid 1px rgba(66, 67, 67, 0.3);
        margin-bottom: 20px;
        display: flex;
        .product-img-box {
            display: inline-block;
            width: 265px;
            vertical-align: top;
            .product-images {
                margin-right: 10px;
                position: relative;
                i {
                    display: block;
                    position: absolute;
                    top: 20px;
                    left: -20px;
                    background: url('/img/spriteImgs/usitrip_pc_all_img.png') no-repeat -28px -404px;
                    width: 86px;
                    height: 46px;
                    z-index: 2;
                    font-size: 18px;
                    color: #fff;
                    line-height: 43px;
                    text-align: center;
                }
                img {
                    height: 200px;
                    width: 100%;
                    border-radius: 5px;
                }
                .product-img-anchor {
                    display: block;
                    .list-hotel-img {
                        width: 100%;
                        height: 200px;
                        border-radius: 5px;
                    }
                }
            }
        }
        .hotel-list-content {
            display: inline-block;
            padding-left: 10px;
            width: 585px;
            p {
                line-height: 23px;
            }
            .hotel-list-title {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                margin-bottom: -3px;
                .list-hotel-name {
                    text-align: left;
                    color: #636363;
                    font-size: 18px;
                }
            }
            .list-star {
                height: 20px;
            }
            .list-address {
                line-height: 20px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            .guest-rating {
                border-radius: 10px;
                background-color: #4c8ecb;
                color: #fff;
                font-size: 18px;
            }
            .rating-count {
                color: #a7a9ab;
                font-size: 14px;
            }
            .rate-block {
                position: relative;
                margin-top: 10px;
                text-align: right;
                .originalPriceLineThrough {
                    font-size: 14px;
                    text-decoration: line-through;
                }
            }
            .hover-lowprice {
                position: absolute;
                left: 0;
                top: 0;
                font-size: 14px;
                color: #e4393c;
                cursor: pointer;
                text-align: left;
            }
            .no-lowprice {
                position: absolute;
                top: 0;
                font-size: 14px;
                color: #e4393c;
                text-align: left;
                cursor: default;
            }
            .lowest-tooltip {
                position: absolute;
                bottom: -5px;
                right: -374px;
                width: 360px;
                background: #fff;
                padding: 20px;
                border: #4c8ecb 3px solid;
                color: #4c8ecb;
                border-radius: 8px;
                display: none;
                font-weight: 200 !important;
                font-size: 13px;
                text-align: left;
                line-height: 22px;
            }
            .hover-lowprice:hover .lowest-tooltip {
                display: block;
            }
            .hotel-pick-btn {
                font-size: 18px;
                border-radius: 5px;
                background-color: #ea8523;
                padding: 4px 20px;
                color: #fff;
                &:hover {
                    background-color: #e4393c;
                }
            }
        }
    }
}
#searchedHotelBlock .no-lowprice {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 14px;
    text-align: left;
    cursor: default;
    a {
        color: #e4393c;
    }
}
/*hotel item end*/
.child-age {
    &-label {
        width: 100% !important;
        margin-bottom: 10px;
    }
    &-select {
        margin-right: 3px;
        font-size: 12px;
    }
}
.dest_wrapper {
    left: auto;
    top:75px;
}