@import "../includes/colors-business";
body {
    font-family: Roboto, Arial, "Lucida Grande", "Microsoft Yahei", "Hiragino Sans GB", "Hiragino Sans GB W3", SimSun, STHeiti;
    background-color: #fff;
    font-size: 13px;
    color: #484848;
    overflow-x: hidden;
}
.animated {
    padding-top: 20px;
    height: 100%;
}
.logoutmini {
    display: none;
}
/*b端的nav bar 底色*/
ul#side-menu {
    background-color: #2f4050;;
    height: inherit;
}
.nav-business-top {
    margin-bottom: 0;
    -webkit-box-shadow: 1px 4px 3px #f2f2f2;
    -moz-box-shadow: 1px 4px 3px #f2f2f2;
    box-shadow: 1px 4px 3px #f2f2f2;
}
footer {
    padding: 20px 0;
}
/* Back to Top */
#backtotop {
    z-index: 999;
    display: inline-block;
    position: fixed;
    visibility: hidden;
    bottom: 20px;
    right: 20px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    font-size: 16px;
    text-align: center;
    opacity: .2;
}
#backtotop i {
    display: block;
    width: 100%;
    height: 100%;
    line-height: inherit;
}
#backtotop.visible {
    visibility: visible;
    opacity: .5;
}
#backtotop:hover {
    opacity: 1;
}
/*end of 新版pc样式表*/
/*show no more today form datepicker*/
th.today {
    display: none !important;
}
/*顶部搜索*/
span#tRoom {
    padding-left: 0 !important;
}
div#room-guest-toggle, #searchDialog {
    width: 280px !important;
}
@media (max-width: 500px) {
    .logoutmini {
        display: inline;
    }
    .logoutlarge {
        display: none;
    }
    .logout-wrapper {

    }
}
@media (max-width: 1000px) {
    .mlang {
        width: 10px;
    }
    .mname {
        width: 2px;
    }
}
@media (max-width: 1199px) {
    body {
        overflow-x: auto;
    }
}
@media (min-width: 1200px) {
    body {
        overflow-x: hidden;
    }
}