/*overwrite browser css*/
body {
    background-color: #fff;
    color: #484848;
    font-family: Roboto, Arial, "Lucida Grande", "Microsoft Yahei", "Hiragino Sans GB", "Hiragino Sans GB W3", SimSun, STHeiti;
    font-size: 13px;
    min-height: 100%;
    overflow-x: hidden;
}
html, body {
    height: 100%;
}

@media (min-width: 1200px) {
    html, body {
        min-width: 1200px;
    }
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, p, form, fieldset, legend, input, button, textarea, pre, thead, tbody, th, td {
    margin: 0;
    padding: 0;
}
button[disabled] {
    background-color: #ccc;
    border-color: #ccc;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}
address, cite, dfn, em, i {
    font-style: normal;
}
small {
    font-size: 12px;
}
ul, ol {
    list-style: none;
}
a {
    text-decoration: none;
}
sup {
    vertical-align: text-top;
}
sub {
    vertical-align: text-bottom;
}
legend {
    color: #000;
}
fieldset, img {
    border: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
dd, dt {
    line-height: inherit;
}
input, button, select, textarea, a {
    outline: none;
}
iframe {
    display: none;
}
li {
    list-style-type: none;
}
/*end of overwrite css*/
/*base.css*/
.uifix:after, #head:after, #hbody:after, #body:after {
    clear: both;
    content: "";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.uiWrap, #hbody {
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    width: 1200px;
}
#head {
    background: #fff;
    width: 100%;
    z-index: 99;
    a:hover {
        text-decoration: none;
    }
    #head-split {
        background: none repeat scroll 0 0 #276ec6;
        height: 4px;
    }
}
.hd {
    height: 110px;
    margin: 0 auto;
    width: 1200px;
}
.logo {
    width: 387px;
    a {
        background: url(/img/general/logo/hotel_top_logo.png) no-repeat;
        color: transparent;
        display: block;
        height: 78px;
        margin: 17px 0 0 14px;
        text-align: center;
        text-indent: -9999px;
        width: 387px;
        &:hover {
            color: transparent;
            .hidden-cont {
                display: block;
            }
        }
    }
}
.hdContact {
    margin-right: 12px;
    /*height: 42px;*/
    margin-top: 28px;
    position: relative;
    width: 266px;
    z-index: 10;
    ul {
        /*visibility: hidden;*/
        display: none;
    }
    li {
        line-height: 18px;
        text-indent: 70px;
    }
}
.tell24-img {
    background: url(/img/general/contact-phone.png?v=1) no-repeat 0 0;
    height: 42px;
    &-tw {
        background: url(/img/general/contact-phone-tw.png) no-repeat 0 0;
        height: 42px;
    }
}
.hidden-cont {
    display: none;
    position: absolute;
    text-indent: 83px;
    top: 132px;
    z-index: 999;
}
.top_logo_usitrip_tw {
    background: url(/img/general/logo/logo-usitour-tw.png) no-repeat !important;
}
.tell24-split-line {
    background-color: #f1f1f1;
    height: 1px;
    left: 10px;
    position: absolute;
    top: 50px;
    width: 91%;
    &:after {
        background-image: url(/img/general/icon/pro_list_ico.png);
        background-position: 0 -108px;
        background-repeat: no-repeat;
        content: '';
        display: block;
        height: 12px;
        left: 98px;
        position: absolute;
        top: 0;
        width: 19px;
    }
}
.tell24-other-phone {
    display: none;
    background-color: #fff;
    border: 1px solid #dedede;
    border-radius: 5px;
    -moz-box-sizing: initial;
    -webkit-box-sizing: inherit;
    box-sizing: initial;
    font: 12px/1.5 "Microsoft Yahei", Arial, Helvetica, sans-serif;
    left: 12px;
    padding: 7px 20px;
    position: absolute;
    top: 58px;
    width: 220px;
    z-index: 10000;
    &:before {
        background-image: url(/img/general/icon/pro_list_ico.png);
        background-position: -23px -108px;
        background-repeat: no-repeat;
        content: '';
        display: block;
        height: 12px;
        left: 98px;
        position: absolute;
        top: -10px;
        width: 20px;
    }
    p {
        height: 24px;
        line-height: 24px;
        &.line24 {
            background-color: #ddd;
            height: 1px;
            margin-bottom: 5px;
            margin-top: 6px;
            width: 100%;
        }
        span {
            color: #848484;
        }
        b {
            display: inline-block;
            font-weight: 400 !important;
            width: 73px;
        }
    }
}
/* end of base.css */
/*en nav bar*/
#en_nav {
    background-color: #005bac;
    height: 60px;
    line-height: 59px;
    min-height: 60px;
    min-width: 1200px;
    .Cons {
        position: relative;
        ul {
            margin: 0;
            width: 100%;
            ol li:first-child {
                margin-left: 0;
            }
            .en_list_group {
                color: #fff;
                float: left;
                font-size: 16px;
                font-weight: bold;
                padding: 0 15px;
                position: relative;
                &:hover {
                    background-color: #003e82;
                }
                &:not(:first-child) {
                    margin-left: 15px;
                }
                li {
                    min-width: 180px;
                    white-space: nowrap;
                    width: auto;
                }
                a {
                    color: #fff;
                    font-size: 19px;
                    font-weight: normal;
                }
            }
            .en_nav_hot .hot_ico {
                background-image: url(/img/spriteImgs/usitrip_pc_all_img.png);
                background-position: -229px -361px;
                background-repeat: no-repeat;
                display: inline-block;
                height: 19px;
                left: 56px;
                position: absolute;
                top: 6px;
                width: 26px;
            }
            .usitour-phone-number {
                color: #fff;
                float: right;
                font-size: 22px;
                font-weight: normal;
                margin-left: 45px;
                position: relative;
            }
            .phone_logo {
                background-image: url(/img/spriteImgs/home_img_icon.png);
                background-position: -134px -114px;
                background-repeat: no-repeat;
                display: inline-block;
                height: 46px;
                left: -40px;
                position: absolute;
                top: 8px;
                width: 30px;
            }
        }
    }
    ol {
        overflow: hidden;
        padding-bottom: 10px;
        padding-top: 10px;
    }
    ol li {
        height: 30px;
        line-height: 30px;
        padding-left: 10px;
        padding-right: 10px;
        text-align: left;
        width: 180px;
    }
    ol a {
        color: #fff;
        font-size: 16px;
        font-weight: 400 !important;
    }
    .en_hdAutocomplete {
        position: absolute;
        right: 0;
    }
    .en_search_hot_list {
        position: absolute;
        right: 0;
        z-index: 100 !important;
    }
    .list {
        background-color: #fff;
        box-shadow: 0 2px 3.9px 1.1px rgba(35, 31, 32, 0.32);
        display: none;
        left: 0;
        position: absolute;
        top: 59px;
        z-index: 9999;
    }
}
.child-list-row {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    line-height: 40px;
    .child-list-col1 {
        background-color: #f4f5f7;
        display: block;
        padding: 0 20px;
        width: 155px;
    }
    .child-list-col2 {
        background-color: #fff;
        border-bottom: 1px solid #a7a9ab;
        padding: 5px 20px 0 17px;
        width: 500px;
    }
    .child-list-col2 a {
        display: inline-block;
        line-height: 20px;
        overflow: hidden;
        -ms-text-overflow: ellipsis;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 140px;
    }
    .child-list-col1 a {
        display: block;
        line-height: 40px;
        overflow: hidden;
        -ms-text-overflow: ellipsis;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    a {
        color: #484848 !important;
        font-family: Roboto, Helvetica, Arial, Verdana, Geneva, sans-serif;
        font-size: 16px !important;
        white-space: nowrap;
        &:hover {
            color: #e77621 !important;
        }
    }
}
/*end of en nav bar*/
/*new nav*/
#id_sort_box {
    .nav-sort-item {
        background-color: #fff;
        font-size: 14px;
        width: 271px;
        &:first-child {
            .sort-item-left {
                padding-top: 15px;
            }
            .sort-item-right > div {
                min-height: 420px;
                padding: 15px 35px 7px;
            }
        }
        &:hover {
            .sort-item-left {
                border-right: 2px solid #fff;
                /*border: 1px solid transparent;*/
                box-shadow: 0 -2px 0 rgba(219, 219, 219, 0.3), 0 2px 0 rgba(219, 219, 219, 0.3);
                z-index: 20;
            }
            .sort-item-right {
                display: block;
            }
            .nav-right-icon {
                background-position: 1px -35px;
            }
        }
        .title-content a.title:hover {
            color: #1581ea;
        }
    }
    .sort-item-left {
        border: 1px solid #dbdbdb;
        border-top: 0;
        box-shadow: 2px 0 0 rgba(219, 219, 219, 0.3);
        padding: 14px 0 0 15px;
        position: relative;
        z-index: 40;
        .item-recommend {
            margin-top: 12px;
            overflow: hidden;
            li {
                float: left;
                margin: 2px 14px 0 0;
                overflow: hidden;
                padding: 0 0 15px;
                white-space: nowrap;
                width: 70px;
            }
        }
    }
    .nav-right-icon {
        background: url("https://www.usitrip.com/tpl/www/image/2015/index/new-nav-sprite.png") no-repeat 0 -10px;
        float: right;
        height: 30px;
        margin-top: -30px;
        width: 26px;
    }
    .item-title {
        height: 30px;
        line-height: 30px;
        margin-right: 15px;
        overflow: hidden;
        .title-content {
            display: inline-block;
            margin-right: 8px;
            .title {
                color: #505050;
                font-size: 18px;
                font-weight: bold;
            }
            a.hot-tip {
                background-color: #f57420;
                border-radius: 2px;
                color: #fff;
                font-size: 12px;
                font-weight: 400;
                margin-left: 15px;
                padding: 1px 3px;
                /*left: 15px;*/
                position: relative;
                top: -2px;
            }
        }
    }
    a {
        color: #333;
        cursor: pointer;
        &:hover {
            color: #1581ea;
        }
    }
    .sort-item-right {
        display: none;
        left: 270px;
        position: absolute;
        top: 0;
        z-index: 10;
        & > div {
            background-color: #fff;
            border: 1px solid #e2e2e2;
            box-shadow: 2px 0 0 rgba(230, 230, 230, 0.3), 0 2px 0 rgba(230, 230, 230, 0.3);
            min-height: 420px;
            padding-left: 35px;
            width: 930px;
        }
        dl {
            float: left;
            margin-bottom: 0;
            margin-left: 40px;
            margin-top: 0;
            min-width: 84px;
            &:first-child {
                margin-left: 0;
            }
        }
        .item-right-list {
            overflow: hidden;
        }
        dt {
            line-height: 22px;
            margin-bottom: 10px;
            a {
                color: #505050;
                font-size: 16px;
                font-weight: 600;
            }
        }
        dd {
            height: 30px;
            line-height: 30px;
        }
        .item-right-bottom {
            margin-top: 15px;
            overflow: hidden;
        }
        .item-right-content {
            margin: 15px 0 0;
            min-height: 194px;
            overflow: hidden;
            position: relative;
            &:first-child {
                border-bottom: 1px solid #d8d8d8;
                min-height: 192px;
            }
            dt {
                margin-bottom: 10px;
            }
        }
        .right-content-play {
            float: right;
            width: 400px;
            h2 {
                font-size: 16px;
                font-weight: bold;
                line-height: 22px;
                margin-bottom: 20px;
            }
            h2 a {
                color: #505050;
            }
            .play-content {
                display: inline-block;
                margin-bottom: 7px;
                padding-right: 6px;
                a {
                    display: inline-block;
                    margin-bottom: 15px;
                    padding-right: 6px;
                }
                a i {
                    border-left: 1px solid #e0e0e2;
                    display: inline-block;
                    height: 12px;
                    margin-left: 6px;
                }
            }
        }
    }
    .item-line-play {
        float: left;
        width: 465px;
        h2 {
            font-size: 16px;
            font-weight: 600;
            line-height: 24px;
            margin: 20px 0;
            a {
                color: #505050;
            }
        }
        .play-content a {
            display: inline-block;
            margin-bottom: 15px;
            padding-right: 6px;
            i {
                border-left: 1px solid #e0e0e2;
                display: inline-block;
                height: 12px;
                margin-left: 6px;
            }
        }
    }
    .icon-nav {
        float: right;
        width: 380px;
        li {
            float: left;
            margin-bottom: 15px;
            width: 95px;
            a {
                display: block;
                p {
                    text-align: center;
                }
            }
        }
        li a {
            i {
                background: url(/img/general/icon/m-index-nav-ico2.png) no-repeat;
                border-radius: 50%;
                display: block;
                height: 42px;
                margin: 0 auto 11px;
                width: 42px;
                &.sdc-r-ico1 {
                    background-position: 0 0;
                }
                &.sdc-r-ico2 {
                    background-position: -88px 0;
                }
                &.sdc-r-ico3 {
                    background-position: -177px 0;
                }
                &.sdc-r-ico4 {
                    background-position: -266px 0;
                }
                &.sdc-r-ico5 {
                    background-position: -355px 0;
                }
                &.sdc-r-ico6 {
                    background-position: -442px 0;
                }
                &.sdc-r-ico7 {
                    background-position: -532px 0;
                }
                &.sdc-r-ico8 {
                    background-position: -620px 0;
                }
                &.sdc-r-ico9 {
                    background-position: -709px 0;
                }
                &.sdc-r-ico10 {
                    background-position: -798px 0;
                }
                &.sdc-r-ico11 {
                    background-position: -887px 0;
                }
                &.sdc-r-ico12 {
                    background-position: -975px 0;
                }
                &.sdc-r-ico13 {
                    background-position: -1064px 0;
                }
            }
            &:hover i {
                &.sdc-r-ico1 {
                    background-position: 0 -47px;
                }
                &.sdc-r-ico2 {
                    background-position: -88px -47px;
                }
                &.sdc-r-ico3 {
                    background-position: -177px -47px;
                }
                &.sdc-r-ico4 {
                    background-position: -266px -47px;
                }
                &.sdc-r-ico5 {
                    background-position: -355px -47px;
                }
                &.sdc-r-ico6 {
                    background-position: -442px -47px;
                }
                &.sdc-r-ico7 {
                    background-position: -532px -47px;
                }
                &.sdc-r-ico8 {
                    background-position: -620px -47px;
                }
                &.sdc-r-ico9 {
                    background-position: -709px -47px;
                }
                &.sdc-r-ico10 {
                    background-position: -798px -47px;
                }
                &.sdc-r-ico11 {
                    background-position: -887px -47px;
                }
                &.sdc-r-ico12 {
                    background-position: -975px -47px;
                }
                &.sdc-r-ico13 {
                    background-position: -1064px -47px;
                }
            }
        }
    }
}
.g-wrap {
    margin: 0 auto;
    width: 1200px;
}
.clearfix {
    zoom: 1;
    &:after {
        clear: both;
        content: "";
        display: block;
        font-size: 0;
        height: 0;
        line-height: 0;
        visibility: hidden;
    }
}
.m-sort-box {
    background-color: #fff;
    display: none;
    height: 420px;
    left: 0;
    position: absolute;
    top: 40px;
    z-index: 99;
    /*box-shadow: 0 0 4px #ccc;*/
    &.active {
        display: block;
    }
}
.nav_a {
    color: #fff;
    display: block;
    float: left;
    font-size: 16px;
    padding: 0 25px;
    position: relative;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.line-play-img {
    bottom: 0;
    position: absolute;
    right: 0;
    img {
        width: 100%;
    }
}
/*end of new nav*/
/** 新低部样式  **/
.m {
    &-footer {
        background: #fff;
        font-size: 12px;
        line-height: 1;
        min-width: 1200px;
        width: 100%;
    }
    &-spec {
        &-wrap {
            background: #2696fc;
            height: 70px;
        }
        &-box {
            margin: 0 auto;
            width: 1300px;
            li {
                float: left;
                margin-right: 56px;
                i {
                    background: url(/img/general/icon/m-footer-spec.png) no-repeat;
                    display: block;
                    float: left;
                    height: 45px;
                    margin-top: 10px;
                    width: 38px;
                    &.m-spec-ico00 {
                        background-position: -58px 5px;
                    }
                    &.m-spec-ico01 {
                        margin-top: 11px;
                    }
                    &.m-spec-ico02 {
                        background-position: 0 -72px;
                    }
                    &.m-spec-ico03 {
                        background-position: 0 -152px;
                        margin-right: 10px;
                        margin-top: 14px;
                    }
                    &.m-spec-ico04 {
                        background-position: 0 -230px;
                        margin-top: 18px;
                    }
                    &.m-spec-ico05 {
                        background-position: 0 -305px;
                        margin-top: 15px;
                    }
                }
                p {
                    float: left;
                }
                strong {
                    color: #fff;
                    display: block;
                    font-size: 15px;
                    margin: 19px 10px 8px 0;
                }
                span {
                    color: #fff;
                    display: block;
                    font-size: 12px;
                }
            }
        }
    }
    &-site-help {
        float: left;
        margin-top: 46px;
        width: 190px;
        &-wrap {
            background: #f4f5f9;
            height: 260px;
            width: 100%;
        }
        dt {
            color: #333;
            font-size: 16px;
            margin-bottom: 22px;
        }
        dd a {
            color: #666;
            font-size: 12px;
            line-height: 26px;
            -webkit-transition: all 0.1s ease-in-out;
            transition: all 0.1s ease-in-out;
            &:hover {
                color: #fc8723;
            }
        }
    }
    &-two-code {
        float: left;
        padding-top: 46px;
        &-tit {
            color: #333;
            font-size: 16px;
            margin-bottom: 25px;
            span {
                position: relative;
            }
            i {
                background: url(/img/general/icon/m-footer-spec.png) 0 -385px no-repeat;
                display: block;
                height: 17px;
                position: absolute;
                right: -84px;
                top: -10px;
                width: 84px;
            }
        }
        &-img {
            float: left;
            a {
                float: left;
                margin-right: 15px;
                &:last-of-type {
                    margin-right: 0;
                }
                img {
                    display: block;
                    min-height: 70px;
                    min-width: 70px;
                }
                span {
                    color: #000;
                    display: block;
                    text-align: center;
                }
            }
        }
    }
    &-auth-tab {
        text-align: center;
        ul {
            display: inline-block;
            height: 18px;
            padding: 30px;
            li {
                color: #666;
                cursor: pointer;
                float: left;
                font-size: 16px;
                line-height: 18px;
                &.tab-line {
                    background: #c7c7c7;
                    height: 15px;
                    margin: -2px 20px;
                    width: 1px;
                }
                &.active {
                    font-weight: bold;
                }
            }
        }
    }
    &-auth-box {
        height: 51px;
        margin-bottom: 8px;
        overflow: hidden;
        position: relative;
        -webkit-transition: 0.5s all;
        transition: 0.5s all;
        &-ov {
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
        }
        &-i {
            overflow: hidden;
            text-align: center;
            &.show {
                display: block;
            }
        }
        &-a {
            margin: 0;
            li {
                display: inline-block;
                margin-right: 40px;
                a {
                    background: url(/img/general/icon/m-auth-ico.png) no-repeat;
                    display: block;
                    height: 50px;
                    &.m-auth-ico01 {
                        background-position: 0 6px;
                        width: 83px;
                    }
                    &.m-auth-ico02 {
                        background-position: 0 -50px;
                        width: 136px;
                    }
                    &.m-auth-ico03 {
                        background-position: 0 -99px;
                        height: 39px;
                        width: 114px;
                    }
                    &.m-auth-ico04 {
                        background-position: 0 -150px;
                        width: 102px;
                    }
                }
            }
        }
    }
    &-coope {
        &-link li {
            display: inline-block;
            margin-right: 14px;
            a {
                color: #999;
                line-height: 28px;
                &:hover {
                    color: #fc8723;
                }
            }
        }
        &-tab-wrap {
            height: 51px;
            margin: 0 auto;
            width: 1152px;
            a {
                color: #b4b3b9;
                display: block;
                float: left;
                font-weight: bold;
                height: 51px;
                line-height: 50px;
                width: 42px;
                &:hover {
                    color: #fc8723;
                    -webkit-transition: all 0.2s ease-in-out;
                    transition: all 0.2s ease-in-out;
                }
            }
        }
        &-tab-ov {
            float: left;
            height: 50px;
            overflow: hidden;
            position: relative;
            width: 1056px;
        }
        &-tab-list {
            left: 0;
            position: absolute;
            top: 0;
            width: 9999px;
            li {
                float: left;
                height: 51px;
                margin-right: 8px;
                width: 125px;
                a {
                    background: url(/img/general/icon/m-auth-ico.png) no-repeat;
                    display: block;
                    height: 50px;
                    width: 125px;
                }
                &.m-coop-ico01 a {
                    background-position: 0 -200px;
                }
                &.m-coop-ico02 a {
                    background-position: 0 -251px;
                }
                &.m-coop-ico03 a {
                    background-position: 0 -302px;
                }
                &.m-coop-ico04 a {
                    background-position: 0 -353px;
                }
                &.m-coop-ico05 a {
                    background-position: 0 -404px;
                }
                &.m-coop-ico06 a {
                    background-position: 0 -455px;
                }
                &.m-coop-ico07 a {
                    background-position: 0 -506px;
                }
                &.m-coop-ico08 a {
                    background-position: 0 -557px;
                }
            }
        }
        &-bnt {
            &-l {
                text-align: left;
            }
            &-r {
                text-align: right;
            }
        }
    }
    &-copyright-wrap {
        background: #fff;
        color: #666;
        height: 38px;
        line-height: 38px;
        text-align: center;
        a {
            color: #666;
            &:hover {
                color: #ff8a07;
            }
        }
        i {
            padding: 0 1px;
        }
        span.license {
            cursor: pointer;
            em {
                display: none;
            }
            &:hover {
                color: #ff8a07;
                position: relative;
                em {
                    display: block;
                    left: -300px;
                    position: absolute;
                    top: -620px;
                }
            }
        }
    }
}
.js-tab-cn {
    display: none;
    left: 0;
    position: absolute;
    top: 0;
    &.show {
        display: block;
    }
}
/** end of 新低部样式  **/
a {
    cursor: pointer;
    &:hover, &:focus {
        text-decoration: none;
    }
}
/*en footer*/
.en_m_footer {
    background-color: #005bac;
    clear: both;
    height: auto !important;
    min-width: 1200px;
    .en_m_help {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding-top: 50px;
        * {
            box-sizing: border-box;
        }
        .connect_us_ico dd {
            float: left;
            margin-right: 10px;
        }
        .txt_hover li a:hover {
            color: #fe8426 !important;
        }
        .en_list_group {
            color: #fff !important;
            float: left;
            width: 210px;
            &:first-child {
                margin-right: 20px !important;
                width: 183px !important;
            }
            &:last-child {
                padding-left: 66px !important;
            }
            &:nth-child(5) {
                padding-left: 50px;
                width: 150px !important;
            }
            li {
                color: #fff;
                font-size: 14px;
                line-height: 30px;
                a {
                    color: #f8f6fc;
                    font-size: 14px;
                    line-height: 14px;
                }
                &:first-child {
                    color: #60a3e1 !important;
                    font-size: 18px;
                    font-stretch: normal;
                    font-style: normal;
                    font-weight: normal;
                    letter-spacing: normal;
                    line-height: normal;
                    margin-bottom: 12px;
                }
            }
        }
        .selected-language_click {
            width: 280px;
        }
        .en_language {
            border: 1px solid #fff;
            border-radius: 2px;
            color: #fff;
            cursor: pointer;
            height: 40px;
            line-height: 40px;
            width: 280px;
            i {
                line-height: 40px;
                margin-right: 21px;
            }
            dl dd {
                height: 40px;
                line-height: 40px;
                width: 100%;
            }
            dl {
                background-color: #0075c2;
                border: 1px solid #fff;
                height: auto;
                left: -1px;
                padding: 0 21px 0 15px;
                position: relative;
                top: -2px;
                width: 280px;
                z-index: 20;
            }
            a {
                color: #fff;
                font-size: 14px;
                line-height: 40px;
            }
        }
        .en_money {
            margin-top: 16px;
            border: 1px solid #fff;
            border-radius: 2px;
            color: #fff;
            cursor: pointer;
            height: 40px;
            line-height: 40px;
            width: 280px;
            i {
                line-height: 40px;
            }
        }
        a {
            color: #fff;
        }
    }
    .en_m_ShangJia {
        border-top: 2px solid #0087ff;
        ul li {
            float: left;
            margin-left: 45px;
        }
    }
    .en_m-copyright-wrap {
        background-color: #e8e8e8;
        color: #484848;
        font-size: 14px;
        height: 50px;
        line-height: 50px;
        margin-top: 40px;
        text-align: center;
    }
}
.Cons {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 1200px;
}
.en_list_group.txt_hover dl {
    margin-top: 26px;
}
.usitour_icon {
    background: url(/img/general/polymerize.png) no-repeat -20px -74px;
    display: inline-block;
    height: 66px !important;
    margin-bottom: -5px;
    padding-right: 10px;
    width: 94px !important;
}
.partners {
    background: #fff;
    height: 62px;
    margin: 0 auto;
    position: relative;
    top: 40px;
}
.partner_icon {
    background: url(/img/general/polymerize.png) no-repeat -20px -187px;
    display: -webkit-box;
    height: 62px !important;
    margin: 0 auto;
    width: 1200px;
}
.payment_icons {
    background: url(/img/general/polymerize.png) no-repeat -206px -82px;
    display: inline-block;
    height: 104px !important;
    margin-bottom: -5px;
    padding-right: 10px;
    width: 179px !important;
}
.facebook_icon {
    background-position: -156px -28px;
}
.twitter_icon {
    background-position: -201px -28px;
}
.instagram_icon {
    background-position: -252px -28px;
}
.pinterest_icon {
    background-position: -303px -28px;
}
.follow_us_icons {
    background-image: url(/img/spriteImgs/home_img_icon.png);
    background-repeat: no-repeat;
    -webkit-background-size: 650px 147px;
    background-size: 650px 147px;
    border: none;
    display: block;
    height: 33px;
    width: 40px;
}
/*end of en footer*/
/*right side thing like back to top and tel*/
.contact-wrap {
    position: fixed;
    right: 1px;
    top: 190px;
    z-index: 9999;
    a {
        text-decoration: none;
    }
}
.contact-way {
    background: #fff;
    border-bottom: 1px solid #d5e5fc;
    border-radius: 5px;
    border-right: 1px solid #d5e5fc;
    border-top: 1px solid #d5e5fc;
    position: relative;
    width: 62px;
    li {
        height: 60px;
        margin-bottom: 0;
        b {
            display: inline-block;
            font-weight: 400 !important;
            width: 80px;
        }
        .phone-detail span {
            width: auto;
        }
        span {
            color: #666;
            display: inline-block;
            font-size: 12px;
            line-height: 24px;
            text-align: center;
            width: 100%;
        }
    }
}
.online-service {
    background: url("https://www.usitour.com/tpl/www.usitour.com/image/kefu.gif") no-repeat 15px 10px;
    height: 30px;
    &-hover {
        border-left: 1px solid #d5e5fc;
        border-radius: 5px 5px 0 0;
        cursor: pointer;
    }
}
.phone-hover {
    cursor: pointer;
    background: url("https://www.usitour.com/tpl/www.usitour.com/image/contact-bg.png") no-repeat 0 -60px;
    margin-bottom: 1px;
    &:hover {
        background: url("https://www.usitour.com/tpl/www.usitour.com/image/contact-hover-bg.gif") no-repeat 0 -59px;
        position: relative;
        .phone-detail {
            display: block;
        }
    }
    .phone-service {
        height: 30px;
    }
    .phone-detail {
        background: #fff;
        border-bottom: 1px solid #d5e5fc;
        border-left: 1px solid #d5e5fc;
        border-radius: 5px 0 0 5px;
        border-top: 1px solid #d5e5fc;
        display: none;
        height: 60px;
        left: -235px;
        padding: 7px 20px;
        position: absolute;
        width: 236px;
    }
}
/*悬浮分享链接 中文*/
.qr-hover {
    background: url(/img/spriteImgs/share_icon.png) -80px -255px no-repeat;
    border-left: 1px solid #d5e5fc;
    cursor: pointer;
    &:hover .qr-detail {
        display: block;
    }
}
.qr-service {
    height: 30px;
    span {
        border-left: 1px solid #d5e5fc;
    }
}
.qr-detail {
    background: #fff;
    border: 1px solid #d5e5fc;
    border-radius: 5px 0 5px 5px;
    display: none;
    left: -202px;
    position: absolute;
    text-align: center;
    width: 203px;
    p {
        font-size: 18px;
        margin-top: 15px;
    }
}
/*悬浮分享链接 英文*/
.share-btn-group {
    left: 0;
    position: fixed;
    top: 300px;
    z-index: 9999;
}
.social_icon {
    background: url(/img/spriteImgs/share_icon3.png) no-repeat;
    cursor: pointer;
    display: block;
    height: 50px;
    &_ul {
        width: 44px;
    }
    &_facebook {
        background-color: #3a579a;
        background-position: -100px 0;
        border-radius: 0 9px 0 0;
        &:hover {
            background-color: #314a83;
        }
    }
    &_google {
        background-color: #df4a32;
        background-position: -100px -50px;
        &:hover {
            background-color: #be3f2b;
        }
    }
    &_twitter {
        background-color: #00abf0;
        background-position: -100px -100px;
        &:hover {
            background-color: #0092cc;
        }
    }
    &_blogger {
        background-color: #f59038;
        background-position: -100px -150px;
        &:hover {
            background-color: #d07b30;
        }
    }
    &_pinterest {
        background-color: #cd1c1f;
        background-position: -100px -200px;
        border-radius: 0 0 9px 0;
        &:hover {
            background-color: #ae181a;
        }
    }
}
.hide {
    display: none;
}
.return-top {
    height: 30px;
    background: url("https://www.usitour.com/tpl/www.usitour.com/image/contact-bg.png") no-repeat 0 -180px;
    &-hover {
        border-left: 1px solid #d5e5fc;
        border-radius: 0 0 5px 5px;
        display: none;
        position: relative;
    }
}
/*sales banner*/
.salesBanner-wrapper {
    background-color: #faebd7;
    box-sizing: border-box;
    padding: 5px 0;
    position: relative;
    .row {
        line-height: 34px;
    }
    .card {
        line-height: 34px;
        vertical-align: middle;
        white-space: nowrap;
    }
}
.fixedBanner {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}
/*end of sales banner*/
/*site notices*/
.siteNotes-wrapper {
    align-items: center;
    background-color: #faebd7;
    color: red;
    display: flex;
    height: 70px;
    justify-content: center;
    padding: 5px;
    position: relative;
}
.icon-close {
    position: absolute;
    right: 5px;
    top: 5px;
}
.input-group .form-control {
    box-shadow: none;
}
/*end of site notices*/
@media (max-width: 1199px) {
    body {
        overflow-x: auto;
    }
}
@media (min-width: 1200px) {
    body {
        overflow-x: hidden;
    }
    .container {
        width: 1200px;
    }
    .salesBanner-wrapper .container {
        width: 1220px;
    }
    .siteNotes-wrapper {
        height: 40px;
        text-align: center;
    }
}