@import "book";
@media print {
    form, #js-contact-wrap-contact-wrap, #en_nav,
    .hotel-detail-box,
    #processing-modal,
    #modalAuthorization,
    #MEIQIA-INVITE,
    #MEIQIA-BTN-HOLDER,
    .fixedBanner,
    .siteNotes-wrapper,
    .book-head-marketing,
    #topbar,
    .modal-content,
    .book-info-box,
    footer,
    .en_m_footer {
        display: none !important;
    }
    .visible-print-block {
        display: block !important;
        font-size: 16px !important;
    }
}
.validPic {
    width: 15px;
    height: 15px;
}
.hotelCharge {
    font-size: 16px;
    font-weight: 500;
    color: grey;
    margin-right: 3px;
}
.grey {
    color: lightgrey;
}
.appendValidateSpace {
    margin-top: 15px;
}
.quote {
    font-size: 24px;
}
input[type="submit"] {
    background: #0098cb;
    border: 0px;
    border-radius: 5px;
    color: #fff;
    padding: 10px;
    margin: 20px auto;
}
@media (min-width: 1080px) {
    .p_div {
        display: none;
    }
    .p_div_en {
        display: none;
    }
}
.page_padding {
    width: 1200px;
    margin: 0 auto;
}
.btn_print {
    position: absolute;
    right: 10px;
}
.verifingBtn {
    font-size: 18px;
    height: 34px;
    background-color: #4c8ecb;
    color: #fff;
    padding-top: 4px;
    border-radius: 0;
}
.validateCode {
    background-color: #a8aaac;
    height: 34px;
    color: #fff;
    font-size: 18px;
    padding-top: 4px;
    border-radius: 0;
}
.verifingBtn:hover, .validateCode:hover {
    color: #fff;
    box-shadow: 0px 2px 11.9px 0.1px rgba(35, 31, 32, 0.5);
}
.big-card-blue {
    color: #4c8ecb;
    font-size: 30px;
}
.fa-check {
    color: #4c8ecb;
    font-size: 18px;
    margin: 0 5px 0 10px;
}
.ccTitle {
    font-size: 24px;
    padding: 5px 5px;
}
.subHead {
    font-size: 18px;
    border-bottom: 1px solid #a7a9ab;
    padding-bottom: 5px;
    margin-top: 20px;
}
.leftTitle {
    padding-top: 15px;
    font-size: 14px;
    margin-bottom: 0;
    text-align: left;
    padding: 0;
}
.mustFill {
    font-size: 12px;
    color: #e4393c;
    padding: 6px;
}
@media (max-width: 640px) {
    .screenWidth {
        width: 90% !important;
    }
}
@media (max-width: 640px) {
    .form-group label {
        margin-bottom: 10px;
    }
    .form-group input:not(last-child) {
        margin-bottom: 10px;
    }
    .form-group select:not(last-child) {
        margin-bottom: 10px;
    }
    .form-inline {
        padding-left: 0;
    }
    #MEIQIA-BTN-HOLDER {
        left: auto !important;
        right: 29px !important;
        bottom: 106px !important;
        background-image: url(/img/general/icon/chat_icon.png) !important;
        background-position: 0 0 !important;
        background-size: 59px auto !important;
        background-repeat: no-repeat !important;
        animation-name: fade;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }
    #MEIQIA-BTN {
        background-color: transparent !important;
    }
    #MEIQIA-BTN-ICON {
        display: none !important;
    }
}
@keyframes fade {
    from {
        opacity: 0.5;
    }
    to {
        opacity: 1;
    }
}
/*new pc*/
.step-current {
    color: #e4393c;
    text-align: center;
}
.cc-online-guarantee {
    padding-top: 20px;
    color: #484848;
    font-size: 18px;
}
.no-extra-fee {
    padding-top: 7px;
}
.authorize-text {
    margin-right: 10px;
    padding-bottom: 20px;
    text-align: justify;
    -moz-text-align-last: left;
    /* Code for Firefox */
    text-align-last: left;
}
#hotel-comment {
    padding-right: 20px;
}
span#ccAuth {
    margin-right: 5px;
}
.modal-static {
    position: fixed;
    top: 50% !important;
    left: 50% !important;
    margin-top: -100px;
    margin-left: -100px;
    overflow: visible !important;
}
.modal-static,
.modal-static .modal-dialog,
.modal-static .modal-content {
    width: 200px;
    height: 200px;
}
.modal-static .modal-dialog,
.modal-static .modal-content {
    padding: 0 !important;
    margin: 0 !important;
}
.icon {
    margin-left: -65px;
}
.h-90 {
    height: 90px;
}
//国家地区code
.area-wrap {
    margin-top: 34px;
}
.area-box .fa-angle-down {
    padding-left: 173px;
}
.area-box {
    float: left;
}
input#phone {
    margin-left: 3px;
}