#page-wrapper {
    background-color: #ffffff !important;
}
.btn-ok {
    display: -moz-inline-stack;
    display: inline-block;
    background: transparent;
    vertical-align: middle;
    text-align: center;
    color: #337ab7;
    padding: 1px 30px;
    border-color: #337ab7;
    font-size: 12px;
    font-style: normal;
}
.btn-ok:hover {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    color: #fff !important;
    padding: 1px 30px;
    background-color: #337ab7;
    border-color: #fff !important;
    font-size: 12px;
    font-style: normal;
}
/* entypo */
[class*="entypo-"]:before {
    font-family: 'entypo', sans-serif;
}
.alert-info {
    color: #0065b8 !important;
}
.rounded {
    color: #484848;
}
.selectpicker {
    background: url("//www.connectedtoindia.com/assets/images/dropdown-arrow1.png") no-repeat scroll right center transparent;
    font-size: 16px;
    font-weight: 400;
    padding-left: 6px;
    -webkit-border-radius: 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: #484848;
}
.textUnderline:hover {
    text-decoration: underline;
}
/*<!-- void user agent style autofilled -->*/
@-webkit-keyframes autofill {
    to {
        color: #484848;
        background: transparent;
    }
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}
select::-ms-expand { /* for IE 11 */
    display: none;
}
.searchbtn {
    margin-top: 10px;
    width: 100% !important;
    font-size: 16px;
}
.dropdownroominfo {
    border-left-width: 1px;
    border-left-color: #dce0e0;
}
.wrap_vertical {
    vertical-align: middle;
}
.date {
    -webkit-border-radius: 4px;
}
.input {
    -webkit-border-radius: 4px;
}
.input[type=text] {
    height: 17px;
    border: 0;
    width: calc(100% - 2px);
    box-shadow: 0 1px 0 0 #ebebeb, 0 2px 0 0 #ebebeb;
    -webkit-transition: box-shadow 0.3s;
    transition: box-shadow 0.3s;
}
.input[type=text]:focus {
    outline: none;
    box-shadow: 0 1px 0 0 #4EA6EA, 0 12px 0 0 #4EA6EA;
}
.input-group-addon:last-child {
    border: 0;
}
.focusUnderline {
    position: absolute !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    height: 2px !important;
    background: #00A699 !important;
    -webkit-transition: opacity 0.3s !important;
    -moz-transition: opacity 0.3s !important;
    transition: opacity 0.3s !important;
    opacity: 0 !important;
    z-index: 1 !important;
}
.searchform {
    border: 1px solid #DDDDDD;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 3px 0 #dce0e0;
    -moz-box-shadow: 0 1px 3px 0 #dce0e0;
    box-shadow: 0 1px 3px 0 #dce0e0;
    margin-left: 0;
    margin-right: 20px;
    height: 70px;
}
.leftrightboder {
    -moz-box-shadow: 0 1px 0 0 #dce0e0;
    border-left: 1px solid #dce0e0;
}
ul, li, a {
    padding: 0;
    margin: 0;
    border: 0;
    list-style: none;
    text-decoration: none;
}
.search ul {
    background-color: #fff;
    position: absolute;
    left: 15px;
    top: 35px;
    border: #eee 0 solid;
    min-width: calc(100% - 80px);
    text-align: left;
    z-index: 99999;
}
.close-icon:after {
    content: "clear";
    display: block;
    width: 15px;
    height: 15px;
    position: absolute;
    background-color: #ffffff;
    z-index: 1;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    padding: 2px;
    text-align: center;
    color: #337ab7;
    font-weight: normal;
    font-size: 12px;
    box-shadow: 0 0 2px 2px;
    cursor: pointer;
}
.search ul {
    visibility: hidden;
}
.search ul a {
    display: block;
    padding: 5px;
    z-index: 999999;
}
button#button-name:active {
    background: transparent !important;
    box-shadow: none;
    border: none;
}
button#button-minPrice:active {
    background: transparent !important;
    box-shadow: none;
    border: none;
}
button#button-rating:active {
    background: transparent !important;
    box-shadow: none;
    border: none;
}
.fixed {
    right: 0;
    top: 850px;
    position: fixed;
    z-index: 999999;
}
.line {
    z-index: 99999;
    padding-top: 15px;
    padding-left: 20px;
    border: 2px solid #d5d5d5;
}
.category {
    margin-right: 15px;
}
.unbtn:hover, .unbtn:active {
    background-color: #f1791e !important;
}
.hidden {
    display: none;
}
.hover-disappear:hover {
    color: transparent;
}
@media screen and (min-width: 961px) {
    .submitgrouprequest {
        width: 510px;
    }
}
@media screen and (max-width: 961px) {
    .submitgrouprequest {
    }
}
@media (min-width: 1400px) {
    .all-wrapper {
        margin: auto;
        max-width: 1240px;
    }
    .smallest {
        display: none;
    }
    .smalltag1 {
        display: none;
    }
    .datesmaller {
        color: #484848;
        padding: 0 !important;
    }
    .roomsmaller {
        font-size: 16px;
        margin-left: -12px;
        margin-bottom: 4px;
    }
}
@media (max-width: 1400px) {
    .all-wrapper {
        margin: auto;
        width: 980px !important;
    }
    .smaller {
        display: none;
    }
    .datesmaller {
        padding: 0 !important;
        color: #484848;
        font-size: 15px !important;
    }
    .roomsmaller {
        font-size: 15px !important;
        padding: 0 !important;
        margin: 2px 0;
    }
    .smallest {
        display: inline;
    }
    .smalltag {
        display: none;
    }
    .smalltag1 {
        display: inline;
    }
}
div.show-cities:hover input {
    display: block;
    border: 0;
    background-color: transparent;
}
div.show-cities input {
    position: absolute;
    display: none;
}
.img-files {
    height: 230px;
    width: 324px;
    -webkit-box-shadow: 0 1px 3px 0 #dce0e0;
    box-shadow: 0 1px 3px 0 #dce0e0;
    -moz-box-shadow: 0 1px 3px 0 #dce0e0;
    border: 1px solid #DDDDDD;
}
.img-files {
    -webkit-transition: -webkit-transform 0.4s ease;
    -moz-transition: -moz-transform 0.4s ease;
    -o-transition: -o-transform 0.4s ease;
    transition: transform 0.4s ease;
    opacity: 1;
}
.img-files:hover {
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -ms-transform: scale(1.01);
    -o-transform: scale(1.01);
    transform: scale(1.01);
    opacity: 0.7;
}
.underlined {
    text-decoration: underline;
    -webkit-text-decoration-color: #f1791e;
    text-decoration-color: #E18728;
}
a.darken {
    display: inline-block;
    background: black;
    padding: 0;
}
div.show-cities:hover input {
    display: block;
    border: 0;
    background-color: transparent;
}
div.show-cities input {
    position: absolute;
    display: none;
}
a.darken img {
    display: block;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
}
a.darken:hover img {
    opacity: 0.5;
}
.img-details {
    z-index: 100;
    position: absolute;
    color: white;
    font-size: 24px;
    font-weight: bold;
}
.modal-body .form-horizontal .col-sm-2,
.modal-body .form-horizontal .col-sm-10 {
    width: 100%
}
select:invalid {
    color: darkgrey;
}
#changetxt:hover {
    color: #f1791e;
}
#changetxt {
    color: #767676;
}
.modal-body .form-horizontal .control-label {
    text-align: left;
}
.modal-body .form-horizontal .col-sm-offset-2 {
    margin-left: 15px;
}
.anotherdestination {
    height: auto;
    overflow: hidden;
    transition: opacity 0.5s linear, max-height 0.5s linear;
    opacity: 0;
    max-height: 0;
}
#hidemorerequest[type=checkbox]:checked + .anotherdestination {
    opacity: 1;
    max-height: 99em;
    border: none;
}
.selectpickers {
    background: url("//www.connectedtoindia.com/assets/images/dropdown-arrow1.png") no-repeat scroll right center transparent;
    font-size: 14px;
    font-weight: 400;
    padding-left: 6px;
    -webkit-border-radius: 4px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.dest_wrapper {
    left: 0;
    top: 69px;
}