@import "../includes/colors";

// Fonts
body {
    //color: $usitrip-bright;
    font-family: 'Lato', Helvetica, Arial, "Microsoft Yahei", "微软雅黑", STXihei, "华文细黑", sans-serif; // english font should be lato, chinese will be '微软雅黑'
    background-color: #dfeaf4;
    position: relative;
    margin: 0;
    &.usitour {
        background-color: #f8f6fc;
        //color: $usitour-blue;
    }
}
body.lock {
    overflow: hidden;
    position: fixed;
}
[v-cloak] {
    display: none !important;
}
/*** start of overwrite plugin default ***/
.row {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
body {
    @media (max-device-width: 320px) {
        font-size: 11px;
    }
}
.mu-raised-button, .mu-flat-button {
    text-transform: capitalize;
}
.text-warning {
    color: $usitrip-normal;
}
.text-primary {
    color: $usitrip-bright;
}
.text-dark-grey {
    color: $usitrip-dark !important;
}
.text-small-12 {
    font-size: 12px;
    font-weight: 600;
    &-normal {
        font-size: 12px;
        font-weight: 400;
    }
}
.title-1 {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 6px;
}
.title-2 {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 15px;
}
.title-3 {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 15px;
}
.f11 {
    font-size: 11px;
}
.f_w_800 {
    font-weight: 800;
}
.f_22 {
    font-size: 22px;
}
.icons-v {
    vertical-align: middle;
}
.mu-bottom-sheet {
    padding-bottom: 10px;
}
.modal-open {
    overflow: hidden;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4,
.col-5, .col-6, .col-7, .col-8, .col-9, .col-auto,
.col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2,
.col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto,
.col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5,
.col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto,
.col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3,
.col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto,
.col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4,
.col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    padding-right: 0 !important;
}
.mu-text-field {
    min-height: auto;
    margin-bottom: 0;
    border: white 1px solid;
    border-radius: 3px;
}
.mu-text-field-content {
    padding: 0;
}
.mu-text-field-hint {
    color: $usitrip-bright;
}
.margin-bottom-5 {
    margin-bottom: 5px;
}
.mu-text-field-icon {
    font-size: 22px;
    color: $usitrip-bright;
    top: 8px;
}
//end datepicker

// fullscreen-spinner
.fullscreen-spinner {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 9999999999999;
    padding-top: 280px;
    text-align: center;
}
.fullscreen-spinner > div {
    text-align: center;
    width: 18px;
    height: 18px;
    background-color: #333;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}
.fullscreen-spinner .sk-bounce1 {
    -webkit-animation-delay: -0.48s;
    animation-delay: -0.48s;
    background-color: #fff;
}
.fullscreen-spinner .sk-bounce2 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
    background-color: #fff;
}
.fullscreen-spinner .sk-bounce3 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
    background-color: #fff;
}
@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0)
    }
    40% {
        -webkit-transform: scale(1.0)
    }
}
@keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}
// end fullscreen-spinner

// processing modal
.modal-static {
    position: fixed;
    top: 50% !important;
    left: 50% !important;
    margin-top: -100px;
    margin-left: -100px;
    overflow: visible !important;
}
.hide {
    display: none;
}
.modal-static,
.modal-static .modal-dialog,
.modal-static .modal-content {
    width: 200px;
    height: 200px;
}
.modal-static .modal-dialog,
.modal-static .modal-content {
    padding: 0 !important;
    margin: 0 !important;
}
.icon {
    margin-left: -65px;
}
.modal-static .modal-content .icon {
}
/*** end of overwrite plugin default ***/

/*
 *  Usage:
 *
 *    <div class="sk-spinner sk-spinner-three-bounce">
 *      <div class="sk-bounce1"></div>
 *      <div class="sk-bounce2"></div>
 *      <div class="sk-bounce3"></div>
 *    </div>
 *
 */
.sk-spinner-three-bounce.sk-spinner {
    margin: 0 auto;
    width: 70px;
    text-align: center;
}
.sk-spinner-three-bounce div {
    width: 18px;
    height: 18px;
    background-color: #f1791e;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-threeBounceDelay 1.4s infinite ease-in-out;
    animation: sk-threeBounceDelay 1.4s infinite ease-in-out;
    /* Prevent first frame from flickering when animation starts */
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
.sk-spinner-three-bounce .sk-bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}
.sk-spinner-three-bounce .sk-bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}
@-webkit-keyframes sk-threeBounceDelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes sk-threeBounceDelay {
    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
//share button style
.share-btn-usitrip {
    display: block;
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.16);
    cursor: pointer;
    text-decoration: none;
    background: url(/img/spriteImgs/share_icon.png) -10px -424px no-repeat;
    bottom: 270px;
    right: 29px;
    position: fixed;
    animation-name: fade;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    z-index: 999999 !important;
    border: 1px solid rgba(0, 0, 0, .1);
}
.share-btn-usitour {
    display: block;
    width: 37px;
    height: 37px;
    border: none;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.16);
    cursor: pointer;
    text-decoration: none;
    background: url(/img/spriteImgs/share_icon.png) -3px -209px no-repeat;
    background-size: 77px 300px;
    bottom: 230px;
    right: 29px;
    position: fixed;
    animation-name: fade;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    z-index: 999999 !important;
    border: 1px solid rgba(0, 0, 0, .1);
}

// overwrite default meiqia btn style
#meiqia-container iframe[name="button"]  {
    left: auto !important;
    right: 15px !important;
    top: auto !important;
    bottom: 120px !important;
    animation-name: fade;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    z-index: 999999 !important;
}
@keyframes fade {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}
/*** start of global classes ***/
.usitour-text {
    &-blue {
        color: $usitour-blue !important;
    }
    &-dark {
        color: $usitrip-dark !important;
    }
}
.usitour-bg {
    &-blue {
        background-color: $usitour-blue !important;
    }
}
.border-input {
    border: solid 0.5px #a7a9ab;
    border-radius: 3px;
}
.usitour-toTop-button {
    background-color: $usitour-blue;
    width: 40px;
    height: 40px;
}
.text-uppercase {
    text-transform: uppercase;
}
/*** end of global classes ***/

//site notices
.siteNotes-wrapper {
    background-color: #faebd7;
    color: red;
    height: 70px;
    padding: 5px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (min-width: 1200px) {
    .siteNotes-wrapper {
        height: 40px;
        text-align: center;
    }
}
.fixedBanner { /* keep */
    position: fixed;
    width: 100%;
    z-index: 999;
}
.icon-close {
    position: absolute;
    right: 5px;
    top: 5px;
}
//end of site notices
.text-blue {
    color: $usitrip-bright;
}
.usitour .text-blue {
    color: $usitour-blue;
}
.main-content {
    min-height: 80vh;
}