.autocomplete-suggestions {
	border: 1px solid #999;
    box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
    background: #ffffff;
	font-size: 12px;
	line-height: 1.6;
	overflow-x: auto;
	overflow-y: scroll;
    padding: 2px 5px 45px 5px;
    max-width: 98vw;
    white-space: nowrap;
    z-index: 99999999 !important;

	strong {
		font-weight: bold;
		color: #000;
	}
}

.autocomplete-suggestion {
	font-size: 13px;
	padding: 2px 0;
}

.autocomplete-no-suggestion {
	padding: 2px 5px;
}

.autocomplete-selected {
	background: #F0F0F0;
}

.autocomplete-group strong {
	padding: 2px 5px;
	font-weight: 500 !important;
	font-size: 15px !important;
	color: orange !important;
	display: block !important;
	border-bottom: 1px solid #dddddd !important;
}
