@import '../includes/colors';
main {
    margin: 10px;
}
main, #app {
    position: relative;
}
.share-btn-usitrip, .share-btn-usitour {
    display: none;
}
/*为了隐藏muse组件下面的线*/
hr {
    display: none;
}
.mu-divider {
    display: block;
}
/*datePicker.vue*/
.mu-text-field.has-icon {
    padding-left: 35px;
}
.mu-text-field-hint, .mu-date-picker, .mu-text-field {
    width: 100%;
}
.mu-date-picker {
    background: white;
    margin: 5px 0;
}
.mu-text-field {
    min-height: auto;
    margin-bottom: 0;
    border: white 1px solid;
    border-radius: 3px;
}
.mu-text-field-content {
    padding: 0;
    background: white;
}
.book-hotel-img {
    height: 180px;
    display: block;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.home-input-content, .date-picker-content {
    margin-bottom: 15px;
}
.home-input-content {
    font-size: 14px;
    font-weight: 400;
    color: $usitrip-pure;
}
.homeInput {
    background: white;
    margin: 6px 0;
}
.mu-text-field-icon {
    font-size: 22px;
    top: 8px;
}
// input active
.focus-state {
    border: $usitrip-normal 1px solid;
    border-radius: 3px;
    .mu-text-field-icon, .mu-text-field-content .mu-text-field-input {
        color: $usitrip-normal;
    }
    .mu-text-field-hint {
        color: $usitrip-normal;
    }
}
.submit-btn {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #ea8523;
    height: 46px;
    font-size: 16px;
}
.mu-text-field {
    font-size: 14px;
}
@media screen and (min-width: 641px) {
    .ico2, #pro_param span:after, .filter_wrap div:after, .selected_items li:after, #itinerary li span:after {
        background-size: 400px 134px;
    }
}
@media (max-width: 1000px) {
    .mlang {
        width: 10px;
    }
    .mname {
        width: 2px;
    }
}
@media (max-width: 500px) {
    .logoutmini {
        display: inline;
    }
    .logoutlarge {
        display: none;
    }
}
.use-term-popup {
    width: 100%;
    max-width: 575px;
}
.card {
    margin: 12px;
}
.img-responsive-display {
    width: 100%;
    max-height: 175px;
}
.hotelName {
    font-size: 15px;
    font-weight: bold;
}
.rating {
    font-size: 12px;
    color: RGB(228, 57, 60);
}
.location-on {
    font-size: 13px;
    color: RGB(155, 155, 155);
}
//for checkin checkout
.flex-container {
    display: flex;
    flex-wrap: nowrap;
    background-color: transparent;
    border-top: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
}
.flex-container > div {
    background-color: #fff;
    width: 50%;
    font-weight: bold;
    text-align: center;
    font-size: 14px;
}
.font16 {
    font-size: 16px;
}
.font14 {
    font-size: 14px;
}
.font12 {
    font-size: 12px;
}
.border-left {
    border-left: 1px solid rgb(222, 226, 230);
}
.padding-top-bottom {
    padding: 0 0;
}
.text-bold {
    font-weight: bold;
}
.room-info {
    color: rgb(74, 74, 74);
    padding: 0 19px;
}
.due-today {
    height: 40px;
    color: rgb(255, 255, 255);
    padding: 8px 19px;
    font-size: 16px;
}
.hotel-due {
    padding: 8px 19px;
    height: 50px;
    font-size: 14px;
    line-height: 19px;
    font-weight: bold;
}
.book-now-title {
    padding: 5px 19px;
    line-height: 15px;
    font-size: 18px;
    font-weight: bold;
    color: rgb(74, 74, 74);
}
.book-text-field {
    border: 1px solid rgb(167, 169, 171);
    border-radius: 3px;
    font-size: 18px;
    width: 100%;
    padding: 1px 8px;
    background: #fff;
}
.specialrequest {
    display: block;
    overflow: hidden;
    width: 80%;
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 1em;
}
.resortfee {
    font-size: 15px;
    font-weight: 500;
    float: right;
    color: grey;
    margin-right: 15px;
    margin-top: -18px;
}
.hotelcharge {
    font-size: 12px;
    color: grey;
    margin-left: 15px;
}
.card-title {
    color: rgb(74, 74, 74);
    font-size: 16px;
    padding: 1px 19px;
    border-bottom: 1px solid rgb(222, 226, 230);
}
.text-red {
    color: rgb(228, 57, 60);
    padding: 0 0 5px 0;
    font-weight: bold;
}
.text-black {
    color: rgb(74, 74, 74);
}
.warning-guest-name-for-all {
    font-size: 12px;
    font-weight: 500;
    padding: 0 19px;
    color: #787878;
}
.padding-sides {
    padding: 5px 19px;
}
.padding-transparent-sides {
    margin: 12px;
}
.pmt-img-size {
    height: 25px;
    width: 25px;
}
.pmt-radio-size {
    height: 20px;
    width: 20px;
}
.book-pay-button {
    height: 40px;
    border-radius: 3px;
    font-weight: bold;
    font-size: 18px;
    width: 100%;
    border: 0;
}
.btn-ready {
    color: #000;
    background-color: #ffc439;
    height: 45px;
}
.img-responsive-display {
    width: 100%;
    max-height: 300px;
}
.hotel-star {
    margin-top: 3px;
    font-size: 14px;
    color: #d32f2f;
}
.validPic {
    width: 15px;
    height: 15px;
}
.placeOrder {
    &-header {
        text-align: center;
    }
}
.paymentLabel {
    display: flex;
    &:not(last-child) {
        margin-bottom: 15px;
    }
}
/* Validation */
label.error {
    color: #cc5965;
    display: inline-block;
    margin-left: 5px;
}
.alipay-warning, .exchange-rate-warning {
    color: #cc5965;
}
input#otherCode {
    margin-top: 6px;
    border: 1px solid #a7a9ab;
    border-radius: 3px;
    font-size: 18px;
    width: 100%;
    padding: 0px 12px;
}
.card-type-icons-en {
    padding-left: 23px;
}
i.fa.fa-paypal {
    font-size: 25px;
    color: darkgoldenrod;
}
.coupon-block {
    padding: .19rem .24rem;
    .coupon-title {
        font-size: 19px;
        color: #636364;
        margin-bottom: 10px;
    }
    .coupon-input, .coupon-apply {
        line-height: 30px;
        border-radius: 3px;
        border: none;
        white-space: nowrap;
    }
    .coupon-input {
        width: 100%;
        background: #dfeaf4;
        padding-left: 16px;
        &.error {
            background: #fed6d6;
        }
    }
    .coupon-apply {
        background: #4c8ecb;
        color: #fff;
        font-size: 15px;
        width: 100%;
    }
    .error-message {
        color: #e4393c;
        font-size: 15px;
        margin-top: 8px;
    }
}
.applied-coupon-block {
    display: none;
    padding: 0 19px;
    .color-green {
        color: #52a318;
    }
    .coupon-amount {
        margin: 9px 0;
    }
    .remove-btn-wrapper {
        text-align: right;
    }
    .remove-btn {
        border: none;
        background: transparent;
        color: #2681ff;
    }
}
.usitour {
    .coupon-apply {
        background-color: $usitour-blue;
    }
}