@import "../includes/colors";
@import "../../custom/autocomplete/autocomplete.css";

.autocomplete-suggestions {
    width: 100% !important;
}
.text-danger {
    color: $usitrip-hover-tag;
}
.top-search-bar {
    border-bottom: 1px solid #a7a9ab;
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.25);
    padding: 12px;
    background: #fff;
    .container {
        position: relative;
    }
    .display-block {
        padding: 10px 12px 12px 42px;
        background: #f8f6fc;
        border: 1px solid #a7a9ab;
        border-radius: 5px;
        color: $usitrip-dark;
        &:before {
            content: '';
            display: inline-block;
            position: absolute;
            background: url('/img/spriteImgs/coupon_icons.png') no-repeat 2.901% 30.233%;
            background-size: 380px 212px;
            width: 18px;
            height: 19px;
            left: 12px;
            top: 27px;
        }
        .display-line-1.default {
            color: $usitrip-grey;
        }
        .display-line-2 {
            overflow: hidden;
            -ms-text-overflow: ellipsis;text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
    .search-block {
        label {
            display: block;
            font-size: 16px;
            font-weight: normal;
            line-height: 25px;
            color: $usitrip-dark;
            margin-bottom: 5px;
        }
        .param-data, .rooms-display {
            border: 1px solid $usitrip-grey;
            height: 35px;
            line-height: 35px;
            font-size: 18px;
            border-radius: 3px;
            color: $usitrip-dark;
            &:focus {
                border: 1px solid $usitrip-bright;
                outline: none;
            }
            &.error {
                border-color: $usitrip-hover-tag;
            }
            input::placeholder {
                color: $usitrip-grey;
            }
        }
        .autoInput-wrapper {
            margin-bottom: 10px;
        }
        .checkin-date, .checkout-date, .rooms-wrapper {
            position: relative;
            margin-bottom: 10px;
            &:not(.rooms-wrapper):before {
                font-family: 'Font Awesome 5 Free';
                font-size: 20px;
                position: absolute;
                left: 12px;
                top: 33px;
                color: #a7a9ab;
                z-index: 5;
                font-weight: 900;
            }
            input {
                padding-left: 20px;
            }
        }
        .mu-date-picker {
            &, .mu-text-field {
                width: 100%;
            }
        }
        .checkin-date, .checkout-date {
            input {
                width: 100%;
                padding-left: 40px;
            }
            &:before {
                content: "\F073";
            }
        }
        .rooms-display {
            position: relative;
            padding-left: 20px;
        }
        .rooms-dropdown {
            width: 100%;
            position: absolute;
            background: #fff;
            z-index: 2;
            left: 0;
            border: 1px solid #4c8ecb;
            border-top: none;
            border-radius: 5px;
            padding: 15px;
            font-size: 18px;
            label {
                width: 130px;
                display: inline-block;
            }
            input {
                width: 30px;
                margin: 0 10px;
                border: none;
                text-align: center;
            }
            .control-minus, .control-plus {
                display: inline-block;
                width: 28px;
                height: 28px;
                line-height: 28px;
                text-align: center;
                border: 1px solid #636363;
                border-radius: 50%;
                cursor: pointer;
                font-size: 24px;
                background-color: #fff;
                &:disabled {
                    background: rgba(167, 169, 171, 0.65);
                    color: #fff;
                }
            }
        }
        .search-btn {
            line-height: 35px;
            border-radius: 5px;
            border: none;
            background: $usitrip-normal;
            font-size: 16px;
            color: #fff;
            padding: 0 10px;
            &-wrapper {
                text-align: left;
            }
        }
        .cancel-btn {
            line-height: 35px;
            border: none;
            font-size: 16px;
            color: $usitrip-dark;
            background: transparent;
            text-align: right;
            width: 100%;
        }
        /* tablet style */
        @media (max-width: 992px) and (min-width: 601px) {
            .search-btn-wrapper, .cancel-btn-wrapper {
                height: 65px;
                display: flex;
                justify-content: flex-end;
                align-items: flex-end;
            }
            .search-btn {
                padding: 0 8px;
            }
        }
    }
}
.coupon {
    &-banner {
        position: relative;
        width: 100vw;
        height: 4.45rem;
        h1:empty, p:empty {
            display: none;
        }
        &-bg {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            background-size: 110%;
            background-repeat: no-repeat;
            background-position: center;
        }
        &-text {
            text-align: center;
            color: #fff;
            padding: 0.6rem .54rem;
        }
    }
    &-title {
        font-size: .36rem;
        font-weight: normal;
        line-height: .35rem;
        margin: 0 0 .5rem;
    }
    &-name {
        font-size: .67rem;
        line-height: .8rem;
        margin: 0 0 .38rem;
    }
    &-code {
        font-size: .36rem;
        line-height: .45rem;
        margin: 0 0 .4rem;
        span {
            background: #fff;
            border-radius: 13px;
            padding: 0 15px;
            &:not([class]), &[class=""] {
                color: $usitrip-fade;
            }
        }
    }
    &-details {
        font-size: .25rem;
        margin: 0;
        a {
            border-bottom: 1px solid #fff;
            color: #fff;
        }
    }
}
.bottom-wrapper {
    background: #f8f6fc;
}
.banner-image {
    display: block;
}
.hotels-wrapper {
    padding: 0 .24rem .8rem .3rem;
    .destination-block {
        padding: .27rem 0 0;
        h2 {
            font-size: .4rem;
            line-height: .38rem;
            margin-top: 0;
            margin-bottom: .3rem;
            color: $usitrip-dark;
            font-weight: normal;
        }
        .destination-wrapper {
            a {
                display: inline-block;
                background: #fff;
                border-radius: 5px;
                color: #2681ff;
                font-size: .3rem;
                line-height: .49rem;
                padding: 0 .27rem;
                border: 1px solid #2681ff;
                &:not(:last-child) {
                    margin-right: .25rem;
                    margin-bottom: .21rem;
                }
                &.active {
                    background: #2681ff;
                    color: #fff;
                }
            }
            &.sticky {
                z-index: 5;
                background: #fff;
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                border-bottom: 1px solid #a7a9ab;
                padding: .24rem;
                a {
                    color: $usitrip-dark;
                    border: none;
                    margin-bottom: 0;
                    &.active {
                        color: #2681ff;
                        background: #fff;
                    }
                }
            }
        }
    }
    .hotel-group {
        padding-top: .57rem;
        &-header {
            margin-bottom: .32rem;
            h2 {
                font-size: .4rem;
                font-weight: normal;
                color: $usitrip-dark;
                margin: 0;
            }
        }
        .hotel-item {
            display: inline-block;
            margin-bottom: 20px;
            position: relative;
            .discount-label {
                display: none;
                background: url('/img/spriteImgs/coupon_icons.png') no-repeat 0 -180px;
                width: 82px;
                height: 46px;
                position: absolute;
                top: 10px;
                left: -10px;
                color: #fff;
                padding-left: .15rem;
                font-size: 12px;
                padding-top: 5px;
                span {
                    font-size: 18px;
                }
            }
            img {
                display: block;
                width: 7rem;
                height: 3rem;
            }
            &-details {
                border: 1px solid #a7a9ab;
                padding: .36rem .3rem .38rem;
                height: 1.79rem;
                overflow: hidden;
                .hotel-name {
                    font-size: .3rem;
                    color: $usitrip-dark;
                    line-height: .36rem;
                    margin: 0 0 .15rem;
                    font-weight: normal;
                    max-height: .69rem;
                    max-width: 4rem;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                }
                .hotel-rating-wrapper {
                    background: url('/img/spriteImgs/coupon_icons.png') no-repeat -363px -125px;
                    width: 103px;
                    height: 19px;
                    .hotel-rating {
                        display: inline-block;
                        background: url('/img/spriteImgs/coupon_icons.png') no-repeat -363px -99px;
                        height: 19px;
                        &-1 {
                            width: 20px;
                        }
                        &-2 {
                            width: 40px;
                        }
                        &-3 {
                            width: 61px;
                        }
                        &-4 {
                            width: 82px;
                        }
                        &-5 {
                            width: 103px;
                        }
                    }
                }
                .hotel-price {
                    height: .39rem;
                    line-height: .39rem;
                    font-size: .42rem;
                    font-weight: normal;
                    color: $usitrip-hover-tag;
                    position: absolute;
                    bottom: 1rem;
                    right: .32rem;
                }
                .book-btn {
                    width: 2rem;
                    height: .6rem;
                    line-height: .6rem;
                    position: absolute;
                    bottom: .26rem;
                    right: .32rem;
                    border-radius: 5px;
                    background: $usitrip-hover-tag;
                    font-size: .36rem;
                    color: #fff;
                    text-align: center;
                }
            }
        }
        .view-more-btn {
            border: 1px solid #2681ff;
            border-radius: 10px;
            font-size: .3rem;
            color: #2681ff;
            height: .7rem;
            line-height: .7rem;
            width: 100%;
            text-align: center;
        }
    }
}
.policy-modal {
    .modal-header {
        border-bottom: 1px solid $usitrip-dark;
        text-align: center;
        padding-bottom: .28rem;
        margin-bottom: .3rem;
        position: relative;
        h2 {
            margin: 0;
            font-size: .3rem;
        }
        .modal-close {
            position: absolute;
            top: -0.3rem;
            right: -0.2rem;
            border: none;
            background: url('/img/spriteImgs/coupon_icons.png') no-repeat 79.583% 8.333%;
            background-size: 380px 212px;
            width: 21px;
            height: 20px;
        }
    }
    .modal-body {
        font-size: .24rem;
    }
}
.child-age {
    &-label {
        margin-bottom: 0;
    }
    &-select {
        margin-right: 3px;
    }
}