@import "../includes/colors";
body {
    background: #fff;
}
.feedback {
    border: 2px solid $usitour-blue;
    border-radius: 20px;
    margin: 60px 25px 86px;
    overflow: hidden;
    &-title {
        height: 58px;
        line-height: 58px;
        text-align: center;
        background: $usitour-blue;
        color: #fff;
        font-size: 18px;
        border-bottom-style: dashed;
        margin: 0;
        font-weight: normal;
    }
    &-message {
        line-height: 40px;
        text-align: center;
        color: $usitour-blue;
        font-size: 20px;
        margin: 40px 20px;
        font-weight: normal;
    }
    &-details {
        padding: 28px 13px;
        font-size: 14px;
        &-desc {
            color: $usitour-blue;
            margin-bottom: 36px;
        }
        .questions-list {
            li {
                list-style-type: none;
            }
            h2 {
                margin-bottom: 17px;
                font-size: 14px;
                color: $usitrip-dark;
                font-weight: normal;
            }
            .question {
                &-1 {
                    .selection {
                        &-checkbox {
                            opacity: 0;
                            position: absolute;
                            &:checked + label, &:hover + label {
                                box-shadow: 2px 2px;
                            }
                        }
                        label {
                            box-sizing: border-box;
                            cursor: pointer;
                            width: 60px;
                            height: 85px;
                            border-radius: 10px;
                            border: 2px solid #db343c;
                            font-size: 9px;
                            color: #db343c;
                            text-align: center;
                            padding: 7px;
                            display: inline-block;
                        }
                        &-chinese label {
                            width: 62px;
                            height: 95px;
                        }
                        &-1 label {
                            border-color: #eb8923;
                            color: #eb8923;
                        }
                        &-2 label {
                            border-color: #d9e356;
                            color: #d9e356;
                        }
                        &-3 label {
                            border-color: #d9e356;
                            color: #d9e356;
                        }
                        .icon {
                            display: inline-block;
                            background-image: url('/img/spriteImgs/feedback_img.png');
                            background-repeat: no-repeat;
                            width: 40px;
                            height: 39px;
                            background-size: 300px 109px;
                            margin: 0;
                            &-0 {
                                background-position: 0 87.857%;
                            }
                            &-1 {
                                background-position: 18.774% 87.857%;
                            }
                            &-2 {
                                background-position: 37.62% 87.857%;
                            }
                            &-3 {
                                background-position: 56.622% 87.857%;
                            }
                        }
                    }
                }
                &-2 {
                    margin-top: 37px;
                    .suggestion {
                        line-height: 20px;
                        margin-bottom: 10px;
                        cursor: pointer;
                        color: $usitrip-dark;
                        &-checkbox {
                            opacity: 0;
                            position: absolute;
                            cursor: pointer;
                            &:checked {
                                & + .suggestion-label {
                                    color: $usitour-blue;
                                    &:before {
                                        content: '\2714';
                                        color: #fff;
                                        background: $usitour-blue;
                                    }
                                }
                            }
                        }
                        &-label {
                            margin: 0;
                            padding-left: 30px;
                            position: relative;
                            &:before {
                                content: '';
                                border: 2px solid $usitour-blue;
                                border-radius: 5px;
                                display: inline-block;
                                width: 20px;
                                height: 20px;
                                position: absolute;
                                left: 0;
                            }
                        }
                    }
                }
                &-3 {
                    margin-top: 38px;
                    .notes-area {
                        width: 100%;
                        height: 150px;
                        border: 2px solid $usitour-blue;
                        font-size: 20px;
                        padding: 10px;
                    }
                }
            }
        }
        .submit-wrapper {
            margin-top: 30px;
            text-align: center;
            .btn-submit {
                width: 150px;
                height: 30px;
                line-height: 30px;
                background: $usitour-blue;
                border: none;
                color: #fff;
                font-size: 15px;
                padding: 0;
                &:disabled {
                    opacity: 0.7;
                }
            }
        }
    }
}