body {
    color: #484848;
}
.demo {
    padding: 21px;
    text-decoration: underline;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    padding-top: 16px;
    font-size: 16px;
    margin: 0 auto;
    display: table;
    color: #2681ff;
}
.upload-wrapper {
    padding-top: 40px;
}
.upload_file_title {
    font-size: 22px;
    padding-bottom: 40px;
}
.upload_file_tutorial {
    padding-bottom: 20px;
}
.file-upload-explain {
    padding-bottom: 50px;
}
.text-right {
    text-align: right;
}
.btn-upload {
    background-color: #2681ff;
    color: #fff;
}
#imageForm p, .btn-upload, input#photo {
    font-size: 16px;
}

.ssl {
    display: table;
    margin: 0 auto;
}
.ssl-logo {
    display: inline-block;
    position: absolute;
    background-image: url(/img/spriteImgs/fraud_img.png);
    background-repeat: no-repeat;
    background-position: -324px -160px;
    width: 41px;
    height: 49px;
}
.ssl-text {
    height: 61px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #2681ff;
    font-size: 16px;
    padding-left: 46px;
}
.img-responsive {
    width: 100%;
}