@import '../includes/colors';
@import "auto-complete";
.home, #app {
    position: relative;
}
.home {
    margin: 0 10px 10px;
}
.title-home {
    margin: 0 0 10px;
}
.usitour-searchWrapper {
    box-shadow: 0px 2px 4px 0 rgba(0, 0, 0, 0.25);
    padding: 20px 10px;
    background-color: #ffffff;
}
.usitour {
    &, .text-primary {
        color: $usitour-blue;
    }
    .mu-text-field-input, .mu-dropDown-menu-text-overflow {
        color: $usitrip-dark;
    }
}
.mu-divider {
    display: block;
}
// input active
.focus-state {
    border: $usitrip-normal 1px solid;
    border-radius: 3px;
    .mu-text-field-icon, .mu-text-field-content .mu-text-field-input {
        color: $usitrip-normal;
    }
    .mu-text-field-hint {
        color: $usitrip-normal;
    }
}
.submit-btn {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #ea8523;
    height: 46px;
    font-size: 16px;
    &.usitour {
        background-color: $usitour-blue;
        border-radius: 20px;
    }
}
.subscribe {
    background-color: $usitrip-white;
    margin-top: 10px;
    &-title {
        width: 100%;
        padding: 15px 12px;
        font-size: 16px;
        font-weight: 400;
        color: $usitrip-pure;
        .mu-flat-button-wrapper {
            justify-content: flex-start;
        }
    }
    &-inputs {
        padding-top: 2px;
        display: flex;
        width: 91vw;
    }
    .email-wrapper {
        margin-left: 13px;
        //width: 80%;
        border-right: none;
        .email-hint {
            padding-left: 13px;
        }
        input {
            padding-left: 13px;
            border-radius: 3px 0 0 3px;
            border: 1px solid $usitrip-bright;
        }
    }
    &-button {
        //width: 20%;
        button {
            background-color: $usitrip-bright;
            color: $usitrip-white;
            border-radius: 0 3px 3px 0;
            border: none;
            height: 100%;
        }
    }
    &-notes {
        color: $usitrip-pure;
        font-weight: 400;
        padding: 0 15px 15px;
    }
}
.color-red {
    color: $usitrip-hover-tag;
}
.fade-enter-active {
    transition: opacity 1s;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}
//why us section
.why-us-block {
    background-color: #fff;
    padding: 20px 5px;
    &.usitour {
        padding: 20px 5px;
        .why-us-text {
            font-size: 12px;
        }
    }
    &-row1 {
        margin-bottom: 18px;
    }
}
.why-us-title {
    font-size: 18px;
    font-weight: 500;
    color: #636363;
    margin: 10px auto;
}
.divider-home {
    height: 1px;
    background-color: #a7a9ab;
    padding: 0 auto;
}
.why-us-section {
    margin-bottom: 16px;
}
.why-us-icon {
    position: relative;
    top: 3px;
    right: -6px;
    &-usitour {
        display: block;
        position: relative;
        top: 5px;
        background-image: url('/img/general/icon/hotel_eng_img.png');
        background-repeat: no-repeat;
    }
}
.why-us-text {
    font-size: 14px;
    color: #636363;
    font-weight: normal;
}
.usitrip_mobile_all_img {
    display: block;
    background: url(/img/landing/mobile_home_pics.png) no-repeat;
}
.usitrip_mobile_all_img i {
    display: block;
    width: 606px;
    height: 606px;
    float: left;
    margin-right: 12px;
}
.price-guaranteed {
    background-position: -10px -77px;
    background-size: 358px 151px;
    width: 25px;
    height: 25px;
}
.secured {
    background-position: -42px -78px;
    background-size: 358px 151px;
    width: 22px;
    height: 25px;
}
.hot-line {
    background-position: -73px -78px;
    background-size: 358px 151px;
    width: 25px;
    height: 24px;
}
.instant {
    background-position: -102px -77px;
    background-size: 358px 151px;
    width: 25px;
    height: 25px;
}
.check-icon-red {
    height: 20px;
    width: 20px;
    background-position: 0px 0px;
}
.margin-top-min-10 {
    margin-top: -10px;
}
.margin-top-min-20 {
    margin-top: -20px;
}
.sales-today-title {
    font-size: 18px;
    font-weight: 500;
    color: #636363;
    margin-top: -5px;
    margin-bottom: 13px;
}
.partner {
    &-block {
        background: #fff;
        &.usitour {
            padding: 20px 10px;
        }
        i {
            display: block;
            margin: 7.5px 0;
        }
    }
    &-title {
        font-size: 18px;
        font-weight: 500;
        color: #636363;
        margin-top: -4px;
        margin-bottom: 10px;
    }
    &-ex {
        margin: 5% 0 0 5%;
    }
    &-pl {
        margin: 5% 5% 0 0;
    }
    &-usa {
        margin: 5%;
    }
    &-los {
        margin: 5% 5% 5% 0;
    }
    &-box {
        width: 95%;
        text-align: center;
        border: 1px solid #a7a9ab;
    }
    &-logo {
        background-image: url(/img/general/icon/hotel_eng_img2.png);
        background-repeat: no-repeat;
        width: 158px;
        height: 75px;
        @media (max-width: 320px) {
            background: url('/img/general/icon/hotel_eng_img2.png') no-repeat 28.926% 22.518%;
            background-size: 382px 244px;
            width: 79px;
            height: 38px;
        }
    }
    &-expedia {
        background-position: 0.826% 1.211%;
    }
    &-priceline {
        background-position: 28.926% 1.211%;
    }
    &-visitusa {
        background-position: 0.992% 22.518%;
    }
    &-la {
        background-position: 28.926% 22.518%;
    }
}
.rec-city-title {
    font-size: 18px;
    font-weight: 500;
    color: #636363;
    margin-top: 12px;
    margin-bottom: 22px;
}
.back-top {
    z-index: 2147483647 !important;
}