@import "../includes/colors";
.mu-date-picker, .mu-text-field {
    width: 100%;
    * {
        width: inherit;
    }
}
.mu-text-field {
    .mu-text-field-content {
        padding: 0;
    }
    .mu-text-field-line {
        display: none;
    }
    .mu-text-field-icon {
        left: 15px;
        top: 8px;
    }
    .mu-dropDown-menu {
        padding-left: 10px;
    }
    .mu-dropDown-menu-icon {
        right: -30px;
    }
}
.mu-linear-progress {
    position: fixed;
    top: 0;
}
.hotel-search-header {
    background-color: $usitrip-bright;
    color: white;
}
.mu-divider {
    background-color: #a7a9ab;
    height: 1px;
    width: 352px;
    margin: 0 auto;
}
// components style
.hotelDetail {
    background-color: white;
    padding-top: 8px;
    padding-bottom: .32rem;
    .icon-goback {
        margin: auto 0;
        .left-arrow {
            font-size: 30px;
            vertical-align: text-top;
            color: $usitrip-pure;
            margin-left: 5px;
        }
    }
    &-title {
        color: $usitrip-pure;
        font-weight: bold;
        margin: auto 0;
        width: 90%;
        h1 {
            font-size: 1em;
            margin: 0;
            padding-right: 16px;
        }
    }
    &-rating {
        color: $usitrip-hover-tag;
        margin: 2px 0 0;
    }
    &-extra {
        font-size: 12px;
        color: $usitrip-grey;
        position: relative;
        &-wrapper {
            padding-left: .68rem;
            border-bottom: 1px solid $usitrip-grey;
        }
        .guest-rating {
            &-line1 {
                margin-bottom: 7px;
            }
            &-line2 {
                margin: 0;
                color: $usitrip-bright;
            }
            &-score {
                color: $usitrip-hover-tag;
            }
        }
        .hotelDetail {
            &-price {
                position: absolute;
                right: 0;
                bottom: 0;
                margin: 0;
                text-align: right;
                &-title {
                    color: $usitrip-fade;
                    text-align: right;
                    font-weight: bold;
                    margin-bottom: 3px;
                }
                &-detail {
                    margin: 0;
                }
            }
        }
    }
}
.hotel {
    &-main-img {
        height: 200px;
        display: block;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
    &-address {
        background: #fff;
        color: $usitrip-fade;
        font-size: 14px;
        display: flex;
        border-bottom: 1px solid $usitrip-grey;
        .fa-map-marker {
            font-size: 20px;
            margin-right: 5px;
        }
    }
}
.roomItem {
    margin-bottom: 15px;
    .room {
        &-image {
            max-height: 110px;
            width: 100%;
            font-weight: bold;
            position: relative;
        }
        &-price {
            font-size: 20px;
            color: $usitrip-hover-tag;
        }
        &-name {
            color: black;
            font-weight: 600;
            margin: 6px;
            font-size: 18px;
        }
        &-bedType {
            color: $usitrip-fade;
            font-weight: 300;
            margin: 0 6px;
            font-size: 12px;
        }
    }
    .mu-divider {
        background-color: $usitrip-mobile-bg;
    }
}
.detail {
    &-main-title {
        font-size: 18px;
        color: #636464;
        text-align: left;
        font-weight: bold;
        margin-left: 15px;
    }
}
.hotel-rooms {
    margin: 10px;
    .room-btn-wrapper {
        text-align: right;
    }
}
.hotel-detail-img {
    height: 200px;
    display: block;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
del {
    color: #bdbdbd;
    font-size: 14px;
}
.submit-btn {
    width: 100%;
    margin-top: 10px;
}
.pet-img {
    margin: auto 0;
}
.label-lowest {
    .fa-check {
        color: $usitrip-hover-tag;
    }
    font-weight: 300 !important;
    color: $usitrip-fade;
    margin-right: 6px;
}
.hotel-images {
    position: relative;
}
.icon-more-pic {
    position: absolute;
    right: 10px;
    bottom: 10px;
    width: 66px;
    height: 30px;
    background-color: #333;
    color: white;
    padding: 5px;
    text-align: center;
    font-size: 12px;

    .fa {
        font-size: 16px;
        vertical-align: middle;
    }
}
.hotel-description {
    padding: 10px 13px 6px;
    background-color: $usitrip-white;
    .clamp {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
    .toggle-button {
        width: 100%;
        margin-top: 10px;
    }
    p {
        margin: 0 !important;
    }
}
.min-price {
    color: $usitrip-hover-tag;
    font-size: 16px;
    font-weight: 600;
}
.count-down-btn {
    background-color: darkslategrey;
    color: #fff;
    font-size: 13px;
    position: relative;
    margin-top: 23px;
    margin-left: 15px;
    border: none;
    padding: 1px 7px;
}
.hotel-map-anchor {
    padding: 15px 15px 0;
    background-color: #fff;
    position: relative;
    .map-viewer {
        padding: 5px 10px;
        position: absolute;
        z-index: 12;
        top: 49px;
        background-color: #4c8ecb;
        color: #fff;
    }
}
/* start of map */
.map-wrapper {
    display: none;
    height: 100vh;
    width: 100vw;
    .map-banner {
        display: flex;
        background-color: #2681ff;
        color: #fff;
        padding: 5px 0;
        width: 100%;
        z-index: 1;
        i {
            font-size: 42px;
            padding: 0 8px 0 12px;
        }
        &-desName {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 330px;
        }
    }
    .infowindow {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 1; // must be higher then map
        .hotel {
            background-color: #fff;
            margin: 0;
            &-name {
                display: block;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                line-height: 17px;
                margin: 0 0 8px;
            }
            .line-content {
                margin: 5px 0 10px;
            }
            &-policy {
                align-items: flex-end;
            }
            &-price {
                margin: 0;
            }
        }
    }
    .map {
        height: 100%;
        width: 100%;
    }
}
/* end of map */

/*facility icons **must wrap the icons with facility-small class*/
.facility-small {
    .facility-icon {
        display: inline-block;
        vertical-align: middle;
        width: 35px;
        text-align: center;
        &:before {
            content: '';
            display: inline-block;
            background-image: url('/img/spriteImgs/hotel-pc-icons.png');
            background-repeat: no-repeat;
            /*default icon*/
            background-position: -1360px -40px;
            width: 25px;
            height: 25px;
        }
    }
    /*general view*/
    [class*="view"]:before {
        background-position: -640px -40px;
    }
    /*general pool*/
    [class*="pool"]:before {
        background-position: 0 -40px;
    }
    [class*="outdoor-pool"]:before, [class*="outdoorpool"]:before, [class*="outdoor_pool"]:before {
        background-position: -40px -40px;
    }
    [class*="air-condition"]:before, [class*="aircondition"]:before {
        background-position: -800px -40px;
    }
    [class*="activities"]:before {
        background-position: -760px -40px;
    }
    [class*="accessibility"]:before, [class*="disabled"]:before {
        background-position: -360px -40px;
    }
    [class*="balcony"]:before, [class*="resort"]:before, [class*="balcony-pool"]:before {
        background-position: -840px -40px;
    }
    [class*="bathtub"]:before {
        background-position: -1480px -40px;
    }
    [class*="bathroom"]:before {
        background-position: -480px -40px;
    }
    [class*="business"]:before {
        background-position: -880px -40px;
    }
    [class*="bar"]:before {
        background-position: -240px -40px;
    }
    [class*="breakfast"]:before, [class*="coffee"]:before, [class*="tea"]:before {
        background-position: -280px -40px;
    }
    [class*="beach"]:before {
        background-position: -320px -40px;
    }
    [class*="bedroom"]:before {
        background-position: -920px -40px;
    }
    [class*="cleaning"]:before {
        background-position: -960px -40px;
    }
    [class*="entertainment"]:before, [class*="family"]:before {
        background-position: -1120px -40px;
    }
    [class*="food"]:before {
        background-position: -720px -40px;
    }
    [class*="fitness"]:before {
        background-position: -160px -40px;
    }
    [class*="front-desk"]:before, [class*="frontdesk"]:before {
        background-position: -1040px -40px;
    }
    [class*="kitchen"]:before {
        background-position: -1320px -40px;
    }
    [class*="language"]:before {
        background-position: -1080px -40px;
    }
    [class*="living-area"]:before, [class*="livingarea"]:before {
        background-position: -1440px -40px;
    }
    [class*="media"]:before, [class*="technology"]:before {
        background-position: -1120px -40px;
    }
    [class*="outdoors"]:before {
        background-position: -520px -40px;
    }
    [class*="pets"]:before {
        background-position: -1160px -40px;
    }
    [class*="private"]:before {
        background-position: -1240px -40px;
    }
    [class*="parking"]:before {
        background-position: -1200px -40px;
    }
    [class*="restaurant"]:before {
        background-position: -720px -40px;
    }
    [class*="smoking"]:before {
        background-position: -120px -40px;
    }
    [class*="spa"]:before {
        background-position: -80px -40px;
    }
    [class*="shuttle"]:before, [class*="transportation"]:before {
        background-position: -200px -40px;
    }
    [class*="tv"]:before {
        background-position: -400px -40px;
    }
    [class*="wifi"]:before, [class*="internet"]:before {
        background-position: -440px -40px;
    }
}
/*facility icons end*/

/*facility banner*/
.facilities-banner {
    white-space: nowrap;
    &-wrapper {
        display: block;
        background: #fff;
        border-top: 1px solid $usitrip-grey;
        border-bottom: 1px solid $usitrip-grey;
        padding: 13px;
    }
    &-title {
        margin: 0;
        color: #4d8dcb;
        margin-bottom: 12px;
        font-weight: normal;
    }
    &-item {
        display: inline-block;
        text-align: center;
        width: 20%;
        vertical-align: top;
        font-size: 12px;
        .facility-icon {
            display: inline-block;
            text-align: center;
            &:before {
                position: relative;
                display: inline-block;
                height: 26px !important;
            }
            &-more:before {
                background-position: -600px -40px;
            }
        }
        .facility-text {
            display: block;
            width: 100%;
            max-height: 17px;
            overflow: hidden;
            line-height: 17px;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
    .more-facility-anchor {
        width: 1.2rem;
    }
}
/*facility banner end*/

#affiliateBox{
    margin: 15px 0;
    width:100%;
    display: none;
    img{
        width:100%;
    }
}

/*recommend hotels*/
.rec-hotels {
    margin: 10px;
}