@import '../includes/colors';
@import "auto-complete";
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.usitour {
    color: $usitour-blue;
}
.list {
    padding: 15px 10px 10px;
    .hotels-block {
        &.usitrip {
            margin-top: 20px;
        }
        &-message {
            margin: 20px 0;
        }
    }
    #affiliateBox{
         display:none
    }
    .sk-spinner, .temp-hotels-block {
        margin-top: 20px;
    }
}
.submit-btn {
    width: 100%;
    margin-bottom: 20px;
    margin-top: 15px;
    background-color: #ea8523;
    height: 46px;
    font-size: 16px;
}
.subscribe {
    background-color: $usitrip-white;
    margin-top: 10px;
    &-title {
        width: 100%;
        padding: 15px 12px;
        font-size: 16px;
        font-weight: 400;
        color: $usitrip-pure;
        .mu-flat-button-wrapper {
            justify-content: flex-start;
        }
    }
    .color-red {
        color: $usitrip-hover-tag;
    }
    &-inputs {
        padding-top: 2px;
        display: flex;
    }
    .email-wrapper {
        margin-left: 13px;
        width: 70%;
        height: 37px;
        .email-hint {
            padding-left: 13px;
        }
        input {
            padding-left: 13px;
            border-radius: 3px 0 0 3px;
            border: 1px solid $usitrip-bright;
        }
    }
    &-button {
        button {
            background-color: $usitrip-bright;
            color: $usitrip-white;
            border-radius: 0 3px 3px 0;
            border: none;
            height: 100%;
            @media (max-width: 620px) {
                height: 34px;
                line-height: 34px;
            }
        }
    }
    &-notes {
        color: $usitrip-pure;
        font-weight: 400;
        padding: 0 15px 15px;
    }
}
.temp-params {
    color: #a7a9ac !important;
    text-align: center;
    &-1 {
        line-height: 34px;
        height: 34px;
        background: #fff;
        position: relative;
        padding-left: 32px;
        width: 100%;
        i {
            position: absolute;
            left: 10px;
            top: 7px;
            font-size: 18px;
        }
    }
    &-2 {
        margin-top: 12px;
    }
    &-input {
        color: #a7a9ac;
        background-color: $usitrip-white;
        padding: 10px;
        i {
            margin-right: 1px;
        }
        &.usitour {
            padding: 10px 5px;
            i {
                margin-right: 0;
                margin-left: -5px;
            }
        }
    }
}
.liner {
    height: 1px;
    background-color: $usitrip-grey;
    display: block;
    border: none;
    margin: 0;
    &-margin {
        margin-bottom: 15px;
    }
}
.filter-buttons {
    &.usitrip {
        margin: 15px 0;
    }
    &.usitour {
        background-color: #fff;
        padding-left: 12px;
        &:not(.sticky) {
            border: 1px solid #ccc;
            border-bottom: 1px solid #d7d7d7;
        }
        button {
            background-color: transparent;
            box-shadow: none;
            color: #2681ff;
            white-space: nowrap;
            i {
                margin-right: 4px;
                font-size: 17px;
                &.fa-map {
                    background: url('/img/general/icon/hotel_eng_img.png') no-repeat no-repeat -303px -50px;
                    background-size: 358px 151px;
                    width: 11px;
                    height: 18px;
                }
            }
        }
    }
    &-label {
        color: #484848;
        margin: 10px 0;
        font-size: 1em;
        font-weight: normal;
    }
}
.btn-block {
    width: 100%;
}
//for input submit button in right position
.btn-radius-r {
    border-bottom-left-radius: unset;
    border-top-left-radius: unset;
}
.filter-popup-left .row .col-50 {
    width: 50% !important;
}
.icon-right, .icon-left {
    padding: 6px 0 !important;
    border-bottom: rgb(223, 234, 244) 1px solid;
}
.icon-right {
    text-align: right;
}
.icon-right .mu-icon,
.icon-left .mu-icon {
    font-size: 20px;
    color: rgb(74, 74, 74);
}
.icon-right .mu-icon-button {
    padding: 0;
    height: auto;
}
.mu-pagination-item {
    background: white;
    min-width: 30px;
    margin: 0 3px;
}
.mu-pagination {
    justify-content: center;
    margin-bottom: 10vh; // leave space for back to top button
}
.hotel-item {
    &:first-child .hotel-img {
        border-radius: 0;
    }
}
.container-more-option {
    padding: 10px;
    background: white;
    border-radius: 8px;
    border: #4c8ecb 1px solid;
}
.min-price {
    color: $usitrip-hover-tag;
    font-weight: 600;
}
.list-item-enter-active, .list-item-leave-active {
    transition: opacity 1.5s, transform 1.5s;
    transform-origin: top center;
}
.list-item-enter, .list-item-leave-to /* .list-leave-active for <2.1.8 */
{
    opacity: 0;
    transform: scale(0.5);
}
.order-label .mu-raised-button-label {
    padding-right: 0;
    padding-left: 5px;
}
.order-raised-button {
    padding: 0 5px;
}
/* map style */
.map-wrapper {
    display: none;
    height: 100vh;
    width: 100vw;
    .map-banner {
        display: flex;
        background-color: #2681ff;
        color: #fff;
        padding: 5px 0;
        width: 100%;
        z-index: 1;
        i {
            font-size: 42px;
            padding: 0 8px 0 12px;
        }
        &-desName {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 330px;
        }
    }
    .infowindow {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 1; // must be higher then map
        .hotel {
            &-item {
                background-color: #fff;
                margin: 0;
            }
            &-name {
                display: block;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                line-height: 17px;
                margin: 0 0 8px;
            }
            .line-content {
                margin: 5px 0 10px;
            }
            &-policy {
                align-items: flex-end;
            }
            &-price {
                margin: 0;
            }
        }
    }
    .map {
        height: 100%;
        width: 100%;
    }
}
.mu-flat-button .mu-icon + .mu-flat-button-label {
    padding-left: 8px !important;
}
/* sticky search search params wrapper */
@mixin ellipseText() {
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    white-space: nowrap;
}
.sticky {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    z-index: 3;
    padding: 10px 12px;
    margin: 0 !important;
    border-bottom: 1px solid $usitrip-grey !important;
    .search-params {
        border: 1px solid $usitrip-grey;
        border-radius: 5px;
        padding: 6px 6px 6px 13px;
        color: #a7a9ac !important;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        &-item {
            display: flex;
        }
        &.usitrip .search-params-text {
            display: flex;
        }
        &.usitour .fa-search {
            color: #2681ff;
        }
        i {
            margin-right: 9px;
            font-size: 18px;
        }
        &-desName.usitrip {
            max-width: 110px;
            margin-right: 8px;
            @include ellipseText();
        }
        &-dates {
            margin-right: 8px;
            &.usitrip {
                max-width: 95px;
                @include ellipseText();
            }
        }
        &-pax.usitrip {
            max-width: 93px;
            @include ellipseText();
        }
    }
    button {
        background-color: #fff;
        color: #4d8ecc !important;
        border: none;
        box-shadow: none;
        height: 14px;
        line-height: 0;
    }
    &.usitour {
        button {
            color: #2681ff !important;
            height: 18px;
        }
    }
}
#affiliateBox{
    margin-bottom:9px;
    width:100%;
    display:none;
    img{
        width:100%;
    }
}