@media print {
    .nav-wrapper, .hidden-print, .footer-nav {
        display: none !important;
    }
    .visible-print-block {
        display: block !important;
        font-size: 16px;
    }
}
.validPic {
    width: 15px;
    height: 15px;
}
/* entypo */
[class*="entypo-"]:before {
    font-family: 'entypo', sans-serif;
}
.close {
    color: #000 !important;
    font-size: 32px;
    font-weight: 400;
}
.entypo-star {
    color: #ffc101;
}
.no-border {
    border: 0 !important;
}
.compare {
    color: #ffc101;
    font-size: 25px;
    margin-left: 15px;
    font-weight: 500;
}
.font-normal {
    font-weight: normal !important;
}
@media (min-width: 1400px) {
    .all-wrapper {
        margin: auto;
        max-width: 1240px;
    }
}
@media (max-width: 1400px) {
    .all-wrapper {
        margin: auto;
        max-width: 980px !important;
    }
}
@media (max-width: 768px) {
    [class*="col-"] {
        margin-bottom: 10px;
    }
}
.specialrequest {
    display: block;
    overflow: hidden;
    padding-bottom: 10px;
    font-size: 1em;
    font-family: 'Roboto', 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}
.paymentLabel {
    cursor: pointer;
    margin-right: 35px;
    font-size: 14px;
}
.paymentLabel:last-of-type {
    margin-right: 0;
}
.ccPaymentLabel {
    pointer-events: none;
    opacity: 0.7;
}
.payment-btn {
    color: #000;
    background-color: #ffc439;
    height: 45px;
    width: 100%;
    border: 0;
    border-radius: 3px;
}
#placing_order {
    padding-top: 20vh;
}
#placing_order-buttons {
    padding: 20px 0 20px;
}
.validPic {
    width: 15px;
    height: 15px;
}
.hotelCharge {
    font-size: 16px;
    font-weight: 500;
    color: grey;
    margin-right: 3px;
}
.grey {
    color: lightgrey;
}
.appendValidateSpace {
    margin-top: 15px;
}
.quote {
    font-size: 24px;
}
input[type="submit"] {
    background: #0098cb;
    border: 0px;
    border-radius: 5px;
    color: #fff;
    padding: 10px;
    margin: 20px auto;
}
@media (min-width: 1080px) {
    .p_div {
        display: none;
    }
    .p_div_en {
        display: none;
    }
}
.page_padding {
    width: 1200px;
    margin: 0 auto;
}
.btn_print {
    position: absolute;
    right: 10px;
}
.fa-star {
    color: red;
}
.fa-check {
    color: #4c8ecb;
    font-size: 18px;
    padding: 5px 15px;
}
.cardBigBlue {
    color: #4c8ecb;
    font-size: 30px;
}
.ccTitle {
    font-size: 24px;
    padding: 5px 5px;
    display: inline;
}
.subHead {
    font-size: 18px;
    border-bottom: 1px solid #a7a9ab;
    padding-bottom: 5px;
}
.leftTitle {
    font-size: 14px;
    margin-bottom: 0;
    text-align: left;
    padding: 0;
}
.mustFill {
    font-size: 12px;
    color: #e4393c;
    padding: 6px;
}
@media (max-width: 640px) {
    .screenWidth {
        width: 90% !important;
    }
}
@media (max-width: 640px) {
    .form-group label {
        margin-bottom: 10px;
    }
    .form-group input:not(last-child) {
        margin-bottom: 10px;
    }
    .form-inline {
        padding-left: 0;
    }
    #MEIQIA-BTN-HOLDER {
        left: auto !important;
        right: 29px !important;
        bottom: 106px !important;
        background-image: url('/img/general/icon/chat_icon.png') !important;
        background-position: 0 0 !important;
        background-size: 59px auto !important;
        background-repeat: no-repeat !important;
        animation-name: fade;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }
    #MEIQIA-BTN {
        background-color: transparent !important;
    }
    #MEIQIA-BTN-ICON {
        display: none !important;
    }
}
@keyframes fade {
    from {
        opacity: 0.5;
    }
    to {
        opacity: 1;
    }
}
.verifingBtn {
    font-size: 18px;
    margin-top: 5px;
    height: 30px;
    background-color: #4c8ecb;
    color: #fff;
    border-radius: 0;
    padding: 6px 12px;
}
.validateCode {
    background-color: #a8aaac;
    height: 30px;
    color: #fff;
    margin-top: 5px;
    font-size: 18px;
    border-radius: 0;
    padding: 6px 12px;
}
.verifingBtn:hover, .validateCode:hover {
    color: #fff;
    box-shadow: 0px 2px 11.9px 0.1px rgba(35, 31, 32, 0.5);
}
.grey {
    color: #484848;
    line-height: 25px;
    padding-left: 5px;
}
.applied-coupon-block {
    .color-green {
        color: #52a318;
    }
}
input.form-control, select.form-control {
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.visible-print-block {
    display: none;
}
.auth-dialog {
    width: 98% !important;
    max-height: 95% !important;
    &-title {
        max-height: 15vh;
    }
    &-body {
        max-height: 80vh !important;
    }
}
.mu-dialog-wrapper {
    z-index: 200 !important;
}