@import '../includes/colors';
@import "./home";
.share-btn-usitrip,
.share-btn-usitour {
  display: none;
}

.voucher {
	.voucher-head{
		//font-family: MicrosoftYaHei-Bold;
		font-size:20px;
		font-weight:bold;
		color:rgb(16, 74, 143);
		padding:10px 0;
		background:#fff;
	}
	.center{
		text-align:center;
	}
	.voucher-text-bold{
		font-weight:bold;
	}
	.font20{
		font-size:20px;
	}
	.font36{
		font-size:36px;
	}
	.onRequest-card{
		background:#f1791e;
		margin:10px 12px 0 12px;
		color:rgb(255, 255, 255);
		height:170px;
		border:2px solid #f1791e;
	}
	.confirmed-card{
		background:rgb(76, 142, 203);
		margin:10px 12px 0 12px;
		color:rgb(255, 255, 255) ;
		//height:170px;
		border:2px solid rgb(76, 142, 203);
	}
	.cancelled-card{
		background:pink;
		margin:10px 12px 0 12px;
		color: rgb(74,74,74);
		height:170px;
		border:2px solid pink
	}
	.hotel-info-card{
		background:rgb(255, 255, 255) ;
		margin:0 12px;
		color: rgb(74,74,74);
		border:2px solid rgb(255, 255, 255)
	}
	.hotel-name{
		text-align:left;
		font-size:14px;
		padding: 9px 19px;
		color:rgb(16, 74, 143);
		line-height:20px;
		font-weight:600;
	}
	.red-star{
		color: rgb(228, 57, 60);
	}
	.hotel-address-and-phone{
		padding:0 19px 10px 19px;
		font-weight: normal;
		font-size:12px;
		color:rgb(155, 155, 155)
	}
	.padding-bottom-10{
		padding-bottom:10px;
	}
	.font5{
		font-size:5px;
	}
	.font18{
		font-size:18px;
	}
	.font14{
		font-size:14px;
	}
	.border-left{
		border-left:1px solid rgb(222, 226, 230);
	}
	.room-amount{
		font-size:14px;
		line-height:25px;
		padding:15px 19px;
		border-top:1px dashed rgb(222, 226, 230);
	}
	.room-info{
		font-size:14px;
		line-height:25px;
		padding-left:19px;
		margin-top:10px;
	}
	.voucher-color-blue{
		color:rgb(76,142,203);
	}
	.guest-name-section{
		font-size:14px;
		line-height:25px;
		padding:15px 19px;
		border-top:1px dashed rgb(222, 226, 230);
	}
	.comments-card{
		background:rgb(255, 255, 255) ;
		margin:10px 12px;
		color: rgb(74,74,74);
		border:2px solid rgb(255, 255, 255)
	}
	.comments-card-head{
		font-size: 20px;
		padding:10px 19px;
		font-weight:bold;
		border-bottom:1px solid rgb(222, 226, 230);
	}
	.comments-card-content{
		font-size: 14px;
		padding:10px 19px;
	}
	.hotels-block {
		margin-top: 20px;
		&-split {
			margin-top: 20px;
		}
		.card {
			margin-bottom: 1rem;
		}
	}
	.note-to-front-desk-card{
		background:rgb(255, 255, 255) ;
		margin:10px 12px;
		color: rgb(74,74,74);
		border:2px solid rgb(255, 255, 255)
	}
	.note-to-front-desk-card-head{
		font-size: 20px;
		padding:10px 19px;
		font-weight:bold;
		border-bottom:1px solid rgb(222, 226, 230);
	}
	.note-to-front-desk-card-content{
		font-size: 14px;
		padding:10px 19px;
	}

	.regular-card{
		background:rgb(255, 255, 255) ;
		margin:10px 12px;
		color: rgb(74,74,74);
		border:2px solid rgb(255, 255, 255)
	}
	.regular-card-head{
		font-size: 20px;
		padding:10px 19px;
		font-weight:bold;
		border-bottom:1px solid rgb(222, 226, 230);
	}
	.regular-card-contact{
		font-size: 18px;
		padding:5px 19px;
	}
	.regular-card-voucher-info{
		font-size: 12px;
		padding:5px 19px;
	}
	.flex-container {
		display: flex;
		flex-wrap: nowrap;
		background-color: transparent;
		border-top:1px solid #dee2e6;
		border-bottom:1px solid #dee2e6;
	}
	.voucher-bottom{
		margin:10px 12px;
		color: rgb(16,74,143);
	}
	.flex-container > div {
		background-color: #fff;
		width: 50%;
		font-weight:bold;
		text-align: center;
		line-height: 28px;
		font-size: 14px;
		color:rgb(76, 142, 203);
	}
}