<template>
    <div class="autoInput-wrapper">
        <input type="text" :class="['autoInput-display', inputClass]" @click="edit()" v-show="!isEditing" :placeholder="inputPlaceholder" :value="destinationName">
        <input type="text" name="autoInput" :class="['autoInput', inputClass]" v-debounce="delay" v-model.lazy="desName" v-show="isEditing">
        <div class="clear-icon" @click="clearDestination" v-if="desName"><i class="fa fa-times-circle fa-2x"></i></div>
        <div id="desOptions" :class="optionsClass"></div>
    </div>
</template>

<script>
    import debounce from '../../plugins/debounce/debounce_directive.js';

    export default {
        props: ['destinationName', 'destinationId', 'scenicName', 'scenicId', 'inputPlaceholder', 'inputClass', 'optionsClass'],
        data() {
            return {
                'isEditing': false,
                'desName': '',
                'delay': 300, // define how long you want the input to be delayed
                'dxhr': null,
                'firstPair': null
            }
        },
        watch: {
            desName(value) { // when input value changed, update autocomplete options
                if (this.dxhr && this.dxhr.readyState != 4) {
                    this.dxhr.abort();
                }
                if (value.length > 0 && value !== this.destinationName) {
                    this.updateAutocomplete(value);
                }
            }
        },
        mounted() {
            var self = this;
            var $destinationInput = $('input[name="autoInput"]');

            $destinationInput.on('focusout', function() {
                if (self.firstPair) {
                    let newDestination = {},
                        firstPair = self.firstPair;

                    if (firstPair.data.id) {
                        newDestination.scenicName = firstPair.value;
                        newDestination.scenicId = firstPair.data.id;
                    } else {
                        newDestination.scenicName = '';
                        newDestination.scenicId = '';
                    }

                    newDestination.name = firstPair.value;
                    newDestination.id = firstPair.data.desId;

                    //select the first item in options list when focus out
                    self.$emit('update-destination', newDestination);
                }
            });
        },
        methods: {
            edit() {
                this.isEditing = true;
                this.desName = this.destinationName;
                //when click on display, focus on input
                setTimeout(function() {
                    $('.autoInput').trigger('focus');
                    $('.autoInput').trigger('select'); // not working
                }, 300);
            },
            clearDestination() {
                this.desName = '';

                this.$emit('update-destination', {
                    name: '',
                    id: '',
                    scenicName: '',
                    scenicId: ''
                });
            },
            updateAutocomplete(value) {
                let self = this;
                this.dxhr = $.getJSON("/destination/suggestions?keyword=" + encodeURIComponent(value.trim()), function(data) {
                    self.setupAutocomplete(data, self.langStr === 'cn');
                });
            },
            setupAutocomplete(options, isCh) {
                let self = this;
                let pairs = [];

                for (let i = 0; i < options.length; i++) {
                    let option = options[i];
                    let pair = {};

                    if (option.type === 'destination') {
                        pair.value = option.name;
                        if (isCh && option.name_zh) {
                            pair.value += ' (' + option.name_zh + ')';
                        }

                        pair.data = {
                            desId: "D" + option.id,
                            type: isCh ? '城市' : 'Cities',
                            id: ''
                        };

                        pairs.push(pair);
                    } else if (option.type === 'hotel') {
                        pair.value = option.name;
                        if (isCh && option.name_zh) {
                            pair.value += ' (' + option.name_zh + ')';
                        }
                        pair.value += option.city ? (', ' + option.city) : '';
                        pair.value += option.countryCode ? (', ' + option.countryCode) : '';

                        pair.data = {
                            desId: "H" + option.id,
                            type: isCh ? '酒店' : 'Hotels',
                            id: ''
                        };

                        pairs.push(pair);
                    } else if (option.type === 'airport') {
                        pair.value = isCh ? option.name_full : option.name;
                        pair.value += option.name_short ? (', ' + option.name_short) : '';
                        let des = option.destination_name;
                        if (isCh && option.destination_name_zh) {
                            des = option.destination_name_zh;
                        }
                        pair.value += des ? (', ' + des) : '';

                        pair.data = {
                            desId: "D" + option.destination_id,
                            type: isCh ? '机场/车站' : 'Airports/Stations',
                            id: option.id
                        };

                        pairs.push(pair);
                    } else if (option.type === 'scenic') {
                        pair.value = isCh ? option.name_full : option.name;
                        let des = option.destination_name;
                        if (isCh && option.destination_name_zh) {
                            des = option.destination_name_zh;
                        }
                        pair.value += des ? (', ' + des) : '';

                        pair.data = {
                            desId: "D" + option.destination_id,
                            type: isCh ? '景点' : 'Landmarks',
                            id: option.id
                        };

                        pairs.push(pair);
                    }
                }

                // select the first option if user focus out
                if (pairs.length > 0) {
                    this.firstPair = pairs[0];
                }

                let $destinationInput = $('input[name="autoInput"]');

                $destinationInput.autocomplete({
                    lookup: pairs,
                    groupBy: 'type',
                    appendTo: '#desOptions',
                    onSelect: function(opt) {
                        $('#desOptions').empty(); // clear options in case show up agian when focus on input
                        self.firstPair = null;

                        let newDestination = {};
                        if (opt.data.id) {
                            newDestination.scenicName = opt.value;
                            newDestination.scenicId = opt.data.id;
                        } else {
                            newDestination.scenicName = '';
                            newDestination.scenicId = '';
                        }

                        newDestination.name = opt.value;
                        newDestination.id = opt.data.desId;

                        self.isEditing = false;
                        self.$emit('update-destination', newDestination);
                    }
                });

                $destinationInput.focus();
            }
        },
        directives: {debounce}
    }
</script>
<style lang="scss">
    .autoInput {
        &-wrapper {
            position: relative;
            width: 100%;
            &:before {
                font-family: 'Font Awesome 5 Free';
                font-size: 20px;
                position: absolute;
                left: 12px;
                top: 2px;
                color: #a7a9ab;
                z-index: 5;
                content: "\f3c5";
                font-weight: 900;
            }
            input {
                width: 100%;
                padding: 2px 30px;
                color: #000;
                & ::placeholder {
                    color: #a7a9ab;
                }
            }
        }
        &-display {
            color: #a7a9ab;
            &.active {
                color: #000;
            }
        }
    }
    .clear-icon {
        position: absolute;
        right: 0;
        top: 0;
        color: #dddddd;
        padding: 7px 10px;
    }
</style>