.autocomplete-suggestions {
    border: 1px solid #999;
    font-family: Roboto, Arial, Lucida Grande, Microsoft Yahei, Hiragino Sans GB, Hiragino Sans GB W3, SimSun, STHeiti;
    line-height: 1.6;
    padding-left: 5px;
    background: #fff;
    cursor: default;
    overflow: scroll;
    -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
    -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
    box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64);
    max-height: none !important;
}
.autocomplete-suggestion {
    padding: 2px 5px;
    white-space: nowrap;
    /*overflow: hidden;*/
}
.autocomplete-no-suggestion {
    padding: 2px 5px;
}
.autocomplete-selected {
    background: #f0f0f0;
}
.autocomplete-suggestions strong {
    font-weight: bold;
    color: #000;
}
.autocomplete-group {
    padding: 2px 5px;
}
.autocomplete-group strong {
    font-weight: 500 !important;
    font-size: 15px !important;
    color: orange !important;
    display: block !important;
    border-bottom: 1px solid #ddd !important;
}
